Repository oxcaml/oxcaml, pull requests merged in 2021-11, with the labels that each got.

#371 Resurrect Missing_code in Call_site_inlining_decision
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.mli
  middle_end/flambda2/terms/code_or_metadata.ml
  middle_end/flambda2/terms/code_or_metadata.mli
Labels: bug, flambda2

#370 Proper Patricia tree map function
  middle_end/flambda2/algorithms/patricia_tree.ml
  middle_end/flambda2/cmx/exported_code.ml
  middle_end/flambda2/cmx/flambda_cmx_format.ml
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/nominal/name_occurrences.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/types/env/aliases.ml
  middle_end/flambda2/types/grammar/type_grammar.ml
Labels: flambda2

#363 Use hooks for type tree and parse tree
  backend/asmgen.ml
  driver/compiler_hooks.ml
  driver/compiler_hooks.mli
  driver/optcompile.ml
  ocaml/driver/compile.ml
  ocaml/driver/compile_common.ml
  ocaml/driver/compile_common.mli
  ocaml/driver/optcompile.ml
Labels: driver

#372 Disable inlining of recursive functions by default
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/inlining/function_decl_inlining_decision.ml
  middle_end/flambda2/simplify/inlining/function_decl_inlining_decision.mli
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/terms/function_decl_inlining_decision_type.ml
  middle_end/flambda2/terms/function_decl_inlining_decision_type.mli
  middle_end/flambda2/terms/inline_attribute.ml
  middle_end/flambda2/terms/inline_attribute.mli
  middle_end/flambda2/ui/flambda_features.ml
  middle_end/flambda2/ui/flambda_features.mli
  ocaml/driver/compenv.ml
  ocaml/driver/main_args.ml
  ocaml/driver/main_args.mli
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
Labels: flambda2

#374 Re-enable -flambda2-join-points
  middle_end/flambda2/simplify/join_points.ml
  ocaml/driver/main_args.ml
  ocaml/utils/clflags.ml
Labels: flambda2

#362 Bump Menhir to version 20210419
  middle_end/flambda2/parser/flambda_parser.ml
  ocaml/boot/menhir/menhirLib.ml
  ocaml/boot/menhir/menhirLib.mli
  ocaml/boot/menhir/parser.ml
Labels: build system

#375 Total order of binding times across all units in Aliases
  middle_end/flambda2/types/env/aliases.ml
  middle_end/flambda2/types/env/aliases.mli
  middle_end/flambda2/types/env/typing_env.ml
Labels: bug, flambda2

#377 Remove some dead code
  middle_end/flambda2/simplify/simplify_primitive.ml
Labels: flambda2

#379 Four small inliner fixes
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/terms/inlining_arguments.ml
  middle_end/flambda2/ui/flambda_features.ml
  middle_end/flambda2/ui/flambda_features.mli
  ocaml/utils/clflags.ml
Labels: bug, flambda2

#378 Inline generative effects in cmm
  middle_end/flambda2/to_cmm/to_cmm.ml
Labels: flambda2

#381 Move Missing_code test
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
Labels: bug, flambda2

#380 Compile more stdlib files with -O3
  ocaml/stdlib/camlinternalAtomic.ml
  ocaml/stdlib/either.ml
  ocaml/stdlib/stdlib.ml
  ocaml/testsuite/tests/backtrace/pr2195-locs.byte.reference
  ocaml/testsuite/tests/backtrace/pr2195.opt.reference
  ocaml/testsuite/tests/lib-dynlink-initializers/test10_main.byte.reference
  ocaml/testsuite/tests/lib-dynlink-initializers/test10_main.native.reference
Labels: flambda2, build system

#147 List and Array Comprehensions
  ocaml/.depend
  ocaml/boot/menhir/parser.ml
  ocaml/compilerlibs/Makefile.compilerlibs
  ocaml/driver/main_args.ml
  ocaml/driver/main_args.mli
  ocaml/dune
  ocaml/lambda/translcomprehension.ml
  ocaml/lambda/translcomprehension.mli
  ocaml/lambda/translcore.ml
  ocaml/parsing/extensions.ml
  ocaml/parsing/extensions.mli
  ocaml/parsing/parser.mly
  ocaml/stdlib/.depend
  ocaml/stdlib/StdlibModules
  ocaml/stdlib/camlinternalComprehension.ml
  ocaml/stdlib/camlinternalComprehension.mli
  ocaml/stdlib/dune
  ocaml/testsuite/tests/comprehensions/comprehensions.ml
  ocaml/tools/Makefile
  ocaml/toplevel/dune
  ocaml/typing/printtyped.ml
  ocaml/typing/rec_check.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/untypeast.ml
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
  testsuite/flambda2-test-list
Labels: new language feature

#386 Switch: rewrite unused exception bucket
  middle_end/flambda2/simplify/simplify_apply_cont_expr.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_common.mli
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/tests/mlexamples/unused_bucket_switch.ml
Labels: bug, flambda2

#385 Emit MOVQ for stack accesses of type Float (amd64)
  backend/amd64/emit.mlp
Labels: bug, backend
