Repository oxcaml/oxcaml, pull requests merged in 2021-09, with the labels that each got.

#201 Prepare the simplifier for ocamlformat
  middle_end/flambda2/simplify/simplify_apply_cont_expr.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_import.ml
  middle_end/flambda2/simplify/simplify_import.mli
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify/simplify_let_expr.ml
  middle_end/flambda2/simplify/simplify_named.ml
  middle_end/flambda2/simplify/simplify_switch_expr.ml
Labels: flambda2, non-material change

#202 Add inlined debuginfo when simplifying cont apps
  middle_end/flambda2/simplify/simplify_apply_cont_expr.ml
  middle_end/flambda2/terms/apply_cont_expr.ml
  middle_end/flambda2/terms/apply_cont_expr.mli
Labels: bug, flambda2

#208 Add "make fmt" target
  Makefile.in
  middle_end/flambda2/tests/colouring/dune-project
Labels: flambda2

#215 Add "make check-fmt" target
  Makefile.in
Labels: flambda2, build system

#185 Drop equations involving only imported variables
  middle_end/flambda2/basic/name.ml
  middle_end/flambda2/basic/name.mli
  middle_end/flambda2/basic/simple.ml
  middle_end/flambda2/basic/simple.mli
  middle_end/flambda2/types/env/aliases.ml
Labels: bug, flambda2

#226 Prepare Flambda 2 comments for ocamlformat
  middle_end/flambda2/basic/effects.mli
  middle_end/flambda2/basic/exn_continuation.mli
  middle_end/flambda2/basic/mutability.mli
  middle_end/flambda2/cmx/exported_offsets.ml
  middle_end/flambda2/cmx/exported_offsets.mli
  middle_end/flambda2/compilenv_deps/coercion0.mli
  middle_end/flambda2/compilenv_deps/one_bit_fewer.ml
  middle_end/flambda2/compilenv_deps/symbol.mli
  middle_end/flambda2/compilenv_deps/targetint_32_64.mli
  middle_end/flambda2/from_lambda/dissect_letrec.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/inlining/inlining_arguments.ml
  middle_end/flambda2/inlining/inlining_arguments.mli
  middle_end/flambda2/inlining/inlining_report.ml
  middle_end/flambda2/inlining/inlining_report.mli
  middle_end/flambda2/inlining/inlining_transforms.ml
  middle_end/flambda2/inlining/metrics/code_size.ml
  middle_end/flambda2/lifting/sort_lifted_constants.ml
  middle_end/flambda2/naming/name_mode.ml
  middle_end/flambda2/naming/name_occurrences.mli
  middle_end/flambda2/simplify/basic/apply_cont_rewrite.mli
  middle_end/flambda2/simplify/env/data_flow.ml
  middle_end/flambda2/simplify/env/data_flow.mli
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/expr_builder.mli
  middle_end/flambda2/simplify/simplify_apply_cont_expr.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify/simplify_let_expr.ml
  middle_end/flambda2/simplify/simplify_named.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/terms/cost_metrics.rec.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/terms/function_declarations.mli
  middle_end/flambda2/terms/let_cont_expr.rec.mli
  middle_end/flambda2/to_cmm/un_cps.ml
  middle_end/flambda2/to_cmm/un_cps_closure.ml
  middle_end/flambda2/to_cmm/un_cps_env.ml
  middle_end/flambda2/to_cmm/un_cps_env.mli
  middle_end/flambda2/to_cmm/un_cps_helper.ml
  middle_end/flambda2/to_cmm/un_cps_helper.mli
  middle_end/flambda2/to_cmm/un_cps_result.mli
  middle_end/flambda2/types/env/aliases.ml
  middle_end/flambda2/types/env/aliases.mli
  middle_end/flambda2/types/env/typing_env_extension.rec.ml
  middle_end/flambda2/types/env/typing_env_level.rec.ml
  middle_end/flambda2/types/flambda_type.mli
  middle_end/flambda2/types/structures/row_like.rec.ml
  middle_end/flambda2/types/structures/row_like.rec.mli
  middle_end/flambda2/types/structures/type_structure_intf.ml
  middle_end/flambda2/types/type_descr_intf.ml
  middle_end/flambda2/types/type_grammar.rec.mli
  middle_end/flambda2/types/type_of_kind/type_of_kind_naked_immediate0.rec.ml
  middle_end/flambda2/unboxing/unboxing_types.mli
Labels: flambda2, non-material change

#231 CI check to enforce formatting in middle_end/flambda2/
  .github/workflows/flambda2_ocamlformat.yml
  HACKING.md
Labels: flambda2, CI

#233 Split up Simplify_let_cont.rebuild_one_continuation_handler
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
Labels: flambda2, non-material change

#235 Split out the normal join case in the new Join_points module
  middle_end/flambda2/simplify/join_points.ml
Labels: flambda2

#228 Do not allocate slots for closure_ids in phantom set_of_closures
  middle_end/flambda2/terms/flambda_unit.ml
  middle_end/flambda2/terms/flambda_unit.mli
  middle_end/flambda2/to_cmm/un_cps_closure.ml
Labels: bug, flambda2

#190 Native toplevel enhancements to match bytecode toplevel
  native_toplevel/opttopdirs.ml
  native_toplevel/opttoploop.ml
  native_toplevel/opttoploop.mli
Labels: toplevel

#227 Don't rewrite `n = m - c` if `m - n` overflows
  middle_end/flambda2/to_cmm/un_cps_helper.ml
Labels: bug, flambda2

#142 Semaphore without probes: dummy notes
  backend/amd64/emit.mlp
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
Labels: backend

#240 Record dependencies between values from the same lifted_constant pack
  middle_end/flambda2/simplify/simplify_let_expr.ml
Labels: bug, flambda2

#236 Tidying and review of the Join_points module
  middle_end/flambda2/simplify/join_points.ml
Labels: flambda2

#200 Replace unused raise argument with a dummy value
  middle_end/flambda2/simplify/simplify_apply_cont_expr.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/terms/apply_cont_expr.ml
  middle_end/flambda2/terms/apply_cont_expr.mli
Labels: bug, flambda2

#181 Populate free_names in Closure_conversion
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.ml
  middle_end/flambda2/naming/bindable_let_bound.ml
  middle_end/flambda2/naming/bindable_let_bound.mli
  middle_end/flambda2/simplify/non_constructed_code.ml
  middle_end/flambda2/terms/code0.ml
  middle_end/flambda2/terms/code0.mli
  middle_end/flambda2/terms/code_intf.ml
  middle_end/flambda2/terms/continuation_handler.rec.ml
  middle_end/flambda2/terms/continuation_handler.rec.mli
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/terms/function_params_and_body.rec.ml
  middle_end/flambda2/terms/function_params_and_body.rec.mli
  middle_end/flambda2/terms/let_cont_expr.rec.ml
Labels: flambda2

#225 Refactor the check for macosx system when emitting probes
  backend/amd64/emit.mlp
Labels: backend

#197 Mach -> CFG translation
  .github/workflows/flambda1_cfg.yml
  backend/amd64/arch.ml
  backend/arm/arch.ml
  backend/arm64/arch.ml
  backend/asmgen.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_equivalence.mli
  backend/cfg/eliminate_fallthrough_blocks.ml
  backend/cfg/linear_to_cfg.ml
  backend/cfg/merge_straightline_blocks.ml
  backend/cfgize.ml
  backend/cfgize.mli
  backend/cmm.ml
  backend/cmm.mli
  backend/fdo_info.ml
  backend/fdo_info.mli
  backend/i386/arch.ml
  backend/mach.ml
  backend/mach.mli
  backend/power/arch.ml
  backend/reg.ml
  backend/reg.mli
  backend/riscv/arch.ml
  backend/s390x/arch.ml
  dune
Labels: cfg, backend

#162 Bypass Simplify
  middle_end/flambda2/compilenv_deps/flambda_features.ml
  middle_end/flambda2/compilenv_deps/flambda_features.mli
  middle_end/flambda2/flambda_middle_end.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.mli
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
Labels: flambda2

#259 Move Continuation_uses, One_continuation_use and Number_adjuncts
  middle_end/flambda2/simplify/env/continuation_uses.ml
  middle_end/flambda2/simplify/env/continuation_uses.mli
  middle_end/flambda2/simplify/env/one_continuation_use.ml
  middle_end/flambda2/simplify/env/one_continuation_use.mli
  middle_end/flambda2/simplify/number_adjuncts.ml
  middle_end/flambda2/simplify/number_adjuncts.mli
Labels: flambda2, non-material change

#254 Add "-dcfg" flag to ocamlopt
  backend/asmgen.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_with_layout.ml
  backend/cfg/cfg_with_layout.mli
  ocaml/driver/main_args.ml
  ocaml/driver/main_args.mli
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
  testsuite/tools/codegen_main.ml
Labels: backend, driver

#260 Introduce identifiers/ directory
  backend/asmpackager.ml
  middle_end/compilenv.ml
  middle_end/flambda2/backend_intf/dune
  middle_end/flambda2/backend_intf/flambda2_backend_impl.ml
  middle_end/flambda2/backend_intf/flambda2_backend_impl.mli
  middle_end/flambda2/flambda_backend_intf.mli
  middle_end/flambda2/identifiers/apply_cont_rewrite_id.ml
  middle_end/flambda2/identifiers/apply_cont_rewrite_id.mli
  middle_end/flambda2/identifiers/closure_id.ml
  middle_end/flambda2/identifiers/closure_id.mli
  middle_end/flambda2/identifiers/closure_origin.ml
  middle_end/flambda2/identifiers/closure_origin.mli
  middle_end/flambda2/identifiers/code_id.ml
  middle_end/flambda2/identifiers/code_id.mli
  middle_end/flambda2/identifiers/code_id_or_symbol.ml
  middle_end/flambda2/identifiers/code_id_or_symbol.mli
  middle_end/flambda2/identifiers/compilation_unit.ml
  middle_end/flambda2/identifiers/compilation_unit.mli
  middle_end/flambda2/identifiers/continuation.ml
  middle_end/flambda2/identifiers/continuation.mli
  middle_end/flambda2/identifiers/id_types.ml
  middle_end/flambda2/identifiers/id_types.mli
  middle_end/flambda2/identifiers/kinded_parameter.ml
  middle_end/flambda2/identifiers/kinded_parameter.mli
  middle_end/flambda2/identifiers/linkage_name.ml
  middle_end/flambda2/identifiers/linkage_name.mli
  middle_end/flambda2/identifiers/name.ml
  middle_end/flambda2/identifiers/name.mli
  middle_end/flambda2/identifiers/reg_width_things.ml
  middle_end/flambda2/identifiers/reg_width_things.mli
  middle_end/flambda2/identifiers/set_of_closures_origin.ml
  middle_end/flambda2/identifiers/set_of_closures_origin.mli
  middle_end/flambda2/identifiers/symbol.ml
  middle_end/flambda2/identifiers/symbol.mli
  middle_end/flambda2/identifiers/var_within_closure.ml
  middle_end/flambda2/identifiers/var_within_closure.mli
  middle_end/flambda2/identifiers/variable.ml
  middle_end/flambda2/identifiers/variable.mli
Labels: flambda2

#249 Make Proc.frame_required and Proc.prologue_required independent of Mach
  backend/amd64/proc.ml
  backend/arm/proc.ml
  backend/arm64/proc.ml
  backend/i386/proc.ml
  backend/linearize.ml
  backend/power/proc.ml
  backend/proc.mli
  backend/riscv/proc.ml
  backend/s390x/proc.ml
Labels: backend

#261 Rename Un_cps -> To_cmm
  driver/flambda_backend_main.ml
  middle_end/flambda2/cmx/exported_offsets.ml
  middle_end/flambda2/cmx/flambda_cmx.ml
  middle_end/flambda2/docs/to_cmm.md
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/simplify_apply_cont_expr.ml
  middle_end/flambda2/simplify/simplify_expr.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm.mli
  middle_end/flambda2/to_cmm/to_cmm_closure.ml
  middle_end/flambda2/to_cmm/to_cmm_closure.mli
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
  middle_end/flambda2/to_cmm/to_cmm_helper.ml
  middle_end/flambda2/to_cmm/to_cmm_helper.mli
  middle_end/flambda2/to_cmm/to_cmm_result.ml
  middle_end/flambda2/to_cmm/to_cmm_result.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  middle_end/flambda2/to_cmm/to_cmm_static.mli
  native_toplevel/opttoploop.ml
  ocaml/driver/main_args.ml
Labels: flambda2, non-material change

#263 Move kinds/ directory
  middle_end/flambda2/kinds/flambda_arity.ml
  middle_end/flambda2/kinds/flambda_arity.mli
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
Labels: flambda2, non-material change

#178 Ladjust_trap_stack after Llabel
  backend/cfg/linear_to_cfg.ml
Labels: cfg, backend

#262 Introduce algorithms/ and numbers/ directories
  middle_end/flambda2/algorithms/container_types.ml
  middle_end/flambda2/algorithms/container_types.mli
  middle_end/flambda2/algorithms/lmap.ml
  middle_end/flambda2/algorithms/lmap.mli
  middle_end/flambda2/algorithms/patricia_tree.ml
  middle_end/flambda2/algorithms/patricia_tree.mli
  middle_end/flambda2/algorithms/strongly_connected_components_flambda2.ml
  middle_end/flambda2/algorithms/strongly_connected_components_flambda2.mli
  middle_end/flambda2/algorithms/table_by_int_id.ml
  middle_end/flambda2/algorithms/table_by_int_id.mli
  middle_end/flambda2/basic/tag.ml
  middle_end/flambda2/basic/tag.mli
  middle_end/flambda2/identifiers/coercion0.ml
  middle_end/flambda2/identifiers/coercion0.mli
  middle_end/flambda2/identifiers/rec_info_expr0.ml
  middle_end/flambda2/identifiers/rec_info_expr0.mli
  middle_end/flambda2/numbers/number_adjuncts.ml
  middle_end/flambda2/numbers/number_adjuncts.mli
  middle_end/flambda2/numbers/numeric_types.ml
  middle_end/flambda2/numbers/numeric_types.mli
  middle_end/flambda2/numbers/one_bit_fewer.ml
  middle_end/flambda2/numbers/one_bit_fewer.mli
  middle_end/flambda2/numbers/or_infinity.ml
  middle_end/flambda2/numbers/or_infinity.mli
  middle_end/flambda2/numbers/targetint_31_63.ml
  middle_end/flambda2/numbers/targetint_31_63.mli
  middle_end/flambda2/numbers/targetint_32_64.ml
  middle_end/flambda2/numbers/targetint_32_64.mli
Labels: flambda2, non-material change

#264 Move Simple and Reg_width_const into identifiers/
  middle_end/flambda2/identifiers/reg_width_const.ml
  middle_end/flambda2/identifiers/reg_width_const.mli
  middle_end/flambda2/identifiers/simple.ml
  middle_end/flambda2/identifiers/simple.mli
Labels: flambda2, non-material change

#251 Inline variable definitions into let-symbol expressions
  middle_end/flambda2/tests/mlexamples/let_symbol_var_inlining.ml
  middle_end/flambda2/tests/mlexamples/let_symbol_var_inlining.mli
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
Labels: flambda2

#265 Remove Invariant_env, empty invariant checks, etc.
  middle_end/flambda2/basic/exn_continuation.ml
  middle_end/flambda2/basic/exn_continuation.mli
  middle_end/flambda2/basic/expr_std.ml
  middle_end/flambda2/basic/invariant_env.ml
  middle_end/flambda2/basic/invariant_env.mli
  middle_end/flambda2/basic/trap_action.ml
  middle_end/flambda2/flambda_middle_end.ml
  middle_end/flambda2/identifiers/code_id_or_symbol.ml
  middle_end/flambda2/identifiers/code_id_or_symbol.mli
  middle_end/flambda2/inlining/inlining_state.ml
  middle_end/flambda2/inlining/inlining_state.mli
  middle_end/flambda2/naming/name_occurrences.ml
  middle_end/flambda2/naming/permutation.ml
  middle_end/flambda2/naming/permutation.mli
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
  middle_end/flambda2/simplify/env/upwards_env.ml
  middle_end/flambda2/simplify/env/upwards_env.mli
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/terms/apply_cont_expr.ml
  middle_end/flambda2/terms/apply_cont_expr.mli
  middle_end/flambda2/terms/apply_expr.ml
  middle_end/flambda2/terms/apply_expr.mli
  middle_end/flambda2/terms/bound_symbols.ml
  middle_end/flambda2/terms/call_kind.ml
  middle_end/flambda2/terms/continuation_handler.rec.ml
  middle_end/flambda2/terms/continuation_handler.rec.mli
  middle_end/flambda2/terms/continuation_handlers.rec.ml
  middle_end/flambda2/terms/expr.rec.ml
  middle_end/flambda2/terms/expr.rec.mli
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/terms/flambda_unit.ml
  middle_end/flambda2/terms/flambda_unit.mli
  middle_end/flambda2/terms/function_declarations.ml
  middle_end/flambda2/terms/function_declarations.mli
  middle_end/flambda2/terms/function_params_and_body.rec.ml
  middle_end/flambda2/terms/function_params_and_body.rec.mli
  middle_end/flambda2/terms/let_cont_expr.rec.ml
  middle_end/flambda2/terms/let_cont_expr.rec.mli
  middle_end/flambda2/terms/let_expr.rec.ml
  middle_end/flambda2/terms/let_expr.rec.mli
  middle_end/flambda2/terms/named.rec.ml
  middle_end/flambda2/terms/named.rec.mli
  middle_end/flambda2/terms/non_recursive_let_cont_handler.rec.ml
  middle_end/flambda2/terms/non_recursive_let_cont_handler.rec.mli
  middle_end/flambda2/terms/rec_info_expr.ml
  middle_end/flambda2/terms/recursive_let_cont_handlers.rec.ml
  middle_end/flambda2/terms/recursive_let_cont_handlers.rec.mli
  middle_end/flambda2/terms/set_of_closures.ml
  middle_end/flambda2/terms/set_of_closures.mli
  middle_end/flambda2/terms/static_const.rec.mli
  middle_end/flambda2/terms/switch_expr.ml
  middle_end/flambda2/types/flambda_type.mli
  middle_end/flambda2/types/structures/row_like.rec.ml
  middle_end/flambda2/types/template/flambda_type.templ.ml
Labels: flambda2

#268 Combine recursive modules in terms/ into one file
  middle_end/flambda2/terms/code.rec.ml
  middle_end/flambda2/terms/code.rec.mli
  middle_end/flambda2/terms/continuation_handler.rec.ml
  middle_end/flambda2/terms/continuation_handler.rec.mli
  middle_end/flambda2/terms/continuation_handlers.rec.ml
  middle_end/flambda2/terms/continuation_handlers.rec.mli
  middle_end/flambda2/terms/cost_metrics.rec.ml
  middle_end/flambda2/terms/cost_metrics.rec.mli
  middle_end/flambda2/terms/dune
  middle_end/flambda2/terms/expr.rec.ml
  middle_end/flambda2/terms/expr.rec.mli
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/function_params_and_body.rec.ml
  middle_end/flambda2/terms/function_params_and_body.rec.mli
  middle_end/flambda2/terms/let_cont_expr.rec.ml
  middle_end/flambda2/terms/let_cont_expr.rec.mli
  middle_end/flambda2/terms/let_expr.rec.ml
  middle_end/flambda2/terms/let_expr.rec.mli
  middle_end/flambda2/terms/named.rec.ml
  middle_end/flambda2/terms/named.rec.mli
  middle_end/flambda2/terms/non_recursive_let_cont_handler.rec.ml
  middle_end/flambda2/terms/non_recursive_let_cont_handler.rec.mli
  middle_end/flambda2/terms/recursive_let_cont_handlers.rec.ml
  middle_end/flambda2/terms/recursive_let_cont_handlers.rec.mli
  middle_end/flambda2/terms/static_const.rec.ml
  middle_end/flambda2/terms/static_const.rec.mli
  middle_end/flambda2/terms/template/flambda.templ.ml
Labels: flambda2

#238 Keep Sys.opaque_identity in Cmm and Mach (port upstream PR 9412)
  backend/CSEgen.ml
  backend/amd64/CSE.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/arm/emit.mlp
  backend/arm/proc.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/linear_to_cfg.ml
  backend/cfgize.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/cmmgen.ml
  backend/i386/emit.mlp
  backend/i386/proc.ml
  backend/mach.ml
  backend/mach.mli
  backend/power/emit.mlp
  backend/power/proc.ml
  backend/printcmm.ml
  backend/printmach.ml
  backend/reloadgen.ml
  backend/riscv/emit.mlp
  backend/riscv/proc.ml
  backend/s390x/emit.mlp
  backend/s390x/proc.ml
  backend/selectgen.ml
  middle_end/flambda2/to_cmm/to_cmm.ml
  ocaml/testsuite/tests/lib-sys/opaque.ml
  ocaml/testsuite/tests/lib-sys/opaque.reference
Labels: backend, middle end

#250 Add precomputed cfg fields
  backend/asmgen.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_equivalence.mli
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfg_to_linear.mli
  backend/cfg/linear_to_cfg.ml
  backend/cfgize.ml
  backend/cfgize.mli
Labels: cfg, backend

#272 Move Cfgize to cfg folder
  backend/cfg/cfgize.ml
  backend/cfg/cfgize.mli
  backend/cfgize.ml
  backend/cfgize.mli
Labels: cfg, non-material change

#269 Move contents of compilenv_deps/ into basic/ and remove Flambda2_compilenv_deps
  Makefile.in
  dune
  middle_end/flambda2/basic/flambda_colours.ml
  middle_end/flambda2/basic/flambda_colours.mli
  middle_end/flambda2/basic/flambda_features.ml
  middle_end/flambda2/basic/flambda_features.mli
  middle_end/flambda2/compilenv_deps/dune
  middle_end/flambda2/dune
  middle_end/flambda2/to_cmm/dune
  testsuite/tools/Makefile
Labels: flambda2

#270 Move inlining/, lifting/ and unboxing/ into simplify/
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.mli
  middle_end/flambda2/simplify/inlining/function_decl_inlining_decision.ml
  middle_end/flambda2/simplify/inlining/function_decl_inlining_decision.mli
  middle_end/flambda2/simplify/inlining/inlining_arguments.ml
  middle_end/flambda2/simplify/inlining/inlining_arguments.mli
  middle_end/flambda2/simplify/inlining/inlining_report.ml
  middle_end/flambda2/simplify/inlining/inlining_report.mli
  middle_end/flambda2/simplify/inlining/inlining_state.ml
  middle_end/flambda2/simplify/inlining/inlining_state.mli
  middle_end/flambda2/simplify/inlining/inlining_transforms.ml
  middle_end/flambda2/simplify/inlining/inlining_transforms.mli
  middle_end/flambda2/simplify/inlining/metrics/code_size.ml
  middle_end/flambda2/simplify/inlining/metrics/code_size.mli
  middle_end/flambda2/simplify/inlining/metrics/removed_operations.ml
  middle_end/flambda2/simplify/inlining/metrics/removed_operations.mli
  middle_end/flambda2/simplify/lifting/lifted_constant.ml
  middle_end/flambda2/simplify/lifting/lifted_constant.mli
  middle_end/flambda2/simplify/lifting/lifted_constant_state.ml
  middle_end/flambda2/simplify/lifting/lifted_constant_state.mli
  middle_end/flambda2/simplify/lifting/reification.ml
  middle_end/flambda2/simplify/lifting/reification.mli
  middle_end/flambda2/simplify/lifting/sort_lifted_constants.ml
  middle_end/flambda2/simplify/lifting/sort_lifted_constants.mli
  middle_end/flambda2/simplify/unboxing/build_unboxing_denv.ml
  middle_end/flambda2/simplify/unboxing/build_unboxing_denv.mli
  middle_end/flambda2/simplify/unboxing/is_unboxing_beneficial.ml
  middle_end/flambda2/simplify/unboxing/is_unboxing_beneficial.mli
  middle_end/flambda2/simplify/unboxing/optimistic_unboxing_decision.ml
  middle_end/flambda2/simplify/unboxing/optimistic_unboxing_decision.mli
  middle_end/flambda2/simplify/unboxing/unbox_continuation_params.ml
  middle_end/flambda2/simplify/unboxing/unbox_continuation_params.mli
  middle_end/flambda2/simplify/unboxing/unboxers.ml
  middle_end/flambda2/simplify/unboxing/unboxers.mli
  middle_end/flambda2/simplify/unboxing/unboxing_epa.ml
  middle_end/flambda2/simplify/unboxing/unboxing_epa.mli
  middle_end/flambda2/simplify/unboxing/unboxing_types.ml
  middle_end/flambda2/simplify/unboxing/unboxing_types.mli
Labels: flambda2, non-material change

#276 Remove simplify/basic/ etc.
  middle_end/flambda2/simplify/apply_cont_rewrite.ml
  middle_end/flambda2/simplify/apply_cont_rewrite.mli
  middle_end/flambda2/simplify/continuation_extra_params_and_args.ml
  middle_end/flambda2/simplify/continuation_extra_params_and_args.mli
  middle_end/flambda2/simplify/continuation_in_env.ml
  middle_end/flambda2/simplify/continuation_in_env.mli
  middle_end/flambda2/simplify/simplified_named.ml
  middle_end/flambda2/simplify/simplified_named.mli
  middle_end/flambda2/simplify/simplify_named_result.ml
  middle_end/flambda2/simplify/simplify_named_result.mli
Labels: flambda2, non-material change

#278 Remove flambda2/basic/
  middle_end/flambda2/flambda_colours.ml
  middle_end/flambda2/flambda_colours.mli
  middle_end/flambda2/flambda_features.ml
  middle_end/flambda2/flambda_features.mli
  middle_end/flambda2/terms/coeffects.ml
  middle_end/flambda2/terms/coeffects.mli
  middle_end/flambda2/terms/coercion.ml
  middle_end/flambda2/terms/coercion.mli
  middle_end/flambda2/terms/effects.ml
  middle_end/flambda2/terms/effects.mli
  middle_end/flambda2/terms/effects_and_coeffects.ml
  middle_end/flambda2/terms/effects_and_coeffects.mli
  middle_end/flambda2/terms/exn_continuation.ml
  middle_end/flambda2/terms/exn_continuation.mli
  middle_end/flambda2/terms/expr_std.ml
  middle_end/flambda2/terms/inline_attribute.ml
  middle_end/flambda2/terms/inline_attribute.mli
  middle_end/flambda2/terms/invalid_term_semantics.ml
  middle_end/flambda2/terms/invalid_term_semantics.mli
  middle_end/flambda2/terms/mutability.ml
  middle_end/flambda2/terms/mutability.mli
  middle_end/flambda2/terms/num_continuation_uses.ml
  middle_end/flambda2/terms/num_continuation_uses.mli
  middle_end/flambda2/terms/or_deleted.ml
  middle_end/flambda2/terms/or_deleted.mli
  middle_end/flambda2/terms/or_variable.ml
  middle_end/flambda2/terms/or_variable.mli
  middle_end/flambda2/terms/recursive.ml
  middle_end/flambda2/terms/recursive.mli
  middle_end/flambda2/terms/scope.ml
  middle_end/flambda2/terms/scope.mli
  middle_end/flambda2/terms/tag.ml
  middle_end/flambda2/terms/tag.mli
  middle_end/flambda2/terms/trap_action.ml
  middle_end/flambda2/terms/trap_action.mli
Labels: flambda2, non-material change

#280 Evaluate signature substitutions lazily (upstream PR 10599)
  ocaml/.depend
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/testsuite/tests/shadow_include/shadow_all.ml
  ocaml/typing/env.ml
  ocaml/typing/env.mli
  ocaml/typing/includemod.ml
  ocaml/typing/includemod.mli
  ocaml/typing/mtype.ml
  ocaml/typing/subst.ml
  ocaml/typing/subst.mli
  ocaml/typing/typemod.ml
  ocaml/utils/misc.ml
  ocaml/utils/misc.mli
Labels: typing

#284 Fix freshening substitutions
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/testsuite/tests/basic/patmatch_for_multiple.ml
  ocaml/testsuite/tests/generalized-open/gpr1506.ml
  ocaml/testsuite/tests/typing-gadts/principality-and-gadts.ml
  ocaml/testsuite/tests/typing-sigsubst/sigsubst.ml
  ocaml/typing/env.ml
Labels: typing

#281 Correct free names information for Function_params_and_body
  middle_end/flambda2/cmx/exported_code.ml
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/inlining/inlining_transforms.ml
  middle_end/flambda2/simplify/non_constructed_code.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/terms/code0.ml
  middle_end/flambda2/terms/code0.mli
  middle_end/flambda2/terms/code_intf.ml
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/terms/flambda_unit.ml
  middle_end/flambda2/to_cmm/to_cmm.ml
Labels: bug, flambda2

#16 Use effects and coeffects of Cextcall in selectgen
  backend/selectgen.ml
  backend/selectgen.mli
Labels: backend

#291 Replicate asmgen tests
  Makefile.in
  testsuite/tests/asmgen/arith.cmm
  testsuite/tests/asmgen/catch-float.cmm
  testsuite/tests/asmgen/catch-multiple.cmm
  testsuite/tests/asmgen/catch-rec-deadhandler.cmm
  testsuite/tests/asmgen/catch-rec-deadhandler.reference
  testsuite/tests/asmgen/catch-rec-deadhandler.run
  testsuite/tests/asmgen/catch-rec.cmm
  testsuite/tests/asmgen/catch-try-float.cmm
  testsuite/tests/asmgen/catch-try.cmm
  testsuite/tests/asmgen/checkbound.cmm
  testsuite/tests/asmgen/even-odd-spill-float.cmm
  testsuite/tests/asmgen/even-odd-spill.cmm
  testsuite/tests/asmgen/even-odd.cmm
  testsuite/tests/asmgen/fib.cmm
  testsuite/tests/asmgen/immediates.cmm
  testsuite/tests/asmgen/immediates.cmmpp
  testsuite/tests/asmgen/immediates.tbl
  testsuite/tests/asmgen/integr.cmm
  testsuite/tests/asmgen/main.c
  testsuite/tests/asmgen/mainarith.c
  testsuite/tests/asmgen/mainimmed.c
  testsuite/tests/asmgen/pgcd.cmm
  testsuite/tests/asmgen/quicksort.cmm
  testsuite/tests/asmgen/quicksort2.cmm
  testsuite/tests/asmgen/soli.cmm
  testsuite/tests/asmgen/tagged-fib.cmm
  testsuite/tests/asmgen/tagged-integr.cmm
  testsuite/tests/asmgen/tagged-quicksort.cmm
  testsuite/tests/asmgen/tagged-tak.cmm
  testsuite/tests/asmgen/tak.cmm
Labels: build system, backend

#296 Intrinsics for float_of_bits and bits_of_float (amd64)
  backend/amd64/emit.mlp
  backend/amd64/selection.ml
  backend/x86_ast.mli
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
Labels: backend

#199 Remove misleading comment
  backend/cfg/eliminate_fallthrough_blocks.ml
Labels: cfg, backend

#299 shorter NaN comparisons
  backend/amd64/emit.mlp
Labels: backend

#297 Emit roundsd instruction (amd64)
  backend/amd64/CSE.ml
  backend/amd64/arch.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/x86_ast.mli
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
  backend/x86_proc.ml
  backend/x86_proc.mli
Labels: backend

#290 Intrinsics for unsigned and signed 32-bit load and store from ext_pointer and native_pointer
  backend/cmm_helpers.ml
Labels: backend

#304 Expose Flambda 2 flags via OCAMLPARAM
  ocaml/driver/compenv.ml
Labels: flambda2, driver

#18 Add attributes effects and coeffects
  backend/cmm_helpers.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/typing/primitive.ml
  ocaml/typing/primitive.mli
Labels: backend, typing, needs new merlin
