Repository oxcaml/oxcaml, pull requests merged in 2021-08, with the labels that each got.

#130 More robust handling of missing imported code
  middle_end/flambda2/cmx/exported_code.ml
  middle_end/flambda2/cmx/exported_code.mli
  middle_end/flambda2/inlining/inlining_transforms.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/to_cmm/un_cps_closure.ml
  middle_end/flambda2/types/env/typing_env.rec.ml
  middle_end/flambda2/types/env/typing_env.rec.mli
  middle_end/flambda2/types/flambda_type.mli
  middle_end/flambda2/types/structures/function_declaration_type.rec.ml
Labels: flambda2

#131 More robust handling of missing imported variables
  middle_end/flambda2/lifting/reification.ml
  middle_end/flambda2/lifting/reification.mli
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
  middle_end/flambda2/simplify/simplify_named.ml
  middle_end/flambda2/simplify/simplify_rec_info_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_static_const.ml
Labels: flambda2

#133 Fix code age relation so that unsimplified code is not sent to Expr_builder
  middle_end/flambda2/types/structures/code_age_relation.ml
Labels: flambda2

#135 Fix magic numbers (test suite)
  ocaml/utils/misc.ml
Labels: flambda2

#136 Temporarily comment out an `[@inlined]` annotation (test suite)
  ocaml/testsuite/tests/basic-float/tfloat_record.ml
Labels: flambda2

#125 Fix testsuite execution
  Makefile.in
  ocaml/testsuite/Makefile
  ocaml/testsuite/summarize.awk
  testsuite/flambda2-test-list
Labels: flambda2

#132 Fix camlinternalOO at -O3 with Flambda 2
  ocaml/stdlib/camlinternalOO.ml
Labels: flambda2

#137 Temporary hack for bug in Row_like join
  middle_end/flambda2/types/structures/product.rec.ml
  middle_end/flambda2/types/type_of_kind/type_of_kind_value0.rec.ml
Labels: flambda2

#139 Fix joins for row likes with incompatible kinds
  middle_end/flambda2/tests/mlexamples/product_join_with_mixed_kinds.ml
  middle_end/flambda2/types/structures/closures_entry.rec.ml
  middle_end/flambda2/types/structures/closures_entry.rec.mli
  middle_end/flambda2/types/structures/product.rec.ml
  middle_end/flambda2/types/structures/product_intf.ml
  middle_end/flambda2/types/structures/row_like.rec.ml
  middle_end/flambda2/types/structures/row_like_maps_to_intf.ml
  middle_end/flambda2/types/type_of_kind/type_of_kind_value0.rec.ml
Labels: flambda2

#141 Merge Flambda 2 .cmxa/.a files into new ocamloptcomp.cmxa/.a
  dune
  tools/dune
  tools/merge_archives.ml
  tools/merge_dot_a_files.sh
Labels: flambda2

#158 Fix simplification of Probe_is_enabled
  middle_end/flambda2/simplify/simplify_nullary_primitive.ml
  middle_end/flambda2/types/flambda_type.mli
  middle_end/flambda2/types/type_grammar.rec.ml
  middle_end/flambda2/types/type_grammar.rec.mli
Labels: bug, flambda2

#167 Fix bad assertion when removing an unboxed argument used as phantom
  middle_end/flambda2/naming/name_mode.ml
  middle_end/flambda2/naming/name_mode.mli
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/tests/mlexamples/data_flow_opam_bug.ml
Labels: bug, flambda2

#169 Makefile add .NOTPARALLEL:
  Makefile.in
Labels: build-system

#168 Fix permission of installed files (all installed files were read-only)
  Makefile.in
Labels: build-system

#143 Dominator symbols
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/naming/bindable_let_bound.ml
  middle_end/flambda2/naming/bindable_let_bound.mli
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_lex.ml
  middle_end/flambda2/parser/flambda_lex.mll
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/simplify/env/closure_info.ml
  middle_end/flambda2/simplify/env/closure_info.mli
  middle_end/flambda2/simplify/env/data_flow.ml
  middle_end/flambda2/simplify/env/data_flow.mli
  middle_end/flambda2/simplify/env/upwards_acc.ml
  middle_end/flambda2/simplify/env/upwards_acc.mli
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/expr_builder.mli
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_expr.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify/simplify_let_expr.ml
  middle_end/flambda2/simplify/simplify_named.ml
  middle_end/flambda2/terms/let_expr.rec.ml
  middle_end/flambda2/to_cmm/un_cps.ml
  middle_end/flambda2/to_cmm/un_cps_static.ml
  middle_end/flambda2/types/structures/code_age_relation.ml
  middle_end/flambda2/types/structures/code_age_relation.mli
Labels: flambda2

#160 Allow unreachable exception handlers in the backend
  backend/selectgen.ml
Labels: flambda2

#173 Drop recursive equation in Typing_env_extension.join
  middle_end/flambda2/types/env/typing_env_extension.rec.ml
  middle_end/flambda2/types/type_grammar.rec.ml
  middle_end/flambda2/types/type_grammar.rec.mli
Labels: bug, flambda2

#174 Replace "reraise" by a proper "raise_with_backtrace"
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/simplify/simplify_named.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/typing_helpers/continuation_uses.ml
  middle_end/flambda2/types/env/typing_env.rec.ml
Labels: flambda2

#175 Remove unnecessary self-joins
  middle_end/flambda2/tests/mlexamples/float_and_int_mix.ml
  middle_end/flambda2/types/type_descr.rec.ml
Labels: bug, flambda2

#159 Add workflows to exercise CFG with both closure and flambda2
  .github/workflows/closure_cfg.yml
  .github/workflows/flambda2_cfg.yml
Labels: cfg, backend

#163 Fix ocamlcfg builds
  backend/cfg/cfg.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/linear_to_cfg.ml
  backend/cfg/simplify_terminator.ml
  backend/linearize.ml
Labels: cfg, backend

#182 Install topstart.cmo
  Makefile.in
Labels: build system

#183 Build and install Semaphore
  ocaml/otherlibs/systhreads/dune
Labels: to upstream, build system

#184 Install dummy ocamlprof
  Makefile.in
  scripts/dummy-ocamlprof.sh
Labels: build system

#177 More precise tracking of symbol projections in data_flow
  middle_end/flambda2/simplify/env/data_flow.ml
  middle_end/flambda2/simplify/env/data_flow.mli
  middle_end/flambda2/simplify/simplify_let_expr.ml
  middle_end/flambda2/terms/symbol_projection.ml
Labels: bug, flambda2

#170 Remove hack for .depend from runtime/dune
  ocaml/runtime/dune
Labels: build system

#191 Add backend exception handling and Un_cps design docs
  middle_end/flambda2/docs/backend_exceptions.md
  middle_end/flambda2/docs/to_cmm.md
Labels: documentation, flambda2

#179 Fix all_ids_for_export and apply_renaming in Aliases
  middle_end/flambda2/basic/coercion.ml
  middle_end/flambda2/basic/coercion.mli
  middle_end/flambda2/cmx/ids_for_export.mli
  middle_end/flambda2/types/env/aliases.ml
Labels: bug, flambda2

#192 Typo fixes lost during #191 merge
  middle_end/flambda2/docs/to_cmm.md
Labels: documentation, flambda2

#193 Add dummy ocamlcp
  Makefile.in
  scripts/dummy-ocamlcp.sh
Labels: flambda2

#156 CFG optimization: eliminate useless edges
  backend/cfg/merge_straightline_blocks.ml
  backend/cfg/merge_straightline_blocks.mli
  dune
Labels: cfg, backend

#186 Remove `can_raise_interproc` from `Cfg.basic_block`
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_with_layout.ml
  backend/cfg/linear_to_cfg.ml
Labels: cfg, backend
