Repository oxcaml/oxcaml, pull requests merged in 2021-10, with the labels that each got.

#287 Add intrinsics for signed and unsigned multiply-high
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/arm/emit.mlp
  backend/arm/proc.ml
  backend/arm/scheduling.ml
  backend/arm/selection.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/cfg/cfg.ml
  backend/cfg/cfgize.ml
  backend/cfg/linear_to_cfg.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/i386/emit.mlp
  backend/i386/proc.ml
  backend/i386/reload.ml
  backend/i386/selection.ml
  backend/mach.ml
  backend/mach.mli
  backend/power/emit.mlp
  backend/power/proc.ml
  backend/power/scheduling.ml
  backend/printcmm.ml
  backend/printmach.ml
  backend/riscv/emit.mlp
  backend/riscv/proc.ml
  backend/s390x/emit.mlp
  backend/s390x/proc.ml
  backend/s390x/scheduling.ml
  backend/selectgen.ml
  backend/x86_ast.mli
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
  middle_end/flambda2/to_cmm/to_cmm.ml
  testsuite/tools/parsecmm.mly
Labels: backend

#19 Propagate effects and coeffects from Primitive to Cextcall
  backend/cmm_helpers.ml
Labels: backend

#258 Cmm invariants (port upstream PR 1400)
  backend/asmgen.ml
  backend/cmm_invariants.ml
  backend/cmm_invariants.mli
  dune
  ocaml/.depend
  ocaml/Makefile.config.in
  ocaml/asmcomp/asmgen.ml
  ocaml/asmcomp/cmm_invariants.ml
  ocaml/asmcomp/cmm_invariants.mli
  ocaml/compilerlibs/Makefile.compilerlibs
  ocaml/configure
  ocaml/configure.ac
  ocaml/driver/compenv.ml
  ocaml/driver/main_args.ml
  ocaml/driver/main_args.mli
  ocaml/ocamltest/builtin_actions.ml
  ocaml/ocamltest/ocaml_actions.ml
  ocaml/ocamltest/ocaml_variables.ml
  ocaml/ocamltest/ocaml_variables.mli
  ocaml/testsuite/tests/asmgen/invariants.cmm
  ocaml/testsuite/tools/codegen_main.ml
  ocaml/utils/Makefile
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
  ocaml/utils/config.mli
  ocaml/utils/config.mlp
Labels: backend

#310 Fix major GC overflow bug
  ocaml/runtime/major_gc.c
Labels: bug, runtime

#309 Remove optional argument of MUL instruction (x86)
  backend/amd64/emit.mlp
  backend/i386/emit.mlp
  backend/x86_ast.mli
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
Labels: backend

#288 Move code map back to DE
  middle_end/flambda2/cmx/flambda_cmx.ml
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/simplify.ml
  middle_end/flambda2/types/env/typing_env.rec.ml
  middle_end/flambda2/types/env/typing_env.rec.mli
  middle_end/flambda2/types/flambda_type.mli
Labels: flambda2

#320 Remove Code constructor from Static_const.t
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/env/downwards_acc.ml
  middle_end/flambda2/simplify/env/downwards_acc.mli
  middle_end/flambda2/simplify/env/upwards_acc.ml
  middle_end/flambda2/simplify/env/upwards_acc.mli
  middle_end/flambda2/simplify/lifting/reification.ml
  middle_end/flambda2/simplify/rebuilt_static_const.ml
  middle_end/flambda2/simplify/rebuilt_static_const.mli
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_import.ml
  middle_end/flambda2/simplify/simplify_import.mli
  middle_end/flambda2/simplify/simplify_let_expr.ml
  middle_end/flambda2/simplify/simplify_named.ml
  middle_end/flambda2/simplify/simplify_static_const.ml
  middle_end/flambda2/simplify/simplify_static_const.mli
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/terms/flambda_unit.ml
  middle_end/flambda2/terms/static_const.ml
  middle_end/flambda2/terms/static_const.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  middle_end/flambda2/to_cmm/to_cmm_static.mli
Labels: flambda2

#334 Reduce max inlining depths at -O2 and -O3
  ocaml/utils/clflags.ml
Labels: flambda2
