Repository oxcaml/oxcaml, pull requests merged in 2021-12, with the labels that each got.

#411 Partially revert #403 (`ln --relative` fails on macOS)
  Makefile.in
Labels: build system

#341 Pass over Simplify CRs, 2021-10-21
  middle_end/flambda2/bound_identifiers/bound_for_function.ml
  middle_end/flambda2/bound_identifiers/bound_parameter.ml
  middle_end/flambda2/bound_identifiers/bound_parameter.mli
  middle_end/flambda2/simplify/apply_cont_rewrite.ml
  middle_end/flambda2/simplify/common_subexpression_elimination.ml
  middle_end/flambda2/simplify/continuation_in_env.ml
  middle_end/flambda2/simplify/continuation_in_env.mli
  middle_end/flambda2/simplify/env/data_flow.ml
  middle_end/flambda2/simplify/env/downwards_acc.ml
  middle_end/flambda2/simplify/env/downwards_acc.mli
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
  middle_end/flambda2/simplify/env/upwards_acc.ml
  middle_end/flambda2/simplify/env/upwards_acc.mli
  middle_end/flambda2/simplify/env/upwards_env.ml
  middle_end/flambda2/simplify/env/upwards_env.mli
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/inlining/inlining_transforms.ml
  middle_end/flambda2/simplify/join_points.ml
  middle_end/flambda2/simplify/lifting/lifted_constant.ml
  middle_end/flambda2/simplify/lifting/lifted_constant_state.ml
  middle_end/flambda2/simplify/lifting/lifted_constant_state.mli
  middle_end/flambda2/simplify/lifting/reification.ml
  middle_end/flambda2/simplify/lifting/sort_lifted_constants.ml
  middle_end/flambda2/simplify/lifting/sort_lifted_constants.mli
  middle_end/flambda2/simplify/number_adjuncts.ml
  middle_end/flambda2/simplify/number_adjuncts.mli
  middle_end/flambda2/simplify/rebuilt_static_const.ml
  middle_end/flambda2/simplify/rebuilt_static_const.mli
  middle_end/flambda2/simplify/simplify.ml
  middle_end/flambda2/simplify/simplify_apply_cont_expr.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_expr.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify/simplify_let_expr.ml
  middle_end/flambda2/simplify/simplify_named.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_simple.ml
  middle_end/flambda2/simplify/simplify_static_const.ml
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/simplify/simplify_variadic_primitive.ml
  middle_end/flambda2/simplify/unboxing/unboxing_epa.ml
  middle_end/flambda2/simplify_shared/inlining_report.ml
  middle_end/flambda2/terms/exn_continuation.mli
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/terms/static_const.ml
  middle_end/flambda2/terms/static_const.mli
  middle_end/flambda2/ui/flambda_features.ml
Labels: flambda2

#409 Include deleted code in Flambda_unit.iter
  middle_end/flambda2/simplify/simplify_static_const.ml
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/terms/flambda_unit.ml
  middle_end/flambda2/terms/flambda_unit.mli
Labels: flambda2

#407 Typos
  HACKING.md
  ocaml/parsing/extensions.ml
Labels: non-material change

#415 Use -linscan for -Oclassic
  driver/flambda_backend_flags.ml
Labels: flambda2

#408 Export non-inlinable but specialisable code
  middle_end/flambda2/cmx/exported_code.ml
  middle_end/flambda2/cmx/exported_code.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/simplify/env/downwards_acc.ml
  middle_end/flambda2/simplify/env/downwards_acc.mli
  middle_end/flambda2/simplify/env/upwards_acc.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/tests/mlexamples/functor_call.ml
  middle_end/flambda2/tests/mlexamples/functor_with_rec.ml
Labels: flambda2

#417 Fexpr: Fix parsing, printing deleted code
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/tests/mlexamples/tests0.flt
Labels: flambda2

#410 Add support for delayed handlers (CFG)
  .github/workflows/flambda2_cfg.yml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfgize.ml
Labels: cfg

#427 Add missing array kinds
  middle_end/flambda2/from_lambda/lambda_conversions.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/simplify/simplify_variadic_primitive.ml
  middle_end/flambda2/tests/mlexamples/array_kind.ml
  middle_end/flambda2/types/grammar/more_type_creators.ml
Labels: flambda2

#432 Do not sort singleton Lifted_constant_state.t values
  middle_end/flambda2/simplify/lifting/lifted_constant_state.ml
Labels: flambda2, compilation speed

#430 Improvements to code paths for simplifying primitives (and CSE bug fix)
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/lifting/reification.ml
  middle_end/flambda2/simplify/lifting/reification.mli
  middle_end/flambda2/simplify/simplified_named.ml
  middle_end/flambda2/simplify/simplified_named.mli
  middle_end/flambda2/simplify/simplify_apply_cont_expr.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.mli
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_common.mli
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify/simplify_let_expr.ml
  middle_end/flambda2/simplify/simplify_named.ml
  middle_end/flambda2/simplify/simplify_named_result.ml
  middle_end/flambda2/simplify/simplify_nullary_primitive.ml
  middle_end/flambda2/simplify/simplify_nullary_primitive.mli
  middle_end/flambda2/simplify/simplify_primitive.ml
  middle_end/flambda2/simplify/simplify_primitive.mli
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_ternary_primitive.ml
  middle_end/flambda2/simplify/simplify_ternary_primitive.mli
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.mli
  middle_end/flambda2/simplify/simplify_variadic_primitive.ml
  middle_end/flambda2/simplify/simplify_variadic_primitive.mli
  middle_end/flambda2/tests/mlexamples/cse_needing_canonicalisation.ml
Labels: bug, flambda2, compilation speed

#428 Print deleted code
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/tests/mlexamples/deleted_code_printing.ml
Labels: flambda2

#419 Fix check for array kind compatibility
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/tests/mlexamples/array_specialisation_examples.ml
  middle_end/flambda2/tests/mlexamples/arrays_compatibility.ml
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/types/provers.mli
Labels: flambda2

#431 Remove binding_times_and_modes map from Aliases
  middle_end/flambda2/types/env/aliases.ml
  middle_end/flambda2/types/env/aliases.mli
  middle_end/flambda2/types/env/binding_time.ml
  middle_end/flambda2/types/env/binding_time.mli
  middle_end/flambda2/types/env/cached_level.ml
  middle_end/flambda2/types/env/cached_level.mli
  middle_end/flambda2/types/env/typing_env.ml
Labels: flambda2, compilation speed

#416 Fexpr: Support block load with unknown tag
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_lex.ml
  middle_end/flambda2/parser/flambda_lex.mll
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mli
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/tests/mlexamples/tests0.flt
Labels: flambda2

#442 Fix to allow stage 2 builds in classic mode
  ocaml/runtime/dune
Labels: build system

#441 Remove fragile pattern matches in flambda_to_fexpr.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
Labels: flambda2

#443 Closure conversion: Lift empty arrays as arrays, not blocks
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/simplify/simplify_static_const.ml
Labels: bug, flambda2

#445 Do not unbox continuation parameters whose types are of the form =symbol
  middle_end/flambda2/simplify/unboxing/optimistic_unboxing_decision.ml
Labels: flambda2, compilation speed

#449 Fix erroneous inlining attribute in Name_occurrences
  middle_end/flambda2/nominal/name_occurrences.ml
Labels: flambda2
