Repository oxcaml/oxcaml, pull requests merged in 2022-01, with the labels that each got.

#436 Fast path for simplify_select_closure
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/types/grammar/type_grammar.mli
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/types/provers.mli
Labels: flambda2, compilation speed

#461 Add tupled flag to -dflexpect output
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/tests/mlexamples/tests0.flt
Labels: flambda2

#453 Closure offset computations in simplify
  middle_end/flambda2/cmx/dune
  middle_end/flambda2/cmx/flambda_cmx.ml
  middle_end/flambda2/cmx/flambda_cmx.mli
  middle_end/flambda2/dune
  middle_end/flambda2/flambda2.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion.mli
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.mli
  middle_end/flambda2/nominal/name_occurrences.ml
  middle_end/flambda2/nominal/name_occurrences.mli
  middle_end/flambda2/simplify/env/downwards_acc.ml
  middle_end/flambda2/simplify/env/downwards_acc.mli
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
  middle_end/flambda2/simplify/env/upwards_acc.ml
  middle_end/flambda2/simplify/env/upwards_acc.mli
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/rebuilt_expr.mli
  middle_end/flambda2/simplify/simplify.ml
  middle_end/flambda2/simplify/simplify.mli
  middle_end/flambda2/simplify/simplify_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify_shared/closure_offsets.ml
  middle_end/flambda2/simplify_shared/closure_offsets.mli
  middle_end/flambda2/simplify_shared/dune
  middle_end/flambda2/simplify_shared/exported_offsets.ml
  middle_end/flambda2/simplify_shared/exported_offsets.mli
  middle_end/flambda2/term_basics/symbol_projection.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/set_of_closures.ml
  middle_end/flambda2/to_cmm/dune
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm.mli
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
Labels: flambda2, compilation speed

#462 Keep import tables for packs
  backend/asmpackager.ml
Labels: bug, flambda2

#464 Improve workflow for updating the flambda2 parser
  Makefile.in
  middle_end/flambda2/parser/dune
  middle_end/flambda2/parser/flambda_lex.ml
Labels: flambda2

#458 Ensure the symbol for the module block is defined
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_result.ml
  middle_end/flambda2/to_cmm/to_cmm_result.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
Labels: bug, flambda2

#457 Allow meet_int_indexed_product on cases with different field kinds
  middle_end/flambda2/tests/mlexamples/meet_with_incompatible_kinds.ml
  middle_end/flambda2/types/meet_and_join.ml
Labels: bug, flambda2

#454 Erase unused closure variables from types prior to .cmx reachability calculation
  middle_end/flambda2/cmx/flambda_cmx.ml
  middle_end/flambda2/cmx/flambda_cmx_format.ml
  middle_end/flambda2/lattices/or_unknown.ml
  middle_end/flambda2/lattices/or_unknown.mli
  middle_end/flambda2/types/env/aliases.ml
  middle_end/flambda2/types/env/aliases.mli
  middle_end/flambda2/types/env/cached_level.ml
  middle_end/flambda2/types/env/cached_level.mli
  middle_end/flambda2/types/env/code_age_relation.ml
  middle_end/flambda2/types/env/code_age_relation.mli
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/env/typing_env.mli
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/grammar/set_of_closures_contents.ml
  middle_end/flambda2/types/grammar/set_of_closures_contents.mli
  middle_end/flambda2/types/grammar/type_descr.ml
  middle_end/flambda2/types/grammar/type_descr.mli
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/types/grammar/type_grammar.mli
  middle_end/flambda2/types/grammar/with_delayed_renaming.ml
  middle_end/flambda2/types/grammar/with_delayed_renaming.mli
Labels: flambda2, compilation speed

#447 Improvements to canonical simples / expand_head during meet etc
  middle_end/flambda2/types/expand_head.ml
  middle_end/flambda2/types/expand_head.mli
  middle_end/flambda2/types/meet_and_join.ml
Labels: flambda2, compilation speed

#435 Move Code_id_or_symbol into Reg_width_things
  middle_end/flambda2/algorithms/table_by_int_id.ml
  middle_end/flambda2/bound_identifiers/bound_symbols.ml
  middle_end/flambda2/flambda2.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/identifiers/code_id.ml
  middle_end/flambda2/identifiers/code_id.mli
  middle_end/flambda2/identifiers/code_id_or_symbol.ml
  middle_end/flambda2/identifiers/code_id_or_symbol.mli
  middle_end/flambda2/identifiers/reg_width_things.ml
  middle_end/flambda2/identifiers/reg_width_things.mli
  middle_end/flambda2/nominal/name_occurrences.ml
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_static.ml
Labels: flambda2, compilation speed

#440 Remove excess map lookups relating to missing .cmx files in get_canonical_simple
  middle_end/flambda2/types/env/typing_env.ml
Labels: flambda2, compilation speed

#450 Optimise Aliases.get_canonical_element_exn
  middle_end/flambda2/types/env/aliases.ml
Labels: flambda2, compilation speed

#248 Fix some Debuginfo.t scopes in the frontend
  ocaml/lambda/debuginfo.ml
  ocaml/lambda/debuginfo.mli
  ocaml/lambda/translcore.ml
  ocaml/lambda/translprim.ml
  ocaml/testsuite/tests/backtrace/names.ml
  ocaml/testsuite/tests/backtrace/names.reference
  ocaml/testsuite/tests/backtrace/names_partial_application.byte.reference
  ocaml/testsuite/tests/backtrace/names_partial_application.ml
  ocaml/testsuite/tests/backtrace/names_partial_application.opt.reference
  ocaml/testsuite/tests/translprim/locs.reference
Labels: to upstream, dwarf and debugging

#468 Do not run the offset check by default
  middle_end/flambda2/simplify_shared/closure_offsets.ml
Labels: bug, flambda2

#469 Restrict extensions returned from make_suitable_for_environment
  middle_end/flambda2/types/expand_head.ml
Labels: flambda2

#312 Cfg instruction that can raise end a block
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfgize.ml
  backend/cfg/eliminate_fallthrough_blocks.ml
  backend/cfg/linear_to_cfg.ml
  backend/cfg/merge_straightline_blocks.ml
Labels: cfg

#433 Do not simplify Let bodies whose defining expression simplifies to Invalid
  middle_end/flambda2/simplify/simplify_let_expr.ml
  middle_end/flambda2/simplify/simplify_named_result.ml
  middle_end/flambda2/simplify/simplify_named_result.mli
Labels: flambda2, compilation speed

#479 Intrinsic for Int32 unsigned to int conversion
  backend/cmm_helpers.ml
Labels: backend

#484 CI: avoid unnecessary work when testing flambda2
  ocaml/testsuite/Makefile
Labels: CI

#488 CI macOS workflow
  .github/workflows/macos.yml
  testsuite/flambda2-test-list
Labels: CI

#482 Don't sign-extend bswap32 in Emit (amd64)
  backend/amd64/emit.mlp
Labels: backend

#478 Backend support for local allocations
  backend/CSEgen.ml
  backend/afl_instrument.ml
  backend/amd64/CSE.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfgize.ml
  backend/cfg/linear_to_cfg.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/cmm_invariants.ml
  backend/cmmgen.ml
  backend/comballoc.ml
  backend/mach.ml
  backend/mach.mli
  backend/printcmm.ml
  backend/printmach.ml
  backend/selectgen.ml
  file_formats/cmx_format.mli
  middle_end/clambda.ml
  middle_end/clambda.mli
  middle_end/closure/closure.ml
  middle_end/compilenv.ml
  middle_end/compilenv.mli
  middle_end/flambda/inlining_cost.ml
  middle_end/flambda2/from_lambda/lambda_conversions.ml
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_helper.ml
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  middle_end/printclambda_primitives.ml
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/asmcomp/printcmm.ml
  ocaml/asmcomp/selectgen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/middle_end/closure/closure.ml
  ocaml/middle_end/flambda/inlining_cost.ml
  ocaml/middle_end/printclambda_primitives.ml
  ocaml/runtime/caml/domain_state.tbl
  ocaml/runtime/domain.c
  testsuite/tools/parsecmm.mly
  tools/objinfo.ml
Labels: backend

#489 Add an assertion on the layout of sets of closures
  middle_end/flambda2/simplify_shared/closure_offsets.ml
Labels: flambda2

#480 Add Cmm operation Cbswap
  backend/amd64/arch.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/selection.ml
  backend/arm64/arch.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/arm64/selection.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmmgen.ml
  backend/printcmm.ml
  backend/selectgen.ml
Labels: backend

#493 Backend changes for local allocations with Flambda 2
  backend/amd64/proc.ml
  backend/arm64/proc.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/cmmgen.ml
  backend/printcmm.ml
  backend/selectgen.ml
  middle_end/flambda2/to_cmm/to_cmm_helper.ml
Labels: flambda2, backend

#494 Flambda2 test list
  Makefile.in
  testsuite/flambda2-test-list
Labels: flambda2, CI
