Repository oxcaml/oxcaml, pull requests merged in 2022-05, with the labels that each got.

#635 Fixes for macOS DWARF
  backend/asm_targets/asm_directives.ml
  backend/asmgen.ml
Labels: dwarf and debugging

#621 Improve debug printing for cfg
  backend/asmgen.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_equivalence.mli
  backend/cfg/cfg_with_layout.ml
  backend/cfg/linear_to_cfg.ml
Labels: cfg, backend

#624 Save Mach as Cfg after Selection
  backend/asmgen.ml
  driver/optmaindriver.ml
  ocaml/driver/maindriver.ml
  ocaml/driver/optmaindriver.ml
  ocaml/testsuite/tests/tool-ocamlopt-save-ir/save_ir_after_typing.compilers.reference
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
Labels: cfg, backend

#616 Record addresses of pushtrap,poptrap,entertrap as elf notes
  backend/amd64/emit.mlp
Labels: backend

#620 Unify unknown trap stacks that are physical equal
  backend/cfg/trap_stack.ml
Labels: cfg, backend

#639 Tentative fix for macOS CI
  Makefile.in
Labels: CI

#627 Improved function name handling for inlining reports
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
Labels: flambda2

#626 Improved handling of calls inside values for inlining reports
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/terms/inlining_history.ml
  middle_end/flambda2/terms/inlining_history.mli
Labels: flambda2

#636 Cleaned handling of links between nodes in inlining reports.
  middle_end/flambda2/simplify_shared/inlining_report.ml
  middle_end/flambda2/simplify_shared/inlining_report.mli
  middle_end/flambda2/terms/inlining_history.mli
Labels: flambda2

#633 Review of To_cmm_env and To_cmm_result
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  middle_end/flambda2/simplify_shared/slot_offsets.ml
  middle_end/flambda2/simplify_shared/slot_offsets.mli
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_effects.ml
  middle_end/flambda2/to_cmm/to_cmm_effects.mli
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_result.ml
  middle_end/flambda2/to_cmm/to_cmm_result.mli
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.mli
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  middle_end/flambda2/ui/flambda_features.ml
  middle_end/flambda2/ui/flambda_features.mli
Labels: flambda2

#640 Refactor Patricia_tree to reduce duplicated code
  middle_end/flambda2/algorithms/container_types.ml
  middle_end/flambda2/algorithms/container_types.mli
  middle_end/flambda2/algorithms/container_types_intf.ml
  middle_end/flambda2/algorithms/patricia_tree.ml
  middle_end/flambda2/algorithms/patricia_tree.mli
  middle_end/flambda2/identifiers/continuation.ml
  middle_end/flambda2/identifiers/int_ids.ml
  middle_end/flambda2/numbers/numeric_types.mli
  middle_end/flambda2/simplify/env/data_flow.ml
  middle_end/flambda2/simplify/simplify_let_expr.ml
  middle_end/flambda2/term_basics/scope.ml
  middle_end/flambda2/types/env/binding_time.ml
Labels: flambda2

#651 Add target-specific compiler flags -ftrap-notes and -fno-trap-notes
  backend/amd64/arch.ml
  backend/amd64/emit.mlp
Labels: backend, driver

#653 Temporary fix to Flambda2_types.extract_symbol_approx
  middle_end/flambda2/types/flambda2_types.ml
Labels: bug, flambda2 classic mode

#654 Fix recording of call decisions in inlining records
  middle_end/flambda2/simplify_shared/inlining_report.ml
  middle_end/flambda2/simplify_shared/inlining_report.mli
Labels: flambda2

#656 Add flags -dcfg-equivalence-check and -dcfg-invariants
  backend/asmgen.ml
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
Labels: cfg, backend

#607 Speed up linking by changing cmxa format
  backend/asmgen.ml
  backend/asmlibrarian.ml
  backend/asmlink.ml
  backend/asmpackager.ml
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  file_formats/cmx_format.mli
  middle_end/compilenv.ml
  ocaml/utils/config.mlp
  ocaml/utils/misc.ml
  ocaml/utils/misc.mli
  tools/merge_archives.ml
  tools/objinfo.ml
Labels: compilation speed

#664 Fix build_upstream prefix again
  Makefile
Labels: bug, build system

#665 Fix build_upstream
  Makefile
Labels: build system

#666 Add -gno-upstream-dwarf flag
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
Labels: dwarf and debugging

#667 Add "stack_allocation" to build_ocaml_compiler.sexp
  build_ocaml_compiler.sexp
Labels: build system

#668 Don't emit dwarf symbols as global symbols
  backend/debug/dwarf/dwarf_low/debugging_information_entry.ml
Labels: dwarf and debugging

#669 Various minor DWARF fixes
  .github/CODEOWNERS
  backend/amd64/emit.mlp
  backend/arm64/emit.mlp
  backend/asm_targets/asm_directives.ml
  backend/asm_targets/asm_directives_intf.ml
  backend/asm_targets/asm_label.ml
  backend/asm_targets/asm_section.ml
  backend/asm_targets/asm_section.mli
  backend/asmgen.ml
  backend/asmgen.mli
  backend/asmlink.ml
  backend/cfg/cfg_to_linear.ml
  backend/debug/dwarf/dwarf_flags/dwarf_flags.ml
  backend/debug/dwarf/dwarf_flags/dwarf_flags.mli
  backend/debug/dwarf/dwarf_ocaml/dwarf_compilation_unit.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_concrete_instances.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_concrete_instances.mli
  backend/linear.ml
  backend/linear.mli
  backend/linearize.ml
  backend/schedgen.ml
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
Labels: dwarf and debugging

#673 Error on unrecognized intrinsics
  backend/selectgen.ml
Labels: backend

#672 Handle return unit for PAUSE instrinsic
  backend/amd64/selection.ml
Labels: bug, backend

#674 Restrict dwarf to upstream capabilities by default
  backend/debug/dwarf/dwarf_flags/dwarf_flags.ml
Labels: dwarf and debugging
