Repository oxcaml/oxcaml, pull requests merged in 2022-12, with the labels that each got.

#1006 Allow Bottom element kind for empty arrays
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_common.mli
  middle_end/flambda2/simplify/simplify_extcall.ml
  middle_end/flambda2/simplify/simplify_static_const.ml
  middle_end/flambda2/simplify/simplify_variadic_primitive.ml
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/grammar/more_type_creators.ml
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/types/grammar/type_grammar.mli
  middle_end/flambda2/types/meet_and_join.ml
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/types/provers.mli
  middle_end/flambda2/types/reify.ml
Labels: bug, flambda2

#990 Fix for regions in Selectgen under Flambda 2, plus better comment
  backend/cmm.mli
  backend/selectgen.ml
Labels: flambda2, backend

#1008 Alloc mode fixes for partial applications
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
Labels: flambda2

#1012 Regenerate ocaml/configure autoconf 2.69 (instead of 2.71)
  ocaml/configure
Labels: build system

#1009 Fixes to meet_env_extension
  middle_end/flambda2/types/meet_and_join.ml
Labels: flambda2

#967 Disable poll insertion in Configure
  .github/workflows/build.yml
  backend/polling.ml
  build_ocaml_compiler.sexp
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  ocaml/Makefile.config.in
  ocaml/configure
  ocaml/configure.ac
  ocaml/ocamltest/Makefile
  ocaml/ocamltest/ocaml_actions.ml
  ocaml/ocamltest/ocamltest_config.ml.in
  ocaml/ocamltest/ocamltest_config.mli
  ocaml/testsuite/tests/asmcomp/poll_attr_both.ml
  ocaml/testsuite/tests/asmcomp/poll_attr_inserted.ml
  ocaml/testsuite/tests/asmcomp/poll_attr_prologue.ml
  ocaml/testsuite/tests/asmcomp/poll_attr_user.ml
  ocaml/testsuite/tests/asmcomp/polling_insertion.ml
  ocaml/utils/Makefile
  ocaml/utils/config.mli
  ocaml/utils/config.mlp
  testsuite/tests/asmcomp/poll_attr_both.compilers.reference
  testsuite/tests/asmcomp/poll_attr_both.ml
  testsuite/tests/asmcomp/poll_attr_inserted.ml
  testsuite/tests/asmcomp/poll_attr_prologue.compilers.reference
  testsuite/tests/asmcomp/poll_attr_prologue.ml
  testsuite/tests/asmcomp/poll_attr_user.compilers.reference
  testsuite/tests/asmcomp/poll_attr_user.ml
Labels: build system, CI

#1014 Fix build_upstream-32-bit CI job
  .github/workflows/build.yml
Labels: CI

#1001 Flush hack for end_region
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
Labels: bug, flambda2

#1019 Add Stack_allocation_by_default to build_ocaml_compiler.sexp
  build_ocaml_compiler.sexp
Labels: build system

#1020 Better way to compute the last function slot
  middle_end/flambda2/simplify_shared/slot_offsets.ml
Labels: bug, flambda2, flambda2 beta

#1023 Symlink ocamlopttoplevel to ocamltoplevel libs for 32-bit
  Makefile
Labels: build system

#1024 Port PR81 from ocaml-jst
  ocaml/typing/ctype.ml
Labels: bug

#1015 Immediately split must inline and duplicate bindings
  middle_end/flambda2/terms/coeffects.ml
  middle_end/flambda2/terms/effects.ml
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
Labels: bug, flambda2, flambda2 classic mode

#1011 Atomic arithmetic intrinsics
  backend/CSEgen.ml
  backend/amd64/CSE.ml
  backend/amd64/cfg_stack_operands.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_irc_utils.ml
  backend/cfg/cfg_regalloc_utils.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/cfgize.ml
  backend/cfg/linear_to_cfg.ml
  backend/checkmach.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/comballoc.ml
  backend/mach.ml
  backend/mach.mli
  backend/polling.ml
  backend/printcmm.ml
  backend/printcmm.mli
  backend/printmach.ml
  backend/selectgen.ml
  backend/x86_ast.mli
  backend/x86_binary_emitter.ml
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
Labels: backend

#776 Boxing operations factorisation in from_lambda
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.mli
Labels: flambda2, flambda2 classic mode

#1030 Use 4.14.0 opam switch for building (includes upgrading ocamlformat to 0.24.1)
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  .github/workflows/ocamlformat.yml
  .vscode/settings.json
  .vscode/tasks.json
  HACKING.md
  README.md
  backend/.ocamlformat
  configure.ac
  middle_end/.ocamlformat
  middle_end/flambda2/.ocamlformat
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/lifting/lifted_constant_state.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  ocaml/HACKING.jst.adoc
  tools/.ocamlformat
  utils/.ocamlformat
Labels: build system, CI

#1028 Fix OCAMLPARAM for dwarf related flags
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
Labels: dwarf and debugging

#1038 Do not preseve original labels in Cfg
  backend/asmgen.ml
Labels: cfg, backend

#1033 Move Cmm builtin translation code
  Makefile
  backend/.ocamlformat-enable
  backend/cmm_builtins.ml
  backend/cmm_builtins.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/cmmgen.ml
  dune
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
Labels: backend
