Repository oxcaml/oxcaml, pull requests merged in 2022-02, with the labels that each got.

#486 Remove unnecessary head expansions in make_suitable_for_environment
  middle_end/flambda2/types/expand_head.ml
Labels: flambda2, flambda2 beta

#470 Use an option rather than a set for the exceptional successor(s)
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfgize.ml
  backend/cfg/disconnect_block.ml
  backend/cfg/eliminate_dead_code.ml
  backend/cfg/linear_to_cfg.ml
  backend/cfg/merge_straightline_blocks.ml
Labels: cfg

#487 Eager type renaming with early exit
  middle_end/flambda2/nominal/name_occurrences.ml
  middle_end/flambda2/nominal/name_occurrences.mli
  middle_end/flambda2/nominal/renaming.ml
  middle_end/flambda2/nominal/renaming.mli
  middle_end/flambda2/types/grammar/type_descr.ml
  middle_end/flambda2/types/grammar/type_descr.mli
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/types/grammar/with_cached_free_names.ml
  middle_end/flambda2/types/grammar/with_cached_free_names.mli
Labels: flambda2, flambda2 beta

#474 Limit depth of recursion for join of types sharing structure
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/env/typing_env.mli
  middle_end/flambda2/types/meet_and_join.ml
  middle_end/flambda2/ui/flambda_features.ml
  middle_end/flambda2/ui/flambda_features.mli
Labels: flambda2, flambda2 beta

#481 Don't cache free names of alias types
  middle_end/flambda2/types/grammar/type_descr.ml
Labels: flambda2, flambda2 beta

#467 Prevent equations on imported variables that may not be canonical
  middle_end/flambda2/cmx/exported_code.ml
  middle_end/flambda2/cmx/exported_code.mli
  middle_end/flambda2/cmx/flambda_cmx.ml
  middle_end/flambda2/types/env/aliases.ml
  middle_end/flambda2/types/env/aliases.mli
  middle_end/flambda2/types/env/cached_level.ml
  middle_end/flambda2/types/env/cached_level.mli
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/env/typing_env.mli
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/grammar/type_descr.ml
  middle_end/flambda2/types/grammar/type_descr.mli
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/types/grammar/type_grammar.mli
  middle_end/flambda2/types/grammar/with_cached_free_names.ml
  middle_end/flambda2/types/grammar/with_cached_free_names.mli
Labels: bug, flambda2, flambda2 beta

#500 Stop clobbering of autoconf-generated files for build_upstream
  Makefile.in
Labels: bug, build system

#501 Revert bswap PRs (480 and 482)
  backend/amd64/arch.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/selection.ml
  backend/arm64/arch.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/arm64/selection.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmmgen.ml
  backend/printcmm.ml
  backend/selectgen.ml
Labels: bug, backend

#502 Sign-extend after a bbswap32
  middle_end/flambda2/to_cmm/to_cmm.ml
Labels: bug, flambda2, flambda2 beta

#512 Remove bad assertion in Closure, again
  middle_end/closure/closure.ml
Labels: bug

#508 Type_grammar: include closure IDs in free names
  middle_end/flambda2/types/grammar/type_grammar.ml
Labels: flambda2, flambda2 beta

#515 Compute free closure ids and closure vars of serialized environments
  middle_end/flambda2/nominal/name_occurrences.ml
  middle_end/flambda2/nominal/name_occurrences.mli
  middle_end/flambda2/types/env/cached_level.ml
  middle_end/flambda2/types/env/cached_level.mli
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/env/typing_env.mli
  middle_end/flambda2/types/flambda2_types.mli
Labels: flambda2, flambda2 beta

#516 Ensure sound closure of local alloc regions in Lambda_to_flambda
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
Labels: bug, flambda2, flambda2 beta

#517 Shuffle optimisation level flags for Flambda 2
  driver/flambda_backend_flags.ml
Labels: flambda2, flambda2 beta

#511 Enable local allocs on flambda2+cfg CI
  .github/workflows/flambda2_cfg_local.yml
Labels: flambda2, CI

#528 Avoid clearing caches in native toplevel
  backend/asmgen.ml
  backend/asmgen.mli
  backend/asmlink.ml
Labels: toplevel

#492 make_suitable_for_environment: Expand unavailable variables occurring only once
  middle_end/flambda2/types/expand_head.ml
  middle_end/flambda2/types/grammar/type_descr.ml
  middle_end/flambda2/types/grammar/type_descr.mli
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/types/grammar/type_grammar.mli
  middle_end/flambda2/types/grammar/with_cached_free_names.ml
  middle_end/flambda2/types/grammar/with_cached_free_names.mli
Labels: flambda2, flambda2 beta

#483 Use C++ name mangling convention
  Makefile.in
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  dune
  middle_end/.ocamlformat
  middle_end/closure/closure.ml
  middle_end/compilenv.ml
  middle_end/compilenv.mli
  middle_end/mangling.ml
  middle_end/mangling.mli
  ocaml/testsuite/tests/asmcomp/func_sections.run
  ocaml/utils/misc.ml
  ocaml/utils/misc.mli
Labels: dwarf and debugging

#471 Backport ocaml/ocaml#10595 from upstream/trunk
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/printmach.ml
  backend/reg.ml
  backend/reg.mli
  ocaml/Changes
  ocaml/asmcomp/amd64/emit.mlp
  ocaml/asmcomp/amd64/proc.ml
  ocaml/asmcomp/arm/emit.mlp
  ocaml/asmcomp/arm/proc.ml
  ocaml/asmcomp/arm64/emit.mlp
  ocaml/asmcomp/arm64/proc.ml
  ocaml/asmcomp/i386/emit.mlp
  ocaml/asmcomp/i386/proc.ml
  ocaml/asmcomp/power/emit.mlp
  ocaml/asmcomp/power/proc.ml
  ocaml/asmcomp/printmach.ml
  ocaml/asmcomp/reg.ml
  ocaml/asmcomp/reg.mli
  ocaml/asmcomp/riscv/emit.mlp
  ocaml/asmcomp/riscv/proc.ml
  ocaml/asmcomp/s390x/emit.mlp
  ocaml/asmcomp/s390x/proc.ml
  ocaml/runtime/caml/domain_state.h
  ocaml/runtime/caml/domain_state.tbl
  ocaml/runtime/i386.S
  ocaml/runtime/i386nt.asm
  ocaml/testsuite/tests/basic/tailcalls.ml
  ocaml/testsuite/tests/basic/tailcalls.reference
  testsuite/flambda2-test-list
Labels: backend, backport from upstream OCaml

#504 Disable bytecode compilers in ocamltest
  ocaml/ocamltest/ocaml_compilers.ml
  ocaml/ocamltest/ocaml_tests.ml
Labels: build system

#529 Forgotten closure ID in Call_kind.free_names
  middle_end/flambda2/terms/call_kind.ml
Labels: bug, flambda2, flambda2 beta

#530 Print diagnostics at runtime for Invalid
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_lex.ml
  middle_end/flambda2/parser/flambda_lex.mll
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mli
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/expr_builder.mli
  middle_end/flambda2/simplify/lifting/reification.ml
  middle_end/flambda2/simplify/rebuilt_expr.ml
  middle_end/flambda2/simplify/rebuilt_expr.mli
  middle_end/flambda2/simplify/rebuilt_static_const.ml
  middle_end/flambda2/simplify/simplified_named.ml
  middle_end/flambda2/simplify/simplified_named.mli
  middle_end/flambda2/simplify/simplify_apply_cont_expr.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_expr.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify/simplify_let_expr.ml
  middle_end/flambda2/simplify/simplify_named.ml
  middle_end/flambda2/simplify/simplify_named_result.ml
  middle_end/flambda2/simplify/simplify_named_result.mli
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/terms/flambda_unit.ml
  middle_end/flambda2/terms/invalid_term_semantics.ml
  middle_end/flambda2/terms/invalid_term_semantics.mli
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_helper.ml
  middle_end/flambda2/to_cmm/to_cmm_helper.mli
  middle_end/flambda2/to_cmm/to_cmm_result.ml
  middle_end/flambda2/to_cmm/to_cmm_result.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  middle_end/flambda2/ui/flambda_colours.ml
  middle_end/flambda2/ui/flambda_colours.mli
  middle_end/flambda2/ui/flambda_features.ml
  middle_end/flambda2/ui/flambda_features.mli
  ocaml/runtime/misc.c
Labels: flambda2, flambda2 beta

#295 Improve unboxing during cmm for Flambda
  backend/afl_instrument.ml
  backend/amd64/selection.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/cmm_invariants.ml
  backend/cmmgen.ml
  backend/printcmm.ml
  backend/selectgen.ml
  backend/strmatch.ml
  backend/strmatch.mli
  middle_end/clambda.ml
  middle_end/clambda.mli
  middle_end/closure/closure.ml
  middle_end/flambda/closure_conversion.ml
  middle_end/flambda/effect_analysis.ml
  middle_end/flambda/extract_projections.ml
  middle_end/flambda/flambda.ml
  middle_end/flambda/flambda.mli
  middle_end/flambda/flambda_invariants.ml
  middle_end/flambda/flambda_iterators.ml
  middle_end/flambda/flambda_to_clambda.ml
  middle_end/flambda/flambda_utils.ml
  middle_end/flambda/inconstant_idents.ml
  middle_end/flambda/inline_and_simplify.ml
  middle_end/flambda/inlining_cost.ml
  middle_end/flambda/ref_to_variables.ml
  middle_end/flambda/un_anf.ml
  middle_end/flambda2/from_lambda/dissect_letrec.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_helper.ml
  middle_end/printclambda.ml
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/matching.ml
  ocaml/lambda/matching.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/simplif.ml
  ocaml/lambda/switch.ml
  ocaml/lambda/switch.mli
  ocaml/lambda/translclass.ml
  ocaml/lambda/translcomprehension.ml
  ocaml/lambda/translcore.ml
  ocaml/lambda/translcore.mli
  ocaml/lambda/translmod.ml
  ocaml/middle_end/closure/closure.ml
  ocaml/middle_end/flambda/closure_conversion.ml
  testsuite/tools/parsecmm.mly
  testsuite/tools/parsecmmaux.ml
  testsuite/tools/parsecmmaux.mli
Labels: backend, middle end

#376 Cause a C warning when CAMLreturn is missing in C stubs.
  ocaml/runtime/caml/memory.h
Labels: runtime

#506 Revert "Revert bswap PRs (480 and 482)"
  backend/amd64/arch.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/selection.ml
  backend/arm64/arch.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/arm64/selection.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmmgen.ml
  backend/printcmm.ml
  backend/selectgen.ml
  ocaml/testsuite/tests/prim-bswap/bswap32roundtrip.ml
Labels: backend

#533 Persistent environment and reproducibility
  backend/asmgen.ml
  ocaml/debugger/command_line.ml
  ocaml/debugger/parameters.ml
  ocaml/debugger/program_management.ml
  ocaml/driver/compmisc.ml
  ocaml/tools/ocamlcmt.ml
  ocaml/typing/env.ml
  ocaml/typing/env.mli
  ocaml/typing/envaux.ml
  ocaml/typing/envaux.mli
  ocaml/typing/typemod.ml
  ocaml/typing/typemod.mli
Labels: 4.12.0-7

#534 Compiler error when -disable-all-extensions and -extension are used
  ocaml/utils/clflags.ml
Labels: 4.12.0-7

#541 Insert missing page table check in roots_nat.c
  ocaml/runtime/roots_nat.c
Labels: 4.12.0-7

#539 Bugfix for Typedtree generation of arrow types
  ocaml/testsuite/tests/tool-ocamlc-stop-after/stop_after_typing_impl.compilers.reference
  ocaml/typing/typetexp.ml
Labels: 4.12.0-7

#540 Disable the local keyword in typing
  ocaml/parsing/lexer.mll
  ocaml/typing/typecore.ml
  ocaml/typing/typetexp.ml
  ocaml/typing/typetexp.mli
Labels: 4.12.0-7

#535 Do not hardcode the threshold for heap reduction
  backend/emitaux.ml
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
Labels: 4.12.0-7

#537 Stop local function optimisation from moving code into function bodies; opaque_identity fixes for class compilation
  ocaml/lambda/simplif.ml
  ocaml/lambda/translclass.ml
  ocaml/lambda/translobj.ml
  ocaml/testsuite/tests/functors/functors.compilers.reference
Labels: flambda2, flambda2 beta

#548 Don't increment apply depth when inlining stubs
  middle_end/flambda2/simplify/env/downwards_env.ml
Labels: flambda2, flambda2 beta

#549 Correct result types for partial application stubs
  middle_end/flambda2/simplify/simplify_apply_expr.ml
Labels: flambda2, flambda2 beta

#546 Store the correct inlining decision for stubs in Closure_conversion
  middle_end/flambda2/from_lambda/closure_conversion.ml
Labels: flambda2, flambda2 beta

#551 Data flow: do not enforce dependencies on mutually defined code IDs
  middle_end/flambda2/simplify/simplify_let_expr.ml
  middle_end/flambda2/simplify/simplify_static_const.ml
Labels: flambda2, flambda2 beta

#532 Simplify code stubs at definition and do not specialise them
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.mli
  middle_end/flambda2/simplify/simplify_static_const.ml
  middle_end/flambda2/simplify_shared/closure_offsets.ml
  middle_end/flambda2/simplify_shared/closure_offsets.mli
Labels: flambda2, flambda2 beta

#536 Fix flambda_o3 and flambda_oclassic attributes
  driver/flambda_backend_args.ml
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  driver/optmaindriver.ml
  middle_end/flambda2/flambda2.ml
  middle_end/flambda2/tests/mlexamples/opt_flags.ml
  middle_end/flambda2/ui/flambda_features.ml
  native_toplevel/opttopmain.ml
  ocaml/driver/compenv.ml
  ocaml/driver/compenv.mli
  ocaml/driver/main_args.ml
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
Labels: flambda2, flambda2 beta

#544 Enhance numbers.ml with more primitive types
  ocaml/utils/numbers.ml
  ocaml/utils/numbers.mli
Labels: dwarf and debugging

#542 Add Target_system to ocaml/utils
  ocaml/.depend
  ocaml/compilerlibs/Makefile.compilerlibs
  ocaml/dune
  ocaml/utils/target_system.ml
  ocaml/utils/target_system.mli
Labels: dwarf and debugging

#543 Add dwarf-related flags
  Makefile.in
  backend/debug/dwarf/.ocamlformat
  backend/debug/dwarf/dwarf_flags/dune
  backend/debug/dwarf/dwarf_flags/dwarf_flags.ml
  backend/debug/dwarf/dwarf_flags/dwarf_flags.mli
  dune
  testsuite/tools/Makefile
Labels: dwarf and debugging

#558 Fix infinite loop in inlining report printer
  middle_end/flambda2/simplify_shared/inlining_report.ml
Labels: bug, flambda2, flambda2 beta
