Repository oxcaml/oxcaml, pull requests merged in 2022-06, with the labels that each got.

#603 Review changes of `lambda_to_flambda.ml`
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion.mli
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.mli
Labels: flambda2

#602 Review changes of term directory
  middle_end/flambda2/algorithms/container_types.ml
  middle_end/flambda2/algorithms/lmap.ml
  middle_end/flambda2/bound_identifiers/bound_parameters.ml
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/simplify_apply_cont_expr.ml
  middle_end/flambda2/term_basics/or_variable.ml
  middle_end/flambda2/term_basics/or_variable.mli
  middle_end/flambda2/terms/apply_cont_expr.ml
  middle_end/flambda2/terms/apply_cont_expr.mli
  middle_end/flambda2/terms/apply_expr.ml
  middle_end/flambda2/terms/call_kind.ml
  middle_end/flambda2/terms/code0.ml
  middle_end/flambda2/terms/code_metadata.ml
  middle_end/flambda2/terms/code_or_metadata.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/exn_continuation.ml
  middle_end/flambda2/terms/field_of_static_block.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/inlining_history.ml
  middle_end/flambda2/terms/result_types.ml
  middle_end/flambda2/terms/set_of_closures.ml
  middle_end/flambda2/terms/static_const.ml
  middle_end/flambda2/terms/switch_expr.ml
  middle_end/flambda2/terms/trap_action.ml
  ocaml/utils/misc.ml
  ocaml/utils/misc.mli
Labels: flambda2

#649 Fix CR about evaluation order in To_cmm_primitive etc.
  driver/flambda_backend_args.ml
  middle_end/flambda2/to_cmm/to_cmm_effects.ml
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.mli
Labels: flambda2

#683 Remove symbol hack in To_cmm_expr
  middle_end/flambda2/identifiers/int_ids.ml
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
Labels: flambda2

#567 Fix duplicate lifted constants for code of lifted sets of closures
  middle_end/flambda2/simplify/env/downwards_acc.ml
  middle_end/flambda2/simplify/env/downwards_acc.mli
  middle_end/flambda2/simplify/lifting/lifted_constant_state.ml
  middle_end/flambda2/simplify/rebuilt_static_const.ml
  middle_end/flambda2/simplify/rebuilt_static_const.mli
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
Labels: flambda2

#700 Review slot offsets
  middle_end/flambda2/cmx/flambda_cmx.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/simplify/env/upwards_acc.ml
  middle_end/flambda2/simplify/simplify.ml
  middle_end/flambda2/simplify_shared/exported_offsets.ml
  middle_end/flambda2/simplify_shared/exported_offsets.mli
  middle_end/flambda2/simplify_shared/slot_offsets.ml
  middle_end/flambda2/simplify_shared/slot_offsets.mli
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
Labels: flambda2

#702 Add low/high PC ranges to compilation unit DIEs
  backend/asmgen.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf.mli
  backend/debug/dwarf/dwarf_ocaml/dwarf_compilation_unit.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_compilation_unit.mli
Labels: dwarf and debugging

#697 Cosmetic changes under `middle_end/flambda2/numbers`
  middle_end/flambda2/numbers/targetint_31_63.ml
  middle_end/flambda2/numbers/targetint_31_63.mli
  middle_end/flambda2/numbers/targetint_32_64.ml
Labels: flambda2, non-material change

#682 Remove set_of_closures_symbol_ref in To_cmm
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
Labels: flambda2

#455 Flambda2's inliner documentation
  middle_end/flambda2/docs/inlining.md
Labels: documentation, flambda2

#701 Avoid duplicated work in normal mode
  middle_end/flambda2/flambda2.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.mli
  middle_end/flambda2/ui/flambda_features.ml
  middle_end/flambda2/ui/flambda_features.mli
Labels: flambda2

#694 Review of `simplify/env`
  middle_end/flambda2/simplify/env/continuation_env_and_param_types.ml
  middle_end/flambda2/simplify/env/continuation_env_and_param_types.mli
  middle_end/flambda2/simplify/env/continuation_uses.ml
  middle_end/flambda2/simplify/env/continuation_uses.mli
  middle_end/flambda2/simplify/env/downwards_acc.ml
  middle_end/flambda2/simplify/env/downwards_acc.mli
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
  middle_end/flambda2/simplify/env/upwards_acc.mli
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/simplify.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
Labels: flambda2

#705 Patricia tree review
  middle_end/flambda2/algorithms/patricia_tree.ml
Labels: flambda2
