Repository oxcaml/oxcaml, pull requests merged in 2022-08, with the labels that each got.

#755 Force the version of `re`
  .github/workflows/ocamlformat.yml
Labels: CI

#756 Bugfix for Cmmgen.expr_size with locals
  backend/cmmgen.ml
  ocaml/asmcomp/cmmgen.ml
  ocaml/testsuite/tests/typing-local/regression_expr_size.ml
  ocaml/testsuite/tests/typing-local/regression_expr_size.reference
Labels: bug, backend

#757 Create object files internally to avoid invoking GAS
  backend/.ocamlformat-enable
  backend/amd64/emit.mlp
  backend/asmgen.ml
  backend/internal_assembler/internal_assembler.ml
  backend/internal_assembler/internal_assembler.mli
  backend/internal_assembler/relocation_entry.ml
  backend/internal_assembler/relocation_entry.mli
  backend/internal_assembler/relocation_table.ml
  backend/internal_assembler/relocation_table.mli
  backend/internal_assembler/section_table.ml
  backend/internal_assembler/section_table.mli
  backend/internal_assembler/string_table.ml
  backend/internal_assembler/string_table.mli
  backend/internal_assembler/symbol_entry.ml
  backend/internal_assembler/symbol_entry.mli
  backend/internal_assembler/symbol_table.ml
  backend/internal_assembler/symbol_table.mli
  backend/x86_binary_emitter.ml
  backend/x86_binary_emitter.mli
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_proc.ml
  backend/x86_proc.mli
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  dune
  external/owee/LICENSE
  external/owee/dune
  external/owee/owee_buf.ml
  external/owee/owee_buf.mli
  external/owee/owee_debug_line.ml
  external/owee/owee_debug_line.mli
  external/owee/owee_elf.ml
  external/owee/owee_elf.mli
  external/owee/owee_elf_notes.ml
  external/owee/owee_elf_notes.mli
  external/owee/owee_form.ml
  external/owee/owee_form.mli
  external/owee/owee_graph.ml
  external/owee/owee_interval_map.ml
  external/owee/owee_interval_map.mli
  external/owee/owee_linux_maps.ml
  external/owee/owee_linux_maps.mli
  external/owee/owee_location.ml
  external/owee/owee_location.mli
  external/owee/owee_macho.ml
  external/owee/owee_macho.mli
  external/owee/owee_marker.ml
  external/owee/owee_marker.mli
  external/owee/owee_stubs.c
  external/owee/owee_traverse.ml
  external/owee/owee_traverse.mli
  ocaml/otherlibs/unix/dune
  ocaml/otherlibs/unix/unixLabels.ml
  ocaml/otherlibs/unix/unixLabels.mli
  testsuite/tools/Makefile
Labels: backend

#759 Merge libowee_stubs_native into ocamloptcomp
  dune
Labels: build system

#678 IRC, iterated register coalescing (draft implementation)
  backend/arm64/proc.ml
  backend/asmgen.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_dataflow.ml
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_irc.ml
  backend/cfg/cfg_irc.mli
  backend/cfg/cfg_irc_split.ml
  backend/cfg/cfg_irc_split.mli
  backend/cfg/cfg_irc_state.ml
  backend/cfg/cfg_irc_state.mli
  backend/cfg/cfg_irc_utils.ml
  backend/cfg/cfg_irc_utils.mli
  backend/cfg/cfg_liveness.ml
  backend/cfg/cfg_regalloc_utils.ml
  backend/cfg/cfg_regalloc_utils.mli
  backend/cfg/cfg_with_layout.ml
  backend/cfg/cfg_with_layout.mli
  backend/cfg/cfgize.ml
  backend/cfg/cfgize.mli
  backend/cfg/linear_to_cfg.ml
  backend/proc.mli
  backend/reg.ml
  backend/reg.mli
  dune
Labels: cfg, backend

#762 Fix owee stubs again
  dune
Labels: build system

#761 CI job to test IRC
  .github/workflows/build.yml
  backend/asmgen.ml
Labels: backend, CI

#763 Remove Unix and Bigarray deps from ocamloptcomp
  backend/asmgen.ml
  backend/asmgen.mli
  backend/asmlink.ml
  backend/asmlink.mli
  backend/asmpackager.ml
  backend/asmpackager.mli
  backend/internal_assembler/internal_assembler.ml
  backend/internal_assembler/internal_assembler.mli
  driver/boot_ocamlopt.ml
  driver/flambda_backend_main.ml
  driver/optcompile.ml
  driver/optcompile.mli
  driver/optmaindriver.ml
  driver/optmaindriver.mli
  dune
  external/owee/dune
  external/owee/owee_buf.ml
  external/owee/owee_buf.mli
  external/owee/owee_linux_maps.ml
  external/owee/owee_linux_maps.mli
  external/owee/owee_location.ml
  external/owee/owee_location.mli
  external/owee/owee_traverse.ml
  external/owee/owee_traverse.mli
  external/owee/unix_intf.ml
  native_toplevel/dune
  native_toplevel/opttoploop.ml
Labels: bug, build system

#764 Rename Owee -> Compiler_owee and install artifacts
  backend/asmgen.mli
  backend/asmlink.mli
  backend/asmpackager.mli
  backend/internal_assembler/internal_assembler.ml
  backend/internal_assembler/internal_assembler.mli
  backend/internal_assembler/relocation_entry.ml
  backend/internal_assembler/relocation_entry.mli
  backend/internal_assembler/relocation_table.ml
  backend/internal_assembler/relocation_table.mli
  backend/internal_assembler/section_table.ml
  backend/internal_assembler/section_table.mli
  backend/internal_assembler/string_table.ml
  backend/internal_assembler/string_table.mli
  backend/internal_assembler/symbol_entry.ml
  backend/internal_assembler/symbol_entry.mli
  backend/internal_assembler/symbol_table.ml
  backend/internal_assembler/symbol_table.mli
  driver/boot_ocamlopt.ml
  driver/flambda_backend_main.ml
  driver/optcompile.mli
  driver/optmaindriver.mli
  dune
  external/owee/dune
  native_toplevel/opttoploop.ml
Labels: build system

#766 Add CI check for build_upstream 32 bit
  .github/workflows/build.yml
Labels: CI

#768 Add CI jobs to test frame pointers
  .github/workflows/build.yml
Labels: CI

#752 Minor fix for Provers.never_holds_locally_allocated_values
  middle_end/flambda2/types/provers.ml
Labels: flambda2

#754 Improve lifting criterion for variables that are symbol projections
  middle_end/flambda2/simplify/lifting/reification.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/reify.ml
  middle_end/flambda2/types/reify.mli
Labels: flambda2

#772 Fix the traversal order during Typing_env.cut
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/env/typing_env_level.ml
  middle_end/flambda2/types/env/typing_env_level.mli
Labels: flambda2

#773 Properly erase subkinds in Eligible_for_cse
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
Labels: flambda2

#770 Backend CFG printing rework.
  backend/amd64/proc.ml
  backend/arm64/proc.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/cfg_to_linear_desc.mli
  backend/cfg/cfg_with_layout.ml
  backend/cfg/cfg_with_layout.mli
  backend/printlinear.ml
  backend/printlinear.mli
  backend/printmach.ml
  backend/printmach.mli
  backend/proc.mli
  dune
Labels: cfg, backend

#688 Allow installing a built compiler without checks
  Makefile
Labels: build system

#788 Cause always-inline attributes to increment the inlining depth less quickly
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/inlining/inlining_transforms.ml
  middle_end/flambda2/simplify/inlining/inlining_transforms.mli
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify_shared/call_site_inlining_decision_type.ml
  middle_end/flambda2/simplify_shared/call_site_inlining_decision_type.mli
  middle_end/flambda2/terms/function_decl_inlining_decision_type.ml
  middle_end/flambda2/terms/function_decl_inlining_decision_type.mli
  middle_end/flambda2/terms/inlining_state.ml
  middle_end/flambda2/terms/inlining_state.mli
  middle_end/flambda2/ui/flambda_features.ml
  middle_end/flambda2/ui/flambda_features.mli
Labels: flambda2

#795 Fix tast_iterator and tast_mapper for include functor.
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
Labels: bug, typing

#527 Some comment on the way region closure works in Lambda_to_flambda
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
Labels: flambda2

#739 Better check for physically not equal cases
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/types/grammar/type_grammar.mli
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/types/provers.mli
Labels: flambda2

#790 Make local extension point equivalent to local_ expression
  ocaml/typing/typecore.ml
Labels: bug, typing

#791 Fix error message printing from Emit
  backend/asmgen.ml
Labels: backend

#784 Prevent dynamic loading of the same .cmxs twice in private mode, etc.
  ocaml/otherlibs/dynlink/dynlink.ml
  ocaml/otherlibs/dynlink/dynlink.mli
  ocaml/otherlibs/dynlink/dynlink_common.ml
  ocaml/otherlibs/dynlink/dynlink_platform_intf.ml
  ocaml/otherlibs/dynlink/dynlink_types.ml
  ocaml/otherlibs/dynlink/dynlink_types.mli
  ocaml/runtime/dynlink_nat.c
  ocaml/runtime/roots_nat.c
  ocaml/testsuite/tests/lib-dynlink-initializers/test10_main.byte.reference
  ocaml/testsuite/tests/lib-dynlink-initializers/test10_main.native.reference
  ocaml/testsuite/tests/lib-dynlink-private/test.ml
Labels: runtime

#796 CFG: Fix instructions specification
  backend/cfg/cfg.ml
Labels: bug, cfg, backend

#798 Speed up register allocation by permanently spilling registers (Port #11102)
  backend/coloring.ml
Labels: backend

#801 Define separate dune profiles for boot and main build stages
  Makefile
  dune
Labels: build system
