Repository oxcaml/oxcaml, pull requests merged in 2022-10, with the labels that each got.

#854 Remove integer comparison involving nonconstant polymorphic variants
  ocaml/lambda/matching.ml
Labels: to upstream, middle end

#856 Revert PR729
  middle_end/flambda2/types/provers.ml
Labels: flambda2

#857 Build system refactoring for ocaml-jst
  Makefile
  dune
  ocaml/Makefile.common-jst
  ocaml/dune
  ocaml/duneconf/.gitignore
  ocaml/ocamltest/dune
  ocaml/otherlibs/dynlink/dune
  ocaml/runtime/dune
  ocaml/tools/dune
  tools/dune
  tools/flambda_backend_objinfo.ml
Labels: build system

#826 Static check for noalloc: better user error
  backend/checkmach.ml
  backend/checkmach.mli
  tests/backend/checkmach/fail1.output
  tests/backend/checkmach/fail2.output
  tests/backend/checkmach/fail3.output
  tests/backend/checkmach/fail4.output
Labels: backend

#866 Simplify Makefile logic for natdynlinkops
  ocaml/.gitignore
  ocaml/Makefile.common-jst
  ocaml/otherlibs/dynlink/dune
Labels: build system

#865 Reload: check stack slot and register class when deciding whether a move is a no-op
  backend/cfg/cfg.ml
  backend/reloadgen.ml
Labels: bug, backend

#869 Add build system hooks for ocaml-jst
  Makefile
  ocaml/Makefile.common-jst
Labels: build system

#844 CFG: Add missing call to `exception_` in backwards dataflow
  backend/cfg/cfg_dataflow.ml
Labels: cfg, backend

#855 Add value<->native_pointer intrinsics
  backend/CSEgen.ml
  backend/amd64/CSE.ml
  backend/amd64/cfg_stack_operands.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_irc_utils.ml
  backend/cfg/cfg_regalloc_utils.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/cfgize.ml
  backend/cfg/linear_to_cfg.ml
  backend/checkmach.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/comballoc.ml
  backend/mach.ml
  backend/mach.mli
  backend/printcmm.ml
  backend/printmach.ml
  backend/reloadgen.ml
  backend/selectgen.ml
  testsuite/tools/lexcmm.mll
  testsuite/tools/parsecmm.mly
Labels: backend

#874 Fix `make runtest` on NixOS
  middle_end/flambda2/scripts/compile_coq.sh
  ocaml/jane/pull-backend-patches
  scripts/cherry-pick.sh
  scripts/compare.sh
  scripts/merge-ocaml-jst
  tests/backend/checkmach/filter.sh
Labels: build system

#873 Refactor from_lambda: deduplicate cps_tail and cps_non_tail
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
Labels: flambda2

#875 Fix Alloc_mode.With_region.t renaming in Set_of_closures
  middle_end/flambda2/terms/set_of_closures.ml
Labels: flambda2

#876 Fix End_region deletion in Expr_builder
  middle_end/flambda2/simplify/expr_builder.ml
Labels: flambda2

#882 Flambda2_types: move alloc_mode from Variant to Row_like_for_blocks
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/grammar/more_type_creators.ml
  middle_end/flambda2/types/grammar/more_type_creators.mli
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/types/grammar/type_grammar.mli
  middle_end/flambda2/types/meet_and_join.ml
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/types/reify.ml
Labels: flambda2

#884 Remove two unused functions
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
Labels: flambda2, non-material change

#885 Add NO = Name_occurrences alias and label NO.remove* functions
  middle_end/flambda2/cmx/flambda_cmx.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/nominal/name_abstraction.ml
  middle_end/flambda2/nominal/name_occurrences.ml
  middle_end/flambda2/nominal/name_occurrences.mli
  middle_end/flambda2/simplify/env/upwards_acc.ml
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/join_points.ml
  middle_end/flambda2/simplify/lifting/reification.ml
  middle_end/flambda2/simplify/rebuilt_expr.ml
  middle_end/flambda2/simplify/simplify.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_expr.ml
  middle_end/flambda2/simplify/simplify_extcall.ml
  middle_end/flambda2/simplify/simplify_import.ml
  middle_end/flambda2/simplify/simplify_import.mli
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify/simplify_let_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/expand_head.ml
  middle_end/flambda2/types/join_levels.ml
Labels: flambda2

#878 Detect recursive continuations which are in fact non-recursive and simplify them
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
Labels: flambda2

#892 Add strict mode for ocamldep
  ocaml/driver/makedepend.ml
Labels: to upstream

#886 Tidy-ups in Simplify_set_of_closures
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_set_of_closures_context.ml
  middle_end/flambda2/simplify/simplify_set_of_closures_context.mli
Labels: flambda2

#894 Add CR about continuation aliases and potential loss of information
  middle_end/flambda2/simplify/simplify_apply_cont_expr.ml
Labels: flambda2

#896 Have Lambda `Pgetglobal` and `Psetglobal` take `Compilation_unit.t`
  middle_end/closure/closure.ml
  middle_end/convert_primitives.ml
  middle_end/flambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/internal_variable_names.ml
  native_toplevel/opttoploop.ml
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/translmod.ml
  ocaml/lambda/translobj.mli
  ocaml/lambda/translprim.ml
  ocaml/middle_end/closure/closure.ml
  ocaml/middle_end/convert_primitives.ml
  ocaml/middle_end/flambda/closure_conversion.ml
  ocaml/middle_end/internal_variable_names.ml
  ocaml/otherlibs/dynlink/dune
  ocaml/toplevel/opttoploop.ml
  ocaml/utils/compilation_unit.ml
  ocaml/utils/compilation_unit.mli
Labels: middle end

#889 Add missing dependencies to Dune files
  ocaml/otherlibs/dynlink/dune
  ocaml/runtime/caml/dune
  ocaml/tools/dune
Labels: build system

#793 CFG/IRC: dedicated type for list of instructions
  backend/asmgen.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_dataflow.ml
  backend/cfg/cfg_deadcode.ml
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_irc.ml
  backend/cfg/cfg_irc_split.ml
  backend/cfg/cfg_irc_split.mli
  backend/cfg/cfg_irc_utils.ml
  backend/cfg/cfg_irc_utils.mli
  backend/cfg/cfg_regalloc_utils.ml
  backend/cfg/cfg_regalloc_utils.mli
  backend/cfg/cfg_regalloc_validate.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfg_with_layout.ml
  backend/cfg/cfgize.ml
  backend/cfg/eliminate_fallthrough_blocks.ml
  backend/cfg/extra_debug.ml
  backend/cfg/linear_to_cfg.ml
  backend/cfg/merge_straightline_blocks.ml
  backend/cfg/tests/check_regalloc_validation.ml
Labels: cfg, backend

#898 Fix missing End_region primitives on switch arms
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  ocaml/testsuite/tests/typing-local/regions.ml
  ocaml/testsuite/tests/typing-local/regions.reference
Labels: flambda2

#900 Add a type for the return value of Block_set (and similar prims)
  middle_end/flambda2/simplify/simplify_primitive_result.ml
  middle_end/flambda2/simplify/simplify_primitive_result.mli
  middle_end/flambda2/simplify/simplify_ternary_primitive.ml
Labels: flambda2

#904 CFG/IRC: restore support for stack operands
  backend/cfg/cfg_irc.ml
Labels: bug, cfg, backend

#785 CFG: rework terminators
  backend/amd64/cfg_stack_operands.ml
  backend/amd64/proc.ml
  backend/arm64/cfg_stack_operands.ml
  backend/arm64/proc.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_dataflow.ml
  backend/cfg/cfg_dataflow.mli
  backend/cfg/cfg_deadcode.ml
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_irc.ml
  backend/cfg/cfg_irc_split.ml
  backend/cfg/cfg_irc_utils.ml
  backend/cfg/cfg_liveness.ml
  backend/cfg/cfg_regalloc_utils.ml
  backend/cfg/cfg_regalloc_utils.mli
  backend/cfg/cfg_regalloc_validate.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/cfg_with_layout.ml
  backend/cfg/cfg_with_layout.mli
  backend/cfg/cfgize.ml
  backend/cfg/eliminate_dead_code.ml
  backend/cfg/linear_to_cfg.ml
  backend/cfg/simplify_terminator.ml
  backend/cfg/tests/check_regalloc_validation.ml
Labels: cfg, backend

#906 Always filter lifted constants in rebuild_let
  middle_end/flambda2/simplify/simplify_let_expr.ml
Labels: bug, flambda2

#912 Simplify code of loopify: remove freshening of params inside recursive handler
  middle_end/flambda2/simplify/simplify_expr.ml
Labels: flambda2

#797 Long frames in frametable
  backend/emitaux.ml
  backend/emitaux.mli
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  dune-project
  ocaml/runtime/backtrace_nat.c
  ocaml/runtime/caml/stack.h
  ocaml/runtime/roots_nat.c
  ocaml/runtime/signals_nat.c
  tests/backend/frame-too-long/dune
  tests/backend/frame-too-long/t.expected
  tests/backend/frame-too-long/t.ml
Labels: backend, runtime

#881 Re-enable some tests for Flambda2
  ocaml/lambda/translattribute.ml
  ocaml/ocamltest/Makefile
  ocaml/ocamltest/ocaml_actions.ml
  ocaml/ocamltest/ocamltest_config.ml.in
  ocaml/ocamltest/ocamltest_config.mli
  ocaml/testsuite/tests/asmgen/catch-rec-deadhandler.run
  testsuite/flambda2-test-list
  testsuite/tests/asmgen/catch-rec-deadhandler.run
Labels: flambda2

#916 Add a missing Extract_exception
  ocaml/runtime/signals.c
Labels: bug, runtime

#918 Bugfix for runtime frame_descr logic for C frames
  ocaml/runtime/roots_nat.c
Labels: bug, runtime

#915 Use the debug runtime for some CI tests
  .github/workflows/build.yml
Labels: CI

#921 Fix region used for tail calls
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
Labels: flambda2

#908 Add intrinsics for CMOV
  backend/CSEgen.ml
  backend/amd64/CSE.ml
  backend/amd64/cfg_stack_operands.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/arm64/arch.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_irc_utils.ml
  backend/cfg/cfg_regalloc_utils.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/cfgize.ml
  backend/cfg/linear_to_cfg.ml
  backend/checkmach.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/comballoc.ml
  backend/linearize.ml
  backend/mach.ml
  backend/mach.mli
  backend/polling.ml
  backend/printcmm.ml
  backend/printmach.ml
  backend/selectgen.ml
  backend/x86_dsl.ml
  backend/x86_dsl.mli
Labels: backend

#922 Remove intrinsic caml_csel_float_unboxed
  backend/cmm_helpers.ml
Labels: bug, backend

#933 Remove duplication of stub flag in Closure_conversion_aux
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
Labels: flambda2
