Repository oxcaml/oxcaml, pull requests merged in 2022-09, with the labels that each got.

#806 Use /usr/bin/env {bash,echo} instead of /bin/{bash,echo} in Makefile
  Makefile
Labels: build system

#774 IRC: logic error in the second call to `rewrite`
  backend/cfg/cfg_irc.ml
Labels: bug, cfg, backend

#804 IRC: Fix interf graph for exceptional path.
  backend/cfg/cfg_irc.ml
Labels: bug, cfg, backend

#810 Add sequence-blank-line=compact to .ocamlformat files
  backend/.ocamlformat
  backend/cfg/eliminate_fallthrough_blocks.ml
  backend/cfg/linear_to_cfg.ml
  backend/cmm_helpers.ml
  backend/debug/available_regs.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf.ml
  middle_end/.ocamlformat
  middle_end/flambda2/.ocamlformat
  middle_end/flambda2/from_lambda/dissect_letrec.ml
  middle_end/flambda2/simplify_shared/inlining_report.ml
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/tests/algorithms/patricia_tree_tests.ml
  middle_end/flambda2/tests/lib/minicheck/arbitrary.ml
  middle_end/flambda2/tests/lib/minicheck/generator.ml
  middle_end/flambda2/tests/lib/minicheck/runner.ml
  middle_end/flambda2/tests/meet_test.ml
  middle_end/flambda2/tests/mlexamples/camlinternalFormat.ml
  middle_end/flambda2/tests/mlexamples/camlinternalFormat2.ml
  middle_end/flambda2/tests/mlexamples/cif.ml
  middle_end/flambda2/tests/mlexamples/offset.ml
  tools/.ocamlformat
Labels: non-material change

#811 Run the testsuite for the build_upstream 32-bit target
  .github/workflows/build.yml
  Makefile
  configure.ac
Labels: build system

#812 Only add begin/end region primitives for [Ctrywith] when stack allocation is enabled
  backend/selectgen.ml
  ocaml/asmcomp/selectgen.ml
Labels: backend

#814 Fix failed optimisation of let a = b
  middle_end/flambda2/simplify/simplify_named.ml
Labels: bug, flambda2

#817 Fix CI failure in test for -alloc-check
  tests/backend/checkmach/dune
Labels: bug

#771 IRC: stack operands
  backend/amd64/cfg_stack_operands.ml
  backend/amd64/reload.ml
  backend/arm64/cfg_stack_operands.ml
  backend/cfg/cfg_irc.ml
  backend/cfg/cfg_regalloc_utils.ml
  backend/cfg/cfg_regalloc_utils.mli
  backend/cfg/cfg_regalloc_validate.ml
  backend/cfg/cfg_stack_operands.mli
  backend/dune
  dune
Labels: cfg, backend

#787 Use a custom condition variable implementation
  ocaml/otherlibs/systhreads/st_posix.h
Labels: bug, runtime

#780 IRC: re-implement "destroyed" on the CFG representation
  backend/amd64/proc.ml
  backend/arm64/proc.ml
  backend/cfg/cfg_irc.ml
  backend/cfg/cfg_regalloc_utils.ml
  backend/cfg/cfg_regalloc_utils.mli
  backend/cfg/cfg_regalloc_validate.ml
  backend/proc.mli
Labels: cfg, backend

#821 Remove two unused functions in More_type_creators
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/grammar/more_type_creators.ml
  middle_end/flambda2/types/grammar/more_type_creators.mli
Labels: flambda2, non-material change

#829 Fix miscompilation in comballoc for local allocations
  backend/comballoc.ml
Labels: bug, backend

#830 Follow-up PR#829 (comballoc fixes for locals)
  backend/comballoc.ml
  ocaml/asmcomp/comballoc.ml
Labels: backend

#828 IRC & stack operand: bug is registers are spilled during different iterations
  backend/amd64/cfg_stack_operands.ml
Labels: bug, cfg, backend

#835 Regalloc utilities: do not rely on polymorphic max
  backend/cfg/cfg_regalloc_utils.ml
Labels: cfg, non-material change

#837 CFG layout: disable a potentially costly test
  backend/cfg/cfg_with_layout.ml
Labels: cfg

#783 CFG: Simplify liveness computation
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_liveness.ml
Labels: cfg, backend

#827 CFG: Rework dataflow
  backend/cfg/cfg_dataflow.ml
  backend/cfg/cfg_dataflow.mli
  backend/cfg/cfg_liveness.ml
  backend/cfg/cfg_liveness.mli
  backend/cfg/cfg_regalloc_validate.ml
  backend/cfg/eliminate_dead_code.ml
Labels: backend

#834 CFG: Improve the way priority is computed for dataflow analysis
  backend/cfg/cfg_dataflow.ml
Labels: backend

#824 Reduce switch with statically known scrutinee to a single branch in from_lambda
  middle_end/flambda2/classic_mode_types/dune
  middle_end/flambda2/classic_mode_types/value_approximation.ml
  middle_end/flambda2/classic_mode_types/value_approximation.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/types/env/typing_env.ml
Labels: flambda2, flambda2 classic mode

#822 Update hacking-runtest rule
  Makefile
Labels: build system

#838 CFG: Rewrite `Equation_set` for regalloc validation
  backend/cfg/cfg_regalloc_validate.ml
Labels: backend

#842 Improved colour API with nested colour regions
  middle_end/flambda2/bound_identifiers/bound_parameter.ml
  middle_end/flambda2/flambda2.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/identifiers/coercion0.ml
  middle_end/flambda2/identifiers/continuation.ml
  middle_end/flambda2/identifiers/int_ids.ml
  middle_end/flambda2/identifiers/rec_info_expr0.ml
  middle_end/flambda2/identifiers/slot.ml
  middle_end/flambda2/identifiers/slot.mli
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/lattices/or_unknown.ml
  middle_end/flambda2/simplify/env/continuation_uses.ml
  middle_end/flambda2/simplify/simplify_named.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/terms/apply_cont_expr.ml
  middle_end/flambda2/terms/apply_expr.ml
  middle_end/flambda2/terms/call_kind.ml
  middle_end/flambda2/terms/code_metadata.ml
  middle_end/flambda2/terms/exn_continuation.ml
  middle_end/flambda2/terms/field_of_static_block.ml
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/inlining_arguments.ml
  middle_end/flambda2/terms/set_of_closures.ml
  middle_end/flambda2/terms/static_const.ml
  middle_end/flambda2/terms/switch_expr.ml
  middle_end/flambda2/terms/trap_action.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  middle_end/flambda2/types/env/aliases.ml
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/grammar/type_descr.ml
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/ui/flambda_colours.ml
  middle_end/flambda2/ui/flambda_colours.mli
Labels: flambda2

#782 CFG/IRC: liveness cache
  backend/asmgen.ml
  backend/cfg/cfg_deadcode.ml
  backend/cfg/cfg_deadcode.mli
  backend/cfg/cfg_irc.ml
  backend/cfg/cfg_irc.mli
  backend/cfg/cfg_irc_split.ml
  backend/cfg/cfg_irc_split.mli
  backend/cfg/cfg_irc_utils.ml
  backend/cfg/cfg_irc_utils.mli
  backend/cfg/cfg_with_liveness.ml
  backend/cfg/cfg_with_liveness.mli
  dune
Labels: cfg, backend

#775 IRC: work lists as arrays
  backend/cfg/cfg_irc.ml
  backend/cfg/cfg_irc_state.ml
  backend/cfg/cfg_irc_state.mli
  backend/cfg/cfg_irc_utils.ml
  backend/cfg/cfg_irc_utils.mli
Labels: cfg, backend

#847 Fix eliding of inlining arguments during printing
  driver/flambda_backend_args.ml
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  middle_end/flambda2/terms/inlining_arguments.ml
  middle_end/flambda2/ui/flambda_features.ml
  middle_end/flambda2/ui/flambda_features.mli
Labels: flambda2

#848 Fix computation of is_my_closure_used after simplify
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
Labels: flambda2

#843 Make Obj.dup use a new primitive, %obj_dup
  middle_end/convert_primitives.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_extcall.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/grammar/type_grammar.mli
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/types/provers.mli
  middle_end/internal_variable_names.ml
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/translprim.ml
  ocaml/middle_end/convert_primitives.ml
  ocaml/middle_end/internal_variable_names.ml
  ocaml/runtime/obj.c
  ocaml/stdlib/obj.ml
  ocaml/stdlib/obj.mli
Labels: flambda2, middle end

#853 Stop storing unknown function result types
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/terms/code_metadata.ml
  middle_end/flambda2/terms/code_metadata.mli
  middle_end/flambda2/terms/result_types.ml
  middle_end/flambda2/terms/result_types.mli
Labels: flambda2

#850 Fix soundness bug by using currying information from typing
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/lambda/translcore.ml
  ocaml/testsuite/tests/typing-local/alloc.heap.reference
  ocaml/testsuite/tests/typing-local/alloc.ml
  ocaml/testsuite/tests/typing-local/alloc.stack.reference
  ocaml/testsuite/tests/typing-local/curry.ml
  ocaml/testsuite/tests/typing-local/local.ml
  ocaml/typing/btype.ml
  ocaml/typing/btype.mli
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
Labels: bug, typing
