Repository oxcaml/oxcaml, pull requests merged in 2022-07, with the labels that each got.

#706 Slot offsets review, with arity fix
  middle_end/flambda2/cmx/flambda_cmx.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/simplify/env/upwards_acc.ml
  middle_end/flambda2/simplify/simplify.ml
  middle_end/flambda2/simplify_shared/exported_offsets.ml
  middle_end/flambda2/simplify_shared/exported_offsets.mli
  middle_end/flambda2/simplify_shared/slot_offsets.ml
  middle_end/flambda2/simplify_shared/slot_offsets.mli
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
Labels: flambda2

#680 Review of To_cmm_primitive
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/flambda2.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/z3/comparisons.expect-output
  middle_end/flambda2/z3/comparisons.smt2
Labels: flambda2

#687 With frame-pointers, exception handlers should restore RBP
  backend/amd64/emit.mlp
Labels: backport from upstream OCaml

#685 Remove 32-bit target support from To_cmm
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.mli
Labels: flambda2

#703 Extend Pblock value kind to handle variants
  backend/cmmgen.ml
  middle_end/clambda_primitives.ml
  middle_end/clambda_primitives.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/types/grammar/more_type_creators.ml
  middle_end/printclambda.ml
  ocaml/asmcomp/cmmgen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/printlambda.mli
  ocaml/middle_end/clambda_primitives.ml
  ocaml/middle_end/clambda_primitives.mli
  ocaml/middle_end/printclambda.ml
  ocaml/testsuite/tests/basic-modules/anonymous.ocamlc.reference
  ocaml/testsuite/tests/basic-modules/anonymous.ocamlopt.flambda.reference
  ocaml/testsuite/tests/basic-modules/anonymous.ocamlopt.reference
  ocaml/testsuite/tests/basic/patmatch_for_multiple.ml
  ocaml/testsuite/tests/basic/patmatch_split_no_or.ml
  ocaml/testsuite/tests/translprim/comparison_table.compilers.reference
  ocaml/testsuite/tests/translprim/ref_spec.compilers.reference
  ocaml/typing/typeopt.ml
Labels: flambda2, typing

#711 Don't propagate (redundant) recursive equations in meet_env_extension
  middle_end/flambda2/types/meet_and_join.ml
Labels: bug, flambda2

#708 Review of `nominal`
  middle_end/flambda2/algorithms/container_types.ml
  middle_end/flambda2/nominal/name_abstraction.ml
  middle_end/flambda2/nominal/name_abstraction.mli
  middle_end/flambda2/nominal/name_occurrences.ml
  middle_end/flambda2/nominal/name_occurrences.mli
  middle_end/flambda2/nominal/renaming.ml
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/result_types.ml
Labels: flambda2

#714 Tidy up Targetint_31_63 etc.
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/identifiers/int_ids.ml
  middle_end/flambda2/identifiers/int_ids.mli
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/tag.ml
  middle_end/flambda2/numbers/numeric_types.ml
  middle_end/flambda2/numbers/one_bit_fewer.ml
  middle_end/flambda2/numbers/one_bit_fewer.mli
  middle_end/flambda2/numbers/targetint_31_63.ml
  middle_end/flambda2/numbers/targetint_31_63.mli
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/lifting/lifted_constant.ml
  middle_end/flambda2/simplify/number_adjuncts.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/simplify/simplify_variadic_primitive.ml
  middle_end/flambda2/simplify/unboxing/optimistic_unboxing_decision.ml
  middle_end/flambda2/simplify/unboxing/unboxers.ml
  middle_end/flambda2/simplify/unboxing/unboxing_epa.ml
  middle_end/flambda2/term_basics/simple.mli
  middle_end/flambda2/term_basics/string_info.ml
  middle_end/flambda2/term_basics/string_info.mli
  middle_end/flambda2/term_basics/symbol_projection.ml
  middle_end/flambda2/term_basics/symbol_projection.mli
  middle_end/flambda2/term_basics/tag_and_size.ml
  middle_end/flambda2/term_basics/tag_and_size.mli
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/tests/api_tests/extension_meet.ml
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/grammar/more_type_creators.ml
  middle_end/flambda2/types/grammar/more_type_creators.mli
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/types/grammar/type_grammar.mli
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/types/provers.mli
  middle_end/flambda2/types/reify.ml
Labels: flambda2

#717 Rename perm -> renaming
  middle_end/flambda2/bound_identifiers/bound_parameter.ml
  middle_end/flambda2/bound_identifiers/bound_static.ml
  middle_end/flambda2/bound_identifiers/bound_var.ml
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/nominal/name_abstraction.ml
  middle_end/flambda2/nominal/name_occurrences.ml
  middle_end/flambda2/nominal/name_occurrences.mli
  middle_end/flambda2/simplify_shared/inlining_helpers.ml
  middle_end/flambda2/term_basics/rec_info_expr.ml
  middle_end/flambda2/term_basics/simple.ml
  middle_end/flambda2/terms/function_declarations.ml
  middle_end/flambda2/terms/switch_expr.ml
Labels: flambda2, non-material change

#718 Add comment on renaming.mli
  middle_end/flambda2/nominal/renaming.mli
Labels: flambda2, non-material change

#716 Minor tidy-ups in Inlining_transforms and Inlining_helpers
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/simplify/inlining/inlining_transforms.ml
  middle_end/flambda2/simplify_shared/inlining_helpers.ml
  middle_end/flambda2/simplify_shared/inlining_helpers.mli
Labels: flambda2

#719 CSE review: small fixes
  middle_end/flambda2/simplify/common_subexpression_elimination.ml
Labels: flambda2

#723 Minor cleanups related to CRs (including clarification about some arithmetic ops)
  middle_end/flambda2/algorithms/patricia_tree.ml
  middle_end/flambda2/flambda2.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/identifiers/int_ids.ml
  middle_end/flambda2/nominal/name_occurrences.ml
  middle_end/flambda2/nominal/renaming.mli
  middle_end/flambda2/scripts/assemble_rec_modules.sh
  middle_end/flambda2/simplify/env/upwards_acc.mli
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/lifting/lifted_constant.mli
  middle_end/flambda2/simplify/number_adjuncts.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/term_basics/simple.mli
  middle_end/flambda2/terms/cost_metrics.ml
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/terms/mutability.ml
  middle_end/flambda2/terms/mutability.mli
  middle_end/flambda2/terms/set_of_closures.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
Labels: flambda2

#721 Allow lifting of immutable arrays
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/simplify/lifting/reification.ml
  middle_end/flambda2/simplify/rebuilt_static_const.ml
  middle_end/flambda2/simplify/rebuilt_static_const.mli
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_extcall.ml
  middle_end/flambda2/simplify/simplify_static_const.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/simplify/simplify_variadic_primitive.ml
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/static_const.ml
  middle_end/flambda2/terms/static_const.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/grammar/more_type_creators.ml
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/types/grammar/type_grammar.mli
  middle_end/flambda2/types/meet_and_join.ml
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/types/provers.mli
  middle_end/flambda2/types/reify.ml
  middle_end/flambda2/types/reify.mli
Labels: flambda2

#727 Make Static_const.t private
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/simplify/rebuilt_static_const.ml
  middle_end/flambda2/terms/static_const.ml
  middle_end/flambda2/terms/static_const.mli
Labels: flambda2

#730 Classic mode inlining fix
  middle_end/flambda2/classic_mode_types/value_approximation.ml
  middle_end/flambda2/classic_mode_types/value_approximation.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
Labels: flambda2 classic mode

#731 Build ocamlobjinfo as part of the boot compiler
  Makefile
Labels: build system

#733 Classic inlining and continuations continued (exceptions)
  middle_end/flambda2/from_lambda/closure_conversion.ml
Labels: flambda2 classic mode

#735 Fix return mode for eta-expanded function in type_argument
  ocaml/testsuite/tests/typing-local/type_arg_bug.ml
  ocaml/testsuite/tests/typing-local/type_arg_bug.reference
  ocaml/typing/typecore.ml
Labels: typing

#736 Fixes around inlining attributes in Classic mode
  middle_end/flambda2/from_lambda/closure_conversion.ml
Labels: flambda2 classic mode

#738 Backport PR10404 (dataflow analyser), but not the Liveness changes
  backend/dataflow.ml
  backend/dataflow.mli
  dune
Labels: backend, backport from upstream OCaml

#737 Backport first part of ocaml/ocaml PR10498
  backend/cmm_helpers.ml
  ocaml/asmcomp/cmm_helpers.ml
Labels: backend, backport from upstream OCaml

#741 Fix renaming for continuation handlers
  middle_end/flambda2/terms/flambda.ml
Labels: flambda2

#743 PR580 for main branch
  ocaml/runtime/bigarray.c
Labels: runtime

#746 Bugfix for type_application
  ocaml/testsuite/tests/typing-local/local.ml
  ocaml/typing/typecore.ml
Labels: bug, typing
