Repository oxcaml/oxcaml, pull requests merged in 2022-04, with the labels that each got.

#559 Abstract the interface to generate asm code.
  Makefile.in
  backend/asm_targets/.ocamlformat
  backend/asm_targets/asm_directives.ml
  backend/asm_targets/asm_directives.mli
  backend/asm_targets/asm_directives_intf.ml
  backend/asm_targets/asm_label.ml
  backend/asm_targets/asm_label.mli
  backend/asm_targets/asm_section.ml
  backend/asm_targets/asm_section.mli
  backend/asm_targets/asm_symbol.ml
  backend/asm_targets/asm_symbol.mli
  backend/asm_targets/dune
  dune
Labels: dwarf and debugging

#609 Format asm_targets
  Makefile.in
  backend/asm_targets/asm_directives.ml
  backend/asm_targets/asm_directives_intf.ml
  backend/asm_targets/asm_label.ml
  backend/asm_targets/asm_label.mli
  backend/asm_targets/asm_section.mli
  backend/asm_targets/asm_symbol.ml
Labels: dwarf and debugging

#562 Allow CSE of immutable loads across stores #9562 (port upstream PR#9562)
  backend/CSEgen.ml
  backend/CSEgen.mli
  backend/amd64/CSE.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfgize.ml
  backend/cfg/linear_to_cfg.ml
  backend/mach.ml
  backend/mach.mli
  backend/printmach.ml
  backend/schedgen.ml
  backend/selectgen.ml
  backend/selectgen.mli
  ocaml/.depend
  ocaml/asmcomp/CSEgen.ml
  ocaml/asmcomp/CSEgen.mli
  ocaml/asmcomp/amd64/CSE.ml
  ocaml/asmcomp/amd64/emit.mlp
  ocaml/asmcomp/arm/emit.mlp
  ocaml/asmcomp/arm/proc.ml
  ocaml/asmcomp/arm/scheduling.ml
  ocaml/asmcomp/arm64/emit.mlp
  ocaml/asmcomp/arm64/proc.ml
  ocaml/asmcomp/i386/CSE.ml
  ocaml/asmcomp/i386/emit.mlp
  ocaml/asmcomp/i386/selection.ml
  ocaml/asmcomp/mach.ml
  ocaml/asmcomp/mach.mli
  ocaml/asmcomp/power/emit.mlp
  ocaml/asmcomp/power/scheduling.ml
  ocaml/asmcomp/printmach.ml
  ocaml/asmcomp/riscv/emit.mlp
  ocaml/asmcomp/s390x/emit.mlp
  ocaml/asmcomp/s390x/scheduling.ml
  ocaml/asmcomp/schedgen.ml
  ocaml/asmcomp/selectgen.ml
Labels: backend, backport from upstream OCaml

#604 Compiler hooks are compatible with inliner reports
  driver/compiler_hooks.ml
  driver/compiler_hooks.mli
  middle_end/flambda2/flambda2.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify_shared/inlining_report.ml
  middle_end/flambda2/simplify_shared/inlining_report.mli
Labels: driver

#614 Cpp mangling is now a configuration option
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  middle_end/compilenv.ml
  ocaml/Makefile.config.in
  ocaml/configure
  ocaml/configure.ac
  ocaml/utils/Makefile
  ocaml/utils/config.mli
  ocaml/utils/config.mlp
Labels: dwarf and debugging

#608 Fix stack offset in cfg with Istackoffset
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_liveness.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfgize.ml
  backend/cfg/extra_debug.ml
  backend/cfg/linear_to_cfg.ml
  backend/cfg/linear_utils.ml
  backend/debug/compute_ranges.ml
  backend/linear.ml
  backend/linear.mli
  backend/linearize.ml
  backend/printlinear.ml
  backend/proc.mli
Labels: cfg, backend

#615 Compiler flag -reorder-blocks-random for FDO testing
  backend/asmgen.ml
  backend/cfg/cfg_with_layout.ml
  backend/cfg/cfg_with_layout.mli
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
Labels: cfg, backend

#582 Do not run `Merge_straightline_blocks.run` if `simplify_terminators` is false
  backend/cfg/cfgize.ml
Labels: cfg, backend

#613 Import dwarf_high
  backend/debug/dwarf/dwarf_high/assign_abbrevs.ml
  backend/debug/dwarf/dwarf_high/assign_abbrevs.mli
  backend/debug/dwarf/dwarf_high/dune
  backend/debug/dwarf/dwarf_high/dwarf_attribute_helpers.ml
  backend/debug/dwarf/dwarf_high/dwarf_attribute_helpers.mli
  backend/debug/dwarf/dwarf_high/dwarf_name_laundry.ml
  backend/debug/dwarf/dwarf_high/dwarf_name_laundry.mli
  backend/debug/dwarf/dwarf_high/dwarf_world.ml
  backend/debug/dwarf/dwarf_high/dwarf_world.mli
  backend/debug/dwarf/dwarf_high/operator_builder.ml
  backend/debug/dwarf/dwarf_high/operator_builder.mli
  backend/debug/dwarf/dwarf_high/proto_die.ml
  backend/debug/dwarf/dwarf_high/proto_die.mli
  backend/debug/dwarf/dwarf_high/simple_location_description_lang.ml
  backend/debug/dwarf/dwarf_high/simple_location_description_lang.mli
  dune
Labels: dwarf and debugging

#625 Import dwarf_ocaml
  backend/debug/dwarf/dwarf_ocaml/dune
  backend/debug/dwarf/dwarf_ocaml/dwarf.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf.mli
  backend/debug/dwarf/dwarf_ocaml/dwarf_compilation_unit.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_compilation_unit.mli
  backend/debug/dwarf/dwarf_ocaml/dwarf_concrete_instances.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_concrete_instances.mli
  backend/debug/dwarf/dwarf_ocaml/dwarf_state.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_state.mli
  dune
Labels: dwarf and debugging

#629 Use Dwarf_flags.dwarf_format in [offset_into_dwarf_section_label]
  backend/asm_targets/asm_directives.ml
  backend/asm_targets/asm_directives_intf.ml
  backend/debug/dwarf/dwarf_low/dwarf_value.ml
Labels: dwarf and debugging

#628 Emit debugging information
  backend/amd64/emit.mlp
  backend/arm64/emit.mlp
  backend/asmgen.ml
  backend/asmgen.mli
  backend/asmlink.ml
  backend/debug/dwarf/dwarf_flags/dwarf_flags.ml
  backend/debug/dwarf/dwarf_flags/dwarf_flags.mli
  backend/emit.mli
  backend/emitaux.ml
  backend/emitaux.mli
  backend/x86_ast.mli
  backend/x86_binary_emitter.ml
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  dune
  testsuite/tools/Makefile
  testsuite/tools/codegen_main.ml
Labels: dwarf and debugging

#631 Format Cmm_helpers
  backend/.ocamlformat
  backend/.ocamlformat-enable
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
Labels: backend

#623 Add field fun_args to Cfg.t
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfgize.ml
  backend/cfg/linear_to_cfg.ml
Labels: cfg, backend

#611 Clean up algorithms
  middle_end/flambda2/algorithms/container_types.ml
  middle_end/flambda2/algorithms/container_types.mli
  middle_end/flambda2/algorithms/patricia_tree.ml
  middle_end/flambda2/algorithms/strongly_connected_components_flambda2.ml
  middle_end/flambda2/algorithms/strongly_connected_components_flambda2.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/simplify/lifting/lifted_constant_state.ml
  ocaml/utils/strongly_connected_components.ml
  ocaml/utils/strongly_connected_components.mli
Labels: flambda2

#632 Only generate dwarf entries if the line & column looks legitimate
  backend/debug/dwarf/dwarf_high/dwarf_attribute_helpers.ml
  backend/debug/dwarf/dwarf_high/dwarf_attribute_helpers.mli
  backend/debug/dwarf/dwarf_ocaml/dwarf_concrete_instances.ml
Labels: bug, dwarf and debugging
