Repository oxcaml/oxcaml, pull requests merged in 2022-11, with the labels that each got.

#943 Print -dprofile/-dtimings output to stdout like 4.12
  ocaml/driver/compile_common.ml
  ocaml/driver/compmisc.ml
  ocaml/driver/compmisc.mli
  ocaml/driver/maindriver.ml
  ocaml/driver/optmaindriver.ml
Labels: driver

#939 IRC: avoid unnecessary round
  backend/cfg/cfg_irc.ml
Labels: cfg, backend

#947 Fix a bug with mutable unboxing and extra args with New_let_binding
  middle_end/flambda2/simplify/flow/mutable_unboxing.ml
  middle_end/flambda2/tests/ref_to_var/unboxing_cse.ml
Labels: bug, flambda2

#948 Fix include functor issue after 4.14 merge.
  ocaml/testsuite/tests/typing-modules/include_functor.ml
  ocaml/typing/typemod.ml
Labels: typing

#962 Fix array out of bounds in csel (amd64 reload)
  backend/amd64/reload.ml
Labels: bug, backend

#970 Fix split_default_wrapper which did not trigger anymore with flambda2
  ocaml/lambda/simplif.ml
Labels: flambda2

#891 Only load the parts of .cmx files that are needed
  Makefile
  dune
  file_formats/cmx_format.mli
  middle_end/compilenv.ml
  middle_end/flambda2/cmx/dune
  middle_end/flambda2/cmx/exported_code.ml
  middle_end/flambda2/cmx/exported_code.mli
  middle_end/flambda2/cmx/flambda_cmx_format.ml
  middle_end/flambda2/cmx/flambda_cmx_format.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/simplify/inlining/inlining_transforms.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_set_of_closures_context.ml
  middle_end/flambda2/terms/code.ml
  middle_end/flambda2/terms/code.mli
  middle_end/flambda2/terms/code0.ml
  middle_end/flambda2/terms/code0.mli
  middle_end/flambda2/terms/code_or_metadata.ml
  middle_end/flambda2/terms/code_or_metadata.mli
  middle_end/flambda2/terms/dune
  utils/.ocamlformat
  utils/dune
  utils/file_sections.ml
  utils/file_sections.mli
  utils/lru.ml
  utils/lru.mli
Labels: flambda2

#966 Fix failure of alias analysis when aliasing one of my_closure, my_region or my_depth
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_common.mli
  middle_end/flambda2/simplify/simplify_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/tests/ref_to_var/alias_my_closure.ml
Labels: flambda2

#961 Resimplify functions that benefited from mutable unboxing
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  middle_end/flambda2/simplify/env/upwards_acc.ml
  middle_end/flambda2/simplify/env/upwards_acc.mli
  middle_end/flambda2/simplify/rebuilt_static_const.ml
  middle_end/flambda2/simplify/rebuilt_static_const.mli
  middle_end/flambda2/simplify/simplify_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/ui/flambda_features.ml
  middle_end/flambda2/ui/flambda_features.mli
Labels: flambda2

#980 Fix invocation of `caml_shared_startup` in native dynlink
  ocaml/otherlibs/dynlink/dynlink.ml
Labels: bug

#985 Fix Flambda_kind.With_subkind.compatible for mismatched kinds
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/types/grammar/type_grammar.ml
Labels: flambda2

#986 Fix wrong stub attributes
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
Labels: flambda2

#991 Better handling of mutable prim free names in flow analysis
  middle_end/flambda2/simplify/flow/data_flow_graph.ml
  middle_end/flambda2/simplify/flow/flow_acc.ml
  middle_end/flambda2/simplify/flow/flow_analysis.ml
  middle_end/flambda2/simplify/flow/flow_types.ml
  middle_end/flambda2/simplify/flow/flow_types.mli
  middle_end/flambda2/simplify/flow/mutable_unboxing.ml
  middle_end/flambda2/simplify/flow/mutable_unboxing.mli
Labels: flambda2

#989 Link try-regions to parents
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
Labels: bug, flambda2

#994 Fix code_or_metadata missing renaming in some cases
  middle_end/flambda2/terms/code_or_metadata.ml
Labels: bug, flambda2

#997 Fix for spurious typing error related to expanding through functor arguments
  ocaml/testsuite/tests/typing-modules/functors.ml
  ocaml/typing/env.ml
  ocaml/typing/env.mli
  ocaml/typing/mtype.ml
Labels: typing

#998 Prefetch value with offset builtins
  backend/cmm_helpers.ml
Labels: backend
