Repository oxcaml/oxcaml, pull requests merged in 2022-03, with the labels that each got.

#566 Elide inlining history when printing flambda2 terms
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  middle_end/flambda2/terms/apply_expr.ml
  middle_end/flambda2/terms/code_metadata.ml
Labels: flambda2, flambda2 beta

#572 Install Flambda 2 .cmi, .cmti and .cmt files
  Makefile.in
Labels: flambda2, build system, flambda2 beta

#570 Handle arithmetic overflow in select_addr
  backend/amd64/selection.ml
  ocaml/testsuite/tests/asmcomp/select_addr.ml
  ocaml/testsuite/tests/asmcomp/select_addr.reference
Labels: bug, to upstream, backend, flambda2 beta

#560 Add two new methods to targetint for dwarf
  ocaml/.depend
  ocaml/utils/targetint.ml
  ocaml/utils/targetint.mli
Labels: dwarf and debugging

#573 Move Compiler_hooks.Cmm to end_gen_implementation0
  backend/asmgen.ml
Labels: bug, flambda2, backend, flambda2 beta

#569 Track GC work for all managed bigarray allocations
  ocaml/runtime/bigarray.c
Labels: 4.12.0-8

#574 Add keep-invalid-handlers flag
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  middle_end/flambda2/simplify/rebuilt_expr.ml
  middle_end/flambda2/ui/flambda_features.ml
  middle_end/flambda2/ui/flambda_features.mli
Labels: flambda2, flambda2 beta

#547 Liveness analysis using dataflow (bis)
  backend/amd64/arch.ml
  backend/arm64/arch.ml
  backend/asmgen.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_dataflow.ml
  backend/cfg/cfg_dataflow.mli
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_liveness.ml
  backend/cfg/cfg_liveness.mli
  backend/cfg/cfgize.ml
  dune
Labels: cfg, backend, 4.12.0-8

#564 Inlined boxes
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
Labels: flambda2, flambda2 beta

#466 Change Float.nan from sNaN to qNaN
  middle_end/flambda2/tests/mlexamples/array.ml
  middle_end/flambda2/tests/mlexamples/buffer.ml
  middle_end/flambda2/tests/mlexamples/camlinternalFormat.ml
  middle_end/flambda2/tests/mlexamples/camlinternalFormat2.ml
  middle_end/flambda2/tests/mlexamples/camlinternalLazy.ml
  middle_end/flambda2/tests/mlexamples/cif.ml
  middle_end/flambda2/tests/mlexamples/digest.ml
  middle_end/flambda2/tests/mlexamples/float.ml
  middle_end/flambda2/tests/mlexamples/hashtbl.ml
  middle_end/flambda2/tests/mlexamples/int32.ml
  middle_end/flambda2/tests/mlexamples/int64.ml
  middle_end/flambda2/tests/mlexamples/lazy.ml
  middle_end/flambda2/tests/mlexamples/m2.ml
  middle_end/flambda2/tests/mlexamples/marshal.ml
  middle_end/flambda2/tests/mlexamples/nan.ml
  middle_end/flambda2/tests/mlexamples/nativeint.ml
  middle_end/flambda2/tests/mlexamples/obj.ml
  middle_end/flambda2/tests/mlexamples/printexc.ml
  middle_end/flambda2/tests/mlexamples/random.ml
  ocaml/stdlib/float.ml
  ocaml/stdlib/float.mli
  ocaml/stdlib/stdlib.ml
  ocaml/stdlib/stdlib.mli
  ocaml/stdlib/templates/float.template.mli
Labels: 4.12.0-8

#526 Native toplevel fixes from mdx+jit work
  native_toplevel/opttoploop.ml
Labels: bug, toplevel

#575 Increase max inlining depth at -O3
  driver/flambda_backend_flags.ml
Labels: flambda2, flambda2 beta

#576 Renamed use-cpp-mangling to gcpp-mangling in ocamlparam
  driver/flambda_backend_args.ml
Labels: 4.12.0-8

#164 Grouping symbols for closures and code, and closure projection substitution
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
Labels: flambda2, flambda2 classic mode

#577 Dataflow refactoring
  backend/asmgen.ml
  backend/cfg/cfg_dataflow.ml
  backend/cfg/cfg_dataflow.mli
  backend/cfg/cfg_liveness.ml
  backend/cfg/cfg_liveness.mli
Labels: cfg, backend

#424 Refined call conventions in Closure_conversion
  middle_end/flambda2/classic_mode_types/value_approximation.ml
  middle_end/flambda2/classic_mode_types/value_approximation.mli
  middle_end/flambda2/cmx/flambda_cmx.ml
  middle_end/flambda2/cmx/flambda_cmx.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/flambda2_types.ml
  middle_end/flambda2/types/flambda2_types.mli
Labels: flambda2, flambda2 classic mode

#571 Factorize cmx preparation between classic mode and simplify
  middle_end/flambda2/classic_mode_types/dune
  middle_end/flambda2/classic_mode_types/value_approximation.ml
  middle_end/flambda2/classic_mode_types/value_approximation.mli
  middle_end/flambda2/cmx/flambda_cmx.ml
  middle_end/flambda2/cmx/flambda_cmx.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
Labels: flambda2, flambda2 classic mode

#439 Lift symbol uses from block loads using approximations
  middle_end/flambda2/classic_mode_types/value_approximation.ml
  middle_end/flambda2/classic_mode_types/value_approximation.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.ml
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/flambda2_types.ml
Labels: flambda2, flambda2 classic mode

#563 Improve code-generation for inlined comparisons (port upstream PR#10228)
  backend/cmmgen.ml
  ocaml/asmcomp/cmmgen.ml
Labels: backend, backport from upstream OCaml

#557 Simplify processing and remove dead code (error paths) in asmlink (port upstream PR#9943)
  backend/asmlink.ml
  ocaml/asmcomp/asmlink.ml
Labels: backend, backport from upstream OCaml

#584 Backport sigaltstack fix from trunk
  ocaml/runtime/caml/signals.h
  ocaml/runtime/signals_byt.c
  ocaml/runtime/signals_nat.c
Labels: bug, runtime, backport from upstream OCaml

#588 Fix printing of unary negation
  middle_end/flambda2/terms/flambda_primitive.ml
Labels: flambda2

#583 Do not track approximations for continuations used in Apply
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
Labels: bug, flambda2 classic mode

#586 Switch the implementation of out of bounds
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.ml
Labels: bug, flambda2

#590 Update float operations effects and coeffects to respects the float_const_prop flag
  middle_end/flambda2/terms/flambda_primitive.ml
Labels: bug, flambda2

#581 Track all occurrences of closure vars and closure ids in Name_occurrences
  middle_end/flambda2/classic_mode_types/value_approximation.ml
  middle_end/flambda2/cmx/flambda_cmx.ml
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/nominal/name_occurrences.ml
  middle_end/flambda2/nominal/name_occurrences.mli
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/simplify/env/downwards_acc.ml
  middle_end/flambda2/simplify/simplify.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify_shared/closure_offsets.ml
  middle_end/flambda2/simplify_shared/closure_offsets.mli
  middle_end/flambda2/term_basics/symbol_projection.ml
  middle_end/flambda2/terms/call_kind.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/function_declarations.ml
  middle_end/flambda2/terms/set_of_closures.ml
  middle_end/flambda2/types/grammar/set_of_closures_contents.ml
  middle_end/flambda2/types/grammar/type_grammar.ml
Labels: flambda2 classic mode

#593 Small fixes to Table_by_int_id
  middle_end/flambda2/algorithms/table_by_int_id.ml
  middle_end/flambda2/algorithms/table_by_int_id.mli
Labels: flambda2

#595 Replace Code_id.code_symbol with Code_id.linkage_name
  middle_end/flambda2/identifiers/reg_width_things.ml
  middle_end/flambda2/identifiers/reg_width_things.mli
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_static.ml
Labels: flambda2

#599 Remove unused Flambda 2 source files
  middle_end/flambda2/identifiers/closure_origin.ml
  middle_end/flambda2/identifiers/closure_origin.mli
  middle_end/flambda2/identifiers/set_of_closures_origin.ml
  middle_end/flambda2/identifiers/set_of_closures_origin.mli
  middle_end/flambda2/term_basics/function_and_value_slot_set.ml
  middle_end/flambda2/term_basics/function_and_value_slot_set.mli
  middle_end/flambda2/term_basics/function_or_unknown_and_value_slot_set.ml
  middle_end/flambda2/term_basics/function_or_unknown_and_value_slot_set.mli
  middle_end/flambda2/term_basics/function_slot_set.ml
  middle_end/flambda2/term_basics/function_slot_set.mli
  middle_end/flambda2/term_basics/tag_or_unknown_and_size.ml
  middle_end/flambda2/term_basics/tag_or_unknown_and_size.mli
  middle_end/flambda2/terms/num_continuation_uses.ml
  middle_end/flambda2/terms/num_continuation_uses.mli
Labels: flambda2

#592 Refactoring of Lambda_to_flambda_primitives
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_conversions.ml
  middle_end/flambda2/from_lambda/lambda_conversions.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.mli
Labels: flambda2

#598 Remove and dispatch Lambda_conversions
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_conversions.ml
  middle_end/flambda2/from_lambda/lambda_conversions.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  middle_end/flambda2/term_basics/alloc_mode.ml
  middle_end/flambda2/term_basics/alloc_mode.mli
  middle_end/flambda2/terms/call_kind.ml
  middle_end/flambda2/terms/call_kind.mli
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/terms/inline_attribute.ml
  middle_end/flambda2/terms/inline_attribute.mli
  middle_end/flambda2/terms/inlined_attribute.ml
  middle_end/flambda2/terms/inlined_attribute.mli
  middle_end/flambda2/terms/mutability.ml
  middle_end/flambda2/terms/mutability.mli
  middle_end/flambda2/terms/trap_action.ml
  middle_end/flambda2/terms/trap_action.mli
Labels: flambda2

#597 Review of kinds/ directory; add tagging+untagging primitives
  middle_end/flambda2/bound_identifiers/bound_parameters.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/kinds/flambda_arity.ml
  middle_end/flambda2/kinds/flambda_arity.mli
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  middle_end/flambda2/kinds/tag.ml
  middle_end/flambda2/kinds/tag.mli
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/simplify/continuation_in_env.ml
  middle_end/flambda2/simplify/env/continuation_uses.ml
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/number_adjuncts.ml
  middle_end/flambda2/simplify/number_adjuncts.mli
  middle_end/flambda2/simplify/simplify.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_expr.ml
  middle_end/flambda2/simplify/simplify_extcall.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/simplify/unboxing/unboxers.ml
  middle_end/flambda2/simplify_shared/inlining_helpers.ml
  middle_end/flambda2/simplify_shared/slot_offsets.ml
  middle_end/flambda2/terms/apply_expr.ml
  middle_end/flambda2/terms/call_kind.ml
  middle_end/flambda2/terms/code_metadata.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/exn_continuation.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/terms/result_types.ml
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_helper.ml
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/grammar/more_type_creators.ml
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/types/provers.mli
  middle_end/flambda2/types/reify.ml
Labels: flambda2

#600 Remove function_slot from Call_kind
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/terms/call_kind.ml
  middle_end/flambda2/terms/call_kind.mli
  middle_end/flambda2/to_cmm/to_cmm.ml
Labels: flambda2
