Repository oxcaml/oxcaml, pull requests merged in 2023-01, with the labels that each got.

#1046 Fix ocamlobjinfo for cmx files and a bug with section handling
  middle_end/compilenv.ml
  tools/flambda_backend_objinfo.ml
  utils/file_sections.ml
Labels: bug, flambda2

#1047 Ensure that arms are merged iff the common alias is in required_names
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/types/flambda2_types.mli
Labels: bug, flambda2

#1053 Fix extern_closure_up_to_env
  ocaml/runtime/extern.c
Labels: bug

#1039 Check for -save-ir-after simplify_cfg without -ocamlcfg flag
  backend/asmgen.ml
Labels: bug, cfg, backend

#1041 Bypass linearize with -ocamlcfg flag
  backend/asmgen.ml
Labels: cfg, backend

#975 Make [Invalid] take a structured form for invalid terms
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_expr.ml
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
Labels: flambda2

#1056 Approximate integer constants
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
Labels: flambda2 classic mode

#979 Bump inlining threshold in classic mode
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
Labels: flambda2 classic mode

#1065 Fix inlined debuginfo on primitives
  middle_end/flambda2/simplify/simplify_named.ml
  middle_end/flambda2/simplify/simplify_switch_expr.ml
Labels: bug, flambda2

#1055 Move symbol approximations to Acc in From_lambda
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
Labels: flambda2 classic mode

#968 Refactor of simplify-let-cont
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/apply_cont_rewrite.ml
  middle_end/flambda2/simplify/apply_cont_rewrite.mli
  middle_end/flambda2/simplify/continuation_extra_params_and_args.ml
  middle_end/flambda2/simplify/continuation_extra_params_and_args.mli
  middle_end/flambda2/simplify/env/continuation_uses.ml
  middle_end/flambda2/simplify/env/continuation_uses.mli
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
  middle_end/flambda2/simplify/env/upwards_env.ml
  middle_end/flambda2/simplify/env/upwards_env.mli
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/join_points.ml
  middle_end/flambda2/simplify/join_points.mli
  middle_end/flambda2/simplify/rebuilt_expr.ml
  middle_end/flambda2/simplify/rebuilt_expr.mli
  middle_end/flambda2/simplify/simplify.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_common.mli
  middle_end/flambda2/simplify/simplify_expr.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/unboxing/optimistic_unboxing_decision.ml
  middle_end/flambda2/simplify/unboxing/optimistic_unboxing_decision.mli
  middle_end/flambda2/simplify/unboxing/unbox_continuation_params.ml
  middle_end/flambda2/simplify/unboxing/unbox_continuation_params.mli
  middle_end/flambda2/simplify/unboxing/unboxing_epa.ml
  middle_end/flambda2/simplify/unboxing/unboxing_types.ml
  middle_end/flambda2/simplify/unboxing/unboxing_types.mli
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
Labels: flambda2

#1067 Reduce inlining depth change when inlining small functions and stubs
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
Labels: flambda2

#1066 Relax inlining depth limit slightly
  middle_end/flambda2/ui/flambda_features.ml
Labels: flambda2

#1026 Refactor handling of -internal-assembler flag
  backend/amd64/emit.mlp
  backend/arm64/emit.mlp
  backend/asmgen.ml
  backend/asmgen.mli
  backend/asmlink.ml
  backend/asmlink.mli
  backend/emit.mli
  driver/optcompile.ml
  driver/optmaindriver.ml
  native_toplevel/opttopdirs.ml
  testsuite/tools/codegen_main.ml
Labels: bug, backend, internal-assembler

#1027 Remove field Linear.fun_end_label
  backend/amd64/emit.mlp
  backend/arm64/emit.mlp
  backend/asmgen.ml
  backend/asmgen.mli
  backend/asmlink.ml
  backend/cfg/cfg_to_linear.ml
  backend/emit.mli
  backend/emitaux.ml
  backend/emitaux.mli
  backend/linear.ml
  backend/linear.mli
  backend/linearize.ml
  backend/schedgen.ml
  testsuite/tools/codegen_main.ml
Labels: backend, dwarf and debugging

#1072 Save cfg after cfg-simplify when compiling with IRC
  backend/asmgen.ml
Labels: cfg, backend

#944 IRC: use unsafe operations in worksets
  backend/cfg/cfg_irc_utils.ml
Labels: cfg, backend

#1073 Fix simplify_switch_expr sometimes producing names not in required_names
  middle_end/flambda2/simplify/simplify_switch_expr.ml
Labels: bug, flambda2

#945 IRC: ignore probes when counting register uses
  backend/cfg/cfg_regalloc_utils.ml
Labels: cfg, backend

#1076 Rework merge straightline code
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_with_layout.ml
  backend/cfg/cfg_with_layout.mli
  backend/cfg/eliminate_dead_code.ml
  backend/cfg/merge_straightline_blocks.ml
Labels: cfg, backend

#934 inline fast path of caml_applyN
  backend/cmm_helpers.ml
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  ocaml/dune
Labels: backend

#897 CFG: Doubly linked lists for instruction lists.
  backend/cfg/cfg.ml
  backend/cfg/tests/check_regalloc_validation.ml
Labels: cfg, backend

#1074 Refactor of simplify-let-cont
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/apply_cont_rewrite.ml
  middle_end/flambda2/simplify/apply_cont_rewrite.mli
  middle_end/flambda2/simplify/continuation_extra_params_and_args.ml
  middle_end/flambda2/simplify/continuation_extra_params_and_args.mli
  middle_end/flambda2/simplify/env/continuation_uses.ml
  middle_end/flambda2/simplify/env/continuation_uses.mli
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
  middle_end/flambda2/simplify/env/upwards_env.ml
  middle_end/flambda2/simplify/env/upwards_env.mli
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/join_points.ml
  middle_end/flambda2/simplify/join_points.mli
  middle_end/flambda2/simplify/rebuilt_expr.ml
  middle_end/flambda2/simplify/rebuilt_expr.mli
  middle_end/flambda2/simplify/simplify.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_common.mli
  middle_end/flambda2/simplify/simplify_expr.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/unboxing/optimistic_unboxing_decision.ml
  middle_end/flambda2/simplify/unboxing/optimistic_unboxing_decision.mli
  middle_end/flambda2/simplify/unboxing/unbox_continuation_params.ml
  middle_end/flambda2/simplify/unboxing/unbox_continuation_params.mli
  middle_end/flambda2/simplify/unboxing/unboxing_epa.ml
  middle_end/flambda2/simplify/unboxing/unboxing_types.ml
  middle_end/flambda2/simplify/unboxing/unboxing_types.mli
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
Labels: flambda2

#1088 CFG: tweak the representation of instruction lists
  backend/cfg/cfg.ml
Labels: cfg

#1080 IRC: loop infos and better spilling heuristics
  backend/cfg/cfg_irc.ml
  backend/cfg/cfg_irc_utils.ml
  backend/cfg/cfg_irc_utils.mli
  backend/cfg/cfg_loop_infos.ml
  backend/cfg/cfg_loop_infos.mli
  backend/cfg/cfg_regalloc_utils.ml
  backend/cfg/cfg_regalloc_utils.mli
  dune
Labels: cfg, backend

#895 Restructure LIBDIR: Move Dynlink, Str and Unix to sub-directories (port PR#11198)
  native_toplevel/opttoploop.ml
  ocaml/.depend
  ocaml/Makefile.common-jst
  ocaml/compilerlibs/Makefile.compilerlibs
  ocaml/debugger/.depend
  ocaml/debugger/command_line.ml
  ocaml/debugger/main.ml
  ocaml/debugger/program_management.ml
  ocaml/driver/compenv.ml
  ocaml/driver/compmisc.ml
  ocaml/driver/compmisc.mli
  ocaml/driver/main_args.ml
  ocaml/driver/main_args.mli
  ocaml/otherlibs/Makefile.otherlibs.common
  ocaml/otherlibs/bigarray/dune
  ocaml/otherlibs/dynlink/Makefile
  ocaml/otherlibs/dynlink/dune
  ocaml/otherlibs/str/dune
  ocaml/otherlibs/unix/dune
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/location.ml
  ocaml/parsing/location.mli
  ocaml/tools/Makefile
  ocaml/toplevel/topcommon.ml
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
  ocaml/utils/load_path.ml
  ocaml/utils/load_path.mli
  ocaml/utils/warnings.ml
  ocaml/utils/warnings.mli
Labels: build system

#1095 IRC: more metrics
  backend/cfg/cfg_irc.ml
  backend/cfg/cfg_with_liveness.ml
Labels: cfg, backend
