Repository oxcaml/oxcaml, pull requests merged in 2023-04, with the labels that each got.

#1252 Add debug option for flambda2
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  middle_end/flambda2/identifiers/continuation.ml
  middle_end/flambda2/simplify/simplify_import.ml
  middle_end/flambda2/simplify/simplify_import.mli
  middle_end/flambda2/ui/flambda_features.ml
  middle_end/flambda2/ui/flambda_features.mli
Labels: flambda2

#1282 Fix all the no-naked-pointers problems
  ocaml/.github/workflows/build.yml
  ocaml/runtime/caml/intext.h
  ocaml/runtime/extern.c
  ocaml/runtime/freelist.c
  ocaml/runtime/gc_ctrl.c
  ocaml/runtime/intern.c
  ocaml/runtime/major_gc.c
  ocaml/runtime/memory.c
Labels: bug

#1286 Fix closure marshalling when not in NNP mode
  ocaml/runtime/extern.c
Labels: bug

#1287 Re-enable parallel build of the runtime
  ocaml/dune
  ocaml/runtime/dune
Labels: build system

#1292 CFG: relax register allocation postcondition
  backend/cfg/cfg_regalloc_utils.ml
Labels: bug, cfg, backend

#1206 IRC: fix for frame pointers
  .github/workflows/build.yml
  backend/cfg/cfg_irc.ml
  backend/cfg/cfg_irc_utils.ml
Labels: bug, cfg, backend

#1293 zero_alloc: improve error message
  backend/checkmach.ml
  tests/backend/checkmach/dune
  tests/backend/checkmach/fail1.output
  tests/backend/checkmach/fail10.output
  tests/backend/checkmach/fail11.output
  tests/backend/checkmach/fail12.ml
  tests/backend/checkmach/fail12.output
  tests/backend/checkmach/fail2.output
  tests/backend/checkmach/fail3.output
  tests/backend/checkmach/fail4.output
  tests/backend/checkmach/fail5.output
  tests/backend/checkmach/fail6.output
  tests/backend/checkmach/fail7.output
  tests/backend/checkmach/fail8.output
  tests/backend/checkmach/fail9.output
  tests/backend/checkmach/filter.sh
  tests/backend/checkmach/test_attribute_error_duplicate.output
Labels: backend

#1268 Backend changes for multiple returns
  backend/amd64/proc.ml
  backend/arm64/proc.ml
  backend/cfg/tests/check_regalloc_validation.ml
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/proc.mli
  backend/selectgen.ml
  ocaml/asmcomp/amd64/proc.ml
  ocaml/asmcomp/arm/proc.ml
  ocaml/asmcomp/arm64/proc.ml
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/asmcomp/cmm_helpers.mli
  ocaml/asmcomp/i386/proc.ml
  ocaml/asmcomp/power/proc.ml
  ocaml/asmcomp/proc.mli
  ocaml/asmcomp/riscv/proc.ml
  ocaml/asmcomp/s390x/proc.ml
  ocaml/asmcomp/selectgen.ml
Labels: backend, unboxed types

#1299 Fix stack operands for `lea` (CFG)
  backend/amd64/cfg_stack_operands.ml
Labels: bug, cfg, backend

#1007 Port linscan to CFG
  .github/workflows/build.yml
  backend/amd64/cfg_stack_operands.ml
  backend/arm64/cfg_stack_operands.ml
  backend/asmgen.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_irc.ml
  backend/cfg/cfg_irc_state.ml
  backend/cfg/cfg_irc_state.mli
  backend/cfg/cfg_irc_utils.ml
  backend/cfg/cfg_irc_utils.mli
  backend/cfg/cfg_ls.ml
  backend/cfg/cfg_ls.mli
  backend/cfg/cfg_ls_state.ml
  backend/cfg/cfg_ls_state.mli
  backend/cfg/cfg_ls_utils.ml
  backend/cfg/cfg_ls_utils.mli
  backend/cfg/cfg_regalloc_rewrite.ml
  backend/cfg/cfg_regalloc_rewrite.mli
  backend/cfg/cfg_regalloc_utils.ml
  backend/cfg/cfg_regalloc_utils.mli
  backend/cfg/cfg_regalloc_validate.ml
  backend/cfg/cfg_regalloc_validate.mli
  backend/cfg/cfg_with_layout.ml
  backend/cfg/cfgize.ml
  backend/cfg/linear_to_cfg.ml
  backend/cfg/tests/check_regalloc_validation.ml
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  dune
Labels: cfg, backend

#1091 Cmm.value_kind cleanup
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/cmmgen.ml
  backend/strmatch.ml
  backend/strmatch.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  ocaml/asmcomp/cmm.ml
  ocaml/asmcomp/cmm.mli
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/asmcomp/cmm_helpers.mli
  ocaml/asmcomp/cmmgen.ml
  ocaml/asmcomp/selectgen.ml
  ocaml/asmcomp/strmatch.ml
  ocaml/asmcomp/strmatch.mli
  ocaml/testsuite/tools/parsecmm.mly
  ocaml/testsuite/tools/parsecmmaux.ml
  ocaml/testsuite/tools/parsecmmaux.mli
  testsuite/tools/parsecmm.mly
  testsuite/tools/parsecmmaux.ml
  testsuite/tools/parsecmmaux.mli
Labels: backend

#1290 Miscellaneous speedups for IRC/LS (CFG)
  .github/workflows/build.yml
  backend/amd64/cfg_stack_operands.ml
  backend/arm64/cfg_stack_operands.ml
  backend/asmgen.ml
  backend/cfg/cfg_irc.ml
  backend/cfg/cfg_regalloc_rewrite.ml
  backend/cfg/cfg_regalloc_utils.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfg_with_liveness.ml
  backend/cfg/cfgize.ml
  driver/flambda_backend_flags.ml
Labels: cfg, backend

#1306 Move/rename the modules related to register allocation
  backend/.ocamlformat-enable
  backend/amd64/regalloc_stack_operands.ml
  backend/arm64/regalloc_stack_operands.ml
  backend/asmgen.ml
  backend/cfg/cfg_deadcode.ml
  backend/cfg/cfg_irc_split.mli
  backend/cfg/cfg_with_liveness.ml
  backend/cfg/cfg_with_liveness.mli
  backend/dune
  backend/regalloc/regalloc_irc.ml
  backend/regalloc/regalloc_irc.mli
  backend/regalloc/regalloc_irc_split.ml
  backend/regalloc/regalloc_irc_split.mli
  backend/regalloc/regalloc_irc_state.ml
  backend/regalloc/regalloc_irc_state.mli
  backend/regalloc/regalloc_irc_utils.ml
  backend/regalloc/regalloc_irc_utils.mli
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_ls.mli
  backend/regalloc/regalloc_ls_state.ml
  backend/regalloc/regalloc_ls_state.mli
  backend/regalloc/regalloc_ls_utils.ml
  backend/regalloc/regalloc_ls_utils.mli
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_rewrite.mli
  backend/regalloc/regalloc_stack_operands.mli
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
  backend/regalloc/regalloc_validate.ml
  backend/regalloc/regalloc_validate.mli
  dune
  tests/backend/regalloc_validator/check_regalloc_validation.ml
  tests/backend/regalloc_validator/check_regalloc_validation.mli
  tests/backend/regalloc_validator/dune
Labels: cfg, backend, non-material change

#1270 Loopify & unrolling
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify_shared/call_site_inlining_decision_type.ml
  middle_end/flambda2/simplify_shared/call_site_inlining_decision_type.mli
Labels: flambda2

#1228 Change Includemod to work on lazy modtypes
  ocaml/typing/env.ml
  ocaml/typing/env.mli
  ocaml/typing/envaux.ml
  ocaml/typing/includemod.ml
  ocaml/typing/mtype.mli
  ocaml/typing/subst.ml
  ocaml/typing/subst.mli
  ocaml/typing/types.ml
  ocaml/typing/types.mli
Labels: typing, compilation speed

#1281 Remove global state for typechecking patterns
  ocaml/typing/typeclass.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
Labels: to upstream

#1311 Flambda_kind: put kind & subkind inside Variants
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/types/grammar/more_type_creators.ml
Labels: flambda2

#1310 to_cmm & flow patches for multiple returns in flambda2
  middle_end/flambda2/simplify/flow/flow.mli
  middle_end/flambda2/simplify/flow/flow_acc.ml
  middle_end/flambda2/simplify/flow/flow_acc.mli
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
Labels: flambda2, unboxed types

#819 Add missing Queue.push in Data_flow
  middle_end/flambda2/simplify/flow/data_flow_graph.ml
Labels: flambda2

#1241 Remove Flambda_arity.With_subkinds
  middle_end/flambda2/bound_identifiers/bound_parameters.ml
  middle_end/flambda2/bound_identifiers/bound_parameters.mli
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/kinds/flambda_arity.ml
  middle_end/flambda2/kinds/flambda_arity.mli
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/apply_cont_rewrite.ml
  middle_end/flambda2/simplify/apply_cont_rewrite.mli
  middle_end/flambda2/simplify/continuation_in_env.ml
  middle_end/flambda2/simplify/continuation_in_env.mli
  middle_end/flambda2/simplify/env/continuation_uses.ml
  middle_end/flambda2/simplify/env/upwards_env.ml
  middle_end/flambda2/simplify/env/upwards_env.mli
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/expr_builder.mli
  middle_end/flambda2/simplify/flow/flow.mli
  middle_end/flambda2/simplify/flow/flow_acc.ml
  middle_end/flambda2/simplify/flow/flow_acc.mli
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.mli
  middle_end/flambda2/simplify/simplify.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_common.mli
  middle_end/flambda2/simplify/simplify_expr.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/simplify_shared/inlining_helpers.ml
  middle_end/flambda2/simplify_shared/inlining_helpers.mli
  middle_end/flambda2/simplify_shared/slot_offsets.ml
  middle_end/flambda2/terms/apply_expr.ml
  middle_end/flambda2/terms/apply_expr.mli
  middle_end/flambda2/terms/code_metadata.ml
  middle_end/flambda2/terms/code_metadata.mli
  middle_end/flambda2/terms/exn_continuation.ml
  middle_end/flambda2/terms/exn_continuation.mli
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.mli
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/grammar/more_type_creators.ml
  middle_end/flambda2/types/grammar/more_type_creators.mli
Labels: flambda2, unboxed types

#1312 Merge Types.* and Subst.Lazy.* types
  ocaml/typing/env.ml
  ocaml/typing/env.mli
  ocaml/typing/includemod.ml
  ocaml/typing/mtype.ml
  ocaml/typing/mtype.mli
  ocaml/typing/subst.ml
  ocaml/typing/subst.mli
  ocaml/typing/types.ml
  ocaml/typing/types.mli
Labels: typing

#1259 Still more fexpr fixes
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_lex.ml
  middle_end/flambda2/parser/flambda_lex.mll
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mli
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/tests/mlexamples/dune
  middle_end/flambda2/tests/mlexamples/generated-rules.inc
  middle_end/flambda2/tests/mlexamples/local.flt
  middle_end/flambda2/tests/mlexamples/local_in.fl
  middle_end/flambda2/tests/mlexamples/local_out.fl
  middle_end/flambda2/tests/mlexamples/tests11.flt
  middle_end/flambda2/tests/mlexamples/tests11.ml
  middle_end/flambda2/tests/mlexamples/tests11_in.fl
  middle_end/flambda2/tests/mlexamples/tests11_out.fl
  middle_end/flambda2/tests/mlexamples/tests15.flt
  middle_end/flambda2/tests/mlexamples/tests15.ml
  middle_end/flambda2/tests/mlexamples/tests15_in.fl
  middle_end/flambda2/tests/mlexamples/tests15_out.fl
  middle_end/flambda2/tests/mlexamples/tests7.flt
  middle_end/flambda2/tests/mlexamples/tests7_in.fl
  middle_end/flambda2/tests/mlexamples/tests7_out.fl
Labels: flambda2

#1328 Split long strings when emitting assembly
  backend/x86_gas.ml
  backend/x86_proc.ml
  backend/x86_proc.mli
Labels: backend, compilation speed

#1222 Speed up linking by shrinking symbol and relocation tables
  backend/afl_instrument.ml
  backend/amd64/arch.ml
  backend/amd64/emit.mlp
  backend/amd64/selection.ml
  backend/arm64/emit.mlp
  backend/arm64/selection.ml
  backend/asmgen.ml
  backend/asmlink.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfgize.ml
  backend/cfg/linear_to_cfg.ml
  backend/checkmach.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/cmmgen.ml
  backend/cmmgen_state.ml
  backend/cmmgen_state.mli
  backend/mach.ml
  backend/mach.mli
  backend/polling.ml
  backend/printcmm.ml
  backend/printmach.ml
  backend/selectgen.ml
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_result.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  testsuite/tools/asmgen_amd64.S
  testsuite/tools/parsecmm.mly
Labels: compilation speed

#1246 Use cmx reachability to decide locality of symbols
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/cmmgen.ml
  backend/cmmgen_state.ml
  backend/cmmgen_state.mli
  backend/printcmm.ml
  backend/printcmm.mli
  middle_end/flambda2/cmx/flambda_cmx.ml
  middle_end/flambda2/cmx/flambda_cmx.mli
  middle_end/flambda2/flambda2.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion.mli
  middle_end/flambda2/simplify/simplify.ml
  middle_end/flambda2/simplify/simplify.mli
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_result.ml
  middle_end/flambda2/to_cmm/to_cmm_result.mli
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
Labels: flambda2, compilation speed

#1332 Remove check for probe code symbols being global
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
Labels: flambda2

#1322 Lazy deserialization of cmi files
  ocaml/.depend
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/file_formats/cmi_format.ml
  ocaml/file_formats/cmi_format.mli
  ocaml/file_formats/cmt_format.ml
  ocaml/file_formats/cmt_format.mli
  ocaml/otherlibs/dynlink/dune
  ocaml/testsuite/tests/self-contained-toplevel/main.ml
  ocaml/toplevel/byte/dune
  ocaml/typing/env.ml
  ocaml/typing/env.mli
  ocaml/typing/persistent_env.ml
  ocaml/typing/persistent_env.mli
  ocaml/typing/subst.ml
  ocaml/typing/subst.mli
  ocaml/typing/typemod.ml
  ocaml/typing/typemod.mli
Labels: typing, compilation speed
