Repository oxcaml/oxcaml, pull requests merged in 2023-09, with the labels that each got.

#1780 Build Jane Syntax with upstream OCaml in CI
  .github/workflows/jane_syntax.yml
  ocaml/tools/build_jane_syntax_with_active_opam_switch.sh
Labels: CI, lexer/parser

#1795 Add tag to Block_approximation
  middle_end/flambda2/classic_mode_types/dune
  middle_end/flambda2/classic_mode_types/value_approximation.ml
  middle_end/flambda2/classic_mode_types/value_approximation.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/types/env/typing_env.ml
Labels: bug, flambda2

#1796 Enable warnings-as-errors
  ocaml/Makefile.common-jst
Labels: build system

#1541 Faster algorithm for dominators
  backend/cfg/cfg_dominators.ml
Labels: cfg, backend

#1542 Dominators: remove naive implementation
  backend/cfg/cfg_dominators.ml
Labels: cfg, backend

#1741 Regalloc/split: move definitions (resp. destructions) down (resp. up)
  backend/regalloc/regalloc_split_state.ml
Labels: cfg, backend

#1781 Enable peephole optimization by default
  driver/flambda_backend_flags.ml
Labels: cfg, backend

#1818 Fix `Regalloc_split_state` to use the new dominators interface
  backend/regalloc/regalloc_split_state.ml
Labels: bug, cfg, backend

#1776 Register allocation: parameters for spilling heuristics
  backend/regalloc/regalloc_utils.ml
Labels: cfg, backend

#1774 Register allocation: more destruction points
  backend/amd64/proc.ml
  backend/arm64/proc.ml
  backend/proc.mli
  backend/regalloc/regalloc_split_utils.ml
Labels: cfg, backend

#1767 Merging of Debuginfo.t across CSEd occurrences
  middle_end/flambda2/simplify/env/downwards_acc.ml
  middle_end/flambda2/simplify/env/downwards_acc.mli
  middle_end/flambda2/simplify/simplify_let_expr.ml
  middle_end/flambda2/simplify/simplify_primitive.ml
  ocaml/lambda/debuginfo.ml
  ocaml/lambda/debuginfo.mli
Labels: flambda2

#1816 Add a test for an interaction between omitted mli and overeager heap allocation of argument
  ocaml/jane/doc/local-reference.md
  ocaml/ocamltest/ocaml_actions.ml
  ocaml/testsuite/tests/typing-local/alloc_arg_with_mli.ml
  ocaml/testsuite/tests/typing-local/alloc_arg_with_mli.mli
  ocaml/testsuite/tests/typing-local/alloc_arg_with_mli.reference
  ocaml/testsuite/tests/typing-local/alloc_arg_without_mli.ml
  ocaml/testsuite/tests/typing-local/alloc_arg_without_mli.reference
Labels: typing, non-material change

#1762 Zero alloc: assume that works with inlining - propagate via Scoped_location
  backend/checkmach.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_concrete_instances.ml
  backend/emitaux.ml
  backend/fdo_info.ml
  ocaml/asmcomp/emitaux.ml
  ocaml/lambda/debuginfo.ml
  ocaml/lambda/debuginfo.mli
  ocaml/lambda/translattribute.ml
  ocaml/lambda/translattribute.mli
  ocaml/lambda/translcore.ml
  ocaml/utils/warnings.ml
  ocaml/utils/warnings.mli
  tests/backend/checkmach/dune.inc
  tests/backend/checkmach/fail21.ml
  tests/backend/checkmach/fail21.output
  tests/backend/checkmach/gen/gen_dune.ml
  tests/backend/checkmach/t.ml
  tests/backend/checkmach/test_warning198.ml
  tests/backend/checkmach/test_warning198.output
Labels: middle end

#1828 flambda1: Print allocation mode and region-close flag on apply nodes
  middle_end/flambda/flambda.ml
Labels: middle end

#1835 Adjust the location on `as` pattern vars for better errors/warnings
  ocaml/testsuite/tests/typing-gadts/or_patterns.ml
  ocaml/testsuite/tests/warnings/w26_alias.ml
  ocaml/typing/typecore.ml
Labels: to upstream, typing

#1833 Fix bug in `Clambda_primitives.result_layout`.
  middle_end/clambda_primitives.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/middle_end/clambda_primitives.ml
  ocaml/testsuite/tests/typing-layouts-float64/c_api.ml
  ocaml/testsuite/tests/typing-layouts-float64/c_api.reference
Labels: middle end

#1844 Fix mutable blocks being assumed as escaping if inside an unused Make_block
  middle_end/flambda2/simplify/flow/mutable_unboxing.ml
Labels: flambda2

#1769 All-`float#` records
  backend/cmmgen.ml
  middle_end/clambda_primitives.ml
  middle_end/clambda_primitives.mli
  middle_end/convert_primitives.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/dissect_letrec.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/internal_variable_names.ml
  middle_end/printclambda_primitives.ml
  middle_end/semantics_of_primitives.ml
  ocaml/asmcomp/cmmgen.ml
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/matching.ml
  ocaml/lambda/printlambda.ml
  ocaml/lambda/tmc.ml
  ocaml/lambda/translcore.ml
  ocaml/lambda/translcore.mli
  ocaml/lambda/translprim.ml
  ocaml/middle_end/clambda_primitives.ml
  ocaml/middle_end/clambda_primitives.mli
  ocaml/middle_end/convert_primitives.ml
  ocaml/middle_end/internal_variable_names.ml
  ocaml/middle_end/printclambda_primitives.ml
  ocaml/middle_end/semantics_of_primitives.ml
  ocaml/testsuite/tests/typing-layouts-float64/alloc.ml
  ocaml/testsuite/tests/typing-layouts-float64/alloc.reference
  ocaml/testsuite/tests/typing-layouts-float64/basics_alpha_beta.ml
  ocaml/testsuite/tests/typing-layouts-float64/parsing.ml
  ocaml/testsuite/tests/typing-layouts-float64/unboxed_floats.ml
  ocaml/testsuite/tests/typing-layouts-float64/unboxed_floats.reference
  ocaml/typing/includecore.ml
  ocaml/typing/includecore.mli
  ocaml/typing/layouts.ml
  ocaml/typing/layouts.mli
  ocaml/typing/printtyped.ml
  ocaml/typing/rec_check.ml
  ocaml/typing/subst.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typedecl.mli
  ocaml/typing/typeopt.ml
  ocaml/typing/types.ml
  ocaml/typing/types.mli
Labels: unboxed types

#1791 Optimise Switch expressions using lookup tables
  middle_end/flambda2/identifiers/reg_width_const.ml
  middle_end/flambda2/identifiers/reg_width_const.mli
  middle_end/flambda2/simplify/env/upwards_acc.ml
  middle_end/flambda2/simplify/env/upwards_acc.mli
  middle_end/flambda2/simplify/simplify_import.ml
  middle_end/flambda2/simplify/simplify_import.mli
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/code_size.mli
  middle_end/flambda2/terms/field_of_static_block.ml
  middle_end/flambda2/terms/field_of_static_block.mli
Labels: flambda2

#1831 Zero alloc annotation: assume a function never returns normally
  backend/checkmach.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/printcmm.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/terms/check_attribute.ml
  middle_end/flambda2/terms/check_attribute.mli
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  middle_end/printclambda.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/translattribute.ml
  tests/backend/checkmach/dune.inc
  tests/backend/checkmach/gen/gen_dune.ml
  tests/backend/checkmach/t.ml
  tests/backend/checkmach/test_attribute_error_duplicate.output
  tests/backend/checkmach/test_never_returns_normally.ml
  tests/backend/checkmach/test_never_returns_normally.output
Labels: backend

#1732 Manually applied changes from PR #11782
  chamelon/compat.jst.ml
  native_toplevel/opttoploop.ml
  ocaml/lambda/matching.ml
  ocaml/lambda/translclass.ml
  ocaml/lambda/translcore.ml
  ocaml/ocamldoc/odoc_ast.ml
  ocaml/testsuite/tests/shapes/simple.ml
  ocaml/toplevel/native/topeval.ml
  ocaml/typing/cmt2annot.ml
  ocaml/typing/parmatch.ml
  ocaml/typing/patterns.ml
  ocaml/typing/patterns.mli
  ocaml/typing/printpat.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/rec_check.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/uniqueness_analysis.ml
  ocaml/typing/untypeast.ml
Labels: typing, dwarf and debugging

#1689 Fix sh_type on .note.stapsdt section
  backend/internal_assembler/internal_assembler.ml
  backend/x86_proc.ml
  backend/x86_proc.mli
Labels: backend, internal-assembler

#1673 Fix internal assembler symbol tables
  backend/internal_assembler/symbol_table.ml
Labels: backend

#1197 Install AFL packages on CI workers
  .github/workflows/build.yml
Labels: CI

#1856 Introduce Lambda_to_flambda_env
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_env.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_env.mli
Labels: flambda2, non-material change

#1759 Port upstream #12368 about abstract environments
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/ocamldoc/odoc_sig.ml
  ocaml/testsuite/tests/typing-misc/constraints.ml
  ocaml/toplevel/genprintval.ml
  ocaml/typing/btype.ml
  ocaml/typing/btype.mli
  ocaml/typing/ctype.ml
  ocaml/typing/datarepr.ml
  ocaml/typing/env.ml
  ocaml/typing/includecore.ml
  ocaml/typing/mtype.ml
  ocaml/typing/parmatch.ml
  ocaml/typing/predef.ml
  ocaml/typing/printtyp.ml
  ocaml/typing/subst.ml
  ocaml/typing/typeclass.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typedecl_separability.ml
  ocaml/typing/typedecl_variance.ml
  ocaml/typing/typemod.ml
  ocaml/typing/typeopt.ml
  ocaml/typing/types.ml
  ocaml/typing/types.mli
Labels: typing

#1859 Better error when using a float64 library without extension
  ocaml/testsuite/tests/typing-layouts-float64/basics.ml
  ocaml/typing/typeopt.ml
Labels: typing, unboxed types

#1834 Improve layout history error message: add path field to Type_argument value_creation_reason
  chamelon/compat.jst.ml
  ocaml/testsuite/tests/typing-immediate/immediate.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/a.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/test.ml
  ocaml/testsuite/tests/typing-layouts-float64/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts-float64/parsing.ml
  ocaml/testsuite/tests/typing-layouts/annots_beta.ml
  ocaml/testsuite/tests/typing-layouts/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts/basics_beta.ml
  ocaml/testsuite/tests/typing-layouts/datatypes_alpha.ml
  ocaml/testsuite/tests/typing-layouts/datatypes_beta.ml
  ocaml/testsuite/tests/typing-layouts/modules.ml
  ocaml/testsuite/tests/typing-layouts/modules_alpha.ml
  ocaml/testsuite/tests/typing-layouts/modules_beta.ml
  ocaml/testsuite/tests/typing-layouts/parsing_alpha.compilers.reference
  ocaml/testsuite/tests/typing-missing-cmi-indirections/test.compilers.reference
  ocaml/typing/ctype.ml
  ocaml/typing/layouts.ml
  ocaml/typing/layouts.mli
  ocaml/typing/predef.ml
  ocaml/typing/predef.mli
  ocaml/typing/typeclass.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typetexp.ml
Labels: typing

#1855 Improve layout history error message: additional info on value layout defaulting
  ocaml/testsuite/tests/typing-layouts-float64/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts/basics.ml
  ocaml/testsuite/tests/typing-layouts/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts/basics_beta.ml
  ocaml/testsuite/tests/typing-layouts/datatypes_alpha.ml
  ocaml/typing/layouts.ml
Labels: typing
