Repository oxcaml/oxcaml, pull requests merged in 2023-11, with the labels that each got.

#1983 Install missing files in stdlib
  ocaml/stdlib/dune
Labels: OCaml 5

#1978 Support DLS API (single-domain only)
  ocaml/stdlib/domain.ml
  ocaml/stdlib/domain.mli
  ocaml/stdlib/dune
  ocaml/stdlib/stdlib.ml
  ocaml/stdlib/stdlib.mli
  ocaml/testsuite/tests/basic/patmatch_for_multiple.ml
  ocaml/testsuite/tests/ppx-empty-cases/test.compilers.reference
  ocaml/testsuite/tests/shapes/comp_units.ml
  ocaml/testsuite/tests/shapes/functors.ml
  ocaml/testsuite/tests/shapes/open_arg.ml
  ocaml/testsuite/tests/shapes/recmodules.ml
  ocaml/testsuite/tests/shapes/rotor_example.ml
  ocaml/testsuite/tests/syntactic-arity/max_arity_locals.compilers.reference
  ocaml/testsuite/tests/syntactic-arity/max_arity_locals.flambda.reference
Labels: OCaml 5

#1947 Erase callees in classic mode
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/inlining/inlining_transforms.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_extcall.ml
  middle_end/flambda2/simplify_shared/inlining_helpers.ml
  middle_end/flambda2/simplify_shared/inlining_helpers.mli
  middle_end/flambda2/terms/apply_expr.ml
  middle_end/flambda2/terms/apply_expr.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
Labels: flambda2

#1979 Provide (unimplemented) new Stdlib.Random functions
  ocaml/stdlib/random.ml
  ocaml/stdlib/random.mli
Labels: OCaml 5

#1980 Backport/install camlatomic.h
  ocaml/runtime4/caml/camlatomic.h
  ocaml/runtime4/caml/dune
  ocaml/runtime4/caml/misc.h
  ocaml/runtime4/caml/s.h.in
Labels: OCaml 5

#1988 Refresh optimized compilers before testing
  ocaml/Makefile.common-jst
Labels: OCaml 5

#1972 CLMUL Intrinsic
  backend/amd64/arch.ml
  backend/amd64/emit.mlp
  backend/amd64/simd.ml
  backend/amd64/simd_selection.ml
  backend/x86_ast.mli
  backend/x86_binary_emitter.ml
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
  tests/simd/dune
  tests/simd/scalar_ops.ml
  tests/simd/stubs.c
Labels: backend, simd

#1991 Fix "make bootstrap" and bootstrap
  middle_end/flambda2/simplify/number_adjuncts.ml
  middle_end/flambda2/to_cmm/to_cmm.ml
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/utils/target_system.ml
  ocaml/utils/target_system.mli
Labels: OCaml 5

#1994 Remove C11 _Atomic typedefs
  ocaml/runtime4/caml/camlatomic.h
Labels: OCaml 5

#1987 Fix Stdlib.Domain upstream build dependencies
  ocaml/.depend
  ocaml/otherlibs/dynlink/.depend
  ocaml/stdlib/.depend
  ocaml/stdlib/StdlibModules
  ocaml/stdlib/domain.ml
  ocaml/stdlib/domain.mli
  ocaml/toplevel/byte/dune
Labels: OCaml 5

#1981 Fix error message regression: use manifest jkind less
  ocaml/testsuite/tests/typing-misc/records.ml
  ocaml/typing/typedecl.ml
Labels: typing

#1998 Revert Linscan etc. to the previous 4.x version
  backend/interval.ml
  backend/interval.mli
  backend/linscan.ml
  backend/linscan.mli
  backend/printmach.ml
  backend/printmach.mli
Labels: bug, OCaml 5

#1999 Install dynlink.cmt
  ocaml/otherlibs/dynlink/dune
Labels: build system, OCaml 5

#1971 Add Jkind.sort to Tpat_array
  chamelon/compat.jst.ml
  ocaml/lambda/matching.ml
  ocaml/typing/parmatch.ml
  ocaml/typing/patterns.ml
  ocaml/typing/patterns.mli
  ocaml/typing/printpat.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/uniqueness_analysis.ml
  ocaml/typing/untypeast.ml
Labels: unboxed types

#2004 Configure flag to use the 5.x runtime; make the 5.x runtime build
  .github/workflows/build.yml
  Makefile
  backend/amd64/emit.mlp
  configure.ac
  ocaml/.gitignore
  ocaml/Makefile
  ocaml/Makefile.build_config.in
  ocaml/Makefile.common
  ocaml/Makefile.common-jst
  ocaml/Makefile.config.in
  ocaml/VERSION
  ocaml/asmcomp/amd64/emit.mlp
  ocaml/build-aux/ocaml_version.m4
  ocaml/bytecomp/dune
  ocaml/compilerlibs/Makefile.compilerlibs
  ocaml/configure
  ocaml/configure.ac
  ocaml/dune
  ocaml/lambda/dune
  ocaml/otherlibs/systhreads/st_stubs.c
  ocaml/runtime/caml/domain_state.tbl
  ocaml/runtime/caml/exec.h
  ocaml/runtime/dune
  ocaml/runtime/startup_aux.c
  ocaml/runtime/sync_posix.h
  ocaml/runtime/weak.c
  ocaml/runtime4/amd64.S
  ocaml/runtime4/arm.S
  ocaml/runtime4/arm64.S
  ocaml/runtime4/caml/domain_state.tbl
  ocaml/runtime4/domain.c
  ocaml/runtime4/fail_nat.c
  ocaml/runtime4/i386.S
  ocaml/runtime4/power.S
  ocaml/runtime4/riscv.S
  ocaml/runtime4/s390x.S
  ocaml/runtime4/signals_nat.c
  ocaml/stdlib/Makefile
  ocaml/stdlib/dune
  ocaml/tools/Makefile
  ocaml/tools/dune
  ocaml/utils/config.fixed.ml
  ocaml/utils/config.generated.ml.in
  ocaml/utils/config.mli
  ocaml/utils/dune
Labels: runtime, OCaml 5

#1989 Make max arity local test less churny
  ocaml/testsuite/tests/syntactic-arity/max_arity_locals.compilers.reference
  ocaml/testsuite/tests/syntactic-arity/max_arity_locals.flambda.reference
  ocaml/testsuite/tests/syntactic-arity/max_arity_locals.ml
Labels: non-material change

#2010 Proper compile errors for bad immediates
  backend/amd64/simd_selection.ml
Labels: simd

#1907 Reroute legacy immediate support for jkinds
  ocaml/.depend
  ocaml/boot/menhir/parser.ml
  ocaml/boot/ocamlc
  ocaml/parsing/ast_helper.ml
  ocaml/parsing/ast_helper.mli
  ocaml/parsing/builtin_attributes.ml
  ocaml/parsing/builtin_attributes.mli
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/jane_syntax_parsing.ml
  ocaml/parsing/jane_syntax_parsing.mli
  ocaml/parsing/parser.mly
  ocaml/testsuite/tests/letrec-check/unboxed.ml
  ocaml/testsuite/tests/typing-layouts-float64/basics.ml
  ocaml/testsuite/tests/typing-layouts-gadt-sort-var/insert.ml
  ocaml/testsuite/tests/typing-layouts-gadt-sort-var/insert_extensible.ml
  ocaml/testsuite/tests/typing-layouts-missing-cmi/a.ml
  ocaml/testsuite/tests/typing-layouts/annots.ml
  ocaml/testsuite/tests/typing-layouts/basics.ml
  ocaml/testsuite/tests/typing-layouts/basics_beta.ml
  ocaml/testsuite/tests/typing-layouts/datatypes.ml
  ocaml/testsuite/tests/typing-layouts/modules.ml
  ocaml/testsuite/tests/typing-layouts/modules_beta.ml
  ocaml/testsuite/tests/typing-layouts/parsing_beta.compilers.reference
  ocaml/testsuite/tests/typing-layouts/parsing_stable.compilers.reference
  ocaml/testsuite/tests/typing-layouts/syntax_err_unboxed.compilers.reference
  ocaml/testsuite/tests/typing-layouts/syntax_err_unboxed.ml
  ocaml/testsuite/tests/typing-layouts/user_errors.ml
  ocaml/testsuite/tests/typing-layouts/void.ml
  ocaml/testsuite/tests/typing-layouts/void_beta.ml
  ocaml/testsuite/tests/typing-unboxed-types/test.ml
  ocaml/testsuite/tests/typing-unboxed/test.ml
  ocaml/typing/ctype.ml
  ocaml/typing/datarepr.ml
  ocaml/typing/jkind.ml
  ocaml/typing/jkind.mli
  ocaml/typing/oprint.ml
  ocaml/typing/outcometree.mli
  ocaml/typing/predef.ml
  ocaml/typing/printtyp.ml
  ocaml/typing/subst.ml
  ocaml/typing/typeclass.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typedecl.mli
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/typemod.ml
  ocaml/typing/types.ml
  ocaml/typing/types.mli
  ocaml/typing/untypeast.ml
Labels: typing

#2013 Turn on CFG by default
  .github/workflows/build.yml
  driver/flambda_backend_flags.ml
Labels: cfg, backend

#2014 Update Clambda_primitives.result_layout
  middle_end/clambda_primitives.ml
  ocaml/middle_end/clambda_primitives.ml
  ocaml/testsuite/tests/typing-layouts-float64/unboxed_floats.ml
  ocaml/testsuite/tests/typing-layouts-float64/unboxed_floats.reference
  ocaml/testsuite/tests/typing-layouts-float64/unboxed_floats_disabled.compilers.reference
Labels: bug, middle end, unboxed types

#2016 Add some native code tests for immediate/immediate64
  ocaml/testsuite/tests/typing-layouts/immediates.ml
  ocaml/testsuite/tests/typing-layouts/immediates.reference
  ocaml/testsuite/tests/typing-layouts/immediates_disabled.compilers.reference
Labels: non-material change

#2000 Retainer profiling for 5.x runtime
  ocaml/runtime/extern.c
Labels: runtime, OCaml 5

#2017 Successful build with --enable-runtime5
  middle_end/closure/closure.ml
  middle_end/flambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/bytecomp/bytegen.ml
  ocaml/configure
  ocaml/configure.ac
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/translprim.ml
  ocaml/middle_end/closure/closure.ml
  ocaml/middle_end/flambda/closure_conversion.ml
  ocaml/otherlibs/unix/fork.c
  ocaml/otherlibs/unix/signals.c
  ocaml/runtime/amd64nt.asm
  ocaml/runtime/callback.c
  ocaml/runtime/caml/config.h
  ocaml/runtime/caml/dune
  ocaml/runtime/misc.c
  ocaml/runtime/obj.c
  ocaml/runtime/sys.c
  ocaml/runtime4/sys.c
  ocaml/stdlib/stdlib.ml
  ocaml/stdlib/sys.ml.in
  ocaml/utils/symbol.ml
Labels: OCaml 5

#2030 Backport PR10478 (fix for crash in caml_thread_start)
  ocaml/otherlibs/systhreads4/st_stubs.c
Labels: bug, runtime

#2031 Disable zstd to avoid dependency
  configure.ac
Labels: build system

#1996 Typecore merge improvements
  ocaml/typing/typecore.ml
Labels: typing, OCaml 5

#1849 Backport of upstream -H implementation
  native_toplevel/opttopdirs.ml
  native_toplevel/opttoploop.ml
  ocaml/.depend
  ocaml/bytecomp/bytelink.ml
  ocaml/debugger/command_line.ml
  ocaml/debugger/loadprinter.ml
  ocaml/debugger/main.ml
  ocaml/debugger/parameters.ml
  ocaml/debugger/program_management.ml
  ocaml/debugger/source.ml
  ocaml/driver/compmisc.ml
  ocaml/driver/main_args.ml
  ocaml/driver/main_args.mli
  ocaml/driver/makedepend.ml
  ocaml/file_formats/cmt_format.ml
  ocaml/file_formats/cmt_format.mli
  ocaml/manual/src/cmds/ocamldep.etex
  ocaml/manual/src/cmds/ocamldoc.etex
  ocaml/manual/src/cmds/unified-options.etex
  ocaml/ocamldoc/odoc_args.ml
  ocaml/ocamldoc/odoc_global.ml
  ocaml/ocamldoc/odoc_global.mli
  ocaml/ocamldoc/odoc_info.ml
  ocaml/ocamldoc/odoc_info.mli
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/ast_mapper.mli
  ocaml/testsuite/tests/hidden_includes/cant_reference_hidden.ocamlc.reference
  ocaml/testsuite/tests/hidden_includes/hidden_stays_hidden.ocamlc.reference
  ocaml/testsuite/tests/hidden_includes/liba/a.ml
  ocaml/testsuite/tests/hidden_includes/liba_alt/a.ml
  ocaml/testsuite/tests/hidden_includes/libb/b.ml
  ocaml/testsuite/tests/hidden_includes/libc/c1.ml
  ocaml/testsuite/tests/hidden_includes/libc/c2.ml
  ocaml/testsuite/tests/hidden_includes/libc/c3.ml
  ocaml/testsuite/tests/hidden_includes/libc/c4.ml
  ocaml/testsuite/tests/hidden_includes/libc/c5.ml
  ocaml/testsuite/tests/hidden_includes/not_included.ocamlc.reference
  ocaml/testsuite/tests/hidden_includes/test.ml
  ocaml/testsuite/tests/hidden_includes/wrong_include_order.ocamlc.reference
  ocaml/testsuite/tests/self-contained-toplevel/main.ml
  ocaml/tools/objinfo.ml
  ocaml/tools/ocamlcmt.ml
  ocaml/toplevel/topcommon.ml
  ocaml/toplevel/topdirs.ml
  ocaml/typing/env.ml
  ocaml/typing/persistent_env.ml
  ocaml/typing/persistent_env.mli
  ocaml/typing/typemod.ml
  ocaml/utils/ccomp.ml
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
  ocaml/utils/load_path.ml
  ocaml/utils/load_path.mli
  ocaml/utils/misc.ml
  ocaml/utils/misc.mli
  tools/flambda_backend_objinfo.ml
  tools/merge_archives.ml
Labels: driver

#2045 Backport `caml_string_hash` from OCaml 5 to runtime 4
  ocaml/runtime4/hash.c
  ocaml/stdlib/string.ml
  ocaml/stdlib/string.mli
  ocaml/stdlib/stringLabels.mli
  ocaml/testsuite/tests/lib-string/test_string.ml
  ocaml/testsuite/tests/lib-string/test_string.reference
Labels: runtime, OCaml 5

#2033 Forward port increase minor heap size
  ocaml/runtime/caml/config.h
Labels: runtime, OCaml 5

#2039 Port #843 (Make Obj.dup use a new primitive, %obj_dup)
  ocaml/runtime/obj.c
Labels: runtime, OCaml 5

#2040 Port Initial support for value slots not of value kind #946
  ocaml/runtime/caml/mlvalues.h
Labels: runtime, OCaml 5

#2041 (dynlink) port #753 #784
  ocaml/runtime/dynlink_nat.c
Labels: runtime, OCaml 5

#2047 Respect the configure setting of no-naked-pointers
  ocaml/utils/config.common.ml
  ocaml/utils/config.fixed.ml
  ocaml/utils/config.generated.ml.in
Labels: bug

#2032 Add timestamp to GC log
  ocaml/runtime/caml/osdeps.h
  ocaml/runtime/misc.c
  ocaml/runtime/unix.c
  ocaml/runtime/win32.c
Labels: runtime, OCaml 5

#2027 Runtime 5 forward & backward porting
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/asmlink.ml
  backend/cmm_helpers.ml
  backend/cmmgen.ml
  backend/emitaux.ml
  backend/emitaux.mli
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  ocaml/asmcomp/amd64/emit.mlp
  ocaml/asmcomp/amd64/proc.ml
  ocaml/asmcomp/asmlink.ml
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/asmcomp/cmmgen.ml
  ocaml/lambda/matching.ml
  ocaml/ocamltest/dune
  ocaml/ocamltest/ocaml_directories.ml
  ocaml/ocamltest/ocaml_files.ml
  ocaml/otherlibs/systhreads/dune
  ocaml/otherlibs/unix/signals.c
  ocaml/runtime/alloc.c
  ocaml/runtime/amd64.S
  ocaml/runtime/amd64nt.asm
  ocaml/runtime/arm64.S
  ocaml/runtime/array.c
  ocaml/runtime/caml/frame_descriptors.h
  ocaml/runtime/caml/intext.h
  ocaml/runtime/caml/mlvalues.h
  ocaml/runtime/caml/stack.h
  ocaml/runtime/extern.c
  ocaml/runtime/frame_descriptors.c
  ocaml/runtime/globroots.c
  ocaml/runtime/intern.c
  ocaml/runtime/interp.c
  ocaml/runtime/memory.c
  ocaml/runtime/meta.c
  ocaml/runtime/obj.c
  ocaml/runtime/power.S
  ocaml/runtime/riscv.S
  ocaml/runtime/runtime_events.c
  ocaml/runtime4/caml/domain_state.tbl
  ocaml/runtime4/misc.c
  ocaml/stdlib/atomic.ml
  ocaml/stdlib/camlinternalLazy.ml
  ocaml/stdlib/camlinternalLazy.mli
  ocaml/stdlib/domain.ml
  ocaml/stdlib/domain.mli
  ocaml/stdlib/filename.ml
  ocaml/stdlib/format.ml
  ocaml/stdlib/format.mli
  ocaml/stdlib/gc.ml
  ocaml/stdlib/gc.mli
  ocaml/stdlib/hashtbl.ml
  ocaml/stdlib/lazy.ml
  ocaml/stdlib/marshal.ml
  ocaml/stdlib/stdlib.ml
  ocaml/testsuite/tests/backtrace/lazy.flambda.reference
  ocaml/testsuite/tests/backtrace/lazy.reference
  ocaml/testsuite/tests/backtrace/names.reference
Labels: runtime, OCaml 5

#2044 Port the runtime of #1897
  ocaml/runtime/caml/simd.h
  ocaml/runtime/simd.c
Labels: runtime, OCaml 5

#2042 (SIMD) Port #1935
  ocaml/runtime/caml/dune
Labels: runtime, OCaml 5

#2058 Fixes for runtest on runtime5
  middle_end/flambda2/tests/tools/flexpect.ml
  ocaml/Makefile
  ocaml/runtime/dune
  ocaml/utils/symbol.ml
  ocaml/utils/symbol.mli
  tests/backend/checkmach/fail1.output
  tests/backend/checkmach/fail10.output
  tests/backend/checkmach/fail11.output
  tests/backend/checkmach/fail12.output
  tests/backend/checkmach/fail13.output
  tests/backend/checkmach/fail14.output
  tests/backend/checkmach/fail15.output
  tests/backend/checkmach/fail16.output
  tests/backend/checkmach/fail17.output
  tests/backend/checkmach/fail18.output
  tests/backend/checkmach/fail19.output
  tests/backend/checkmach/fail2.output
  tests/backend/checkmach/fail20.output
  tests/backend/checkmach/fail21.output
  tests/backend/checkmach/fail22.output
  tests/backend/checkmach/fail23.output
  tests/backend/checkmach/fail3.output
  tests/backend/checkmach/fail4.output
  tests/backend/checkmach/fail5.output
  tests/backend/checkmach/fail6.output
  tests/backend/checkmach/fail7.output
  tests/backend/checkmach/fail8.output
  tests/backend/checkmach/fail9.output
  tests/backend/checkmach/filter.sh
  tests/backend/checkmach/test_attribute_error_duplicate.output
  tests/backend/checkmach/test_never_returns_normally.output
  tests/simd/dune
Labels: OCaml 5

#2059 Fix typing-local/iarray.ml for when stack allocation is disabled
  ocaml/testsuite/tests/typing-local/iarray.heap.reference
Labels: OCaml 5

#2021 Add native code tests for immediate and immediate64
  ocaml/testsuite/tests/typing-layouts/immediates.ml
  ocaml/testsuite/tests/typing-layouts/immediates.reference
  ocaml/testsuite/tests/typing-layouts/immediates_disabled.compilers.reference
Labels: unboxed types

#2060 Implement 5.x atomic primitives in Flambda 2 and use them in the stdlib
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_ternary_primitive.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  ocaml/stdlib/atomic.ml
  ocaml/stdlib/stdlib.ml
Labels: flambda2, OCaml 5

#2065 Add the "debugger4/" files to .gitignore
  ocaml/.gitignore
Labels: non-material change, OCaml 5

#2064 Fix C warnings
  ocaml/otherlibs/systhreads4/st_stubs.c
  ocaml/runtime4/afl.c
  ocaml/runtime4/domain.c
  ocaml/runtime4/eventlog.c
  ocaml/runtime4/extern.c
  ocaml/runtime4/finalise.c
  ocaml/runtime4/fix_code.c
  ocaml/runtime4/gc_ctrl.c
  ocaml/runtime4/instrtrace.c
  ocaml/runtime4/major_gc.c
  ocaml/runtime4/memory.c
  ocaml/runtime4/memprof.c
  ocaml/runtime4/minor_gc.c
  ocaml/runtime4/signals.c
Labels: non-material change, OCaml 5

#2063 Add `Runtimetags` module
  ocaml/.depend
  ocaml/compilerlibs/Makefile.compilerlibs
  ocaml/dune
  ocaml/otherlibs/dynlink/Makefile
  ocaml/otherlibs/dynlink/dune
  ocaml/testsuite/tests/compiler-libs/test_runtimetags.ml
  ocaml/utils/runtimetags.ml
  ocaml/utils/runtimetags.mli
Labels: OCaml 5

#2056 Ports #1156 (Shrink the ref_table if it grows large)
  ocaml/runtime/minor_gc.c
Labels: runtime, OCaml 5

#2074 Update build_ocaml_compiler.sexp to add runtime5 entries
  build_ocaml_compiler.sexp
Labels: OCaml 5

#2052 Port #743
  ocaml/runtime/bigarray.c
Labels: runtime, OCaml 5

#2078 Port upstream's #12193 (compaction)
  ocaml/.gitattributes
  ocaml/otherlibs/runtime_events/runtime_events.ml
  ocaml/otherlibs/runtime_events/runtime_events.mli
  ocaml/runtime/caml/compact.h
  ocaml/runtime/caml/dune
  ocaml/runtime/caml/major_gc.h
  ocaml/runtime/caml/osdeps.h
  ocaml/runtime/caml/platform.h
  ocaml/runtime/caml/runtime_events.h
  ocaml/runtime/caml/shared_heap.h
  ocaml/runtime/caml/sizeclasses.h
  ocaml/runtime/domain.c
  ocaml/runtime/gc_ctrl.c
  ocaml/runtime/intern.c
  ocaml/runtime/major_gc.c
  ocaml/runtime/memory.c
  ocaml/runtime/memprof.c
  ocaml/runtime/minor_gc.c
  ocaml/runtime/platform.c
  ocaml/runtime/shared_heap.c
  ocaml/runtime/unix.c
  ocaml/runtime/win32.c
  ocaml/testsuite/tests/compaction/test_freelist_free.ml
  ocaml/testsuite/tests/lib-runtime-events/test_compact.ml
  ocaml/tools/gen_sizeclasses.ml
Labels: backport from upstream OCaml, OCaml 5

#2055 Ports runtime of #154 (Add -mbranches-within-32B to major GC compilation)
  ocaml/Makefile
Labels: runtime, OCaml 5

#2079 Port upstream's #12715
  backend/CSEgen.ml
  ocaml/asmcomp/CSEgen.ml
Labels: backport from upstream OCaml, OCaml 5

#2038 Backport lazy from OCaml 5 to runtime4
  backend/cmm_helpers.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  ocaml/lambda/matching.ml
  ocaml/runtime4/caml/mlvalues.h
  ocaml/runtime4/caml/weak.h
  ocaml/runtime4/extern.c
  ocaml/runtime4/finalise.c
  ocaml/runtime4/major_gc.c
  ocaml/runtime4/minor_gc.c
  ocaml/runtime4/misc.c
  ocaml/runtime4/obj.c
  ocaml/stdlib/camlinternalLazy.ml
  ocaml/stdlib/camlinternalLazy.mli
  ocaml/stdlib/lazy.ml
  ocaml/testsuite/tests/backtrace/lazy.flambda.reference
  ocaml/testsuite/tests/backtrace/lazy.reference
  ocaml/testsuite/tests/backtrace/names.reference
  ocaml/testsuite/tests/backtrace/sanitize-backtrace.sh
Labels: runtime, OCaml 5

#2067 Port upstream's #12260
  native_toplevel/opttoploop.ml
  ocaml/testsuite/tests/tool-toplevel/topeval.compilers.reference
  ocaml/testsuite/tests/tool-toplevel/topeval.ml
  ocaml/toplevel/native/topeval.ml
Labels: backport from upstream OCaml, OCaml 5

#2080 Make `lazy.ml` independent of the runtime version
  ocaml/stdlib/lazy.ml
Labels: OCaml 5

#2066 Support for locals in the 5.x runtime
  backend/cmm_helpers.ml
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/configure
  ocaml/configure.ac
  ocaml/otherlibs/systhreads/st_stubs.c
  ocaml/runtime/alloc.c
  ocaml/runtime/amd64.S
  ocaml/runtime/array.c
  ocaml/runtime/caml/alloc.h
  ocaml/runtime/caml/fiber.h
  ocaml/runtime/caml/gc.h
  ocaml/runtime/caml/m.h.in
  ocaml/runtime/caml/memory.h
  ocaml/runtime/caml/misc.h
  ocaml/runtime/caml/roots.h
  ocaml/runtime/domain.c
  ocaml/runtime/fiber.c
  ocaml/runtime/major_gc.c
  ocaml/runtime/memory.c
  ocaml/runtime/minor_gc.c
  ocaml/runtime/obj.c
  ocaml/runtime/roots.c
  ocaml/runtime/shared_heap.c
  ocaml/runtime/str.c
  ocaml/testsuite/tests/lib-obj/get_header.byte.local.reference
  ocaml/testsuite/tests/lib-obj/get_header.byte.reference
  ocaml/testsuite/tests/lib-obj/get_header.ml
  ocaml/testsuite/tests/lib-obj/get_header.opt.local.reference
  ocaml/testsuite/tests/lib-obj/get_header.opt.reference
Labels: runtime, OCaml 5

#2086 Fix build of 5 runtime
  ocaml/runtime/shared_heap.c
Labels: OCaml 5

#2089 Improve layout history error message: omit history for signature mismatch
  ocaml/testsuite/tests/typing-layouts-err-msg/test.ml
  ocaml/testsuite/tests/typing-layouts/modules_alpha.ml
  ocaml/testsuite/tests/typing-layouts/modules_beta.ml
  ocaml/typing/errortrace.ml
  ocaml/typing/errortrace.mli
  ocaml/typing/includemod_errorprinter.ml
  ocaml/typing/printtyp.ml
Labels: typing

#2084 Ports #1420 (local immutable array)
  ocaml/runtime/array.c
Labels: runtime, OCaml 5

#2025 Implement unboxed float literals
  ocaml/boot/menhir/parser.ml
  ocaml/lambda/matching.ml
  ocaml/lambda/translcore.ml
  ocaml/parsing/parser.mly
  ocaml/testsuite/tests/typing-layouts-float64/alloc.ml
  ocaml/testsuite/tests/typing-layouts-float64/alloc.reference
  ocaml/testsuite/tests/typing-layouts/literals.ml
  ocaml/testsuite/tests/typing-layouts/literals_native.ml
  ocaml/testsuite/tests/typing-layouts/literals_native.reference
  ocaml/typing/parmatch.ml
  ocaml/typing/printpat.ml
  ocaml/typing/printpat.mli
  ocaml/typing/printtyped.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/untypeast.ml
  ocaml/typing/untypeast.mli
Labels: unboxed types

#2076 Port "condvar" bugfix to runtime 5
  ocaml/otherlibs/systhreads/st_pthreads.h
  ocaml/runtime/caml/platform.h
  ocaml/runtime/caml/sync.h
  ocaml/runtime/platform.c
  ocaml/runtime/sync_posix.h
Labels: runtime, OCaml 5

#2069 Backport 5 PRNG
  ocaml/Makefile
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/ocamltest/.depend
  ocaml/otherlibs/systhreads4/.depend
  ocaml/runtime4/Makefile
  ocaml/runtime4/dune
  ocaml/runtime4/gen_primitives.sh
  ocaml/runtime4/prng.c
  ocaml/stdlib/.depend
  ocaml/stdlib/random.ml
  ocaml/stdlib/random.mli
  ocaml/testsuite/tests/lib-dynlink-native/main.reference
  ocaml/testsuite/tests/lib-random/defaultinit.reference
  ocaml/testsuite/tests/lib-random/full_int.reference
Labels: runtime, OCaml 5

#2087 Zero alloc: change format of error messages
  backend/checkmach.ml
  tests/backend/checkmach/fail12.output
  tests/backend/checkmach/fail19.output
  tests/backend/checkmach/fail20.output
  tests/backend/checkmach/fail21.output
  tests/backend/checkmach/fail22.output
  tests/backend/checkmach/fail23.output
  tests/backend/checkmach/filter.sh
  tests/backend/checkmach/test_never_returns_normally.output
Labels: backend

#2088 Port #1539 (add the %get_header primitive)
  ocaml/runtime/obj.c
  ocaml/testsuite/tests/lib-obj/get_header.heap.reference
  ocaml/testsuite/tests/lib-obj/get_header.ml
  ocaml/testsuite/tests/lib-obj/get_header.stack.reference
Labels: runtime, OCaml 5

#2094 Reclassify 'CR ocaml 5 runtime' comments
  middle_end/flambda2/tests/tools/flexpect.ml
  ocaml/otherlibs/str/str.ml
  ocaml/otherlibs/systhreads4/st_stubs.c
  ocaml/otherlibs/unix/signals.c
  ocaml/runtime/caml/stack.h
  ocaml/runtime/dynlink.c
  ocaml/runtime/extern.c
  ocaml/runtime4/caml/camlatomic.h
  ocaml/stdlib/domain.ml
  ocaml/stdlib/domain.mli
  ocaml/stdlib/gc.ml
  ocaml/stdlib/gc.mli
  ocaml/stdlib/mutex.mli
  ocaml/stdlib/stdlib.ml
  ocaml/stdlib/stdlib.mli
  ocaml/testsuite/tests/misc/pr7168.ml
  ocaml/testsuite/tests/statmemprof/thread_exit_in_callback.ml
  ocaml/utils/symbol.ml
  tests/backend/checkmach/filter.sh
Labels: non-material change

#2093 Use reraise instead of raise_notrace in wrappers for exception handlers
  middle_end/flambda2/simplify_shared/inlining_helpers.ml
Labels: flambda2, middle end

#2095 Make header size unconditional (`Marshal`)
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/runtime4/intern.c
  ocaml/stdlib/marshal.ml
  ocaml/testsuite/tests/statmemprof/callstacks.flat-float-array.reference
Labels: OCaml 5

#2100 Disable swapgil for runtime5
  ocaml/testsuite/tests/lib-systhreads/swapgil.ml
Labels: OCaml 5

#2071 Change lambda constant type to support native unboxed float
  middle_end/closure/closure.ml
  middle_end/flambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/dissect_letrec.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  ocaml/bytecomp/emitcode.ml
  ocaml/bytecomp/symtable.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/matching.ml
  ocaml/lambda/printlambda.ml
  ocaml/lambda/simplif.ml
  ocaml/lambda/translcore.ml
  ocaml/lambda/translobj.ml
  ocaml/lambda/translprim.ml
  ocaml/middle_end/closure/closure.ml
  ocaml/middle_end/flambda/closure_conversion.ml
  ocaml/testsuite/tests/typing-layouts/literals_native.ml
Labels: unboxed types

#2102 Port "Cause a C warning when CAMLreturn is missing in C stubs" to the 5 runtime
  ocaml/runtime/caml/memory.h
Labels: runtime, OCaml 5

#2103 Fix a couple of build errors
  ocaml/runtime/gc_ctrl.c
  ocaml/runtime/sync_posix.h
Labels: runtime, OCaml 5

#2101 Remove expected_fail for flambda2_runtime5 CI job
  .github/workflows/build.yml
Labels: CI, OCaml 5

#2099 Propagate never-returning functions, except when annotated with [@opaque]
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/terms/code_metadata.ml
  middle_end/flambda2/terms/code_metadata.mli
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/translattribute.ml
  ocaml/lambda/translcore.ml
  ocaml/lambda/translmod.ml
  ocaml/testsuite/tests/backtrace/pr6920_why_at.ml
  ocaml/testsuite/tests/backtrace/pr6920_why_swallow.ml
Labels: flambda2
