Repository oxcaml/oxcaml, pull requests merged in 2023-03, with the labels that each got.

#1155 Flush inlining report to not lose the internal Format buffer
  middle_end/flambda2/simplify_shared/inlining_report.ml
Labels: bug, flambda2

#1156 Shrink the ref_table if it grows large
  ocaml/runtime/minor_gc.c
Labels: runtime

#1159 Unbreak return arities in indirect calls in fexpr->flambda
  middle_end/flambda2/parser/fexpr_to_flambda.ml
Labels: flambda2

#1158 Add a proper top and bottom layout
  backend/cmm_helpers.ml
  backend/cmmgen.ml
  middle_end/clambda_primitives.ml
  middle_end/clambda_primitives.mli
  middle_end/closure/closure.ml
  middle_end/flambda/closure_offsets.ml
  middle_end/flambda/flambda_to_clambda.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/printclambda.ml
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/asmcomp/cmmgen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/middle_end/clambda_primitives.ml
  ocaml/middle_end/clambda_primitives.mli
  ocaml/middle_end/closure/closure.ml
  ocaml/middle_end/flambda/closure_offsets.ml
  ocaml/middle_end/flambda/flambda_to_clambda.ml
  ocaml/middle_end/printclambda.ml
  ocaml/typing/typeopt.ml
Labels: unboxed types

#1169 Revert "Add a proper top and bottom layout"
  backend/cmm_helpers.ml
  backend/cmmgen.ml
  middle_end/clambda_primitives.ml
  middle_end/clambda_primitives.mli
  middle_end/closure/closure.ml
  middle_end/flambda/closure_offsets.ml
  middle_end/flambda/flambda_to_clambda.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/printclambda.ml
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/asmcomp/cmmgen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/middle_end/clambda_primitives.ml
  ocaml/middle_end/clambda_primitives.mli
  ocaml/middle_end/closure/closure.ml
  ocaml/middle_end/flambda/closure_offsets.ml
  ocaml/middle_end/flambda/flambda_to_clambda.ml
  ocaml/middle_end/printclambda.ml
  ocaml/typing/typeopt.ml
Labels: unboxed types

#1167 Move compute_layout to Lambda
  middle_end/closure/closure.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/middle_end/closure/closure.ml
Labels: unboxed types

#1175 Revert "Instance compilation units"
  ocaml/utils/compilation_unit.ml
  ocaml/utils/compilation_unit.mli
Labels: functor-packs

#1161 Reenable backtrace testsuite folder for flambda2
  ocaml/testsuite/tests/backtrace/backtrace.reference
  ocaml/testsuite/tests/backtrace/backtrace.run
  ocaml/testsuite/tests/backtrace/backtrace2.reference
  ocaml/testsuite/tests/backtrace/backtrace2.run
  ocaml/testsuite/tests/backtrace/backtrace3.reference
  ocaml/testsuite/tests/backtrace/backtrace3.run
  ocaml/testsuite/tests/backtrace/backtrace_deprecated.reference
  ocaml/testsuite/tests/backtrace/backtrace_deprecated.run
  ocaml/testsuite/tests/backtrace/backtrace_slots.reference
  ocaml/testsuite/tests/backtrace/backtrace_slots.run
  ocaml/testsuite/tests/backtrace/filter-locations.sh
  ocaml/testsuite/tests/backtrace/pr2195-locs.byte.reference
  ocaml/testsuite/tests/backtrace/pr2195-nolocs.byte.reference
  ocaml/testsuite/tests/backtrace/pr2195.opt.reference
  ocaml/testsuite/tests/backtrace/pr2195.run
  ocaml/testsuite/tests/backtrace/raw_backtrace.reference
  ocaml/testsuite/tests/backtrace/raw_backtrace.run
  ocaml/testsuite/tests/backtrace/sanitize-backtrace.sh
  testsuite/flambda2-test-list
Labels: flambda2

#1185 Add `toplevel` keyword to fexpr lexer
  middle_end/flambda2/parser/flambda_lex.mll
Labels: flambda2

#1180 Clarify the types used for static jump/catch
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.mli
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
Labels: to upstream, middle end

#1184 Don't copy when resolving aliases in try_modtypes
  ocaml/typing/includemod.ml
  ocaml/typing/mtype.mli
Labels: typing

#1189 Support for local allocations in fexpr
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_lex.ml
  middle_end/flambda2/parser/flambda_lex.mll
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mli
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/tests/mlexamples/dune
  middle_end/flambda2/tests/mlexamples/generated-rules.inc
  middle_end/flambda2/tests/mlexamples/local.flt
  middle_end/flambda2/tests/mlexamples/local.ml
  middle_end/flambda2/tests/mlexamples/local_in.fl
  middle_end/flambda2/tests/mlexamples/local_out.fl
  middle_end/flambda2/tests/mlexamples/tests0.flt
  middle_end/flambda2/tests/mlexamples/tests0_out.fl
  middle_end/flambda2/tests/mlexamples/tests11.flt
  middle_end/flambda2/tests/mlexamples/tests11_out.fl
  middle_end/flambda2/tests/mlexamples/tests3.flt
  middle_end/flambda2/tests/mlexamples/tests3_out.fl
  middle_end/flambda2/tests/mlexamples/tests4.flt
  middle_end/flambda2/tests/mlexamples/tests4_in.fl
  middle_end/flambda2/tests/mlexamples/tests4_out.fl
  middle_end/flambda2/tests/mlexamples/tests4a.flt
  middle_end/flambda2/tests/mlexamples/tests4a_out.fl
  middle_end/flambda2/tests/mlexamples/tests5.flt
  middle_end/flambda2/tests/mlexamples/tests5_out.fl
  middle_end/flambda2/tests/mlexamples/tests6.flt
  middle_end/flambda2/tests/mlexamples/tests6_out.fl
Labels: flambda2

#1179 Don't get the layout of arguments from patterns
  ocaml/lambda/translcore.ml
Labels: unboxed types

#1191 Revert "Revert "Add a proper top and bottom layout" (#1169)"
  backend/cmm_helpers.ml
  backend/cmmgen.ml
  middle_end/clambda_primitives.ml
  middle_end/clambda_primitives.mli
  middle_end/closure/closure.ml
  middle_end/flambda/closure_offsets.ml
  middle_end/flambda/flambda_to_clambda.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/printclambda.ml
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/asmcomp/cmmgen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/middle_end/clambda_primitives.ml
  ocaml/middle_end/clambda_primitives.mli
  ocaml/middle_end/closure/closure.ml
  ocaml/middle_end/flambda/closure_offsets.ml
  ocaml/middle_end/flambda/flambda_to_clambda.ml
  ocaml/middle_end/printclambda.ml
  ocaml/typing/typeopt.ml
Labels: unboxed types

#1165 Unboxed numbers
  backend/cmm_helpers.ml
  backend/cmmgen.ml
  middle_end/clambda_primitives.ml
  middle_end/clambda_primitives.mli
  middle_end/closure/closure.ml
  middle_end/convert_primitives.ml
  middle_end/flambda/closure_offsets.ml
  middle_end/flambda/flambda_to_clambda.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/internal_variable_names.ml
  middle_end/printclambda.ml
  middle_end/printclambda_primitives.ml
  middle_end/semantics_of_primitives.ml
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/asmcomp/cmmgen.ml
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/tmc.ml
  ocaml/lambda/translprim.ml
  ocaml/middle_end/clambda_primitives.ml
  ocaml/middle_end/clambda_primitives.mli
  ocaml/middle_end/closure/closure.ml
  ocaml/middle_end/convert_primitives.ml
  ocaml/middle_end/flambda/closure_offsets.ml
  ocaml/middle_end/flambda/flambda_to_clambda.ml
  ocaml/middle_end/internal_variable_names.ml
  ocaml/middle_end/printclambda.ml
  ocaml/middle_end/printclambda_primitives.ml
  ocaml/middle_end/semantics_of_primitives.ml
  ocaml/typing/typeopt.ml
Labels: unboxed types

#1194 Fix dune install in otherlibs: missing cmt and typo.
  ocaml/otherlibs/bigarray/dune
  ocaml/otherlibs/dynlink/dune
  ocaml/otherlibs/str/dune
  ocaml/otherlibs/unix/dune
Labels: bug, build system

#1193 Remove duplicated token.
  middle_end/flambda2/parser/flambda_lex.ml
  middle_end/flambda2/parser/flambda_lex.mll
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mli
  middle_end/flambda2/parser/flambda_parser.mly
Labels: flambda2

#1152 Correctly stack debuginfo for inlined body in classic mode
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_nullary_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  ocaml/testsuite/tests/backtrace-multifiles/foo.ml
  ocaml/testsuite/tests/backtrace-multifiles/main.ml
  ocaml/testsuite/tests/backtrace-multifiles/main.reference
  ocaml/testsuite/tests/backtrace/inline_test.ml
  ocaml/testsuite/tests/backtrace/inline_test.reference
  ocaml/testsuite/tests/backtrace/inline_traversal_test.ml
  ocaml/testsuite/tests/backtrace/inline_traversal_test.reference
Labels: flambda2 classic mode

#1202 Unboxed types fixes extracted from PR1166
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/simplify/unboxing/build_unboxing_denv.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.mli
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/grammar/more_type_creators.ml
  middle_end/flambda2/types/grammar/more_type_creators.mli
Labels: bug, flambda2, unboxed types

#1210 Remove kind constraint on T.never_holds_locally_allocated_values
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/types/provers.mli
  middle_end/flambda2/types/reify.ml
Labels: flambda2, unboxed types

#1205 Clambda layout fixes
  backend/cmmgen.ml
  middle_end/clambda_primitives.ml
  middle_end/clambda_primitives.mli
  middle_end/closure/closure.ml
  middle_end/convert_primitives.ml
  middle_end/flambda/build_export_info.ml
  middle_end/flambda/closure_conversion.ml
  middle_end/flambda/extract_projections.ml
  middle_end/flambda/flambda_to_clambda.ml
  middle_end/flambda/flambda_utils.ml
  middle_end/flambda/inline_and_simplify.ml
  middle_end/flambda/lift_constants.ml
  middle_end/flambda/ref_to_variables.ml
  middle_end/printclambda_primitives.ml
  middle_end/semantics_of_primitives.ml
Labels: middle end, unboxed types

#1208 Use kinds-with-subkinds more in To_cmm_shared interface
  backend/cmm_helpers.ml
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.mli
Labels: flambda2

#1211 Port PR1202 and PR1205 to the ocaml/ subtree
  middle_end/semantics_of_primitives.ml
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/asmcomp/cmm_helpers.mli
  ocaml/asmcomp/cmmgen.ml
  ocaml/middle_end/clambda_primitives.ml
  ocaml/middle_end/clambda_primitives.mli
  ocaml/middle_end/closure/closure.ml
  ocaml/middle_end/convert_primitives.ml
  ocaml/middle_end/flambda/build_export_info.ml
  ocaml/middle_end/flambda/closure_conversion.ml
  ocaml/middle_end/flambda/extract_projections.ml
  ocaml/middle_end/flambda/flambda_to_clambda.ml
  ocaml/middle_end/flambda/flambda_utils.ml
  ocaml/middle_end/flambda/inline_and_simplify.ml
  ocaml/middle_end/flambda/lift_constants.ml
  ocaml/middle_end/flambda/ref_to_variables.ml
  ocaml/middle_end/printclambda_primitives.ml
Labels: middle end, unboxed types

#1214 Add kind to Function_slot.t and Value_slot.t + fix join
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/identifiers/slot.ml
  middle_end/flambda2/identifiers/slot.mli
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_let_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify_shared/slot_offsets.ml
  middle_end/flambda2/terms/set_of_closures.ml
  middle_end/flambda2/terms/set_of_closures.mli
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  middle_end/flambda2/types/meet_and_join.ml
Labels: flambda2, unboxed types

#1216 Set better default rec_info in cmx files in classic mode
  middle_end/flambda2/types/env/typing_env.ml
Labels: flambda2 classic mode

#1173 Support for delayed Trywith handlers in backend/dataflow.ml
  backend/dataflow.ml
  backend/liveness.ml
  backend/printmach.ml
Labels: backend

#1209 Memoise last substitution composition
  ocaml/typing/subst.ml
Labels: typing, compilation speed

#1225 Replace assertion with a match statement
  ocaml/typing/types.ml
Labels: typing, compilation speed

#1224 Provide a no-naked-pointers runtime and use it for the compiler
  dune
  ocaml/runtime/Makefile
  ocaml/runtime/dune
  ocaml/runtime/memory.c
Labels: build system, compilation speed

#1237 Don't compare the kinds when comparing value_slots
  middle_end/flambda2/identifiers/slot.ml
Labels: flambda2

#1239 Remove incorrect invariant for [Apply]
  middle_end/flambda2/terms/apply_expr.ml
  middle_end/flambda2/tests/mlexamples/function_never_returns.ml
Labels: flambda2

#1230 Better criterion for resimplify
  middle_end/flambda2/simplify/flow/flow.mli
  middle_end/flambda2/simplify/flow/flow_analysis.ml
  middle_end/flambda2/simplify/flow/flow_analysis.mli
  middle_end/flambda2/simplify/simplify_expr.ml
Labels: flambda2, compilation speed

#1229 Add timestamps to GC logs
  ocaml/runtime/caml/osdeps.h
  ocaml/runtime/misc.c
  ocaml/runtime/unix.c
  ocaml/runtime/win32.c
Labels: runtime

#1227 Put frametables in .text with relative offsets for return addresses.
  backend/amd64/emit.mlp
  backend/emitaux.ml
  ocaml/asmcomp/amd64/emit.mlp
  ocaml/asmcomp/emitaux.ml
  ocaml/runtime/amd64.S
  ocaml/runtime/amd64nt.asm
  ocaml/runtime/arm.S
  ocaml/runtime/arm64.S
  ocaml/runtime/backtrace_nat.c
  ocaml/runtime/caml/stack.h
  ocaml/runtime/i386.S
  ocaml/runtime/i386nt.asm
  ocaml/runtime/power.S
  ocaml/runtime/riscv.S
  ocaml/runtime/roots_nat.c
  ocaml/runtime/s390x.S
  ocaml/runtime/signals_nat.c
Labels: compilation speed

#1207 Lift toplevel values in classic mode
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
Labels: flambda2 classic mode

#1253 Add all function and value slots to Closure_approximation
  middle_end/flambda2/classic_mode_types/value_approximation.ml
  middle_end/flambda2/classic_mode_types/value_approximation.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/types/env/typing_env.ml
Labels: bug, flambda2 classic mode

#1255 Fix dependencies for regenerating Flambda2 parser, tests
  Makefile
  ocaml/Makefile.common-jst
Labels: build system

#1235 Additions and fixes to the fexpr parser/printer
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_lex.ml
  middle_end/flambda2/parser/flambda_lex.mll
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mli
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/tests/mlexamples/dune
  middle_end/flambda2/tests/mlexamples/generated-rules.inc
  middle_end/flambda2/tests/mlexamples/tests14.flt
  middle_end/flambda2/tests/mlexamples/tests14.ml
  middle_end/flambda2/tests/mlexamples/tests14_in.fl
  middle_end/flambda2/tests/mlexamples/tests14_out.fl
Labels: flambda2

#972 Missing warnings for @inlined attributes in classic mode
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify_shared/inlining_helpers.ml
  middle_end/flambda2/simplify_shared/inlining_helpers.mli
Labels: flambda2, flambda2 classic mode

#1277 Add CI checks for no-naked-pointers
  .github/workflows/build.yml
Labels: CI

#1131 Make Selectgen treat region boundaries more precisely
  backend/selectgen.ml
  backend/selectgen.mli
  middle_end/flambda/inline_and_simplify.ml
  ocaml/asmcomp/selectgen.ml
  ocaml/asmcomp/selectgen.mli
  ocaml/middle_end/flambda/inline_and_simplify.ml
  ocaml/testsuite/tests/typing-local/regions.ml
  ocaml/testsuite/tests/typing-local/regions.reference
Labels: backend

#553 Improve the speed of register allocation (replace Set with Hashtbl)
  backend/interf.ml
Labels: backend, compilation speed

#1201 Speedup expand abbrev
  ocaml/typing/ctype.ml
Labels: typing, compilation speed
