Repository oxcaml/oxcaml, pull requests merged in 2023-10, with the labels that each got.

#1894 Fix builds with --disable-flat-float-array
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
Labels: flambda2

#1893 Remove mode from Texp_send
  ocaml/lambda/translcore.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/rec_check.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/uniqueness_analysis.ml
  ocaml/typing/untypeast.ml
Labels: bug

#1895 Abbreviate module types when printing error messages
  ocaml/testsuite/tests/typing-modules/abbreviate_in_error_messages.ml
  ocaml/testsuite/tests/typing-modules/functors.ml
  ocaml/testsuite/tests/typing-modules/illegal_permutation.ml
  ocaml/typing/includemod_errorprinter.ml
  ocaml/typing/printtyp.ml
  ocaml/typing/printtyp.mli
Labels: typing, compilation speed

#1546 [Labeled tuples] Migrate to Jane_syntax
  ocaml/boot/menhir/parser.ml
  ocaml/boot/ocamlc
  ocaml/lambda/translcore.ml
  ocaml/manual/tests/cross_reference_checker.ml
  ocaml/parsing/ast_helper.ml
  ocaml/parsing/ast_helper.mli
  ocaml/parsing/ast_invariants.ml
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/depend.ml
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/parse.ml
  ocaml/parsing/parser.mly
  ocaml/parsing/parsetree.mli
  ocaml/parsing/pprintast.ml
  ocaml/parsing/printast.ml
  ocaml/parsing/syntaxerr.ml
  ocaml/parsing/syntaxerr.mli
  ocaml/testsuite/tests/parse-errors/bigarray_index_labels.compilers.reference
  ocaml/testsuite/tests/parse-errors/bigarray_index_labels.ml
  ocaml/testsuite/tests/parse-errors/optional_tuple_component1.compilers.reference
  ocaml/testsuite/tests/parse-errors/optional_tuple_component2.compilers.reference
  ocaml/testsuite/tests/parsetree/locations_test.compilers.reference
  ocaml/testsuite/tests/parsing/broken_invariants.compilers.reference
  ocaml/testsuite/tests/parsing/broken_invariants.ml
  ocaml/testsuite/tests/parsing/illegal_ppx.ml
  ocaml/testsuite/tests/typing-labeled-tuples/labeled_tuple_patterns.ml
  ocaml/testsuite/tests/typing-labeled-tuples/labeled_tuples_and_constructors.ml
  ocaml/testsuite/tests/typing-labeled-tuples/labeled_tuples_dsource.ml
  ocaml/testsuite/tests/typing-labeled-tuples/labeledtuples.ml
  ocaml/testsuite/tools/expect_test.ml
  ocaml/tools/eqparsetree.ml
  ocaml/tools/ocamlprof.ml
  ocaml/typing/parmatch.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl_variance.ml
  ocaml/typing/typetexp.ml
  ocaml/typing/untypeast.ml
  ocaml/utils/language_extension.ml
  ocaml/utils/language_extension.mli
  printer/printast_with_mappings.ml
  testsuite/tools/expect_test.ml
Labels: lexer/parser, labeled-tuples

#1550 [Labeled tuples] Better syntax for expressions and patterns
  ocaml/boot/menhir/parser.ml
  ocaml/boot/ocamlc
  ocaml/parsing/parse.ml
  ocaml/parsing/parser.mly
  ocaml/parsing/syntaxerr.ml
  ocaml/parsing/syntaxerr.mli
  ocaml/testsuite/tests/parse-errors/bigarray_index_labels.compilers.reference
  ocaml/testsuite/tests/parse-errors/bigarray_index_labels.ml
  ocaml/testsuite/tests/parse-errors/optional_tuple_component1.compilers.reference
  ocaml/testsuite/tests/parse-errors/optional_tuple_component1.ml
  ocaml/testsuite/tests/parse-errors/optional_tuple_component2.compilers.reference
  ocaml/testsuite/tests/parse-errors/optional_tuple_component2.ml
  ocaml/testsuite/tests/typing-labeled-tuples/labeled_tuple_patterns.ml
  ocaml/testsuite/tests/typing-labeled-tuples/labeled_tuples_and_constructors.ml
  ocaml/testsuite/tests/typing-labeled-tuples/labeled_tuples_dsource.ml
  ocaml/testsuite/tests/typing-labeled-tuples/labeledtuples.ml
Labels: lexer/parser, labeled-tuples

#1908 Enable the validator by default
  driver/flambda_backend_flags.ml
Labels: cfg, backend

#1868 Use a forest rather than a tree for dominators
  backend/cfg/cfg_dominators.ml
  backend/cfg/cfg_dominators.mli
  backend/regalloc/regalloc_split.ml
  backend/regalloc/regalloc_split_state.ml
  backend/regalloc/regalloc_split_utils.ml
  backend/regalloc/regalloc_split_utils.mli
Labels: bug, cfg, backend

#1879 Regalloc: disable spill/reload motion between blocks
  backend/regalloc/regalloc_split_state.ml
Labels: bug, cfg, backend

#1869 Replace thread save/restore API with switch
  ocaml/otherlibs/systhreads/st_stubs.c
  ocaml/otherlibs/systhreads/threads.h
Labels: runtime

#1911 Dwarf_low and Dwarf_high changes for DWARF type emission
  backend/debug/dwarf/dwarf_high/dwarf_attribute_helpers.ml
  backend/debug/dwarf/dwarf_high/dwarf_attribute_helpers.mli
  backend/debug/dwarf/dwarf_low/dwarf_attributes.ml
  backend/debug/dwarf/dwarf_low/dwarf_attributes.mli
  backend/debug/dwarf/dwarf_low/encoding_attribute.ml
  backend/debug/dwarf/dwarf_low/encoding_attribute.mli
Labels: dwarf and debugging

#1870 Improve debuginfo for for-loops (and conditionals)
  backend/CSEgen.ml
  backend/comballoc.ml
  backend/mach.ml
  backend/mach.mli
  backend/reloadgen.ml
  backend/selectgen.ml
  backend/spill.ml
  backend/split.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/terms/apply_cont_expr.ml
  middle_end/flambda2/terms/switch_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/transl_array_comprehension.ml
  ocaml/lambda/translcore.ml
Labels: flambda2, dwarf and debugging, lambda

#1902 Register allocation: more flexible handling of substitutions
  backend/regalloc/regalloc_split.ml
  backend/regalloc/regalloc_split_state.ml
Labels: bug, cfg, backend

#1919 Shorten symbol names in classic mode
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/identifiers/int_ids.ml
  middle_end/flambda2/ui/flambda_features.ml
  middle_end/flambda2/ui/flambda_features.mli
Labels: flambda2

#1925 Eliminate need for parens around labeled tuple expressions
  ocaml/boot/menhir/parser.ml
  ocaml/boot/ocamlc
  ocaml/parsing/parser.mly
  ocaml/testsuite/tests/typing-labeled-tuples/labeled_tuple_patterns.ml
  ocaml/testsuite/tests/typing-labeled-tuples/labeled_tuples_dsource.ml
  ocaml/testsuite/tests/typing-labeled-tuples/labeledtuples.ml
Labels: lexer/parser, labeled-tuples

#1878 Refactor x86-specific float64 intrinsics
  backend/amd64/CSE.ml
  backend/amd64/arch.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/amd64/simd.ml
  backend/amd64/simd_selection.ml
  tests/simd/ops.ml
  tests/simd/stubs.c
Labels: backend, simd

#1920 Add float64x2 sqrt intrinsic
  backend/amd64/emit.mlp
  backend/amd64/simd.ml
  backend/amd64/simd_selection.ml
  backend/x86_ast.mli
  backend/x86_binary_emitter.ml
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
  tests/simd/ops.ml
  tests/simd/stubs.c
Labels: simd

#1923 Avoid partial register stall in roundsd
  backend/amd64/emit.mlp
Labels: backend, simd

#1897 Runtime helpers for 128-bit vectors
  ocaml/runtime/Makefile
  ocaml/runtime/caml/simd.h
  ocaml/runtime/simd.c
  tests/simd/stubs.c
Labels: simd

#1756 Allow parameter modes to be relaxed in type_argument
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/testsuite/tests/typing-local/local.ml
  ocaml/testsuite/tests/typing-local/nosyntax.ml
  ocaml/testsuite/tests/typing-poly/poly_params.ml
  ocaml/typing/typecore.ml
Labels: typing

#1944 Fix x64 binary emitter bug
  backend/x86_binary_emitter.ml
Labels: internal-assembler, simd

#1948 scripts/merge-ocaml-jst-with-conflicts
  scripts/merge-ocaml-jst-with-conflicts
Labels: OCaml 5

#1963 Fix result layout of combined applications
  ocaml/lambda/translcore.ml
Labels: bug, unboxed types

#1973 Fix warnings (runtime)
  ocaml/ocamltest/run_stubs.c
  ocaml/ocamltest/run_unix.c
  ocaml/runtime4/caml/major_gc.h
Labels: build system, runtime

#1974 Fix more warnings (runtime)
  ocaml/runtime4/Makefile
  ocaml/runtime4/caml/memory.h
  ocaml/runtime4/instrtrace.c
  ocaml/runtime4/interp.c
Labels: runtime, CI, OCaml 5
