Repository oxcaml/oxcaml, pull requests merged in 2023-02, with the labels that each got.

#1094 Restructure LIBDIR: Move Dynlink, Str and Unix to sub-directories (port part of ocaml/PR11198)
  ocaml/Makefile.common-jst
  ocaml/compilerlibs/Makefile.compilerlibs
  ocaml/otherlibs/Makefile.otherlibs.common
  ocaml/otherlibs/bigarray/dune
  ocaml/otherlibs/dynlink/Makefile
  ocaml/otherlibs/dynlink/dune
  ocaml/otherlibs/str/dune
  ocaml/otherlibs/unix/dune
Labels: build system

#1098 Configure: Add flag to use legacy library layout
  Makefile.config.in
  configure.ac
  ocaml/Makefile.common-jst
Labels: build system

#1102 Add result layout in Lapply and Lsend
  middle_end/closure/closure.ml
  middle_end/flambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/matching.ml
  ocaml/lambda/printlambda.ml
  ocaml/lambda/simplif.ml
  ocaml/lambda/translclass.ml
  ocaml/lambda/translcomprehension.ml
  ocaml/lambda/translcore.ml
  ocaml/lambda/translmod.ml
  ocaml/lambda/translprim.ml
  ocaml/middle_end/closure/closure.ml
  ocaml/middle_end/flambda/closure_conversion.ml
Labels: unboxed types, lambda

#1085 Fix build system under ocaml/runtime
  ocaml/dune
  ocaml/runtime/caml/dune
  ocaml/runtime/dune
Labels: build system

#1099 Add specific handling for variable aliasing in To_cmm
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
Labels: flambda2

#1112 Change build_upstream CI test to 64 bit
  .github/workflows/build.yml
Labels: CI

#1000 Flambda1 region deletion and locals fixes
  middle_end/flambda/inline_and_simplify.ml
  ocaml/Makefile.menhir
  ocaml/boot/menhir/menhirLib.ml
  ocaml/middle_end/flambda/inline_and_simplify.ml
Labels: middle end

#1104 caml_{curry,apply,send}* for unboxed types
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/cmmgen.ml
  file_formats/cmx_format.mli
  middle_end/compilenv.ml
  middle_end/compilenv.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  ocaml/asmcomp/cmm.ml
  ocaml/asmcomp/cmm.mli
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/asmcomp/cmm_helpers.mli
  ocaml/asmcomp/cmmgen.ml
  ocaml/file_formats/cmx_format.mli
  ocaml/middle_end/compilenv.ml
  ocaml/middle_end/compilenv.mli
  ocaml/tools/objinfo.ml
  tools/flambda_backend_objinfo.ml
Labels: backend, unboxed types

#1107 Add layout on Lregion
  middle_end/closure/closure.ml
  middle_end/flambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/dissect_letrec.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/matching.ml
  ocaml/lambda/printlambda.ml
  ocaml/lambda/simplif.ml
  ocaml/lambda/tmc.ml
  ocaml/lambda/translcore.ml
  ocaml/middle_end/closure/closure.ml
  ocaml/middle_end/flambda/closure_conversion.ml
Labels: unboxed types, lambda

#1108 Fix simplify-exits
  ocaml/lambda/simplif.ml
Labels: bug, unboxed types

#1120 Bugfix: do not forget some updates in to_cmm_static
  middle_end/flambda2/to_cmm/to_cmm_static.ml
Labels: bug, flambda2

#1106 Changes to arity in clambda
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/cmmgen.ml
  middle_end/clambda.ml
  middle_end/clambda.mli
  middle_end/closure/closure.ml
  middle_end/flambda/flambda_to_clambda.ml
  middle_end/flambda/un_anf.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  middle_end/printclambda.ml
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/asmcomp/cmm_helpers.mli
  ocaml/asmcomp/cmmgen.ml
  ocaml/middle_end/clambda.ml
  ocaml/middle_end/clambda.mli
  ocaml/middle_end/closure/closure.ml
  ocaml/middle_end/flambda/flambda_to_clambda.ml
  ocaml/middle_end/flambda/un_anf.ml
  ocaml/middle_end/printclambda.ml
Labels: middle end, unboxed types

#720 Fast permutation composition using bulk operations
  middle_end/flambda2/algorithms/container_types_intf.ml
  middle_end/flambda2/nominal/permutation.ml
  middle_end/flambda2/nominal/permutation.mli
  middle_end/flambda2/tests/algorithms/dune
  middle_end/flambda2/tests/algorithms/patricia_tree_tests.ml
Labels: flambda2

#1118 Use the type of primitive declarations to make their layout
  ocaml/lambda/translprim.ml
  ocaml/testsuite/tests/translprim/array_spec.compilers.flat.reference
  ocaml/testsuite/tests/translprim/comparison_table.compilers.reference
  ocaml/testsuite/tests/translprim/module_coercion.compilers.flat.reference
Labels: unboxed types

#1126 Flush the env for invalids in to_cmm
  middle_end/flambda2/tests/mlexamples/invalid.ml
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
Labels: bug, flambda2

#1089 Add `gc-timings` to collect timing information from the GC
  driver/dune
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  driver/optmaindriver.ml
  dune
  external/gc-timings/dune
  external/gc-timings/gc_timings.ml
  external/gc-timings/gc_timings.mli
  external/gc-timings/gc_timings_stubs.c
  ocaml/runtime/eventlog.c
Labels: driver

#1100 Compute free_vars in to_cmm and use it to filter bindings during flushes
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_expr.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.mli
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.mli
  middle_end/flambda2/to_cmm/to_cmm_static.mli
Labels: flambda2

#1115 Propagates layouts through Flambda1
  middle_end/clambda_primitives.ml
  middle_end/clambda_primitives.mli
  middle_end/flambda/augment_specialised_args.ml
  middle_end/flambda/closure_conversion.ml
  middle_end/flambda/closure_conversion_aux.ml
  middle_end/flambda/closure_conversion_aux.mli
  middle_end/flambda/flambda.ml
  middle_end/flambda/flambda.mli
  middle_end/flambda/flambda_invariants.ml
  middle_end/flambda/flambda_to_clambda.ml
  middle_end/flambda/flambda_utils.ml
  middle_end/flambda/flambda_utils.mli
  middle_end/flambda/freshening.ml
  middle_end/flambda/inconstant_idents.ml
  middle_end/flambda/inline_and_simplify.ml
  middle_end/flambda/inlining_decision.ml
  middle_end/flambda/inlining_decision.mli
  middle_end/flambda/inlining_transforms.ml
  middle_end/flambda/inlining_transforms.mli
  middle_end/flambda/projection.ml
  middle_end/flambda/projection.mli
  middle_end/flambda/remove_unused_arguments.ml
  middle_end/flambda/simple_value_approx.ml
  middle_end/flambda/simple_value_approx.mli
  middle_end/flambda/simplify_primitives.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/translclass.ml
  ocaml/lambda/translcore.ml
  ocaml/lambda/translcore.mli
  ocaml/middle_end/clambda_primitives.ml
  ocaml/middle_end/clambda_primitives.mli
  ocaml/middle_end/flambda/augment_specialised_args.ml
  ocaml/middle_end/flambda/closure_conversion.ml
  ocaml/middle_end/flambda/closure_conversion_aux.ml
  ocaml/middle_end/flambda/closure_conversion_aux.mli
  ocaml/middle_end/flambda/flambda.ml
  ocaml/middle_end/flambda/flambda.mli
  ocaml/middle_end/flambda/flambda_invariants.ml
  ocaml/middle_end/flambda/flambda_to_clambda.ml
  ocaml/middle_end/flambda/flambda_utils.ml
  ocaml/middle_end/flambda/flambda_utils.mli
  ocaml/middle_end/flambda/freshening.ml
  ocaml/middle_end/flambda/inconstant_idents.ml
  ocaml/middle_end/flambda/inline_and_simplify.ml
  ocaml/middle_end/flambda/inlining_decision.ml
  ocaml/middle_end/flambda/inlining_decision.mli
  ocaml/middle_end/flambda/inlining_transforms.ml
  ocaml/middle_end/flambda/inlining_transforms.mli
  ocaml/middle_end/flambda/projection.ml
  ocaml/middle_end/flambda/projection.mli
  ocaml/middle_end/flambda/remove_unused_arguments.ml
  ocaml/middle_end/flambda/simple_value_approx.ml
  ocaml/middle_end/flambda/simple_value_approx.mli
  ocaml/middle_end/flambda/simplify_primitives.ml
Labels: unboxed types

#1096 Compile refactor
  backend/asmgen.ml
  backend/asmgen.mli
  backend/asmpackager.ml
  backend/asmpackager.mli
  driver/optcompile.ml
  driver/optcompile.mli
  driver/optmaindriver.mli
  middle_end/flambda2/flambda2.ml
  middle_end/flambda2/flambda2.mli
  native_toplevel/opttoploop.ml
  ocaml/asmcomp/asmpackager.ml
  ocaml/bytecomp/bytepackager.ml
  ocaml/driver/compile.ml
  ocaml/driver/optcompile.ml
  ocaml/lambda/translmod.ml
  ocaml/lambda/translmod.mli
  ocaml/toplevel/native/topeval.ml
Labels: driver

#1127 Remove most layout_top in closure
  middle_end/closure/closure.ml
  ocaml/middle_end/closure/closure.ml
Labels: unboxed types

#1122 Minor IRC tweaks
  backend/cfg/cfg_irc_state.ml
  backend/cfg/cfg_regalloc_utils.ml
  backend/cfg/cfgize.ml
  backend/cfg/disconnect_block.ml
Labels: cfg, backend

#1123 More IRC metrics
  backend/cfg/cfg_irc.ml
  backend/cfg/cfg_regalloc_utils.ml
  backend/cfg/cfgize.ml
Labels: cfg, backend

#1109 Support for variant kinds in .fl syntax
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_lex.ml
  middle_end/flambda2/parser/flambda_lex.mll
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mli
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/tests/mlexamples/dune
  middle_end/flambda2/tests/mlexamples/tests0_in.fl
  middle_end/flambda2/tests/mlexamples/tests0_out.fl
  middle_end/flambda2/tests/mlexamples/tests4_in.fl
  middle_end/flambda2/tests/mlexamples/tests4_out.fl
  middle_end/flambda2/tests/mlexamples/tests5_in.fl
  middle_end/flambda2/tests/mlexamples/tests5_out.fl
  middle_end/flambda2/tests/tools/dune
  middle_end/flambda2/tests/tools/fldiff.ml
  middle_end/flambda2/tests/tools/flexpect.ml
  middle_end/flambda2/tests/tools/parseflambda.ml
  middle_end/flambda2/tests/tools/roundtrip.ml
  middle_end/flambda2/tests/tools/test_utils.ml
  middle_end/flambda2/tests/tools/test_utils.mli
Labels: flambda2

#1141 Improve warning 55 diagnostic under Flambda 2
  middle_end/flambda2/simplify/simplify_apply_expr.ml
Labels: flambda2

#1124 Doubly-linked lists for CFG layouts
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_dataflow.ml
  backend/cfg/cfg_deadcode.ml
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_irc.ml
  backend/cfg/cfg_irc_split.ml
  backend/cfg/cfg_irc_utils.ml
  backend/cfg/cfg_irc_utils.mli
  backend/cfg/cfg_regalloc_utils.ml
  backend/cfg/cfg_regalloc_utils.mli
  backend/cfg/cfg_regalloc_validate.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfg_with_layout.ml
  backend/cfg/cfg_with_layout.mli
  backend/cfg/cfgize.ml
  backend/cfg/eliminate_fallthrough_blocks.ml
  backend/cfg/extra_debug.ml
  backend/cfg/linear_to_cfg.ml
  backend/cfg/merge_straightline_blocks.ml
  backend/cfg/tests/check_regalloc_validation.ml
Labels: cfg, backend

#1148 Add flambda_backend_utils to compiler-libs
  utils/dune
Labels: build system

#1149 Add Flambda_backend_utils.Doubly_linked_list to compiler-libs too.
  utils/dune
Labels: build system

#1139 Add arities on Apply_expr
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_common.mli
  middle_end/flambda2/simplify/simplify_extcall.ml
  middle_end/flambda2/simplify/simplify_extcall.mli
  middle_end/flambda2/terms/apply_expr.ml
  middle_end/flambda2/terms/apply_expr.mli
  middle_end/flambda2/terms/call_kind.ml
  middle_end/flambda2/terms/call_kind.mli
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
Labels: flambda2, unboxed types

#1150 Generated Dune rules for generating, regenerating tests
  Makefile
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  middle_end/flambda2/flambda2.ml
  middle_end/flambda2/tests/mlexamples/dune
  middle_end/flambda2/tests/mlexamples/generated-rules.inc
  middle_end/flambda2/tests/mlexamples/tests0.flt
  middle_end/flambda2/tests/mlexamples/tests0_in.fl
  middle_end/flambda2/tests/mlexamples/tests0_out.fl
  middle_end/flambda2/tests/mlexamples/tests4.flt
  middle_end/flambda2/tests/mlexamples/tests4_in.fl
  middle_end/flambda2/tests/mlexamples/tests4_out.fl
  middle_end/flambda2/tests/mlexamples/tests5.flt
  middle_end/flambda2/tests/mlexamples/tests5_in.fl
  middle_end/flambda2/tests/mlexamples/tests5_out.fl
  middle_end/flambda2/tests/mlexamples/tools/dune
  middle_end/flambda2/tests/mlexamples/tools/gen_dune_rules.ml
  middle_end/flambda2/ui/flambda_features.ml
  middle_end/flambda2/ui/flambda_features.mli
Labels: flambda2

#1084 Layouts for parameters in lambda & remove most layout_top
  middle_end/flambda2/from_lambda/dissect_letrec.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/matching.ml
  ocaml/lambda/matching.mli
  ocaml/lambda/simplif.ml
  ocaml/lambda/translclass.ml
  ocaml/lambda/translcore.ml
  ocaml/lambda/translmod.ml
  ocaml/testsuite/tests/basic-modules/anonymous.ocamlc.reference
  ocaml/testsuite/tests/basic-modules/anonymous.ocamlopt.flambda.reference
  ocaml/testsuite/tests/basic-modules/anonymous.ocamlopt.reference
  ocaml/testsuite/tests/basic/patmatch_for_multiple.ml
  ocaml/typing/typeopt.ml
  ocaml/typing/typeopt.mli
Labels: unboxed types, lambda

#1140 Fix handling of recursive tailcalls by `Cfg_loop_infos`
  backend/cfg/cfg_loop_infos.ml
  backend/cfg/cfg_loop_infos.mli
Labels: bug, cfg, backend

#1138 Remove remaining `layout_top` after #1084
  middle_end/closure/closure.ml
  middle_end/convert_primitives.ml
  middle_end/flambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/internal_variable_names.ml
  native_toplevel/opttoploop.ml
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/tmc.ml
  ocaml/lambda/translclass.ml
  ocaml/lambda/translcore.ml
  ocaml/lambda/translobj.ml
  ocaml/lambda/translprim.ml
  ocaml/middle_end/closure/closure.ml
  ocaml/middle_end/convert_primitives.ml
  ocaml/middle_end/flambda/closure_conversion.ml
  ocaml/middle_end/internal_variable_names.ml
  ocaml/testsuite/tests/translprim/array_spec.compilers.flat.reference
  ocaml/testsuite/tests/translprim/comparison_table.compilers.reference
  ocaml/testsuite/tests/translprim/module_coercion.compilers.flat.reference
  ocaml/toplevel/native/topeval.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typeclass.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
Labels: unboxed types
