Repository oxcaml/oxcaml, pull requests merged in 2023-08, with the labels that each got.

#1651 Insert Iname_for_debugger operations in Selectgen
  backend/CSEgen.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/cfgize.ml
  backend/cfg/linear_to_cfg.ml
  backend/checkmach.ml
  backend/debug/available_regs.ml
  backend/debug/reg_with_debug_info.ml
  backend/debug/reg_with_debug_info.mli
  backend/mach.ml
  backend/mach.mli
  backend/printmach.ml
  backend/regalloc/regalloc_split.ml
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_validate.ml
  backend/selectgen.ml
  backend/selectgen.mli
  backend/spill.ml
  backend/split.ml
  middle_end/backend_var.ml
  middle_end/backend_var.mli
Labels: backend, dwarf and debugging

#1678 Flambda 2 changes for DWARF variables
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  ocaml/typing/ident.mli
Labels: flambda2, dwarf and debugging

#1679 Fixes for Compute_ranges
  backend/debug/compute_ranges.ml
  backend/debug/compute_ranges.mli
  backend/debug/compute_ranges_intf.ml
Labels: dwarf and debugging

#1677 Enable and fix Available_regs
  backend/debug/available_regs.ml
  backend/debug/available_regs.mli
  backend/printmach.ml
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
Labels: dwarf and debugging

#1653 Propagate register availability sets to Linear
  backend/branch_relaxation.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfgize.ml
  backend/cfg/linear_to_cfg.ml
  backend/debug/compute_ranges.ml
  backend/linear.ml
  backend/linear.mli
  backend/linearize.ml
  backend/mach.mli
  backend/regalloc/regalloc_utils.ml
  tests/backend/regalloc_validator/check_regalloc_validation.ml
Labels: backend, dwarf and debugging

#1667 Don't add a module to the environment when saving it
  ocaml/typing/env.ml
  ocaml/typing/persistent_env.ml
  ocaml/typing/persistent_env.mli
Labels: typing

#1681 Factor out signature for Key in Compute_ranges_intf
  backend/debug/compute_ranges_intf.ml
Labels: dwarf and debugging

#1684 Changes in proc.ml for DWARF
  backend/amd64/proc.ml
  backend/arm64/proc.ml
  backend/proc.mli
Labels: backend, dwarf and debugging

#1668 Simplifications following PR #1667
  ocaml/typing/env.ml
  ocaml/typing/persistent_env.ml
Labels: typing

#1643 Emit dwarf debug information after it has been collected
  backend/amd64/emit.mlp
  backend/internal_assembler/internal_assembler.ml
  backend/internal_assembler/internal_assembler.mli
  backend/x86_proc.ml
  backend/x86_proc.mli
Labels: dwarf and debugging

#1666 Add peephole optimizations for CFG blocks.
  backend/.ocamlformat-enable
  backend/asmgen.ml
  backend/peephole/peephole_optimize.ml
  backend/peephole/peephole_optimize.mli
  backend/peephole/peephole_rules.ml
  backend/peephole/peephole_rules.mli
  backend/peephole/peephole_utils.ml
  backend/peephole/peephole_utils.mli
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  dune
  utils/doubly_linked_list.ml
  utils/doubly_linked_list.mli
Labels: cfg, backend

#1694 Disable one of the minimizers which seems to cause non-termination
  chamelon/chamelon.ml
Labels: minimizer

#1688 Extend live ranges during Available_regs when permitted to do so
  backend/debug/available_regs.ml
  backend/debug/dwarf/dwarf_flags/dwarf_flags.ml
  backend/debug/dwarf/dwarf_flags/dwarf_flags.mli
  backend/debug/reg_with_debug_info.ml
  backend/debug/reg_with_debug_info.mli
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
Labels: dwarf and debugging

#1661 Create `Lexing.position` values when `[%src_pos]` in expressions
  ocaml/lambda/translcore.ml
  ocaml/testsuite/tests/typing-implicit-source-positions/expressions.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/rec_check.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/untypeast.ml
Labels: lexer/parser

#1543 Cold continuation handlers in flambda2
  backend/CSEgen.ml
  backend/afl_instrument.ml
  backend/cfg/cfgize.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/cmm_invariants.ml
  backend/cmmgen.ml
  backend/comballoc.ml
  backend/dataflow.ml
  backend/deadcode.ml
  backend/debug/available_regs.ml
  backend/interf.ml
  backend/interval.ml
  backend/linearize.ml
  backend/mach.ml
  backend/mach.mli
  backend/polling.ml
  backend/printcmm.ml
  backend/printmach.ml
  backend/reloadgen.ml
  backend/selectgen.ml
  backend/spill.ml
  backend/split.ml
  backend/strmatch.ml
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/inlining/inlining_transforms.ml
  middle_end/flambda2/simplify/rebuilt_expr.ml
  middle_end/flambda2/simplify/rebuilt_expr.mli
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_expr.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify_shared/inlining_helpers.ml
  middle_end/flambda2/simplify_shared/inlining_helpers.mli
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_effects.ml
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  testsuite/tools/parsecmm.mly
Labels: flambda2

#1576 Cold continuations: backend changes
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_with_layout.ml
  backend/cfg/cfg_with_layout.mli
  backend/cfg/cfgize.ml
  backend/cfg/linear_to_cfg.ml
  backend/cfg/merge_straightline_blocks.ml
  backend/regalloc/regalloc_utils.ml
  tests/backend/regalloc_validator/check_regalloc_validation.ml
Labels: backend

#1656 Fix depth variables escaping in return types
  middle_end/flambda2/types/grammar/type_descr.ml
Labels: flambda2

#1696 Set location on topmost Jane Syntax attribute
  ocaml/parsing/jane_syntax_parsing.ml
  ocaml/testsuite/tests/jane-modular-syntax/attribute_locations.ml
  ocaml/testsuite/tests/jane-modular-syntax/attribute_locations.reference
Labels: lexer/parser

#1671 Implicitly supply source position arguments
  ocaml/testsuite/tests/typing-implicit-source-positions/implicit_argument.ml
  ocaml/testsuite/tests/typing-implicit-source-positions/invalid_usages.ml
  ocaml/testsuite/tests/typing-misc/labels.ml
  ocaml/toplevel/topdirs.ml
  ocaml/typing/printtyp.ml
  ocaml/typing/typeclass.ml
  ocaml/typing/typecore.ml
  ocaml/utils/warnings.ml
  ocaml/utils/warnings.mli
Labels: typing, lexer/parser

#1700 Pass `-f` when `rm`ing file during install
  ocaml/Makefile.common-jst
Labels: build system

#1674 Add code path to read .cmi without adding to environment
  ocaml/debugger/loadprinter.ml
  ocaml/typing/env.ml
  ocaml/typing/env.mli
  ocaml/typing/persistent_env.ml
  ocaml/typing/persistent_env.mli
  ocaml/typing/typemod.ml
Labels: typing

#1524 Remove regions with exclaves
  middle_end/flambda/flambda_iterators.ml
  middle_end/flambda/flambda_iterators.mli
  middle_end/flambda/inline_and_simplify.ml
  middle_end/flambda/inline_and_simplify_aux.ml
  middle_end/flambda/inline_and_simplify_aux.mli
Labels: middle end

#1709 Add command-line flags to control debug info generation invariant checks
  backend/debug/available_regs.ml
  backend/debug/compute_ranges.ml
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
Labels: dwarf and debugging

#1716 Printmach improvements for register availability sets
  backend/asmgen.ml
  backend/printmach.ml
Labels: dwarf and debugging

#1722 Fix computation of domainstate slot addresses in DWARF
  backend/debug/dwarf/dwarf_high/operator_builder.ml
Labels: dwarf and debugging

#1717 Fixes for user-visible variable flags
  backend/selectgen.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/identifiers/int_ids.ml
Labels: dwarf and debugging

#1720 Git-ignore `chamelon/dune`
  chamelon/.gitignore
Labels: build system

#1725 Reduce memory usage of cached-generic-functions
  backend/cmm_helpers.ml
  tools/dune
  tools/generate_cached_generic_functions.ml
Labels: backend

#1729 Print availability sets on Linear terms when -davail specified
  backend/printlinear.ml
Labels: backend, dwarf and debugging

#1723 Propagate the label names of optional parameters
  middle_end/backend_var.ml
  middle_end/closure/closure.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  ocaml/lambda/simplif.ml
  ocaml/middle_end/closure/closure.ml
  ocaml/ocamldoc/odoc_ast.ml
  ocaml/typing/typeclass.ml
  ocaml/typing/typecore.ml
Labels: typing, middle end, dwarf and debugging

#1708 Improve performance of Available_regs
  backend/debug/available_regs.ml
Labels: dwarf and debugging

#1728 Put Iname_for_debugger instructions before the prologue
  backend/cfg/cfgize.ml
Labels: cfg, dwarf and debugging

#1719 Emit all sections as before except for debug_line and debug_frames which are delayed
  backend/asm_targets/asm_directives.ml
  backend/asm_targets/asm_directives_intf.ml
  backend/asm_targets/asm_section.ml
  backend/asm_targets/asm_section.mli
  backend/debug/dwarf/dwarf_high/dwarf_world.ml
  backend/debug/dwarf/dwarf_high/dwarf_world.mli
  backend/debug/dwarf/dwarf_ocaml/dwarf.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf.mli
  backend/emitaux.ml
  backend/emitaux.mli
  backend/internal_assembler/internal_assembler.ml
  backend/internal_assembler/internal_assembler.mli
  backend/x86_ast.mli
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
  backend/x86_proc.ml
  backend/x86_proc.mli
Labels: backend, internal-assembler

#1730 Flambda2 alignment check primitive
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.mli
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
Labels: flambda2, simd

#1742 Add -dranges command-line flag and remove DEBUG_RANGES env var test
  backend/debug/compute_ranges.ml
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
Labels: dwarf and debugging

#1727 Add `Jane_syntax` `Pprintast` tests
  ocaml/testsuite/tests/comprehensions/syntax.ml
  ocaml/testsuite/tests/comprehensions/syntax.reference
  ocaml/testsuite/tests/lib-array/iarray_syntax.ml
  ocaml/testsuite/tests/lib-array/iarray_syntax.reference
  ocaml/testsuite/tests/parsetree/source_jane_street.ml
  ocaml/testsuite/tests/parsetree/test.ml
  ocaml/testsuite/tests/typing-local/example_syntax.ml
  ocaml/testsuite/tests/typing-local/print_syntax.ml
Labels: lexer/parser

#1743 Add some checks that the minor GC does not recurse
  ocaml/otherlibs/systhreads/st_stubs.c
  ocaml/runtime/minor_gc.c
Labels: to upstream, runtime

#1672 Express pattern guards using Jane_syntax
  ocaml/boot/menhir/parser.ml
  ocaml/lambda/matching.mli
  ocaml/lambda/translcore.ml
  ocaml/parsing/ast_helper.ml
  ocaml/parsing/ast_helper.mli
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_iterator.mli
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/ast_mapper.mli
  ocaml/parsing/depend.ml
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/jane_syntax_parsing.ml
  ocaml/parsing/jane_syntax_parsing.mli
  ocaml/parsing/parser.mly
  ocaml/parsing/parsetree.mli
  ocaml/parsing/pprintast.ml
  ocaml/parsing/printast.ml
  ocaml/testsuite/tests/parsetree/source.ml
  ocaml/testsuite/tests/parsetree/test.ml
  ocaml/testsuite/tests/pattern-guards/exn_patterns.ml
  ocaml/testsuite/tests/pattern-guards/gadts.ml
  ocaml/testsuite/tests/pattern-guards/jane_test.ml
  ocaml/testsuite/tests/pattern-guards/nested_guards.ml
  ocaml/testsuite/tests/pattern-guards/seq.ml
  ocaml/testsuite/tests/pattern-guards/seq_bad.compilers.reference
  ocaml/testsuite/tests/pattern-guards/seq_bad.ml
  ocaml/testsuite/tests/pattern-guards/test.ml
  ocaml/testsuite/tests/pattern-guards/typing.ml
  ocaml/testsuite/tests/pattern-guards/warn.ml
  ocaml/tools/ocamlprof.ml
  ocaml/typing/typeclass.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/untypeast.ml
  ocaml/utils/language_extension.ml
  ocaml/utils/language_extension.mli
  ocaml/utils/language_extension_kernel.ml
  ocaml/utils/language_extension_kernel.mli
  printer/printast_with_mappings.ml
Labels: typing, lexer/parser

#1724 Refactor Debuginfo.t
  backend/cfg/cfg.ml
  backend/checkmach.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_concrete_instances.ml
  backend/emitaux.ml
  middle_end/flambda2/simplify/simplify_expr.ml
  ocaml/asmcomp/emitaux.ml
  ocaml/lambda/debuginfo.ml
  ocaml/lambda/debuginfo.mli
  tests/backend/regalloc_validator/check_regalloc_validation.ml
Labels: middle end, dwarf and debugging

#1739 Regalloc/split: insert spills (resp. reloads) as early (resp. late) as possible
  backend/regalloc/regalloc_split.ml
Labels: cfg, backend

#1740 Regalloc/split: factor out the functions inserting spills/reloads
  backend/regalloc/regalloc_split.ml
Labels: cfg, backend

#1757 Add simd-regalloc flag to x86 backend
  backend/amd64/arch.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
Labels: simd

#1337 Lazy strengthening
  ocaml/.depend
  ocaml/boot/menhir/parser.ml
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/lambda/translmod.ml
  ocaml/ocamldoc/odoc_env.ml
  ocaml/ocamldoc/odoc_print.ml
  ocaml/parsing/builtin_attributes.ml
  ocaml/parsing/parser.mly
  ocaml/testsuite/tests/shapes/functors.ml
  ocaml/testsuite/tests/typing-modules-bugs/pr7112_bad.compilers.reference
  ocaml/testsuite/tests/typing-modules/functors.ml
  ocaml/testsuite/tests/typing-modules/strengthening.ml
  ocaml/testsuite/tests/warnings/w32.compilers.reference
  ocaml/testsuite/tests/warnings/w32.ml
  ocaml/testsuite/tests/warnings/w32.mli
  ocaml/testsuite/tests/warnings/w60.compilers.reference
  ocaml/testsuite/tests/warnings/w60.ml
  ocaml/testsuite/tests/warnings/w60.mli
  ocaml/toplevel/topdirs.ml
  ocaml/typing/btype.ml
  ocaml/typing/ctype.ml
  ocaml/typing/env.ml
  ocaml/typing/includemod.ml
  ocaml/typing/includemod_errorprinter.ml
  ocaml/typing/mtype.ml
  ocaml/typing/mtype.mli
  ocaml/typing/oprint.ml
  ocaml/typing/outcometree.mli
  ocaml/typing/printtyp.ml
  ocaml/typing/printtyp.mli
  ocaml/typing/printtyped.ml
  ocaml/typing/subst.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/typemod.ml
  ocaml/typing/typemod.mli
  ocaml/typing/types.ml
  ocaml/typing/types.mli
  ocaml/typing/untypeast.ml
Labels: typing

#1768 Regulate access to [Language_extension] from within Jane Syntax
  ocaml/parsing/jane_syntax.ml
Labels: lexer/parser

#1585 128-bit vector casts & SSE instruction selection
  backend/.ocamlformat-enable
  backend/CSEgen.ml
  backend/amd64/CSE.ml
  backend/amd64/arch.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/amd64/simd.ml
  backend/amd64/simd_selection.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/arm64/simd.ml
  backend/arm64/simd_selection.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/cfgize.ml
  backend/cfg/linear_to_cfg.ml
  backend/checkmach.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_builtins.ml
  backend/comballoc.ml
  backend/debug/available_regs.ml
  backend/dune
  backend/mach.ml
  backend/mach.mli
  backend/polling.ml
  backend/printcmm.ml
  backend/printmach.ml
  backend/regalloc/regalloc_invariants.ml
  backend/regalloc/regalloc_irc_utils.ml
  backend/reloadgen.ml
  backend/selectgen.ml
  backend/x86_ast.mli
  backend/x86_binary_emitter.ml
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
  dune
  tests/simd/consts.ml
  tests/simd/dune
  tests/simd/ops.ml
  tests/simd/stubs.c
Labels: simd

#1701 mode crossing of LHS of arrow types by coercing
  ocaml/testsuite/tests/typing-local/crossing.ml
  ocaml/typing/ctype.ml
  ocaml/typing/ctype.mli
  ocaml/typing/typecore.ml
Labels: typing

#1705 Add [Obj.uniquely_reachable_words]
  ocaml/runtime/extern.c
  ocaml/stdlib/obj.ml
  ocaml/stdlib/obj.mli
  ocaml/testsuite/tests/lib-obj/uniquely_reachable_words.ml
Labels: runtime

#1786 Zero alloc: move checkmach pass before Comballoc and CSE
  backend/asmgen.ml
  tests/backend/checkmach/fail19.output
Labels: backend
