Repository oxcaml/oxcaml, pull requests merged in 2023-05, with the labels that each got.

#1308 Add dedicated printline-debugging support
  ocaml/.depend
  ocaml/compilerlibs/Makefile.compilerlibs
  ocaml/driver/main_args.ml
  ocaml/driver/main_args.mli
  ocaml/dune
  ocaml/otherlibs/dynlink/Makefile
  ocaml/otherlibs/dynlink/dune
  ocaml/tools/Makefile
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
  ocaml/utils/debug.ml
  ocaml/utils/debug.mli
Labels: to upstream

#1342 zero_alloc fix for Ivalueofint and Iintofvalue intrinsics
  backend/checkmach.ml
Labels: backend

#1326 Remove region from `Flambda_primitive.Init_or_assign.t`
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/term_basics/alloc_mode.ml
  middle_end/flambda2/term_basics/alloc_mode.mli
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/tests/mlexamples/tests3.flt
  middle_end/flambda2/tests/mlexamples/tests3_in.fl
  middle_end/flambda2/tests/mlexamples/tests3_out.fl
Labels: flambda2

#1345 Zero_alloc: more precise handling of caml_flambda2_invalid
  backend/checkmach.ml
Labels: backend

#1335 zero_alloc: always compute summaries
  backend/checkmach.ml
  backend/checks.ml
Labels: backend

#1288 Typedtree module unpacks: Incorporate upstream feedback
  ocaml/testsuite/tests/typing-fstclassmod/scope_escape.ml
  ocaml/testsuite/tests/typing-objects/Tests.ml
  ocaml/typing/typeclass.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
Labels: accepted upstream

#1319 Preserve order of declarations in various places
  middle_end/flambda2/algorithms/lmap.ml
  middle_end/flambda2/algorithms/lmap.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/simplify/simplify_named_result.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/tests/mlexamples/local.flt
  middle_end/flambda2/tests/mlexamples/local_in.fl
  middle_end/flambda2/tests/mlexamples/local_out.fl
  middle_end/flambda2/tests/mlexamples/tests14.flt
  middle_end/flambda2/tests/mlexamples/tests14_in.fl
  middle_end/flambda2/tests/mlexamples/tests14_out.fl
  middle_end/flambda2/tests/mlexamples/tests3.flt
  middle_end/flambda2/tests/mlexamples/tests3_in.fl
  middle_end/flambda2/tests/mlexamples/tests3_out.fl
  middle_end/flambda2/tests/mlexamples/tests4.flt
  middle_end/flambda2/tests/mlexamples/tests4_in.fl
  middle_end/flambda2/tests/mlexamples/tests4_out.fl
  middle_end/flambda2/tests/mlexamples/tests5.flt
  middle_end/flambda2/tests/mlexamples/tests5_in.fl
  middle_end/flambda2/tests/mlexamples/tests5_out.fl
  middle_end/flambda2/tests/mlexamples/tests7.flt
  middle_end/flambda2/tests/mlexamples/tests7_in.fl
  middle_end/flambda2/tests/mlexamples/tests7_out.fl
Labels: flambda2

#1315 Allow coercions in fexpr apply nodes
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_lex.ml
  middle_end/flambda2/parser/flambda_lex.mll
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/tests/mlexamples/local.flt
  middle_end/flambda2/tests/mlexamples/local_in.fl
  middle_end/flambda2/tests/mlexamples/local_out.fl
  middle_end/flambda2/tests/mlexamples/tests11.flt
  middle_end/flambda2/tests/mlexamples/tests11_out.fl
  middle_end/flambda2/tests/mlexamples/tests14.flt
  middle_end/flambda2/tests/mlexamples/tests14_in.fl
  middle_end/flambda2/tests/mlexamples/tests15.flt
  middle_end/flambda2/tests/mlexamples/tests15_in.fl
  middle_end/flambda2/tests/mlexamples/tests15_out.fl
  middle_end/flambda2/tests/mlexamples/tests2.flt
  middle_end/flambda2/tests/mlexamples/tests2_in.fl
  middle_end/flambda2/tests/mlexamples/tests2_out.fl
  middle_end/flambda2/tests/mlexamples/tests5.flt
  middle_end/flambda2/tests/mlexamples/tests5_in.fl
  middle_end/flambda2/tests/mlexamples/tests5_out.fl
  middle_end/flambda2/tests/mlexamples/tests6.flt
  middle_end/flambda2/tests/mlexamples/tests6_in.fl
  middle_end/flambda2/tests/mlexamples/tests6_out.fl
Labels: flambda2

#1314 Autogenerate dune file for tests of zero_alloc annotations
  tests/backend/checkmach/dune
  tests/backend/checkmach/dune.inc
  tests/backend/checkmach/gen/dune
  tests/backend/checkmach/gen/gen_dune.ml
Labels: backend

#1351 Remove extraneous underscore
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
Labels: flambda2

#1348 Fix ghost locations for modular extensions
  ocaml/boot/menhir/parser.ml
  ocaml/parsing/extensions.ml
  ocaml/parsing/extensions_parsing.ml
  ocaml/parsing/extensions_parsing.mli
  ocaml/parsing/location.ml
  ocaml/parsing/location.mli
  ocaml/parsing/parser.mly
  ocaml/typing/parmatch.ml
  ocaml/typing/typeclass.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/untypeast.ml
Labels: lexer/parser

#1354 Remove closure from Array.for_all
  ocaml/stdlib/array.ml
Labels: to upstream

#1364 Probes test should run only on amd64 linux targets
  tests/backend/probes/dune
Labels: backend

#1196 Add AFL support for Flambda 2
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
Labels: flambda2

#1369 Fix max indent
  driver/optmaindriver.ml
Labels: driver

#1313 Ltail for lambda and use in dissect_letrec
  middle_end/closure/closure.ml
  middle_end/flambda2/from_lambda/dissect_letrec.ml
  middle_end/flambda2/from_lambda/dissect_letrec.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/middle_end/closure/closure.ml
Labels: unboxed types, lambda

#1362 Provide an AST-like view of modular extension extension node names
  ocaml/parsing/extensions.ml
  ocaml/parsing/extensions_parsing.ml
  ocaml/parsing/extensions_parsing.mli
  ocaml/testsuite/tests/jst-modular-extensions/user_error3.compilers.reference
  ocaml/testsuite/tests/jst-modular-extensions/user_error5.compilers.reference
  ocaml/testsuite/tests/jst-modular-extensions/user_error6.compilers.reference
Labels: lexer/parser

#1375 Fix warning 55 semantics
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify_shared/call_site_inlining_decision_type.ml
  middle_end/flambda2/simplify_shared/call_site_inlining_decision_type.mli
  middle_end/flambda2/terms/apply_expr.ml
  middle_end/flambda2/terms/apply_expr.mli
  middle_end/flambda2/terms/inlined_attribute.ml
  middle_end/flambda2/terms/inlined_attribute.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
Labels: bug, flambda2

#1359 Reinstate PR 1319
  middle_end/flambda2/algorithms/lmap.ml
  middle_end/flambda2/algorithms/lmap.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/simplify/simplify_named_result.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/tests/mlexamples/local.flt
  middle_end/flambda2/tests/mlexamples/local_in.fl
  middle_end/flambda2/tests/mlexamples/local_out.fl
  middle_end/flambda2/tests/mlexamples/tests14.flt
  middle_end/flambda2/tests/mlexamples/tests14_in.fl
  middle_end/flambda2/tests/mlexamples/tests14_out.fl
  middle_end/flambda2/tests/mlexamples/tests15.flt
  middle_end/flambda2/tests/mlexamples/tests15_in.fl
  middle_end/flambda2/tests/mlexamples/tests15_out.fl
  middle_end/flambda2/tests/mlexamples/tests3.flt
  middle_end/flambda2/tests/mlexamples/tests3_in.fl
  middle_end/flambda2/tests/mlexamples/tests3_out.fl
  middle_end/flambda2/tests/mlexamples/tests4.flt
  middle_end/flambda2/tests/mlexamples/tests4_in.fl
  middle_end/flambda2/tests/mlexamples/tests4_out.fl
  middle_end/flambda2/tests/mlexamples/tests5.flt
  middle_end/flambda2/tests/mlexamples/tests5_in.fl
  middle_end/flambda2/tests/mlexamples/tests5_out.fl
  middle_end/flambda2/tests/mlexamples/tests7.flt
  middle_end/flambda2/tests/mlexamples/tests7_in.fl
  middle_end/flambda2/tests/mlexamples/tests7_out.fl
Labels: flambda2

#1371 Fix linear_to_cfg trap stack reconstruction bug
  backend/cfg/linear_to_cfg.ml
Labels: bug, cfg, backend

#1398 Don't treat an "empty" import map as equivalent to `None`
  middle_end/flambda2/cmx/exported_code.ml
  middle_end/flambda2/nominal/name_abstraction.ml
  middle_end/flambda2/nominal/name_occurrences.ml
  middle_end/flambda2/nominal/renaming.ml
  middle_end/flambda2/nominal/renaming.mli
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/static_const.ml
  middle_end/flambda2/types/grammar/type_descr.ml
  middle_end/flambda2/types/grammar/type_grammar.ml
Labels: bug, flambda2

#1410 Lift array out-of-bounds in classic mode
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.mli
Labels: flambda2 classic mode

#1365 Introduce an API to swap the runtime lock for a different lock.
  ocaml/Makefile.common-jst
  ocaml/otherlibs/systhreads/st_stubs.c
  ocaml/otherlibs/systhreads/threads.h
  ocaml/testsuite/tests/lib-systhreads/swapgil.ml
  ocaml/testsuite/tests/lib-systhreads/swapgil.reference
  ocaml/testsuite/tests/lib-systhreads/swapgil_stubs.c
Labels: runtime

#1405 Allow non-value function args and returns
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/lambda/translcore.ml
  ocaml/lambda/translmod.ml
  ocaml/testsuite/tests/typing-layouts/basics.ml
  ocaml/testsuite/tests/typing-layouts/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts/basics_beta.ml
  ocaml/testsuite/tests/typing-layouts/modules.ml
  ocaml/testsuite/tests/typing-layouts/modules_alpha.ml
  ocaml/testsuite/tests/typing-layouts/modules_beta.ml
  ocaml/testsuite/tests/typing-missing-cmi/test.compilers.reference
  ocaml/typing/ctype.ml
  ocaml/typing/layouts.ml
  ocaml/typing/layouts.mli
  ocaml/typing/typeopt.ml
  ocaml/typing/typetexp.ml
  ocaml/typing/typetexp.mli
Labels: typing, unboxed types

#1423 Remove layout variables from [val]s
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/testsuite/tests/typing-layouts/basics.ml
  ocaml/testsuite/tests/typing-layouts/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts/basics_beta.ml
  ocaml/testsuite/tests/typing-missing-cmi/test.compilers.reference
  ocaml/typing/typetexp.ml
Labels: to upstream

#1430 Fix swapgil test C warnings
  ocaml/testsuite/tests/lib-systhreads/swapgil_stubs.c
Labels: CI
