Repository oxcaml/oxcaml, pull requests merged in 2023-12, with the labels that each got.

#2109 Re-enable some tests that it seems should work now
  ocaml/testsuite/tests/c-api/test_c_thread_has_lock.ml
  ocaml/testsuite/tests/c-api/test_c_thread_has_lock_systhread.ml
  ocaml/testsuite/tests/frame-pointers/c_call.ml
  ocaml/testsuite/tests/frame-pointers/exception_handler.ml
  ocaml/testsuite/tests/lazy/minor_major_force.ml
  ocaml/testsuite/tests/lf_skiplist/test.ml
  ocaml/testsuite/tests/lib-channels/close_in.ml
  ocaml/testsuite/tests/lib-random/testvectors.ml
  ocaml/testsuite/tests/lib-sync/trylock.ml
  ocaml/testsuite/tests/lib-sync/trylock2.ml
  ocaml/testsuite/tests/lib-systhreads/boundscheck.ml
  ocaml/testsuite/tests/memory-model/forbidden.ml
Labels: OCaml 5

#2111 Use upstream implementation of caml_unix_error_message for runtime5
  ocaml/otherlibs/unix/errmsg_unix.c
  ocaml/runtime4/caml/sys.h
  ocaml/runtime4/sys.c
Labels: runtime, OCaml 5

#2110 Revert unixsupport_unix.c to the upstream version
  ocaml/otherlibs/unix/unixsupport_unix.c
  ocaml/runtime/caml/config.h
Labels: OCaml 5

#2121 Backport caml_sys_is_regular_file to the 4 runtime
  ocaml/runtime4/sys.c
  ocaml/stdlib/sys.ml.in
  ocaml/stdlib/sys.mli
Labels: runtime, OCaml 5

#2105 Refine type printing heuristics in view of #1962
  ocaml/testsuite/tests/printing-types/multiple_files.ml
  ocaml/testsuite/tests/printing-types/test_multiple_files.compilers.reference
  ocaml/testsuite/tests/printing-types/test_multiple_files.ml
  ocaml/testsuite/tests/typing-short-paths/errors.ml
  ocaml/testsuite/tests/typing-short-paths/short-paths.compilers.reference
  ocaml/typing/printtyp.ml
Labels: typing

#2118 Ports upstream #12212
  ocaml/runtime/alloc.c
  ocaml/runtime/caml/config.h
  ocaml/runtime/caml/sizeclasses.h
  ocaml/runtime/shared_heap.c
  ocaml/runtime4/alloc.c
  ocaml/stdlib/atomic.ml
  ocaml/stdlib/atomic.mli
  ocaml/testsuite/tests/c-api/aligned_alloc.ml
  ocaml/testsuite/tests/c-api/aligned_alloc_stubs.c
  ocaml/tools/gen_sizeclasses.ml
Labels: runtime, OCaml 5

#2115 Print jkind on locally abstract type
  ocaml/typing/ctype.ml
  ocaml/typing/ctype.mli
  ocaml/typing/typecore.ml
Labels: typing, unboxed types

#2098 Wider scope of `in_minor_collection`
  ocaml/otherlibs/systhreads/st_stubs.c
  ocaml/otherlibs/systhreads4/st_stubs.c
  ocaml/runtime/minor_gc.c
  ocaml/runtime/signals.c
  ocaml/runtime4/signals.c
  ocaml/testsuite/tests/regression/pr2098/in_minor_collection.ml
  ocaml/testsuite/tests/regression/pr2098/in_minor_collection.run
  ocaml/testsuite/tests/regression/pr2098/stub.c
Labels: runtime, OCaml 5

#2116 Replace Closure and Flambda 1 CI jobs by a Flambda 2 + debug runtime5 CI job
  .github/workflows/build.yml
Labels: CI

#2092 Add omitted SSE intrinsics
  backend/amd64/emit.mlp
  backend/amd64/simd.ml
  backend/amd64/simd_selection.ml
  backend/x86_ast.mli
  backend/x86_binary_emitter.ml
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
  tests/simd/ops.ml
  tests/simd/stubs.c
Labels: simd

#2053 Fix kinds in symbol projections
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/simplify/unboxing/unboxers.ml
  middle_end/flambda2/simplify/unboxing/unboxers.mli
  middle_end/flambda2/simplify/unboxing/unboxing_epa.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
Labels: flambda2

#2129 Revert "port #852 (add primitive to enable/disable tick thread) (#2054)"
  ocaml/otherlibs/systhreads/st_stubs.c
Labels: runtime, OCaml 5

#2077 Ports custom runtime locking
  ocaml/otherlibs/systhreads/st_pthreads.h
  ocaml/otherlibs/systhreads/st_stubs.c
  ocaml/otherlibs/systhreads/threads.h
  ocaml/otherlibs/systhreads4/st_stubs.c
  ocaml/otherlibs/systhreads4/threads.h
  ocaml/runtime/domain.c
  ocaml/testsuite/tests/c-api/test_c_thread_has_lock_systhread.ml
  ocaml/testsuite/tests/lib-systhreads/swapgil.ml
  ocaml/testsuite/tests/lib-systhreads/swapgil_stubs.c
Labels: runtime, OCaml 5

#2133 Add caml_hot__code{begin,end} symbols in runtime5
  ocaml/runtime/amd64.S
  ocaml/runtime/arm64.S
Labels: runtime, OCaml 5

#1751 Add `-as-parameter` option
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/driver/compile_common.ml
  ocaml/driver/main_args.ml
  ocaml/driver/main_args.mli
  ocaml/file_formats/cmi_format.ml
  ocaml/file_formats/cmi_format.mli
  ocaml/ocamldoc/odoc_analyse.ml
  ocaml/testsuite/tests/self-contained-toplevel/main.ml
  ocaml/testsuite/tests/templates/basic/bad_impl_as_param.ml
  ocaml/testsuite/tests/templates/basic/bad_impl_as_param.reference
  ocaml/testsuite/tests/templates/basic/bad_param_impl.ml
  ocaml/testsuite/tests/templates/basic/bad_param_impl.mli
  ocaml/testsuite/tests/templates/basic/bad_param_impl.reference
  ocaml/testsuite/tests/templates/basic/bad_param_packed.mli
  ocaml/testsuite/tests/templates/basic/bad_param_packed.reference
  ocaml/testsuite/tests/templates/basic/bad_ref_direct.ml
  ocaml/testsuite/tests/templates/basic/bad_ref_direct.reference
  ocaml/testsuite/tests/templates/basic/monoid.mli
  ocaml/testsuite/tests/templates/basic/test.ml
  ocaml/tools/objinfo.ml
  ocaml/typing/env.ml
  ocaml/typing/env.mli
  ocaml/typing/persistent_env.ml
  ocaml/typing/persistent_env.mli
  ocaml/typing/typemod.ml
  ocaml/typing/typemod.mli
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
  tools/flambda_backend_objinfo.ml
Labels: parameterized-libs

#2131 Optimize generated cmm for negated comparisons
  backend/cmm_helpers.ml
Labels: flambda2

#1969 Abstract over instruction prefix in binary emitter
  backend/x86_binary_emitter.ml
Labels: backend, internal-assembler

#1970 BMI2 Intrinsics
  backend/amd64/arch.ml
  backend/amd64/arch.mli
  backend/amd64/emit.mlp
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/simd.ml
  backend/amd64/simd_reload.ml
  backend/amd64/simd_selection.ml
  backend/x86_ast.mli
  backend/x86_binary_emitter.ml
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
  tests/simd/scalar_ops.ml
  tests/simd/stubs.c
Labels: backend, internal-assembler, simd

#2144 Layout history: mark `typing-immediate/immediate.ml` as reviewed
  ocaml/testsuite/tests/typing-immediate/immediate.ml
Labels: typing

#2146 API for constructing a labeled tuple AST is more permissive
  ocaml/boot/menhir/parser.ml
  ocaml/parsing/ast_invariants.ml
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/depend.ml
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/parser.mly
  ocaml/parsing/pprintast.ml
  ocaml/testsuite/tests/parsing/broken_invariants.compilers.reference
  ocaml/testsuite/tests/parsing/broken_invariants.ml
  ocaml/testsuite/tests/parsing/illegal_ppx.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typetexp.ml
  ocaml/typing/untypeast.ml
Labels: typing

#2142 Fix simplification of never_return applications
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/expr_builder.mli
  middle_end/flambda2/simplify/simplify_apply_expr.ml
Labels: flambda2

#2112 zero_alloc: fix treatment of caml_flambda2_invalid
  backend/checkmach.ml
  backend/checkmach.mli
  backend/cmm.ml
  backend/cmm.mli
  backend/selectgen.ml
  backend/selectgen.mli
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  tests/backend/checkmach/dune
  tests/backend/checkmach/fail24.ml
  tests/backend/checkmach/fail24.output
Labels: flambda2, backend, middle end

#2135 Fix caml_gc_compaction in the 5 runtime to run finalizers
  ocaml/runtime/gc_ctrl.c
Labels: runtime, OCaml 5

#2154 Fix segfault when signal handlers invoked in non-OCaml threads on runtime5
  ocaml/runtime/caml/domain.h
  ocaml/runtime/domain.c
  ocaml/runtime/minor_gc.c
  ocaml/runtime/signals.c
  ocaml/testsuite/tests/lib-threads/signal_handler_run_in_c_thread.ml
  ocaml/testsuite/tests/lib-threads/signal_handler_run_in_c_thread_stubs.c
Labels: bug, runtime, OCaml 5

#1863 Fix caml apply
  backend/cmm_helpers.ml
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  tests/backend/caml_apply_split_max_arity/dune
  tests/backend/caml_apply_split_max_arity/t.expected
  tests/backend/caml_apply_split_max_arity/t.ml
Labels: middle end

#2160 Reinitialize IO mutexes in systhreads5
  ocaml/otherlibs/systhreads/st_stubs.c
  ocaml/runtime/caml/io.h
Labels: runtime, OCaml 5

#2161 Fix error about -Wdeprecated-non-prototype
  ocaml/runtime4/Makefile
Labels: build system

#2151 zero_alloc: relaxed interpretation of [@zero_alloc assume]
  backend/checkmach.ml
  tests/backend/checkmach/dune.inc
  tests/backend/checkmach/gen/gen_dune.ml
  tests/backend/checkmach/test_assume_fail.ml
  tests/backend/checkmach/test_assume_fail.output
Labels: bug, backend

#2162 Fix split_default_wrapper when default value could allocate in region
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/simplif.ml
  ocaml/lambda/translcore.ml
Labels: bug, middle end

#2152 Zero alloc fix assume payload parsing
  ocaml/lambda/translattribute.ml
  tests/backend/checkmach/dune.inc
  tests/backend/checkmach/gen/gen_dune.ml
  tests/backend/checkmach/t.ml
  tests/backend/checkmach/test_attribute_error_duplicate.output
Labels: bug

#2020 Remove Linearize Pass
  .github/workflows/build.yml
  backend/asmgen.ml
  backend/cfg/cfg.mli
  backend/cfg/cfgize.ml
  backend/cfg/linear_to_cfg.ml
  backend/cfg/linear_to_cfg.mli
  backend/cfg/trap_stack.ml
  backend/cfg/trap_stack.mli
  backend/linearize.ml
  backend/linearize.mli
  dune
Labels: backend

#2153 Zero alloc misplaced attr warning
  ocaml/lambda/translattribute.ml
  ocaml/parsing/builtin_attributes.ml
  ocaml/parsing/builtin_attributes.mli
  tests/backend/checkmach/dune.inc
  tests/backend/checkmach/gen/gen_dune.ml
  tests/backend/checkmach/test_misplaced_attr.ml
  tests/backend/checkmach/test_misplaced_attr.output
Labels: bug

#1695 Ensure that we always have the slot offsets for all code ids (even non-simplified code)
  middle_end/flambda2/flambda2.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion.mli
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/simplify/env/downwards_acc.ml
  middle_end/flambda2/simplify/env/downwards_acc.mli
  middle_end/flambda2/simplify/simplify.ml
  middle_end/flambda2/simplify/simplify.mli
  middle_end/flambda2/tests/tools/flexpect.ml
Labels: flambda2

#2180 Add region in Call_kind for C calls
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/terms/apply_expr.ml
  middle_end/flambda2/terms/call_kind.ml
  middle_end/flambda2/terms/call_kind.mli
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/testsuite/tests/typing-local/alloc.heap.reference
  ocaml/testsuite/tests/typing-local/alloc.ml
  ocaml/testsuite/tests/typing-local/alloc.stack.reference
Labels: bug, flambda2

#2132 Better heuristic for resimplification after mutable unboxing
  middle_end/flambda2/simplify/flow/flow_analysis.ml
  middle_end/flambda2/simplify/flow/flow_types.ml
  middle_end/flambda2/simplify/flow/flow_types.mli
  middle_end/flambda2/simplify/flow/mutable_unboxing.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
Labels: flambda2

#2174 Better type for switch table symbols
  middle_end/flambda2/simplify/simplify_switch_expr.ml
Labels: flambda2

#2190 Treat Prim_poly primitives as Alloc_heap in Lambda
  ocaml/lambda/lambda.ml
  ocaml/lambda/printlambda.ml
  ocaml/lambda/printlambda.mli
  ocaml/lambda/translprim.ml
  ocaml/testsuite/tests/typing-local/external.ml
Labels: bug

#2128 `Cfg_dominators`: tentative fix for dead code handling
  backend/cfg/cfg_dominators.ml
Labels: bug, cfg, backend

#2192 Fix assertion in caml_ephe_clean
  ocaml/runtime/caml/shared_heap.h
  ocaml/runtime/weak.c
Labels: bug, to upstream, runtime

#2191 Modify Caml_state->backtrace_last_exn properly
  ocaml/otherlibs/systhreads/st_stubs.c
Labels: bug, to upstream, runtime

#2186 Remove unnecessary constructors from export_info handling
  backend/asmlibrarian.ml
  backend/asmpackager.ml
  file_formats/cmx_format.mli
  middle_end/compilenv.ml
  middle_end/compilenv.mli
  middle_end/flambda2/flambda2.ml
  tools/flambda_backend_objinfo.ml
Labels: middle end

#2091 Improve layout history error message: review new messages
  ocaml/testsuite/tests/typing-immediate/immediate.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/any_missing_cmi.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/concrete.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/concrete_struct_item_expr.compilers.reference
  ocaml/testsuite/tests/typing-layouts-err-msg/immediate.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/value.ml
  ocaml/testsuite/tests/typing-layouts-float64/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts-float64/parsing.ml
  ocaml/testsuite/tests/typing-layouts-gadt-sort-var/test.ml
  ocaml/testsuite/tests/typing-layouts-gadt-sort-var/test_extensible.ml
  ocaml/testsuite/tests/typing-layouts-missing-cmi/c.ml
  ocaml/testsuite/tests/typing-layouts-missing-cmi/function_arg.ml
  ocaml/testsuite/tests/typing-layouts/annots_beta.ml
  ocaml/testsuite/tests/typing-layouts/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts/basics_beta.ml
  ocaml/testsuite/tests/typing-layouts/datatypes_alpha.ml
  ocaml/testsuite/tests/typing-layouts/datatypes_beta.ml
  ocaml/testsuite/tests/typing-layouts/modules.ml
  ocaml/testsuite/tests/typing-layouts/modules_alpha.ml
  ocaml/testsuite/tests/typing-layouts/modules_beta.ml
  ocaml/testsuite/tests/typing-layouts/parsing_alpha.ml
  ocaml/testsuite/tests/typing-layouts/void_alpha.ml
  ocaml/testsuite/tests/typing-missing-cmi-2/test.compilers.reference
  ocaml/testsuite/tests/typing-missing-cmi-2/test.ml
  ocaml/testsuite/tests/typing-missing-cmi-indirections/test.ml
  ocaml/testsuite/tests/typing-missing-cmi/main.ml.reference
  ocaml/testsuite/tests/typing-missing-cmi/test.ml
  ocaml/typing/ctype.mli
  ocaml/typing/layouts.ml
  ocaml/typing/layouts.mli
  ocaml/typing/printtyp.ml
  ocaml/typing/typeclass.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typedecl.mli
  ocaml/typing/typemod.ml
  ocaml/typing/typetexp.ml
Labels: typing

#2107 Move layout restriction from -> to fun
  ocaml/testsuite/tests/typing-layouts/annots.ml
  ocaml/testsuite/tests/typing-layouts/any_in_types.ml
  ocaml/testsuite/tests/typing-layouts/any_in_types.reference
  ocaml/testsuite/tests/typing-layouts/basics.ml
  ocaml/testsuite/tests/typing-layouts/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts/datatypes.ml
  ocaml/testsuite/tests/typing-layouts/datatypes_alpha.ml
  ocaml/testsuite/tests/typing-layouts/modules.ml
  ocaml/testsuite/tests/typing-layouts/modules_alpha.ml
  ocaml/testsuite/tests/typing-local/local.ml
  ocaml/testsuite/tests/typing-poly/poly.ml
  ocaml/typing/ctype.ml
  ocaml/typing/ctype.mli
  ocaml/typing/jkind.ml
  ocaml/typing/jkind.mli
  ocaml/typing/typeclass.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typetexp.ml
  ocaml/typing/typetexp.mli
Labels: typing

#2195 Silence the debug runtime by default (runtime5 only)
  ocaml/runtime/startup_aux.c
  ocaml/runtime/startup_byt.c
  ocaml/runtime/startup_nat.c
Labels: runtime, OCaml 5

#2173 Improve constant folding during memory addressing
  backend/amd64/selection.ml
Labels: backend

#2199 Propagate effect and coeffect attributes on C calls through flambda2
  backend/cmm_builtins.ml
  backend/cmm_builtins.mli
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/terms/call_kind.ml
  middle_end/flambda2/terms/call_kind.mli
  middle_end/flambda2/terms/coeffects.ml
  middle_end/flambda2/terms/coeffects.mli
  middle_end/flambda2/terms/effects.ml
  middle_end/flambda2/terms/effects.mli
  middle_end/flambda2/to_cmm/to_cmm_effects.ml
  middle_end/flambda2/to_cmm/to_cmm_effects.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
Labels: middle end

#2200 Disable some SIMD tests when running under Rosetta2
  tests/simd/dune
  tests/simd/ops.ml
  tests/simd/scalar_ops.ml
  tests/simd/test_helpers.ml
  tests/simd/test_helpers.mli
Labels: CI, simd
