Repository oxcaml/oxcaml, pull requests merged in 2023-07, with the labels that each got.

#1537 [Labeled tuples] Partial and reordered patterns
  ocaml/boot/menhir/parser.ml
  ocaml/boot/ocamlc
  ocaml/lambda/matching.ml
  ocaml/lambda/translcore.ml
  ocaml/parsing/ast_helper.ml
  ocaml/parsing/ast_helper.mli
  ocaml/parsing/ast_invariants.ml
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/depend.ml
  ocaml/parsing/parser.mly
  ocaml/parsing/parsetree.mli
  ocaml/parsing/pprintast.ml
  ocaml/parsing/printast.ml
  ocaml/testsuite/tests/typing-labeled-tuples/labeled_tuple_patterns.ml
  ocaml/testsuite/tests/typing-labeled-tuples/labeled_tuples_and_constructors.ml
  ocaml/testsuite/tests/typing-labeled-tuples/labeled_tuples_dsource.ml
  ocaml/testsuite/tests/typing-labeled-tuples/labeledtuples.ml
  ocaml/tools/eqparsetree.ml
  ocaml/typing/parmatch.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
  ocaml/typing/typemod.ml
  ocaml/typing/untypeast.ml
  ocaml/utils/warnings.ml
  ocaml/utils/warnings.mli
  printer/printast_with_mappings.ml
Labels: typing, labeled-tuples

#1509 Factor out kernel of `Language_extension` used by Jane Syntax
  ocaml/.depend
  ocaml/compilerlibs/Makefile.compilerlibs
  ocaml/dune
  ocaml/otherlibs/dynlink/Makefile
  ocaml/otherlibs/dynlink/dune
  ocaml/parsing/jane_syntax_parsing.ml
  ocaml/tools/Makefile
  ocaml/utils/language_extension.ml
  ocaml/utils/language_extension.mli
  ocaml/utils/language_extension_kernel.ml
  ocaml/utils/language_extension_kernel.mli
Labels: lexer/parser

#1555 Delete unused x87 FP operations from amd64 backend
  backend/x86_ast.mli
  backend/x86_binary_emitter.ml
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
  backend/x86_proc.ml
  backend/x86_proc.mli
Labels: backend, internal-assembler

#1545 Remove stack slot optim parameter
  .github/workflows/build.yml
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_stack_slots.ml
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
Labels: cfg, backend

#1551 Flambda2 layouts: Fix partial application wrapper result arity
  middle_end/flambda2/from_lambda/closure_conversion.ml
Labels: flambda2, middle end, unboxed types

#1549 Fix layouts in flambda1 partial application simplification
  middle_end/flambda/inline_and_simplify.ml
Labels: middle end, unboxed types

#1564 Fix probe handler argument order
  backend/amd64/emit.mlp
  tests/simd/probes.ml
Labels: bug, backend

#1544 `Regalloc_rewrite`: avoid unnecessary array allocations
  backend/regalloc/regalloc_rewrite.ml
Labels: cfg, backend

#1578 Prevent fatal compiler error with unboxing code and GADTs
  middle_end/flambda2/simplify/unboxing/unboxing_epa.ml
  middle_end/flambda2/tests/mlexamples/unboxing_gadt.ml
Labels: bug, flambda2

#1641 Build dwarf_ocaml/ files as part of ocamloptcomp
  backend/debug/dwarf/dwarf_ocaml/dune
  backend/emitaux.ml
  dune
Labels: build system, dwarf and debugging

#1572 Float_u stdlib module
  ocaml/Makefile.common-jst
  ocaml/driver/compenv.ml
  ocaml/ocamldoc/odoc.ml
  ocaml/stdlib/.depend
  ocaml/stdlib/Makefile
  ocaml/stdlib/StdlibModules
  ocaml/stdlib/dune
  ocaml/stdlib/float_u.ml
  ocaml/stdlib/float_u.mli
  ocaml/stdlib/ocaml_compiler_internal_params
  ocaml/testsuite/tests/typing-layouts-float64/alloc.ml
  ocaml/testsuite/tests/typing-layouts-float64/stdlib_float_u_alpha.ml
  ocaml/testsuite/tests/typing-layouts-float64/unboxed_floats.compilers.reference
  ocaml/testsuite/tests/typing-layouts-float64/unboxed_floats.ml
  ocaml/testsuite/tests/typing-layouts-float64/unboxed_floats_alpha.ml
  ocaml/testsuite/tests/typing-layouts-float64/unboxed_floats_beta.compilers.reference
  ocaml/testsuite/tests/typing-layouts-float64/unboxed_floats_beta.ml
Labels: unboxed types
