Repository oxcaml/oxcaml, pull requests merged in 2023-06, with the labels that each got.

#1438 IRC-related typos
  backend/reg.mli
  backend/regalloc/regalloc_irc.ml
Labels: cfg, backend, non-material change

#1439 `Cfg.can_raise_terminator`: allocations no longer raise
  backend/cfg/cfg.ml
Labels: bug, cfg, backend

#1431 Fix weak symbol on macOS (test suite)
  testsuite/tools/asmgen_amd64.S
Labels: bug, CI

#1447 Cfg.can_raise_terminator: allocations no longer raise.
  backend/cfg/cfg.ml
Labels: bug, cfg, backend

#1448 Don't substitute into exclaves in `simplif.ml`
  ocaml/lambda/simplif.ml
  ocaml/testsuite/tests/typing-local/exclave.ml
Labels: bug

#1449 Ensure that kinds are checked by meet_block_field_simple
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/lifting/lifted_constant.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_common.mli
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/simplify/unboxing/unboxers.ml
  middle_end/flambda2/term_basics/symbol_projection.ml
  middle_end/flambda2/term_basics/symbol_projection.mli
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/types/provers.mli
Labels: bug, flambda2

#1451 Bugfix for application mode crossing
  ocaml/testsuite/tests/typing-local/regions.ml
  ocaml/testsuite/tests/typing-local/regions.reference
  ocaml/typing/typecore.ml
Labels: bug, typing

#1289 Add Make/Dune target for debug printers
  ocaml/Makefile.common-jst
  ocaml/tools/dune
Labels: build system

#1457 Fix Flambda 2 typing for immutable arrays
  middle_end/flambda2/types/meet_and_join.ml
Labels: bug, flambda2

#1459 Add flambda2 -Oclassic and -O3 CI jobs
  .github/workflows/build.yml
  ocaml/testsuite/tests/lib-dynlink-init-info/test.ml
Labels: flambda2, CI

#1428 Add jane street merlin support files to .gitignore
  .gitignore
Labels: build system

#1408 zero alloc compiler hooks
  backend/asmgen.ml
  backend/checkmach.ml
  backend/checkmach.mli
  driver/compiler_hooks.ml
  driver/compiler_hooks.mli
Labels: backend

#1466 zero alloc: don't propagate witnesses unnecessarily
  backend/checkmach.ml
Labels: backend

#1467 Unboxed float type parsing in `layouts_alpha`
  ocaml/boot/menhir/parser.ml
  ocaml/boot/menhir/parser.mli
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/parsing/jane_syntax_parsing.ml
  ocaml/parsing/lexer.mll
  ocaml/parsing/parser.mly
  ocaml/parsing/pprintast.ml
  ocaml/testsuite/tests/typing-layouts/parsing.compilers.reference
  ocaml/testsuite/tests/typing-layouts/parsing.ml
  ocaml/testsuite/tests/typing-layouts/parsing_alpha.compilers.reference
  ocaml/testsuite/tests/typing-layouts/parsing_alpha.ml
  ocaml/testsuite/tests/typing-layouts/parsing_beta.compilers.reference
  ocaml/testsuite/tests/typing-layouts/parsing_beta.ml
  ocaml/testsuite/tests/typing-layouts/parsing_unboxed_floats.ml
  ocaml/testsuite/tests/typing-layouts/unboxed_floats.ml
  ocaml/typing/predef.ml
  ocaml/utils/language_extension.ml
  ocaml/utils/language_extension.mli
Labels: to upstream

#1469 Lex unboxed float and int literals as single lexemes
  ocaml/boot/menhir/parser.ml
  ocaml/boot/menhir/parser.mli
  ocaml/parsing/lexer.mll
  ocaml/parsing/parser.mly
  ocaml/testsuite/tests/parsing/pr7165.compilers.reference
  ocaml/testsuite/tests/typing-layouts/invalid_integer_literals.compilers.reference
  ocaml/testsuite/tests/typing-layouts/literals.ml
  ocaml/testsuite/tests/typing-layouts/unboxed_floats.ml
Labels: to upstream, unboxed types

#1456 Fix a typo in language extension parsing/serializing
  ocaml/testsuite/tests/language-extensions/language_extensions.ml
  ocaml/utils/language_extension.ml
Labels: lexer/parser

#1479 Jane-syntax support for extension constructors
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/ast_mapper.mli
  ocaml/parsing/depend.ml
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/jane_syntax_parsing.ml
  ocaml/parsing/jane_syntax_parsing.mli
  ocaml/parsing/pprintast.ml
  ocaml/typing/typedecl.ml
Labels: unboxed types, lexer/parser

#1476 Parse labeled tuple terms
  ocaml/boot/menhir/parser.ml
  ocaml/boot/menhir/parser.mli
  ocaml/manual/tests/cross_reference_checker.ml
  ocaml/parsing/ast_helper.ml
  ocaml/parsing/ast_helper.mli
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/depend.ml
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/lexer.mll
  ocaml/parsing/parse.ml
  ocaml/parsing/parser.mly
  ocaml/parsing/parsetree.mli
  ocaml/parsing/pprintast.ml
  ocaml/parsing/printast.ml
  ocaml/parsing/syntaxerr.ml
  ocaml/parsing/syntaxerr.mli
  ocaml/testsuite/tests/parse-errors/bigarray_index_labels.compilers.reference
  ocaml/testsuite/tests/parse-errors/bigarray_index_labels.ml
  ocaml/testsuite/tests/parse-errors/optional_tuple_component1.compilers.reference
  ocaml/testsuite/tests/parse-errors/optional_tuple_component1.ml
  ocaml/testsuite/tests/parse-errors/optional_tuple_component2.compilers.reference
  ocaml/testsuite/tests/parse-errors/optional_tuple_component2.ml
  ocaml/testsuite/tests/parsetree/locations_test.compilers.reference
  ocaml/testsuite/tests/typing-labeled-tuples/labeledtuples.ml
  ocaml/testsuite/tests/typing-labeled-tuples/labeledtuples_dsource.ml
  ocaml/testsuite/tools/expect_test.ml
  ocaml/tools/ocamlprof.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
  ocaml/typing/untypeast.ml
  printer/printast_with_mappings.ml
  testsuite/tools/expect_test.ml
Labels: typing, labeled-tuples

#1487 Unboxed literal jane syntax
  ocaml/boot/menhir/parser.ml
  ocaml/parsing/ast_invariants.ml
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/depend.ml
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/parser.mly
  ocaml/parsing/pprintast.ml
  ocaml/testsuite/tests/typing-layouts/literals.ml
  ocaml/testsuite/tests/typing-layouts/unboxed_floats.ml
  ocaml/tools/ocamlprof.ml
  ocaml/typing/predef.ml
  ocaml/typing/predef.mli
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
Labels: unboxed types, lexer/parser

#1420 Local immutable arrays
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/cmmgen.ml
  middle_end/clambda_primitives.ml
  middle_end/clambda_primitives.mli
  middle_end/closure/closure.ml
  middle_end/convert_primitives.ml
  middle_end/flambda/inline_and_simplify.ml
  middle_end/flambda/inlining_cost.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_ternary_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/printclambda_primitives.ml
  middle_end/semantics_of_primitives.ml
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/asmcomp/cmm_helpers.mli
  ocaml/asmcomp/cmmgen.ml
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/matching.ml
  ocaml/lambda/printlambda.ml
  ocaml/lambda/transl_array_comprehension.ml
  ocaml/lambda/translprim.ml
  ocaml/middle_end/clambda_primitives.ml
  ocaml/middle_end/clambda_primitives.mli
  ocaml/middle_end/closure/closure.ml
  ocaml/middle_end/convert_primitives.ml
  ocaml/middle_end/flambda/inline_and_simplify.ml
  ocaml/middle_end/flambda/inlining_cost.ml
  ocaml/middle_end/printclambda_primitives.ml
  ocaml/middle_end/semantics_of_primitives.ml
  ocaml/runtime/array.c
  ocaml/runtime/caml/memory.h
  ocaml/runtime/str.c
  ocaml/stdlib/iarray.ml
  ocaml/stdlib/iarray.mli
  ocaml/stdlib/iarrayLabels.ml
  ocaml/stdlib/iarrayLabels.mli
  ocaml/testsuite/tests/lib-array/iarrays_with_variables.ml
  ocaml/testsuite/tests/lib-array/test_iarray.ml
  ocaml/testsuite/tests/typing-local/alloc.ml
  ocaml/testsuite/tests/typing-local/float_iarray.heap.reference
  ocaml/testsuite/tests/typing-local/float_iarray.ml
  ocaml/testsuite/tests/typing-local/float_iarray.stack.reference
  ocaml/testsuite/tests/typing-local/iarray.heap.reference
  ocaml/testsuite/tests/typing-local/iarray.ml
  ocaml/testsuite/tests/typing-local/iarray.stack.reference
  ocaml/typing/typecore.ml
Labels: to upstream, new language feature

#1426 Link can use the internal assembler
  backend/asmlink.ml
Labels: backend, compilation speed

#960 Propagate types for CSE params
  middle_end/flambda2/simplify/join_points.ml
Labels: flambda2

#1425 Call entry functions using a loop
  backend/asmlink.ml
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
Labels: backend, compilation speed

#1488 Remove ast_desc and ast_info from jane-syntax
  ocaml/boot/menhir/parser.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/jane_syntax_parsing.ml
  ocaml/parsing/jane_syntax_parsing.mli
  ocaml/parsing/parser.mly
  ocaml/typing/parmatch.ml
  ocaml/typing/untypeast.ml
Labels: lexer/parser

#1465 Prepare translation of primitives in lambda_to_flambda for unboxed products
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion.mli
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.mli
  ocaml/lambda/lambda.ml
Labels: flambda2, unboxed types

#1490 Remove check about coercions in Simplify_static_const
  middle_end/flambda2/simplify/simplify_static_const.ml
  middle_end/flambda2/terms/static_const.mli
Labels: flambda2

#1383 Annotate Cmm.Pop with the exception handler label
  backend/amd64/proc.ml
  backend/cfg/cfgize.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmmgen.ml
  backend/linearize.ml
  backend/printcmm.ml
  backend/selectgen.ml
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  testsuite/tools/parsecmm.mly
Labels: backend, middle end

#1483 Correctly emit statically enabled probes in no-PIC code
  backend/amd64/emit.mlp
Labels: bug, backend

#1441 Refactoring of `regalloc/`
  backend/cfg/cfg_deadcode.ml
  backend/cfg/cfg_with_liveness.ml
  backend/cfg/cfg_with_liveness.mli
  backend/regalloc/regalloc_invariants.ml
  backend/regalloc/regalloc_invariants.mli
  backend/regalloc/regalloc_irc.ml
  backend/regalloc/regalloc_irc_utils.ml
  backend/regalloc/regalloc_irc_utils.mli
  backend/regalloc/regalloc_ls_utils.ml
  backend/regalloc/regalloc_ls_utils.mli
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
  backend/regalloc/regalloc_validate.ml
  dune
  utils/doubly_linked_list.ml
  utils/doubly_linked_list.mli
Labels: cfg, backend

#1463 Regalloc: stricter post-condition
  backend/regalloc/regalloc_invariants.ml
Labels: cfg, backend

#1474 Check that layout variables aren't unconstrained when writing `cmi`s
  ocaml/testsuite/tests/typing-layouts-gadt-sort-var/extract_extensible.ml
  ocaml/testsuite/tests/typing-layouts-gadt-sort-var/gadt_extensible.ml
  ocaml/testsuite/tests/typing-layouts-gadt-sort-var/insert_extensible.ml
  ocaml/testsuite/tests/typing-layouts-gadt-sort-var/test_extensible.compilers.reference
  ocaml/testsuite/tests/typing-layouts-gadt-sort-var/test_extensible.ml
  ocaml/typing/ctype.ml
  ocaml/typing/env.ml
  ocaml/typing/layouts.ml
  ocaml/typing/layouts.mli
  ocaml/typing/subst.ml
  ocaml/typing/subst.mli
  ocaml/typing/typecore.ml
Labels: typing, unboxed types

#1496 Disable `beat.ml` on macOS
  ocaml/ocamltest/builtin_actions.ml
  ocaml/testsuite/tests/lib-threads/beat.ml
Labels: CI, testing

#1480 Allow `make debug` with dune-based build
  .gitignore
  HACKING.md
  Makefile
  ocaml/tools/dune
Labels: build system

#1442 Split/rename preprocessing phase for IRC/LS
  .github/workflows/build.yml
  backend/amd64/proc.ml
  backend/arm64/proc.ml
  backend/cfg/cfg_with_liveness.ml
  backend/cfg/cfg_with_liveness.mli
  backend/proc.mli
  backend/reg.ml
  backend/reg.mli
  backend/regalloc/regalloc_irc.ml
  backend/regalloc/regalloc_irc_state.ml
  backend/regalloc/regalloc_irc_state.mli
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_ls_state.ml
  backend/regalloc/regalloc_ls_state.mli
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_rewrite.mli
  backend/regalloc/regalloc_split.ml
  backend/regalloc/regalloc_split.mli
  backend/regalloc/regalloc_split_state.ml
  backend/regalloc/regalloc_split_state.mli
  backend/regalloc/regalloc_split_utils.ml
  backend/regalloc/regalloc_split_utils.mli
  backend/regalloc/regalloc_validate.ml
  dune
  tests/backend/regalloc_validator/check_regalloc_validation.ml
Labels: cfg, backend

#1455 Communicate frontend layouts to lambda
  backend/cmm_helpers.ml
  backend/cmmgen.ml
  middle_end/convert_primitives.ml
  middle_end/flambda/flambda_to_clambda.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/dissect_letrec.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  ocaml/.depend
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/asmcomp/cmmgen.ml
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/bytecomp/bytegen.ml
  ocaml/compilerlibs/Makefile.compilerlibs
  ocaml/dune
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/matching.ml
  ocaml/lambda/matching.mli
  ocaml/lambda/transl_array_comprehension.ml
  ocaml/lambda/transl_array_comprehension.mli
  ocaml/lambda/transl_comprehension_utils.ml
  ocaml/lambda/transl_list_comprehension.ml
  ocaml/lambda/transl_list_comprehension.mli
  ocaml/lambda/translclass.ml
  ocaml/lambda/translcore.ml
  ocaml/lambda/translcore.mli
  ocaml/lambda/translmod.ml
  ocaml/lambda/translobj.ml
  ocaml/lambda/translprim.ml
  ocaml/middle_end/convert_primitives.ml
  ocaml/middle_end/flambda/flambda_to_clambda.ml
  ocaml/ocamldoc/odoc_ast.ml
  ocaml/otherlibs/dynlink/Makefile
  ocaml/otherlibs/dynlink/dune
  ocaml/testsuite/tests/typing-layouts/basics.ml
  ocaml/testsuite/tests/typing-layouts/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts/basics_beta.ml
  ocaml/testsuite/tests/typing-layouts/modules_alpha.ml
  ocaml/typing/ctype.ml
  ocaml/typing/ctype.mli
  ocaml/typing/includecore.ml
  ocaml/typing/layouts.ml
  ocaml/typing/layouts.mli
  ocaml/typing/primitive.ml
  ocaml/typing/primitive.mli
  ocaml/typing/printtyped.ml
  ocaml/typing/rec_check.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typeclass.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typedecl.mli
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/typeopt.ml
  ocaml/typing/typeopt.mli
  ocaml/typing/untypeast.ml
Labels: to upstream, unboxed types

#1443 Remove useless reload/spill in same block
  backend/regalloc/regalloc_split_state.ml
Labels: cfg, backend

#1444 Remove dominated spills for constants
  backend/regalloc/regalloc_split_state.ml
Labels: cfg, backend

#1504 Emit .loc directives for out of line code
  backend/amd64/emit.mlp
Labels: backend

#1445 Remove the old `Regalloc_irc_split` module
  backend/regalloc/regalloc_irc_split.ml
  backend/regalloc/regalloc_irc_split.mli
  dune
Labels: cfg, backend, non-material change

#1506 Revert "Emit .loc directives for out of line code (#1504)"
  backend/amd64/emit.mlp
Labels: bug, backend

#1464 Regalloc: optimize stack slots
  .github/workflows/build.yml
  backend/regalloc/regalloc_irc_state.ml
  backend/regalloc/regalloc_irc_state.mli
  backend/regalloc/regalloc_ls_state.ml
  backend/regalloc/regalloc_ls_state.mli
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_rewrite.mli
  backend/regalloc/regalloc_split.ml
  backend/regalloc/regalloc_split.mli
  backend/regalloc/regalloc_split_state.ml
  backend/regalloc/regalloc_split_state.mli
  backend/regalloc/regalloc_stack_slots.ml
  backend/regalloc/regalloc_stack_slots.mli
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
  dune
Labels: cfg, backend

#1244 Generate lists of files to install in `compiler-libs`
  dune
  dune-project
  tests/backend/frame-too-long/t.expected
  tests/backend/frame-too-long/t.ml
  tools/dune
  tools/gen_compiler_libs_installation.ml
Labels: build system

#1427 Cache startup files
  backend/asmlink.ml
  backend/asmlink.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  tools/dune
  tools/generate_cached_generic_functions.ml
Labels: compilation speed

#1508 Emit .loc directives for out of line code (take 2)
  backend/amd64/emit.mlp
Labels: backend

#1503 Generalize `deep_occur` to `deep_occur_list`
  ocaml/typing/ctype.ml
  ocaml/typing/ctype.mli
  ocaml/typing/printtyp.ml
Labels: typing

#1510 Fix parser bug from #1476
  ocaml/boot/menhir/parser.ml
  ocaml/boot/ocamlc
  ocaml/parsing/parser.mly
Labels: typing, labeled-tuples

#1514 Rename num_trailing_local_params to first_complex_local_param
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/terms/code_metadata.ml
  middle_end/flambda2/terms/code_metadata.mli
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
Labels: flambda2

#1498 Tail-calling local-returning functions should make the current function local-returning as well
  ocaml/testsuite/tests/typing-local/crossing.ml
  ocaml/testsuite/tests/typing-local/local.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
Labels: bug, typing

#1502 Typecheck labeled tuple terms
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/debugger/eval.ml
  ocaml/lambda/translcore.ml
  ocaml/ocamldoc/odoc_value.ml
  ocaml/testsuite/tests/typing-labeled-tuples/labeledtuples.ml
  ocaml/testsuite/tests/typing-labeled-tuples/labeledtuples_dsource.ml
  ocaml/toplevel/genprintval.ml
  ocaml/typing/btype.ml
  ocaml/typing/ctype.ml
  ocaml/typing/datarepr.ml
  ocaml/typing/oprint.ml
  ocaml/typing/outcometree.mli
  ocaml/typing/predef.ml
  ocaml/typing/printtyp.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/rec_check.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typedecl_separability.ml
  ocaml/typing/typedecl_variance.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/typeopt.ml
  ocaml/typing/types.ml
  ocaml/typing/types.mli
  ocaml/typing/typetexp.ml
  ocaml/typing/untypeast.ml
Labels: new language feature, typing, labeled-tuples

#1521 Replace `Cfg_with_liveness` with `Cfg_with_infos`
  backend/asmgen.ml
  backend/cfg/cfg_deadcode.ml
  backend/cfg/cfg_deadcode.mli
  backend/cfg/cfg_with_infos.ml
  backend/cfg/cfg_with_infos.mli
  backend/cfg/cfg_with_liveness.ml
  backend/cfg/cfg_with_liveness.mli
  backend/regalloc/regalloc_invariants.ml
  backend/regalloc/regalloc_invariants.mli
  backend/regalloc/regalloc_irc.ml
  backend/regalloc/regalloc_irc.mli
  backend/regalloc/regalloc_irc_utils.ml
  backend/regalloc/regalloc_irc_utils.mli
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_ls.mli
  backend/regalloc/regalloc_ls_state.ml
  backend/regalloc/regalloc_ls_state.mli
  backend/regalloc/regalloc_ls_utils.ml
  backend/regalloc/regalloc_ls_utils.mli
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_rewrite.mli
  backend/regalloc/regalloc_split.ml
  backend/regalloc/regalloc_split.mli
  backend/regalloc/regalloc_split_state.ml
  backend/regalloc/regalloc_split_state.mli
  backend/regalloc/regalloc_split_utils.ml
  backend/regalloc/regalloc_split_utils.mli
  backend/regalloc/regalloc_stack_slots.ml
  backend/regalloc/regalloc_stack_slots.mli
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
  dune
Labels: cfg, backend

#1471 Zero alloc: refactor -checkmach-details-cutoff flag
  backend/checkmach.ml
  driver/flambda_backend_args.ml
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
Labels: backend, non-material change
