Repository oxcaml/oxcaml, pull requests merged in 2024-03, with the labels that each got.

#2327 Make `Sys.opaque_identity` work on different layouts
  ocaml/stdlib/sys.ml.in
  ocaml/stdlib/sys.mli
  ocaml/testsuite/tests/typing-layouts/layout_poly_native.ml
  ocaml/testsuite/tests/typing-layouts/layout_poly_native.reference
Labels: unboxed types

#2333 Add a constructor to stop after middle-end
  backend/asmgen.ml
  driver/optmaindriver.ml
  ocaml/driver/maindriver.ml
  ocaml/driver/optmaindriver.ml
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
Labels: driver

#2315 Add `caml_*_of_string_unboxed` runtime primitives for boxed ints
  ocaml/runtime/ints.c
  ocaml/runtime4/ints.c
  ocaml/stdlib/int32.ml
  ocaml/stdlib/int32.mli
  ocaml/stdlib/int64.ml
  ocaml/stdlib/int64.mli
  ocaml/stdlib/nativeint.ml
  ocaml/stdlib/nativeint.mli
  ocaml/testsuite/tests/lib-marshal/intext.ml
  ocaml/testsuite/tests/lib-marshal/intext_par.ml
Labels: runtime

#2336 Detect uses of variant-only Is_int on non-variant values
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/types/provers.mli
  middle_end/flambda2/types/reify.ml
  ocaml/testsuite/tests/flambda/is_int_string.ml
Labels: flambda2

#2349 Delete wayward comment
  ocaml/parsing/jane_syntax.ml
Labels: non-material change

#2280 Interpret `[@inlined]` as `[@unrolled 1]` on recursive functions
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/tests/mlexamples/dune
  middle_end/flambda2/tests/mlexamples/generated-rules.inc
  middle_end/flambda2/tests/mlexamples/inlined_rec.flt
  middle_end/flambda2/tests/mlexamples/inlined_rec.ml
  middle_end/flambda2/tests/mlexamples/inlined_rec_in.fl
  middle_end/flambda2/tests/mlexamples/inlined_rec_out.fl
Labels: flambda2

#2299 Allow equations on parameters in result types
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
Labels: flambda2

#2238 Add frontend support for unboxed float/int32/int64/nativeint array
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/matching.ml
  ocaml/lambda/transl_array_comprehension.ml
  ocaml/lambda/translcore.ml
  ocaml/lambda/translprim.ml
  ocaml/lambda/translprim.mli
  ocaml/runtime/array.c
  ocaml/runtime4/array.c
  ocaml/testsuite/tests/typing-layouts-arrays/basics.ml
  ocaml/testsuite/tests/typing-layouts-arrays/exp_and_pat.ml
  ocaml/testsuite/tests/typing-layouts-arrays/exp_and_pat_failing.ml
  ocaml/testsuite/tests/typing-layouts-arrays/float_u_array.ml
  ocaml/testsuite/tests/typing-layouts-arrays/gen_u_array.ml
  ocaml/testsuite/tests/typing-layouts-arrays/test_gen_u_array.ml
  ocaml/testsuite/tests/typing-layouts-arrays/test_int32_u_array.ml
  ocaml/testsuite/tests/typing-layouts-arrays/test_int64_u_array.ml
  ocaml/testsuite/tests/typing-layouts-arrays/test_nativeint_u_array.ml
  ocaml/testsuite/tests/typing-layouts-arrays/test_stdlib_float_u_array.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/value.ml
  ocaml/testsuite/tests/typing-layouts/basics.ml
  ocaml/testsuite/tests/typing-layouts/basics_alpha.ml
  ocaml/typing/jkind.ml
  ocaml/typing/jkind.mli
  ocaml/typing/predef.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/rec_check.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/typeopt.ml
  ocaml/typing/typeopt.mli
  ocaml/typing/uniqueness_analysis.ml
  ocaml/typing/untypeast.ml
Labels: unboxed types

#2367 Fix debug printing of simd instructions with one argument
  backend/amd64/simd.ml
  tests/simd/dune
Labels: bug, backend

#2386 Split x86 instruction type
  backend/x86_ast.mli
  backend/x86_binary_emitter.ml
  backend/x86_dsl.ml
  backend/x86_gas.ml
  backend/x86_masm.ml
Labels: backend

#2382 Fix bug (infinite loop) in dominance frontier
  backend/cfg/cfg_dominators.ml
Labels: bug, cfg, backend

#2290 Zero alloc: more precise handling of recursive functions
  backend/checkmach.ml
  backend/checkmach.mli
  tests/backend/checkmach/fail19.output
  tests/backend/checkmach/fail20.ml
  tests/backend/checkmach/fail20.output
Labels: backend

#2402 Take into account witnesses when computing [lessequal] on values
  backend/checkmach.ml
  ocaml/lambda/assume_info.ml
  ocaml/lambda/assume_info.mli
  ocaml/utils/zero_alloc_utils.ml
  ocaml/utils/zero_alloc_utils.mli
Labels: backend

#2356 Zero alloc: flag to disable precise analysis of forward functions
  backend/checkmach.ml
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  tests/backend/checkmach/dune
  tests/backend/checkmach/dune.inc
  tests/backend/checkmach/fail25.ml
  tests/backend/checkmach/fail25.output
  tests/backend/checkmach/fail26.output
  tests/backend/checkmach/gen/gen_dune.ml
Labels: backend
