Repository oxcaml/oxcaml, pull requests merged in 2024-07, with the labels that each got.

#2739 Fix missing restore/save_runtime_state in caml_c_thread_register for runtime5
  ocaml/otherlibs/systhreads/st_stubs.c
Labels: bug, runtime

#2750 Honor `[@error_message]` attribute even when its location is ghost
  ocaml/testsuite/tests/ppx-error-message/ppx_error_message.ml
  ocaml/testsuite/tests/ppx-error-message/test.compilers.reference
  ocaml/testsuite/tests/ppx-error-message/test.ml
  ocaml/typing/typecore.ml
Labels: bug

#2540 Support `stack_ exp` syntax
  chamelon/compat.jst.ml
  ocaml/boot/menhir/parser.mli
  ocaml/lambda/translcore.ml
  ocaml/lambda/translmode.ml
  ocaml/lambda/translmode.mli
  ocaml/parsing/ast_helper.ml
  ocaml/parsing/ast_helper.mli
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/depend.ml
  ocaml/parsing/lexer.mll
  ocaml/parsing/parser.mly
  ocaml/parsing/parsetree.mli
  ocaml/parsing/pprintast.ml
  ocaml/parsing/printast.ml
  ocaml/testsuite/tests/language-extensions/pprintast_unconditional.ml
  ocaml/testsuite/tests/language-extensions/pprintast_unconditional.reference
  ocaml/testsuite/tests/typing-modes/stack.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/untypeast.ml
  printer/printast_with_mappings.ml
Labels: typing, lexer/parser

#2642 Add [Deleted_code] case for code ids in set of closures.
  backend/cmm_helpers.mli
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_set_of_closures_context.ml
  middle_end/flambda2/simplify_shared/slot_offsets.ml
  middle_end/flambda2/terms/cost_metrics.ml
  middle_end/flambda2/terms/function_declarations.ml
  middle_end/flambda2/terms/function_declarations.mli
  middle_end/flambda2/terms/set_of_closures.mli
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
Labels: flambda2

#2731 Implement the nullability axis for jkinds
  ocaml/testsuite/tests/typing-layouts-or-null/array.ml
  ocaml/testsuite/tests/typing-layouts-or-null/basics.ml
  ocaml/testsuite/tests/typing-layouts-or-null/variables.ml
  ocaml/testsuite/tests/typing-layouts/annots.ml
  ocaml/testsuite/tests/typing-layouts/basics.ml
  ocaml/testsuite/tests/typing-layouts/basics_alpha.ml
  ocaml/toplevel/genprintval.ml
  ocaml/typing/ctype.mli
  ocaml/typing/jkind.ml
  ocaml/typing/jkind.mli
  ocaml/typing/jkind_intf.ml
  ocaml/typing/jkind_types.ml
  ocaml/typing/jkind_types.mli
  ocaml/typing/typecore.mli
Labels: typing, unboxed types, or_null

#2758 Fix int64->float32 cast codegen
  backend/x86_gas.ml
Labels: bug, backend

#2205 Enable Stdlib.Effect + add Flambda 2 support
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/kinds/flambda_arity.mli
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/inlining/inlining_transforms.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/terms/apply_expr.ml
  middle_end/flambda2/terms/call_kind.ml
  middle_end/flambda2/terms/call_kind.mli
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/ui/flambda_colours.ml
  middle_end/flambda2/ui/flambda_colours.mli
  ocaml/asmcomp/cmmgen.ml
  ocaml/bytecomp/emitcode.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/translprim.ml
  ocaml/middle_end/clambda_primitives.ml
  ocaml/runtime4/caml/instruct.h
  ocaml/runtime4/interp.c
  ocaml/runtime4/misc.c
  ocaml/stdlib/effect.ml
  ocaml/stdlib/effect.mli
  ocaml/stdlib/stdlib.ml
  ocaml/stdlib/stdlib.mli
  ocaml/testsuite/tests/basic/patmatch_for_multiple.ml
  ocaml/testsuite/tests/ppx-empty-cases/test.compilers.reference
  ocaml/toplevel/byte/dune
Labels: flambda2, effects

#2756 Fix missing rewrite ids when unboxing detects invalid apply conts
  middle_end/flambda2/simplify/continuation_extra_params_and_args.ml
  middle_end/flambda2/simplify/env/continuation_uses.ml
  middle_end/flambda2/simplify/env/continuation_uses.mli
  middle_end/flambda2/simplify/unboxing/unbox_continuation_params.ml
  ocaml/testsuite/tests/flambda/unboxing_finds_invalid1.ml
  ocaml/testsuite/tests/flambda/unboxing_finds_invalid2.ml
Labels: bug, flambda2

#1809 Simplify terminator integer condition
  backend/cfg/cfgize.ml
  backend/cfg/simplify_terminator.ml
  backend/cfg/simplify_terminator.mli
  backend/regalloc/regalloc_utils.ml
Labels: cfg, backend

#2754 Load/store `float32x4` <-> `float32# array`
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/tmc.ml
  ocaml/lambda/translprim.ml
  ocaml/lambda/value_rec_compiler.ml
  tests/simd/arrays.ml
Labels: simd

#2759 Fix build (`Poll_and_jump` removed)
  backend/cfg/simplify_terminator.ml
Labels: cfg

#1846 Add `-parameter` parameter
  ocaml/driver/main_args.ml
  ocaml/driver/main_args.mli
  ocaml/file_formats/cmi_format.ml
  ocaml/file_formats/cmi_format.mli
  ocaml/lambda/translmod.ml
  ocaml/testsuite/tests/self-contained-toplevel/main.ml
  ocaml/testsuite/tests/templates/basic/bad_param_not_param.mli
  ocaml/testsuite/tests/templates/basic/bad_param_not_param.reference
  ocaml/testsuite/tests/templates/basic/bad_param_param.mli
  ocaml/testsuite/tests/templates/basic/bad_param_param.reference
  ocaml/testsuite/tests/templates/basic/bad_ref_indirect.reference
  ocaml/testsuite/tests/templates/basic/monoid_utils.ml
  ocaml/testsuite/tests/templates/basic/monoid_utils.mli
  ocaml/testsuite/tests/templates/basic/monoid_utils_as_program.reference
  ocaml/testsuite/tests/templates/basic/ref_indirect.cmo.ocamlobjinfo.reference
  ocaml/testsuite/tests/templates/basic/ref_indirect.cmx.ocamlobjinfo.reference
  ocaml/testsuite/tests/templates/basic/ref_indirect.ml
  ocaml/testsuite/tests/templates/basic/test.ml
  ocaml/testsuite/tests/templates/basic/widget.mli
  ocaml/tools/objinfo.ml
  ocaml/typing/env.ml
  ocaml/typing/env.mli
  ocaml/typing/ident.ml
  ocaml/typing/ident.mli
  ocaml/typing/persistent_env.ml
  ocaml/typing/persistent_env.mli
  ocaml/typing/typemod.ml
  ocaml/typing/typemod.mli
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
  tools/flambda_backend_objinfo.ml
Labels: parameterized-libs

#2742 Infer needed `zero_alloc` checks from signatures
  chamelon/compat.jst.ml
  native_toplevel/opttoploop.ml
  ocaml/compilerlibs/Makefile.compilerlibs
  ocaml/dune
  ocaml/lambda/translcore.ml
  ocaml/otherlibs/dynlink/Makefile
  ocaml/otherlibs/dynlink/dune
  ocaml/parsing/builtin_attributes.ml
  ocaml/parsing/builtin_attributes.mli
  ocaml/testsuite/tests/typing-zero-alloc/cmi_test.ml
  ocaml/testsuite/tests/typing-zero-alloc/cmi_test_lib.ml
  ocaml/testsuite/tests/typing-zero-alloc/signatures.ml
  ocaml/typing/includecore.ml
  ocaml/typing/includecore.mli
  ocaml/typing/printtyp.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/subst.ml
  ocaml/typing/typeclass.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/typemod.ml
  ocaml/typing/types.ml
  ocaml/typing/types.mli
  ocaml/typing/zero_alloc.ml
  ocaml/typing/zero_alloc.mli
  tests/backend/zero_alloc_checker/dune.inc
  tests/backend/zero_alloc_checker/gen/gen_dune.ml
  tests/backend/zero_alloc_checker/test_inference.ml
  tests/backend/zero_alloc_checker/test_inference.mli
  tests/backend/zero_alloc_checker/test_inference.opt.output
  tests/backend/zero_alloc_checker/test_inference.output
Labels: zero alloc

#2763 Fix padding bug for float32 static values
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  ocaml/testsuite/tests/mixed-blocks/closure_padding_float32.ml
Labels: bug, flambda2, unboxed types

#2697 Float32 array load/store primitives
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/tmc.ml
  ocaml/lambda/translprim.ml
  ocaml/lambda/value_rec_compiler.ml
  ocaml/otherlibs/stdlib_beta/float32.ml
  ocaml/otherlibs/stdlib_beta/float32.mli
  ocaml/otherlibs/stdlib_beta/float32_u.ml
  ocaml/otherlibs/stdlib_beta/float32_u.mli
  ocaml/runtime/bigarray.c
  ocaml/runtime/float32.c
  ocaml/runtime4/bigarray.c
  ocaml/runtime4/float32.c
  ocaml/typing/primitive.ml
  tests/small_numbers/dune
  tests/small_numbers/float32_lib.ml
  tests/small_numbers/float32_u_lib.ml
  tests/small_numbers/stubs.c
Labels: flambda2, lambda

#2698 Inlined record fields for mixed blocks
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  ocaml/lambda/matching.ml
  ocaml/lambda/translcore.ml
  ocaml/lambda/value_rec_compiler.ml
  ocaml/testsuite/tests/mixed-blocks/constructor_args.ml
  ocaml/testsuite/tests/mixed-blocks/constructor_args.reference
  ocaml/testsuite/tests/mixed-blocks/generate_mixed_blocks_code.ml
  ocaml/testsuite/tests/mixed-blocks/generated_byte_test.ml
  ocaml/testsuite/tests/mixed-blocks/generated_native_test.ml
  ocaml/testsuite/tests/mixed-blocks/typing_recursive_mixed_blocks.ml
  ocaml/testsuite/tests/typing-layouts-bits32/basics.ml
  ocaml/testsuite/tests/typing-layouts-bits32/unboxed_bits32s_alpha.ml
  ocaml/testsuite/tests/typing-layouts-bits32/unboxed_bits32s_alpha.reference
  ocaml/testsuite/tests/typing-layouts-bits64/basics.ml
  ocaml/testsuite/tests/typing-layouts-bits64/unboxed_bits64s_alpha.ml
  ocaml/testsuite/tests/typing-layouts-bits64/unboxed_bits64s_alpha.reference
  ocaml/testsuite/tests/typing-layouts-float32/basics.ml
  ocaml/testsuite/tests/typing-layouts-float32/unboxed_float32s.ml
  ocaml/testsuite/tests/typing-layouts-float32/unboxed_float32s.reference
  ocaml/testsuite/tests/typing-layouts-float64/basics.ml
  ocaml/testsuite/tests/typing-layouts-float64/unboxed_floats_beta.ml
  ocaml/testsuite/tests/typing-layouts-float64/unboxed_floats_beta.reference
  ocaml/testsuite/tests/typing-layouts-word/basics.ml
  ocaml/testsuite/tests/typing-layouts-word/unboxed_nativeints_alpha.ml
  ocaml/testsuite/tests/typing-layouts-word/unboxed_nativeints_alpha.reference
  ocaml/testsuite/tests/typing-layouts/mixed_constructor_arguments.ml
  ocaml/testsuite/tests/typing-layouts/mixed_records.ml
  ocaml/toplevel/genprintval.ml
  ocaml/typing/datarepr.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/subst.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typedecl.mli
  ocaml/typing/typeopt.ml
  ocaml/typing/types.ml
  ocaml/typing/types.mli
  ocaml/typing/value_rec_check.ml
Labels: unboxed types

#2710 Use float32 for `float32x4` scalar casts
  backend/amd64/emit.mlp
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/reload.ml
  backend/amd64/simd_proc.ml
  backend/cmm_builtins.ml
  backend/selectgen.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/tmc.ml
  ocaml/lambda/translprim.ml
  ocaml/lambda/value_rec_compiler.ml
  tests/simd/arrays.ml
  tests/simd/consts.ml
  tests/simd/dune
  tests/simd/errors/f32c1.expected
  tests/simd/errors/f32c4.expected
  tests/simd/ops.ml
  tests/simd/stubs.c
Labels: simd

#2725 Allow forceful crossing of portability and contention
  ocaml/driver/main_args.ml
  ocaml/driver/main_args.mli
  ocaml/testsuite/tests/typing-layouts/allow_illegal_crossing.ml
  ocaml/testsuite/tests/typing-layouts/jkinds.ml
  ocaml/typing/ctype.ml
  ocaml/typing/datarepr.ml
  ocaml/typing/jkind.ml
  ocaml/typing/jkind.mli
  ocaml/typing/predef.ml
  ocaml/typing/printtyp.ml
  ocaml/typing/subst.ml
  ocaml/typing/typeclass.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typemod.ml
  ocaml/typing/types.ml
  ocaml/typing/types.mli
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
Labels: typing

#2686 Improved reinterpret casts for integers and floats
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/numbers/numeric_types.ml
  middle_end/flambda2/numbers/numeric_types.mli
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/tmc.ml
  ocaml/lambda/translprim.ml
  ocaml/lambda/value_rec_compiler.ml
  ocaml/runtime/ints.c
  ocaml/runtime4/ints.c
  ocaml/testsuite/tests/reinterpret-casts/i64_i63_reinterpret.ml
  ocaml/testsuite/tests/reinterpret-casts/i64_i63_reinterpret.reference
  ocaml/typing/primitive.ml
Labels: flambda2, lambda

#2771 Ensure no alias equation remains in exported Flambda2 environments
  middle_end/flambda2/types/env/cached_level.ml
  middle_end/flambda2/types/grammar/type_grammar.ml
Labels: bug, flambda2

#2730 Jkind Error Messages
  ocaml/compilerlibs/Makefile.compilerlibs
  ocaml/otherlibs/dynlink/Makefile
  ocaml/otherlibs/dynlink/dune
  ocaml/testsuite/tests/hidden_includes/missing_cmi_layout.ocamlc.reference
  ocaml/testsuite/tests/typing-immediate/immediate.ml
  ocaml/testsuite/tests/typing-layouts-arrays/basics.ml
  ocaml/testsuite/tests/typing-layouts-arrays/exp_and_pat_failing.ml
  ocaml/testsuite/tests/typing-layouts-bits32/basics.ml
  ocaml/testsuite/tests/typing-layouts-bits32/parsing.ml
  ocaml/testsuite/tests/typing-layouts-bits64/basics.ml
  ocaml/testsuite/tests/typing-layouts-bits64/parsing.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/annots.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/any_missing_cmi.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/concrete.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/concrete_struct_item_expr.compilers.reference
  ocaml/testsuite/tests/typing-layouts-err-msg/float64.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/gadt_existential.compilers.reference
  ocaml/testsuite/tests/typing-layouts-err-msg/immediate.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/test.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/value.ml
  ocaml/testsuite/tests/typing-layouts-float32/basics.ml
  ocaml/testsuite/tests/typing-layouts-float32/parsing.ml
  ocaml/testsuite/tests/typing-layouts-float64/basics.ml
  ocaml/testsuite/tests/typing-layouts-float64/parsing.ml
  ocaml/testsuite/tests/typing-layouts-gadt-sort-var/test.compilers.reference
  ocaml/testsuite/tests/typing-layouts-gadt-sort-var/test_extensible.compilers.reference
  ocaml/testsuite/tests/typing-layouts-missing-cmi/c.ml
  ocaml/testsuite/tests/typing-layouts-missing-cmi/function_arg.ml
  ocaml/testsuite/tests/typing-layouts-or-null/basics.ml
  ocaml/testsuite/tests/typing-layouts-or-null/variables.ml
  ocaml/testsuite/tests/typing-layouts-word/basics.ml
  ocaml/testsuite/tests/typing-layouts-word/parsing.ml
  ocaml/testsuite/tests/typing-layouts/allow_illegal_crossing.ml
  ocaml/testsuite/tests/typing-layouts/annots.ml
  ocaml/testsuite/tests/typing-layouts/basics.ml
  ocaml/testsuite/tests/typing-layouts/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts/datatypes.ml
  ocaml/testsuite/tests/typing-layouts/datatypes_alpha.ml
  ocaml/testsuite/tests/typing-layouts/error_message_attr.ml
  ocaml/testsuite/tests/typing-layouts/jkinds.ml
  ocaml/testsuite/tests/typing-layouts/layout_poly.ml
  ocaml/testsuite/tests/typing-layouts/mixed_constructor_arguments.ml
  ocaml/testsuite/tests/typing-layouts/mixed_records.ml
  ocaml/testsuite/tests/typing-layouts/modules.ml
  ocaml/testsuite/tests/typing-layouts/modules_alpha.ml
  ocaml/testsuite/tests/typing-layouts/parsing_alpha.compilers.reference
  ocaml/testsuite/tests/typing-layouts/void_alpha.ml
  ocaml/testsuite/tests/typing-missing-cmi-2/test.compilers.reference
  ocaml/testsuite/tests/typing-missing-cmi-indirections/test.compilers.reference
  ocaml/testsuite/tests/typing-missing-cmi/test.compilers.reference
  ocaml/testsuite/tests/typing-modules/package_constraint.ml
  ocaml/typing/jkind.ml
  ocaml/typing/oprint.ml
  ocaml/typing/oprint.mli
  ocaml/typing/outcometree.mli
  ocaml/typing/printtyp.ml
  ocaml/typing/typetexp.ml
Labels: typing

#2777 Remove all occurrences of non-canonical aliases in extensions
  middle_end/flambda2/types/grammar/type_grammar.ml
Labels: bug, flambda2

#2712 Static allocation for mixed blocks etc.
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/classic_mode_types/value_approximation.ml
  middle_end/flambda2/classic_mode_types/value_approximation.mli
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/lifting/reification.ml
  middle_end/flambda2/simplify/rebuilt_static_const.ml
  middle_end/flambda2/simplify/rebuilt_static_const.mli
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_static_const.ml
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/simplify/unboxing/optimistic_unboxing_decision.ml
  middle_end/flambda2/simplify/unboxing/unboxing_epa.ml
  middle_end/flambda2/term_basics/simple.ml
  middle_end/flambda2/term_basics/simple.mli
  middle_end/flambda2/terms/field_of_static_block.ml
  middle_end/flambda2/terms/field_of_static_block.mli
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/terms/static_const.ml
  middle_end/flambda2/terms/static_const.mli
  middle_end/flambda2/tests/api_tests/extension_meet.ml
  middle_end/flambda2/tests/meet_test.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/types/provers.mli
  middle_end/flambda2/types/reify.ml
  middle_end/flambda2/types/reify.mli
  ocaml/bytecomp/symtable.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/translcore.ml
  ocaml/testsuite/tests/mixed-blocks/generate_mixed_blocks_code.ml
  ocaml/testsuite/tests/mixed-blocks/generated_byte_test.ml
  ocaml/testsuite/tests/mixed-blocks/generated_native_test.ml
  ocaml/testsuite/tests/mixed-blocks/structural_constants.ml
  ocaml/testsuite/tests/mixed-blocks/structural_constants.reference
Labels: flambda2, unboxed types

#2692 Add comment about structured constants for mixed blocks
  ocaml/lambda/translcore.ml
Labels: flambda2, unboxed types

#2775 Port 12607 (use tabs in generated asm where appropriate)
  backend/arm64/emit.mlp
Labels: backend, OCaml 5.2

#2773 Port pull requests about atomic loads
  backend/CSEgen.ml
  backend/schedgen.ml
  backend/schedgen.mli
Labels: backend, OCaml 5.2

#2793 Middle and backend parts of upstream PR12735
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/terms/call_kind.ml
  middle_end/flambda2/terms/call_kind.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
Labels: flambda2, effects, OCaml 5.2

#2790 Resolve conflicts in ocaml/dune and ocaml/ocamltest/dune
  ocaml/dune
  ocaml/ocamltest/dune
Labels: OCaml 5.2

#2792 flambda2/Cmm changes for float16 bigarrays
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/ui/flambda_colours.ml
Labels: flambda2, OCaml 5.2

#2781 Don't infer tail-calls for applications where the called function contains a dot
  ocaml/testsuite/tests/backtrace/names.ml
  ocaml/testsuite/tests/backtrace/names.reference
  ocaml/testsuite/tests/functors/functors.compilers.reference
  ocaml/testsuite/tests/translprim/comparison_table.heap.reference
  ocaml/testsuite/tests/translprim/comparison_table.stack.reference
  ocaml/testsuite/tests/typing-tailcalls/basic.compilers.reference
  ocaml/testsuite/tests/typing-tailcalls/basic.ml
  ocaml/testsuite/tests/typing-tailcalls/locals.ml
  ocaml/typing/typecore.ml
  tests/backend/zero_alloc_checker/test_signatures_first_class_modules.output
  tests/backend/zero_alloc_checker/test_signatures_functors.output
  tests/backend/zero_alloc_checker/test_signatures_separate.opt.output
  tests/backend/zero_alloc_checker/test_signatures_separate.output
Labels: typing

#2799 Fix conflicts in typing mlis
  ocaml/typing/btype.mli
  ocaml/typing/ctype.mli
  ocaml/typing/env.mli
  ocaml/typing/outcometree.mli
  ocaml/typing/patterns.mli
  ocaml/typing/persistent_env.mli
  ocaml/typing/printpat.mli
  ocaml/typing/shape.mli
  ocaml/typing/shape_reduce.mli
  ocaml/typing/subst.mli
  ocaml/typing/typecore.mli
  ocaml/typing/typedecl.mli
  ocaml/typing/typedtree.mli
  ocaml/typing/typemod.mli
  ocaml/typing/typeopt.mli
  ocaml/typing/types.mli
Labels: OCaml 5.2

#2751 `Stdlib_alpha.Or_null`
  ocaml/otherlibs/stdlib_alpha/or_null.ml
  ocaml/otherlibs/stdlib_alpha/or_null.mli
  ocaml/otherlibs/stdlib_alpha/stdlib_alpha.ml
  ocaml/otherlibs/stdlib_alpha/stdlib_alpha.mli
  ocaml/testsuite/tests/typing-layouts-or-null/stdlib_or_null.ml
  testsuite/tests/lib-extensions/alpha_exports.ml
Labels: typing, unboxed types, or_null

#2786 Add counters to profiler (for CFG spill and reload instructions)
  backend/asmgen.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_with_infos.ml
  backend/cfg/cfg_with_infos.mli
  ocaml/driver/compenv.ml
  ocaml/driver/main_args.ml
  ocaml/driver/main_args.mli
  ocaml/otherlibs/dynlink/dune
  ocaml/testsuite/tools/codegen_main.ml
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
  ocaml/utils/profile.ml
  ocaml/utils/profile.mli
  testsuite/tools/codegen_main.ml
Labels: backend

#2817 Changes to ocaml/driver/ (from ocaml-jst#295)
  ocaml/driver/compenv.ml
  ocaml/driver/compile_common.ml
  ocaml/driver/compmisc.ml
  ocaml/driver/main_args.ml
  ocaml/driver/main_args.mli
  ocaml/driver/makedepend.ml
  ocaml/driver/optcompile.ml
  ocaml/driver/pparse.ml
  ocaml/parsing/unit_info.ml
Labels: OCaml 5.2

#2749 Implement `'a or_null`
  ocaml/otherlibs/stdlib_alpha/or_null.ml
  ocaml/otherlibs/stdlib_alpha/or_null.mli
  ocaml/otherlibs/stdlib_alpha/stdlib_alpha.ml
  ocaml/otherlibs/stdlib_alpha/stdlib_alpha.mli
  ocaml/testsuite/tests/ppx-empty-cases/test.compilers.reference
  ocaml/testsuite/tests/typing-layouts-or-null/stdlib_or_null.ml
  ocaml/testsuite/tests/typing-layouts-or-null/test_beta.ml
  ocaml/testsuite/tests/typing-layouts-or-null/test_or_null.ml
  ocaml/testsuite/tests/typing-layouts-or-null/test_stable.ml
  ocaml/typing/env.ml
  ocaml/typing/jkind.ml
  ocaml/typing/jkind_intf.ml
  ocaml/typing/predef.ml
  ocaml/typing/predef.mli
  ocaml/typing/typedecl.ml
  testsuite/tests/lib-extensions/alpha_exports.ml
Labels: typing, unboxed types, or_null

#2779 Implement basic typing for module type inference with an underscore
  ocaml/ocamldoc/odoc_ast.ml
  ocaml/testsuite/tests/module-type-underscore/typing.ml
  ocaml/testsuite/tests/parsing/docstrings.ml
  ocaml/testsuite/tests/shape-index/index.reference
  ocaml/testsuite/tests/shape-index/index_constrs_records.reference
  ocaml/testsuite/tests/shapes/comp_units.ml
  ocaml/testsuite/tests/shapes/incl_md_typeof.ml
  ocaml/testsuite/tests/shapes/nested_types.ml
  ocaml/testsuite/tests/typing-misc/variance.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/typemod.ml
  ocaml/typing/typemod.mli
  ocaml/typing/untypeast.ml
Labels: typing

#2783 Generalise module type inference to file level
  ocaml/testsuite/tests/module-type-underscore/file_level_error.compilers.reference
  ocaml/testsuite/tests/module-type-underscore/file_level_error.ml
  ocaml/testsuite/tests/module-type-underscore/file_level_error.mli
  ocaml/testsuite/tests/module-type-underscore/file_level_success.ml
  ocaml/testsuite/tests/module-type-underscore/file_level_success.mli
  ocaml/typing/typemod.ml
Labels: typing

#2838 Fix unboxing EPA of wrong kind
  middle_end/flambda2/simplify/unboxing/unboxing_epa.ml
Labels: bug, flambda2

#2843 Move float32 back to beta
  ocaml/otherlibs/stdlib_beta/amd64/float32.ml
  ocaml/otherlibs/stdlib_beta/amd64/float32.mli
  ocaml/otherlibs/stdlib_beta/amd64/float32_u.ml
  ocaml/otherlibs/stdlib_beta/amd64/float32_u.mli
  ocaml/otherlibs/stdlib_beta/amd64/stdlib_beta.ml
  ocaml/otherlibs/stdlib_beta/amd64/stdlib_beta.mli
  ocaml/otherlibs/stdlib_beta/dune
  ocaml/otherlibs/stdlib_beta/generic/stdlib_beta.ml
  ocaml/otherlibs/stdlib_beta/generic/stdlib_beta.mli
  ocaml/otherlibs/stdlib_stable/amd64/stdlib_stable.ml
  ocaml/otherlibs/stdlib_stable/amd64/stdlib_stable.mli
  ocaml/otherlibs/stdlib_stable/dune
  ocaml/testsuite/tests/mixed-blocks/closure_padding_float32.ml
  ocaml/testsuite/tests/mixed-blocks/constructor_args.ml
  ocaml/testsuite/tests/mixed-blocks/generate_mixed_blocks_code.ml
  ocaml/testsuite/tests/mixed-blocks/generated_byte_test.ml
  ocaml/testsuite/tests/mixed-blocks/generated_native_test.ml
  ocaml/testsuite/tests/typing-layouts-arrays/test_float32_u_array.ml
  ocaml/testsuite/tests/typing-layouts-float32/alloc.ml
  ocaml/testsuite/tests/typing-layouts-float32/unboxed_float32s.ml
  tests/simd/consts.ml
  tests/simd/dune
  tests/simd/ops.ml
  tests/small_numbers/dune
  tests/small_numbers/float32_lib.ml
  tests/small_numbers/float32_u_lib.ml
  testsuite/tests/lib-extensions/beta_exports.ml
  testsuite/tests/lib-extensions/stable_exports.ml
Labels: build system

#2853 An array of iarrays is an addr array, not a genarray
  ocaml/testsuite/tests/lib-array/test_iarray_typeopt.ml
  ocaml/typing/typeopt.ml
Labels: typing

#2767 Use correct `zap` function for modalities in `with module` constraints
  ocaml/testsuite/tests/typing-modes/val_modalities.ml
  ocaml/testsuite/tests/typing-zero-alloc/signatures.ml
  ocaml/typing/typemod.ml
Labels: typing, modes

#2855 Make all register allocation parameters optional
  backend/regalloc/regalloc_gi_utils.ml
  backend/regalloc/regalloc_irc_utils.ml
Labels: backend

#2780 Remove Jane Syntax for n-ary functions
  .github/workflows/jane_syntax.yml
  ocaml/parsing/ast_helper.ml
  ocaml/parsing/ast_helper.mli
  ocaml/parsing/ast_invariants.ml
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/depend.ml
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/jane_syntax_parsing.ml
  ocaml/parsing/jane_syntax_parsing.mli
  ocaml/parsing/parser.mly
  ocaml/parsing/parsetree.mli
  ocaml/parsing/pprintast.ml
  ocaml/parsing/printast.ml
  ocaml/testsuite/tests/formatting/test_locations.dlocations.ocamlc.reference
  ocaml/testsuite/tests/formatting/test_locations.dno-locations.ocamlc.reference
  ocaml/testsuite/tests/parsetree/locations_test.compilers.reference
  ocaml/testsuite/tests/parsetree/modes_ast_mapper.ml
  ocaml/testsuite/tests/parsetree/modes_ast_mapper.reference
  ocaml/testsuite/tests/parsing/shortcut_ext_attr.compilers.reference
  ocaml/testsuite/tests/typing-gadts/pr7269.ml
  ocaml/tools/build_jane_syntax_with_active_opam_switch.sh
  ocaml/typing/jkind.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/typeclass.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typemode.ml
  ocaml/typing/untypeast.ml
  printer/printast_with_mappings.ml
Labels: backport from upstream OCaml, lexer/parser

#2851 Use map for finding signature item; add classes to substitution
  ocaml/testsuite/tests/module-type-underscore/typing.ml
  ocaml/typing/typemod.ml
Labels: typing

#2839 Improve error message for unbound path in inferred type
  ocaml/testsuite/tests/module-type-underscore/typing.ml
  ocaml/toplevel/topdirs.ml
  ocaml/typing/btype.ml
  ocaml/typing/btype.mli
  ocaml/typing/mtype.ml
  ocaml/typing/typemod.ml
  ocaml/typing/typemod.mli
Labels: typing

#2789 Delete the modules related to scheduling
  backend/amd64/scheduling.ml
  backend/arm64/scheduling.ml
  backend/asmgen.ml
  backend/dune
  backend/schedgen.ml
  backend/schedgen.mli
  backend/scheduling.mli
  dune
Labels: backend

#2873 Clean up arguments for module type inference boundness checking
  ocaml/typing/typemod.ml
Labels: non-material change
