Repository oxcaml/oxcaml, pull requests merged in 2024-01, with the labels that each got.

#2203 Fix caml_alloc_shr_check_gc for tags >= No_scan_tag
  ocaml/runtime/alloc.c
Labels: runtime, OCaml 5

#2204 Reorder call to caml_domain_external_interrupt_hook
  ocaml/runtime/domain.c
Labels: bug, runtime, OCaml 5

#2157 Remove dummy var from `-as-parameter` command line help
  ocaml/driver/main_args.ml
Labels: parameterized-libs

#2207 Move unboxed ints to stable
  ocaml/testsuite/tests/typing-layouts-bits32/alloc.ml
  ocaml/testsuite/tests/typing-layouts-bits32/basics.ml
  ocaml/testsuite/tests/typing-layouts-bits32/basics_alpha_beta.ml
  ocaml/testsuite/tests/typing-layouts-bits32/c_api.ml
  ocaml/testsuite/tests/typing-layouts-bits32/parsing.ml
  ocaml/testsuite/tests/typing-layouts-bits32/stdlib_bits32_u.ml
  ocaml/testsuite/tests/typing-layouts-bits32/unboxed_bits32s.ml
  ocaml/testsuite/tests/typing-layouts-bits32/unboxed_bits32s_disabled.compilers.reference
  ocaml/testsuite/tests/typing-layouts-bits64/alloc.ml
  ocaml/testsuite/tests/typing-layouts-bits64/basics.ml
  ocaml/testsuite/tests/typing-layouts-bits64/basics_alpha_beta.ml
  ocaml/testsuite/tests/typing-layouts-bits64/c_api.ml
  ocaml/testsuite/tests/typing-layouts-bits64/parsing.ml
  ocaml/testsuite/tests/typing-layouts-bits64/stdlib_bits64_u.ml
  ocaml/testsuite/tests/typing-layouts-bits64/unboxed_bits64s.ml
  ocaml/testsuite/tests/typing-layouts-bits64/unboxed_bits64s_disabled.compilers.reference
  ocaml/testsuite/tests/typing-layouts-word/alloc.ml
  ocaml/testsuite/tests/typing-layouts-word/basics.ml
  ocaml/testsuite/tests/typing-layouts-word/basics_alpha_beta.ml
  ocaml/testsuite/tests/typing-layouts-word/c_api.ml
  ocaml/testsuite/tests/typing-layouts-word/parsing.ml
  ocaml/testsuite/tests/typing-layouts-word/stdlib_nativeint_u.ml
  ocaml/testsuite/tests/typing-layouts-word/unboxed_nativeints.ml
  ocaml/testsuite/tests/typing-layouts-word/unboxed_nativeints_disabled.compilers.reference
  ocaml/typing/jkind.ml
  ocaml/typing/typeopt.ml
Labels: unboxed types

#2208 Ensure the minor heap is actually empty before reallocating it
  ocaml/runtime/minor_gc.c
Labels: bug, runtime, OCaml 5, upstream PR made

#2201 Remove checkbound and checkalign
  backend/CSEgen.ml
  backend/CSEgen.mli
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/arm64/CSE.ml
  backend/arm64/arch.ml
  backend/arm64/arch.mli
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/arm64/selection.ml
  backend/branch_relaxation.ml
  backend/branch_relaxation_intf.mli
  backend/cfg/cfg.ml
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfgize.ml
  backend/checkmach.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/comballoc.ml
  backend/mach.ml
  backend/mach.mli
  backend/printcmm.ml
  backend/printmach.ml
  backend/schedgen.ml
  backend/schedgen.mli
  backend/selectgen.ml
  testsuite/tests/asmgen/arith.cmm
  testsuite/tests/asmgen/checkbound.cmm
  testsuite/tests/asmgen/immediates.cmm
  testsuite/tests/asmgen/immediates.cmmpp
  testsuite/tools/lexcmm.mll
  testsuite/tools/parsecmm.mly
Labels: backend

#2210 Simplify csel builtin when condition is known
  backend/cmm_builtins.ml
Labels: backend

#2171 Remove Cregion, Ctail and Regular Ctrywith handlers
  backend/afl_instrument.ml
  backend/amd64/selection.ml
  backend/cfg/cfgize.ml
  backend/checkmach.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/cmm_invariants.ml
  backend/dataflow.ml
  backend/debug/available_regs.ml
  backend/mach.ml
  backend/mach.mli
  backend/printcmm.ml
  backend/printcmm.mli
  backend/printmach.ml
  backend/selectgen.ml
  backend/selectgen.mli
  backend/spill.ml
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  testsuite/tests/asmgen/catch-try-float.cmm
  testsuite/tests/asmgen/catch-try.cmm
  testsuite/tests/asmgen/soli.cmm
  testsuite/tools/parsecmm.mly
Labels: backend

#2214 Simplify block loads from a constant into `Invalid`
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
Labels: flambda2

#2218 Cleanup simd regalloc flag
  backend/amd64/arch.ml
  backend/amd64/arch.mli
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
Labels: backend, simd

#2219 Abstract amd64 ISA extension flags
  backend/amd64/arch.ml
  backend/amd64/arch.mli
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/selection.ml
  backend/amd64/simd_selection.ml
Labels: backend

#1927 Turn `Poll_and_jump` terminator into `Poll` basic instruction
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/arm64/proc.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_liveness.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/cfgize.ml
  backend/cfg/simplify_terminator.ml
  backend/regalloc/regalloc_invariants.ml
  backend/regalloc/regalloc_irc_utils.ml
  backend/regalloc/regalloc_split.ml
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_validate.ml
Labels: cfg, backend

#2134 Turn `Alloc` terminator into basic instruction
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/arm64/proc.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/cfgize.ml
  backend/regalloc/regalloc_invariants.ml
  backend/regalloc/regalloc_irc_utils.ml
Labels: cfg, backend

#2222 Respect return modes for @@unboxed primitives
  middle_end/flambda2/from_lambda/closure_conversion.ml
Labels: bug, flambda2

#2223 Delete int64->float CR
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
Labels: flambda2, backend

#2233 Small bug fixes for middle/backend unboxed array support
  backend/cmm_helpers.ml
Labels: unboxed types

#2225 Greedy register allocator (POC)
  .github/workflows/build.yml
  backend/asmgen.ml
  backend/regalloc/regalloc_gi.ml
  backend/regalloc/regalloc_gi.mli
  backend/regalloc/regalloc_gi_state.ml
  backend/regalloc/regalloc_gi_state.mli
  backend/regalloc/regalloc_gi_utils.ml
  backend/regalloc/regalloc_gi_utils.mli
  backend/regalloc/regalloc_stack_slots.ml
  backend/regalloc/regalloc_stack_slots.mli
  dune
Labels: cfg, backend

#2236 add region around Texp_probe
  ocaml/lambda/translcore.ml
  tests/backend/probes/dune
  tests/backend/probes/region.ml
Labels: bug

#2237 Fix ordering of masterlock operations
  ocaml/otherlibs/systhreads/st_pthreads.h
Labels: runtime, OCaml 5

#2234 Fix layout annotation encoding to work better with ppxlib
  ocaml/parsing/jane_syntax.ml
  ocaml/testsuite/tests/parsetree/source_jane_street.ml
  ocaml/testsuite/tests/parsetree/test.ml
Labels: lexer/parser

#2242 Add my_region check upon set of closures creation in classic mode
  middle_end/flambda2/from_lambda/closure_conversion.ml
Labels: flambda2

#2254 Fix the `arm64` backend when using runtime 4
  backend/arm64/emit.mlp
Labels: bug, backend

#2248 Allocate pools for the shared heap in batches rather than one at a time
  ocaml/runtime/platform.c
  ocaml/runtime/shared_heap.c
Labels: runtime, OCaml 5
