Repository oxcaml/oxcaml, pull requests merged in 2024-06, with the labels that each got.

#2643 Cancel running CI if new commits are pushed to a pull request
  .github/workflows/build.yml
Labels: CI

#2636 Add `Obj` functions for accessing the scannable prefix len of a mixed block
  ocaml/runtime/obj.c
  ocaml/runtime4/obj.c
  ocaml/stdlib/obj.ml
  ocaml/stdlib/obj.mli
  ocaml/testsuite/tests/lib-obj/uniform_or_mixed.bytecode.reference
  ocaml/testsuite/tests/lib-obj/uniform_or_mixed.ml
  ocaml/testsuite/tests/lib-obj/uniform_or_mixed.native.reference
Labels: unboxed types

#2646 Mode crossing for unboxed integers
  ocaml/testsuite/tests/typing-modal-kinds/basics.ml
  ocaml/typing/jkind.ml
  ocaml/typing/jkind.mli
  ocaml/typing/predef.ml
Labels: typing, unboxed types

#2647 Add Assert_mixed_block_layout_v1 macro
  ocaml/runtime/caml/mlvalues.h
  ocaml/runtime4/caml/mlvalues.h
Labels: unboxed types

#2593 Specialize Sys.max_array_length for arrays of unboxed numbers
  ocaml/runtime/array.c
  ocaml/runtime/float32.c
  ocaml/runtime4/array.c
  ocaml/runtime4/float32.c
  ocaml/stdlib/sys.ml.in
  ocaml/stdlib/sys.mli
  ocaml/testsuite/tests/typing-layouts-arrays/gen_u_array.ml
  ocaml/testsuite/tests/typing-layouts-arrays/test_float32_u_array.ml
  ocaml/testsuite/tests/typing-layouts-arrays/test_gen_u_array.ml
  ocaml/testsuite/tests/typing-layouts-arrays/test_int32_u_array.ml
  ocaml/testsuite/tests/typing-layouts-arrays/test_int64_u_array.ml
  ocaml/testsuite/tests/typing-layouts-arrays/test_nativeint_u_array.ml
  ocaml/testsuite/tests/typing-layouts-arrays/test_stdlib_float_u_array.ml
Labels: runtime

#2655 Fix `--enable-dev` in runtime 5
  .github/workflows/build.yml
  ocaml/otherlibs/systhreads/byte/dune
  ocaml/otherlibs/systhreads/native/dune
Labels: build system, CI

#2657 Fix `configure` for non-amd64 (enable stack checks implicitly)
  ocaml/configure
  ocaml/configure.ac
Labels: bug, build system, OCaml 5

#2652 Disable mixed blocks in extensible variants
  ocaml/testsuite/tests/mixed-blocks/constructor_args.ml
  ocaml/testsuite/tests/mixed-blocks/constructor_args.reference
  ocaml/testsuite/tests/typing-layouts-bits32/basics_beta.ml
  ocaml/testsuite/tests/typing-layouts-bits64/basics_beta.ml
  ocaml/testsuite/tests/typing-layouts-float32/basics.ml
  ocaml/testsuite/tests/typing-layouts-float32/basics_beta.ml
  ocaml/testsuite/tests/typing-layouts-float64/basics.ml
  ocaml/testsuite/tests/typing-layouts-float64/basics_beta.ml
  ocaml/testsuite/tests/typing-layouts-word/basics_beta.ml
  ocaml/testsuite/tests/typing-layouts/mixed_constructor_arguments.ml
  ocaml/testsuite/tests/typing-layouts/mixed_constructor_arguments_beta.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typedecl.mli
Labels: unboxed types

#2464 Enable Domain module fully on runtime5
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/zero_alloc_checker.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_nullary_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  ocaml/asmcomp/amd64/emit.mlp
  ocaml/middle_end/semantics_of_primitives.ml
  ocaml/runtime4/domain.c
  ocaml/stdlib/domain.ml
  ocaml/stdlib/domain.mli
Labels: to upstream, OCaml 5, domains

#2653 Add new `Allocated_*` macros for accessing the size of an object
  ocaml/runtime/caml/mlvalues.h
  ocaml/runtime4/caml/mlvalues.h
Labels: runtime, unboxed types

#2645 Eliminate fallthrough blocks at the end of Cfgize
  backend/cfg/cfgize.ml
Labels: backend

#2662 Disable partial inlining for runtime/str.c
  ocaml/Makefile
  ocaml/Makefile.config.in
  ocaml/configure
  ocaml/configure.ac
Labels: runtime, OCaml 5

#2663 Do not demote direct calls outside stubs
  middle_end/flambda2/simplify/env/closure_info.ml
  middle_end/flambda2/simplify/env/closure_info.mli
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
Labels: flambda2

#2667 Add documentation for mixed blocks
  ocaml/jane/doc/extensions/unboxed-types/index.md
Labels: documentation, unboxed types

#2398 Add portability and contention
  ocaml/testsuite/tests/formatting/test_locations.dlocations.ocamlc.reference
  ocaml/testsuite/tests/formatting/test_locations.dno-locations.ocamlc.reference
  ocaml/testsuite/tests/typing-modes/class.ml
  ocaml/testsuite/tests/typing-modes/lazy.ml
  ocaml/testsuite/tests/typing-modes/modes.ml
  ocaml/testsuite/tests/typing-modes/module.ml
  ocaml/testsuite/tests/typing-modes/mutable.ml
  ocaml/testsuite/tests/typing-modes/portable-contend.ml
  ocaml/typing/env.ml
  ocaml/typing/jkind.ml
  ocaml/typing/mode.ml
  ocaml/typing/mode_intf.mli
  ocaml/typing/oprint.ml
  ocaml/typing/outcometree.mli
  ocaml/typing/printtyp.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
  ocaml/typing/typemode.ml
Labels: typing

#2675 Format Emitaux
  backend/.ocamlformat-enable
  backend/emitaux.ml
  backend/emitaux.mli
Labels: backend, non-material change

#2672 Document arrays of unboxed numbers
  ocaml/jane/doc/extensions/unboxed-types/index.md
Labels: documentation

#2681 Float32/Int64 cast intrinsics
  backend/cmm_builtins.ml
  ocaml/otherlibs/stdlib_beta/float32.ml
  ocaml/otherlibs/stdlib_beta/float32.mli
  ocaml/otherlibs/stdlib_beta/float32_u.ml
  ocaml/otherlibs/stdlib_beta/float32_u.mli
  ocaml/runtime/float32.c
  ocaml/runtime4/float32.c
  tests/small_numbers/float32_lib.ml
  tests/small_numbers/float32_u_lib.ml
  tests/small_numbers/stubs.c
Labels: backend

#2689 Revert "Allow unboxing to detect and delete dead code"
  middle_end/flambda2/simplify/apply_cont_rewrite.ml
  middle_end/flambda2/simplify/apply_cont_rewrite.mli
  middle_end/flambda2/simplify/common_subexpression_elimination.ml
  middle_end/flambda2/simplify/continuation_extra_params_and_args.ml
  middle_end/flambda2/simplify/continuation_extra_params_and_args.mli
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/expr_builder.mli
  middle_end/flambda2/simplify/flow/flow_acc.ml
  middle_end/flambda2/simplify/flow/mutable_unboxing.ml
  middle_end/flambda2/simplify/join_points.ml
  middle_end/flambda2/simplify/simplify_apply_cont_expr.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/simplify/unboxing/unbox_continuation_params.ml
  middle_end/flambda2/simplify/unboxing/unboxers.ml
  middle_end/flambda2/simplify/unboxing/unboxers.mli
  middle_end/flambda2/simplify/unboxing/unboxing_epa.ml
  middle_end/flambda2/simplify/unboxing/unboxing_epa.mli
  middle_end/flambda2/simplify/unboxing/unboxing_types.ml
  middle_end/flambda2/simplify/unboxing/unboxing_types.mli
Labels: flambda2

#2690 Revert "Fix CSE equations on params"
  middle_end/flambda2/simplify/common_subexpression_elimination.ml
Labels: flambda2

#2691 Stop using exceptions for control flow in `camlinternalOO`
  ocaml/stdlib/camlinternalOO.ml
Labels: to upstream

#2694 Advise against new bytecode instructions
  ocaml/runtime/caml/instruct.h
  ocaml/runtime4/caml/instruct.h
Labels: documentation

#2695 Restore missing `.h` files to `caml` directory of runtime 5's installed compiler
  ocaml/otherlibs/runtime_events/dune
  ocaml/runtime/caml/dune
Labels: build system, runtime

#2623 Small simplification to the new add_gadt_equation
  ocaml/testsuite/tests/typing-layouts/basics.ml
  ocaml/typing/ctype.ml
  ocaml/typing/jkind.ml
  ocaml/typing/jkind.mli
Labels: typing

#2177 Add `-as-argument-for` parameter
  ocaml/driver/compile_common.ml
  ocaml/driver/main_args.ml
  ocaml/driver/main_args.mli
  ocaml/file_formats/cmi_format.ml
  ocaml/file_formats/cmi_format.mli
  ocaml/ocamldoc/odoc_analyse.ml
  ocaml/testsuite/tests/templates/basic/bad_arg_impl.ml
  ocaml/testsuite/tests/templates/basic/bad_arg_impl.reference
  ocaml/testsuite/tests/templates/basic/bad_arg_intf.mli
  ocaml/testsuite/tests/templates/basic/bad_arg_intf.reference
  ocaml/testsuite/tests/templates/basic/string_monoid.ml
  ocaml/testsuite/tests/templates/basic/string_monoid.mli
  ocaml/testsuite/tests/templates/basic/test.ml
  ocaml/testsuite/tests/templates/basic/test_direct_access.ml
  ocaml/testsuite/tests/templates/basic/test_direct_access.reference
  ocaml/typing/env.ml
  ocaml/typing/env.mli
  ocaml/typing/includemod.ml
  ocaml/typing/includemod.mli
  ocaml/typing/includemod_errorprinter.ml
  ocaml/typing/persistent_env.ml
  ocaml/typing/persistent_env.mli
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/typemod.ml
  ocaml/typing/typemod.mli
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
  tools/flambda_backend_objinfo.ml
Labels: parameterized-libs

#2431 Fix mode locks for classes and modules
  native_toplevel/opttoploop.ml
  ocaml/lambda/lambda.ml
  ocaml/testsuite/tests/typing-modes/class.ml
  ocaml/testsuite/tests/typing-modes/module.ml
  ocaml/toplevel/topdirs.ml
  ocaml/typing/env.ml
  ocaml/typing/env.mli
  ocaml/typing/includemod.ml
  ocaml/typing/typeclass.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typemod.ml
Labels: typing

#2649 Fix a bug in slot_offsets when two separate sets of closures have a slot in common, but not all
  middle_end/flambda2/simplify_shared/slot_offsets.ml
Labels: flambda2

#2683 Fix warning 34 (unused type declaration) for locally-abstract types
  ocaml/testsuite/tests/typing-warnings/unused_types.ml
  ocaml/typing/typecore.ml
Labels: bug, to upstream, typing

#2674 Fix problems with GC compaction and non-consecutive function slots
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  ocaml/runtime/extern.c
  ocaml/runtime4/compact.c
  ocaml/runtime4/extern.c
Labels: bug, flambda2

#2533 Support for mixed blocks in Flambda2 types
  middle_end/flambda2/classic_mode_types/value_approximation.ml
  middle_end/flambda2/classic_mode_types/value_approximation.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/identifiers/reg_width_const.ml
  middle_end/flambda2/identifiers/reg_width_const.mli
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  middle_end/flambda2/lattices/or_unknown.ml
  middle_end/flambda2/lattices/or_unknown.mli
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/simplify/flow/mutable_unboxing.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_primitive.ml
  middle_end/flambda2/simplify/simplify_static_const.ml
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/simplify/simplify_variadic_primitive.ml
  middle_end/flambda2/simplify/unboxing/build_unboxing_denv.ml
  middle_end/flambda2/simplify/unboxing/is_unboxing_beneficial.ml
  middle_end/flambda2/simplify/unboxing/optimistic_unboxing_decision.ml
  middle_end/flambda2/simplify/unboxing/unboxing_epa.ml
  middle_end/flambda2/simplify/unboxing/unboxing_types.ml
  middle_end/flambda2/simplify/unboxing/unboxing_types.mli
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/terms/removed_operations.ml
  middle_end/flambda2/tests/api_tests/extension_meet.ml
  middle_end/flambda2/tests/meet_test.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/grammar/more_type_creators.ml
  middle_end/flambda2/types/grammar/more_type_creators.mli
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/types/grammar/type_grammar.mli
  middle_end/flambda2/types/meet_and_join_new.ml
  middle_end/flambda2/types/meet_and_join_old.ml
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/types/provers.mli
  middle_end/flambda2/types/reify.ml
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/matching.ml
  ocaml/lambda/printlambda.ml
  ocaml/lambda/translcore.ml
  ocaml/testsuite/tests/flambda/flambda2_row_like_join.ml
  ocaml/utils/misc.ml
  ocaml/utils/misc.mli
Labels: flambda2, unboxed types

#2705 Join: only generate alias types to older variables
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/env/typing_env.mli
  middle_end/flambda2/types/meet_and_join_new.ml
  middle_end/flambda2/types/meet_and_join_old.ml
  ocaml/testsuite/tests/flambda/alias_in_join.ml
Labels: flambda2

#2699 Fix unsound modes in typecore
  ocaml/testsuite/tests/typing-modes/class.ml
  ocaml/testsuite/tests/typing-modes/lazy.ml
  ocaml/testsuite/tests/typing-modes/letop.ml
  ocaml/testsuite/tests/typing-modes/module.ml
  ocaml/testsuite/tests/typing-unique/unique_analysis.ml
  ocaml/typing/typecore.ml
Labels: typing

#2696 Expose float32 mask symbols
  ocaml/runtime/amd64.S
  ocaml/runtime/amd64nt.asm
  ocaml/runtime4/amd64.S
  ocaml/runtime4/amd64nt.asm
  tests/simd/arrays.ml
  tests/simd/consts.ml
  tests/simd/dune
  tests/simd/ops.ml
  tests/simd/scalar_ops.ml
  tests/small_numbers/dune
Labels: bug, runtime

#2719 Delete the `Cfg_equivalence` module
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_equivalence.mli
  dune
Labels: cfg, backend

#2687 Zero alloc: "assert all" and signatures
  ocaml/typing/typedtree.ml
  tests/backend/zero_alloc_checker/t6.ml
Labels: bug, zero alloc

#2729 Revert "Flambda2_types: Stop exporting get_alias_exn"
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_named.ml
  middle_end/flambda2/simplify/simplify_primitive.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_simple.ml
  middle_end/flambda2/simplify/simplify_simple.mli
  middle_end/flambda2/simplify/simplify_static_const.ml
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/simplify/unboxing/optimistic_unboxing_decision.ml
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/env/typing_env.mli
  middle_end/flambda2/types/expand_head.ml
  middle_end/flambda2/types/expand_head.mli
  middle_end/flambda2/types/flambda2_types.mli
Labels: flambda2

#2738 Move the curry attribute name into the `Jane_syntax` module
  ocaml/parsing/builtin_attributes.ml
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/parser.mly
  ocaml/parsing/pprintast.ml
Labels: non-material change

#2718 Fix toplevel printer for arrays of unboxed things
  ocaml/testsuite/tests/tool-toplevel/exotic_arrays.compilers.reference
  ocaml/testsuite/tests/tool-toplevel/exotic_arrays.ml
  ocaml/toplevel/genprintval.ml
Labels: bug, unboxed types

#2723 zero_alloc: cleanup attributes in Lambda
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/terms/zero_alloc_attribute.ml
  middle_end/flambda2/terms/zero_alloc_attribute.mli
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/translcore.ml
  ocaml/lambda/translmod.ml
  ocaml/testsuite/tests/functors/functors.compilers.reference
  ocaml/testsuite/tests/translprim/array_spec.heap.flat.reference
  ocaml/testsuite/tests/translprim/array_spec.stack.flat.reference
  ocaml/testsuite/tests/translprim/comparison_table.heap.reference
  ocaml/testsuite/tests/translprim/comparison_table.stack.reference
  ocaml/testsuite/tests/translprim/module_coercion.compilers.flat.reference
Labels: zero alloc

#2746 Support type directed disambiguation better for `exclave_`
  ocaml/testsuite/tests/typing-local/local.ml
  ocaml/typing/typecore.ml
Labels: modes
