Repository oxcaml/oxcaml, pull requests merged in 2024-02, with the labels that each got.

#2256 Fix choice of meet and join been evaluated before flags were parsed
  middle_end/flambda2/types/flambda2_types.ml
  middle_end/flambda2/types/join_levels.ml
  middle_end/flambda2/types/meet_and_join.ml
  middle_end/flambda2/types/meet_and_join.mli
Labels: bug, flambda2

#2249 CSE on CFG
  backend/CSE_utils.ml
  backend/CSE_utils.mli
  backend/CSEgen.ml
  backend/CSEgen.mli
  backend/amd64/CSE.ml
  backend/arm64/CSE.ml
  backend/asmgen.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_cse.ml
  backend/cfg/cfg_cse.mli
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfgize.ml
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  dune
  tests/backend/regalloc_validator/check_regalloc_validation.ml
Labels: cfg, backend

#2261 Don't enable -fprefetchw by default
  backend/amd64/arch.ml
Labels: backend

#2252 Determine unboxed int32 array length using custom_ops index
  backend/amd64/emit.mlp
  backend/arm64/emit.mlp
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/printcmm.ml
  backend/x86_ast.mli
  backend/x86_binary_emitter.ml
  backend/x86_gas.ml
  backend/x86_masm.ml
  middle_end/flambda2/to_cmm/to_cmm_result.ml
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  ocaml/Makefile.config.in
  ocaml/configure
  ocaml/configure.ac
  ocaml/runtime/array.c
  ocaml/runtime/caml/custom.h
  ocaml/runtime/caml/m.h.in
  ocaml/runtime4/array.c
  ocaml/runtime4/caml/custom.h
  ocaml/runtime4/caml/m.h.in
  ocaml/utils/config.fixed.ml
  ocaml/utils/config.generated.ml.in
  ocaml/utils/config.mli
Labels: backend, runtime, unboxed types

#2266 Weak symbol support in x86 binary emitter
  backend/internal_assembler/relocation_entry.ml
  backend/internal_assembler/symbol_entry.ml
  backend/internal_assembler/symbol_entry.mli
  backend/internal_assembler/symbol_table.ml
  backend/x86_binary_emitter.ml
  backend/x86_binary_emitter.mli
Labels: internal-assembler

#2267 Move `LZCNT` to its own extension
  backend/amd64/arch.ml
  backend/amd64/arch.mli
  backend/amd64/emit.mlp
Labels: backend

#2220 Check amd64 extension support at startup
  backend/amd64/arch.ml
  backend/amd64/arch.mli
  backend/amd64/emit.mlp
  ocaml/Makefile
  ocaml/runtime/caml/dune
  ocaml/runtime/caml/isa.h
  ocaml/runtime/isa.c
  ocaml/runtime/startup_aux.c
  ocaml/runtime/startup_nat.c
  ocaml/runtime4/Makefile
  ocaml/runtime4/caml/dune
  ocaml/runtime4/caml/isa.h
  ocaml/runtime4/isa.c
  ocaml/runtime4/startup_aux.c
  ocaml/runtime4/startup_nat.c
Labels: backend

#2269 generic Tvar should have fixed jkind
  ocaml/testsuite/tests/typing-layouts-bits32/basics.ml
  ocaml/testsuite/tests/typing-layouts-bits64/basics.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/concrete.ml
  ocaml/testsuite/tests/typing-layouts-float64/basics.ml
  ocaml/testsuite/tests/typing-layouts-word/basics.ml
  ocaml/testsuite/tests/typing-layouts/basics.ml
  ocaml/testsuite/tests/typing-layouts/basics_alpha.ml
  ocaml/typing/ctype.ml
  ocaml/typing/typedecl.ml
Labels: typing, unboxed types

#2163 Port `Comballoc` to work on CFG values
  .github/workflows/build.yml
  backend/asmgen.ml
  backend/cfg/cfg_comballoc.ml
  backend/cfg/cfg_comballoc.mli
  driver/compiler_hooks.ml
  driver/compiler_hooks.mli
  dune
  utils/doubly_linked_list.ml
  utils/doubly_linked_list.mli
Labels: cfg, backend

#1900 Add boxed_float variant to all float operations
  backend/cmm_helpers.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/kinds/flambda_arity.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/term_basics/empty_array_kind.ml
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/asmcomp/cmmgen.ml
  ocaml/boot/ocamlc
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/matching.ml
  ocaml/lambda/printlambda.ml
  ocaml/lambda/printlambda.mli
  ocaml/lambda/tmc.ml
  ocaml/lambda/transl_array_comprehension.ml
  ocaml/lambda/translcore.ml
  ocaml/lambda/translprim.ml
  ocaml/middle_end/clambda_primitives.ml
  ocaml/middle_end/clambda_primitives.mli
  ocaml/middle_end/closure/closure.ml
  ocaml/middle_end/convert_primitives.ml
  ocaml/middle_end/flambda/closure_offsets.ml
  ocaml/middle_end/flambda/flambda_to_clambda.ml
  ocaml/middle_end/flambda/inline_and_simplify.ml
  ocaml/middle_end/flambda/simple_value_approx.ml
  ocaml/middle_end/flambda/simplify_primitives.ml
  ocaml/middle_end/internal_variable_names.ml
  ocaml/middle_end/printclambda.ml
  ocaml/middle_end/printclambda_primitives.ml
  ocaml/middle_end/semantics_of_primitives.ml
  ocaml/testsuite/tests/translprim/comparison_table.heap.reference
  ocaml/testsuite/tests/translprim/comparison_table.stack.reference
  ocaml/testsuite/tests/translprim/module_coercion.compilers.flat.reference
  ocaml/testsuite/tests/translprim/module_coercion.compilers.no-flat.reference
  ocaml/typing/primitive.ml
  ocaml/typing/primitive.mli
  ocaml/typing/rec_check.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typeopt.ml
Labels: lambda

#2211 Always use x86 inc/dec for add/sub with 1
  backend/amd64/emit.mlp
Labels: backend

#2268 Request ISA extension checks from C stubs
  ocaml/runtime/caml/isa.h
  ocaml/runtime/caml/mlvalues.h
  ocaml/runtime4/caml/isa.h
  ocaml/runtime4/caml/mlvalues.h
Labels: backend, runtime

#2244 Refine assertion in caml_modify_local
  ocaml/runtime/memory.c
Labels: runtime, OCaml 5

#1271 Functions with unboxed parameters
  middle_end/flambda2/docs/unboxed_params.md
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/translattribute.ml
  ocaml/lambda/translattribute.mli
  ocaml/lambda/translcore.ml
  ocaml/lambda/translmod.ml
  ocaml/middle_end/closure/closure.ml
  ocaml/middle_end/flambda/closure_conversion.ml
  ocaml/utils/warnings.ml
  ocaml/utils/warnings.mli
Labels: flambda2

#2274 Simulation test for greedy regalloc priority queue
  tests/backend/greedy/dune
  tests/backend/greedy/pqueue.ml
  tests/backend/greedy/pqueue.mli
Labels: backend

#2276 Random heuristics for testing greedy regalloc
  backend/regalloc/regalloc_gi.ml
  backend/regalloc/regalloc_gi_utils.ml
  backend/regalloc/regalloc_gi_utils.mli
Labels: backend

#1760 New mode solver supporting multiple axes with morphisms
  chamelon/compat.jst.ml
  native_toplevel/opttoploop.ml
  ocaml/.depend
  ocaml/boot/ocamlc
  ocaml/compilerlibs/Makefile.compilerlibs
  ocaml/dune
  ocaml/lambda/translcore.ml
  ocaml/lambda/translmode.ml
  ocaml/lambda/translmode.mli
  ocaml/lambda/translprim.ml
  ocaml/lambda/translprim.mli
  ocaml/otherlibs/dynlink/Makefile
  ocaml/otherlibs/dynlink/dune
  ocaml/testsuite/tests/formatting/test_locations.dlocations.ocamlc.reference
  ocaml/testsuite/tests/formatting/test_locations.dno-locations.ocamlc.reference
  ocaml/testsuite/tests/typing-local/crossing.ml
  ocaml/testsuite/tests/typing-local/local.ml
  ocaml/toplevel/native/topeval.ml
  ocaml/typing/.ocamlformat-enable
  ocaml/typing/ctype.ml
  ocaml/typing/ctype.mli
  ocaml/typing/env.ml
  ocaml/typing/env.mli
  ocaml/typing/includecore.ml
  ocaml/typing/mode.ml
  ocaml/typing/mode.mli
  ocaml/typing/mode_intf.mli
  ocaml/typing/parmatch.ml
  ocaml/typing/patterns.ml
  ocaml/typing/patterns.mli
  ocaml/typing/printtyp.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/solver.ml
  ocaml/typing/solver.mli
  ocaml/typing/solver_intf.mli
  ocaml/typing/typeclass.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/types.ml
  ocaml/typing/types.mli
  ocaml/typing/typetexp.ml
  ocaml/typing/uniqueness_analysis.ml
  ocaml/utils/misc.ml
  ocaml/utils/misc.mli
Labels: typing

#2303 Add type-directed disambiguation for `local_ expr` expressions
  ocaml/testsuite/tests/typing-local/local.ml
  ocaml/typing/typecore.ml
Labels: typing

#2301 Hoist Wosize_val from end conditions of loops
  ocaml/runtime/backtrace.c
  ocaml/runtime/caml/mlvalues.h
  ocaml/runtime/globroots.c
  ocaml/runtime/memory.c
  ocaml/runtime/meta.c
  ocaml/runtime/minor_gc.c
  ocaml/runtime/printexc.c
  ocaml/runtime/shared_heap.c
  ocaml/runtime/weak.c
Labels: runtime, OCaml 5

#2305 Closing over argument crosses modes
  ocaml/testsuite/tests/typing-local/crossing.ml
  ocaml/testsuite/tests/typing-local/local.ml
  ocaml/typing/typecore.ml
Labels: typing

#2304 Speed up compile time for dev builds
  Makefile.config.in
  configure.ac
  native_toplevel/opttoploop.ml
  ocaml/Makefile.common-jst
  tools/merge_archives.ml
Labels: build system

#2313 Fix assertion in Emit
  backend/amd64/emit.mlp
Labels: bug, backend

#2312 Fix uses of polymorphic comparison in Flambda 2
  middle_end/flambda2/algorithms/dune
  middle_end/flambda2/algorithms/lmap.ml
  middle_end/flambda2/algorithms/patricia_tree.ml
  middle_end/flambda2/bound_identifiers/dune
  middle_end/flambda2/classic_mode_types/dune
  middle_end/flambda2/cmx/dune
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/compare/dune
  middle_end/flambda2/dune
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/dune
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/identifiers/dune
  middle_end/flambda2/identifiers/int_ids.ml
  middle_end/flambda2/identifiers/rec_info_expr0.ml
  middle_end/flambda2/import/dune
  middle_end/flambda2/kinds/dune
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/lattices/dune
  middle_end/flambda2/nominal/dune
  middle_end/flambda2/nominal/name_occurrences.ml
  middle_end/flambda2/numbers/dune
  middle_end/flambda2/numbers/numeric_types.ml
  middle_end/flambda2/numbers/numeric_types.mli
  middle_end/flambda2/numbers/one_bit_fewer.ml
  middle_end/flambda2/numbers/one_bit_fewer.mli
  middle_end/flambda2/numbers/targetint_31_63.ml
  middle_end/flambda2/parser/dune
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/simplify/apply_cont_rewrite.ml
  middle_end/flambda2/simplify/dune
  middle_end/flambda2/simplify/flow/flow_analysis.ml
  middle_end/flambda2/simplify/simplify_primitive.ml
  middle_end/flambda2/simplify_shared/dune
  middle_end/flambda2/simplify_shared/exported_offsets.ml
  middle_end/flambda2/simplify_shared/slot_offsets.ml
  middle_end/flambda2/term_basics/dune
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/dune
  middle_end/flambda2/terms/inlined_attribute.ml
  middle_end/flambda2/terms/inlining_history.ml
  middle_end/flambda2/to_cmm/dune
  middle_end/flambda2/types/dune
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/ui/dune
  ocaml/lambda/debuginfo.ml
  ocaml/lambda/debuginfo.mli
Labels: flambda2

#2247 128-bit load/store primitives for GC'd arrays
  middle_end/flambda2/docs/simd.md
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mli
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_ternary_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/tmc.ml
  ocaml/lambda/translprim.ml
  ocaml/middle_end/convert_primitives.ml
  ocaml/middle_end/internal_variable_names.ml
  tests/simd/arrays.ml
Labels: flambda2, lambda, simd

#2317 Fix for naked pointer problem in unsafe_get_global_value
  native_toplevel/opttoploop.ml
  ocaml/otherlibs/dynlink/byte/dynlink.ml
  ocaml/otherlibs/dynlink/dynlink.ml
  ocaml/otherlibs/dynlink/dynlink.mli
  ocaml/otherlibs/dynlink/dynlink_common.ml
  ocaml/otherlibs/dynlink/dynlink_common.mli
  ocaml/otherlibs/dynlink/dynlink_platform_intf.ml
  ocaml/otherlibs/dynlink/native/dynlink.ml
  ocaml/runtime/dynlink_nat.c
  ocaml/runtime4/dynlink_nat.c
  ocaml/toplevel/native/tophooks.ml
Labels: bug, to upstream

#2319 Use "unboxable" as the name of the best-effort unboxing attribute
  middle_end/flambda2/docs/unboxed_params.md
  ocaml/lambda/printlambda.ml
  ocaml/lambda/translattribute.ml
Labels: flambda2

#2310 Use modal kinds to do mode crossing
  ocaml/.depend
  ocaml/boot/ocamlc
  ocaml/compilerlibs/Makefile.compilerlibs
  ocaml/lambda/matching.ml
  ocaml/otherlibs/dynlink/dune
  ocaml/testsuite/tests/typing-layouts-err-msg/immediate.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/immediate64.ml
  ocaml/testsuite/tests/typing-local/crossing.ml
  ocaml/testsuite/tests/typing-local/local.ml
  ocaml/testsuite/tests/typing-modal-kinds/basics.ml
  ocaml/testsuite/tests/typing-modal-kinds/expected_mode.ml
  ocaml/testsuite/tests/typing-modal-kinds/principal.ml
  ocaml/typing/ctype.ml
  ocaml/typing/ctype.mli
  ocaml/typing/jkind.ml
  ocaml/typing/jkind.mli
  ocaml/typing/mode_intf.mli
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typeopt.ml
  ocaml/utils/misc.ml
  ocaml/utils/misc.mli
Labels: typing
