Repository oxcaml/oxcaml, pull requests merged in 2024-08, with the labels that each got.

#2741 Migrate modes into the parsetree
  ocaml/ocamldoc/odoc_ast.ml
  ocaml/parsing/ast_helper.ml
  ocaml/parsing/ast_helper.mli
  ocaml/parsing/ast_invariants.ml
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_iterator.mli
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/ast_mapper.mli
  ocaml/parsing/depend.ml
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/location.ml
  ocaml/parsing/location.mli
  ocaml/parsing/parser.mly
  ocaml/parsing/parsetree.mli
  ocaml/parsing/pprintast.ml
  ocaml/parsing/pprintast.mli
  ocaml/parsing/printast.ml
  ocaml/testsuite/tests/language-extensions/pprintast_unconditional.ml
  ocaml/testsuite/tests/language-extensions/pprintast_unconditional.reference
  ocaml/testsuite/tests/parsetree/modes_ast_mapper.ml
  ocaml/testsuite/tests/parsetree/modes_ast_mapper.reference
  ocaml/testsuite/tests/parsetree/source_jane_street.ml
  ocaml/testsuite/tests/parsing/attributes.compilers.reference
  ocaml/testsuite/tests/parsing/broken_invariants.compilers.reference
  ocaml/testsuite/tests/parsing/broken_invariants.ml
  ocaml/testsuite/tests/parsing/extensions.compilers.reference
  ocaml/testsuite/tests/parsing/hash_ambiguity.compilers.reference
  ocaml/testsuite/tests/parsing/illegal_ppx.ml
  ocaml/testsuite/tests/parsing/shortcut_ext_attr.compilers.reference
  ocaml/testsuite/tests/ppx-error-message/ppx_error_message.ml
  ocaml/testsuite/tests/tool-ocamlc-stop-after/stop_after_parsing_intf.compilers.reference
  ocaml/testsuite/tests/typing-layouts/allow_illegal_crossing.ml
  ocaml/testsuite/tests/typing-modes/modes.ml
  ocaml/testsuite/tests/typing-modes/syntax-error.compilers.reference
  ocaml/testsuite/tests/typing-modes/syntax-error.ml
  ocaml/typing/jkind.ml
  ocaml/typing/mode.ml
  ocaml/typing/mode_intf.mli
  ocaml/typing/printtyp.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
  ocaml/typing/typedecl.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/typemode.ml
  ocaml/typing/typemode.mli
  ocaml/typing/typetexp.ml
  ocaml/typing/typetexp.mli
  ocaml/typing/untypeast.ml
  printer/printast_with_mappings.ml
Labels: lexer/parser, modes

#2882 Fix typo (`Regalloc_split`)
  backend/regalloc/regalloc_split.ml
Labels: backend, non-material change

#2883 `Regalloc_split`: slightly generalize the code
  backend/regalloc/regalloc_split.ml
Labels: backend

#2807 Fix parsing mls
  ocaml/jane/build-resolved-files-for-ci
  ocaml/parsing/ast_helper.ml
  ocaml/parsing/ast_helper.mli
  ocaml/parsing/ast_invariants.ml
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/attr_helper.ml
  ocaml/parsing/builtin_attributes.ml
  ocaml/parsing/depend.ml
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/jane_syntax_parsing.ml
  ocaml/parsing/jane_syntax_parsing.mli
  ocaml/parsing/lexer.mll
  ocaml/parsing/location.ml
  ocaml/parsing/parse.ml
  ocaml/parsing/parser.mly
  ocaml/parsing/parsetree.mli
  ocaml/parsing/pprintast.ml
  ocaml/parsing/pprintast.mli
  ocaml/parsing/printast.ml
  ocaml/parsing/unit_info.ml
Labels: lexer/parser, OCaml 5.2

#2809 Fix build script for OCaml 5.2 merge
  ocaml/jane/build-resolved-files-for-ci
  ocaml/lambda/lambda.mli
  ocaml/parsing/ast_helper.ml
  ocaml/parsing/ast_helper.mli
  ocaml/parsing/ast_invariants.ml
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/attr_helper.ml
  ocaml/parsing/builtin_attributes.ml
  ocaml/parsing/depend.ml
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/jane_syntax_parsing.ml
  ocaml/parsing/jane_syntax_parsing.mli
  ocaml/parsing/lexer.mll
  ocaml/parsing/location.ml
  ocaml/parsing/parse.ml
  ocaml/parsing/parser.mly
  ocaml/parsing/parsetree.mli
  ocaml/parsing/pprintast.ml
  ocaml/parsing/pprintast.mli
  ocaml/parsing/printast.ml
  ocaml/parsing/unit_info.ml
  ocaml/typing/ctype.mli
  ocaml/typing/outcometree.mli
  ocaml/typing/typedtree.mli
Labels: OCaml 5.2

#2811 Fix merge conflicts in some `typing/*.ml` files
  ocaml/jane/build-resolved-files-for-ci
  ocaml/typing/btype.ml
  ocaml/typing/cmt2annot.ml
  ocaml/typing/mtype.ml
  ocaml/typing/oprint.ml
  ocaml/typing/parmatch.ml
  ocaml/typing/patterns.ml
  ocaml/typing/subst.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/untypeast.ml
  ocaml/typing/value_rec_check.ml
Labels: typing, OCaml 5.2

#2819 Fix conflicts in `typing/ctype.ml`
  ocaml/typing/ctype.ml
Labels: typing, OCaml 5.2

#2820 Fix easy typing conflicts
  ocaml/typing/includecore.ml
  ocaml/typing/predef.ml
  ocaml/typing/primitive.ml
  ocaml/typing/printpat.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/shape.ml
  ocaml/typing/shape_reduce.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typeclass.ml
  ocaml/typing/typedecl_variance.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typeopt.ml
  ocaml/typing/typeopt.mli
  ocaml/typing/types.ml
Labels: typing, OCaml 5.2

#2821 Fix conflicts in `typing/printtyp.ml`
  ocaml/typing/printtyp.ml
Labels: typing, OCaml 5.2

#2837 Unboxed tuples fixes
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_env.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_env.mli
Labels: flambda2, unboxed types

#2874 Ensure GC logs are printed atomically
  ocaml/runtime/caml/osdeps.h
  ocaml/runtime/misc.c
  ocaml/runtime/unix.c
  ocaml/runtime/win32.c
Labels: runtime

#2895 Avoid generating empty `profile.dump` files
  driver/optmaindriver.ml
Labels: bug

#2897 Add float32 unboxer to global list
  middle_end/flambda2/simplify/unboxing/optimistic_unboxing_decision.ml
  middle_end/flambda2/simplify/unboxing/unboxers.mli
  tests/small_numbers/float32_u_lib.ml
Labels: bug, flambda2

#2848 Extra args for continuations should be computed after restore_continuation_context
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  ocaml/testsuite/tests/typing-local/pr2848.ml
Labels: bug, flambda2

#2899 Added flags for auto-vectorization and simple tests
  backend/asmgen.ml
  backend/cfg/vectorize.ml
  backend/cfg/vectorize.mli
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  dune
  tests/backend/vectorizer/dune
  tests/backend/vectorizer/examples.expected
  tests/backend/vectorizer/examples.ml
  tests/backend/vectorizer/examples_unrolled.ml
  tests/backend/vectorizer/filter.sh
  tests/backend/vectorizer/grep_vectorizer_cmx.expected
  tests/backend/vectorizer/stubs.c
  tests/backend/vectorizer/test1.expected
  tests/backend/vectorizer/test1.ml
  tests/backend/vectorizer/test1_simd.ml
Labels: backend

#2881 Fix conflicts in `typing/env.ml` and `typing/persistent_env.ml`
  ocaml/parsing/unit_info.ml
  ocaml/typing/env.ml
  ocaml/typing/env.mli
  ocaml/typing/persistent_env.ml
  ocaml/typing/types.ml
  ocaml/utils/load_path.ml
  ocaml/utils/load_path.mli
Labels: typing, OCaml 5.2

#2885 Fix conflicts in `typing/typedecl.ml`
  ocaml/typing/typedecl.ml
Labels: typing, OCaml 5.2

#2887 Fix conflicts in `typing/typemod.ml`
  ocaml/file_formats/cms_format.ml
  ocaml/file_formats/cms_format.mli
  ocaml/parsing/unit_info.ml
  ocaml/parsing/unit_info.mli
  ocaml/typing/typemod.ml
  ocaml/typing/typemod.mli
Labels: typing, OCaml 5.2

#2828 Fix conflicts in `typing/typetexp.ml`
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/parser.mly
  ocaml/parsing/pprintast.ml
  ocaml/typing/typetexp.ml
  ocaml/typing/untypeast.ml
Labels: typing, OCaml 5.2

#2900 Monadic modalities always implied by mutable
  ocaml/testsuite/tests/typing-modes/mutable.ml
  ocaml/typing/printtyp.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typemode.ml
  ocaml/typing/typemode.mli
  ocaml/typing/untypeast.ml
Labels: typing

#2898 Restore #2540 (Support `stack_ exp` syntax)
  chamelon/compat.jst.ml
  ocaml/boot/menhir/parser.mli
  ocaml/lambda/translcore.ml
  ocaml/lambda/translmode.ml
  ocaml/lambda/translmode.mli
  ocaml/parsing/ast_helper.ml
  ocaml/parsing/ast_helper.mli
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/depend.ml
  ocaml/parsing/lexer.mll
  ocaml/parsing/parser.mly
  ocaml/parsing/parsetree.mli
  ocaml/parsing/pprintast.ml
  ocaml/parsing/printast.ml
  ocaml/testsuite/tests/language-extensions/pprintast_unconditional.ml
  ocaml/testsuite/tests/language-extensions/pprintast_unconditional.reference
  ocaml/testsuite/tests/typing-modes/stack.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/untypeast.ml
  printer/printast_with_mappings.ml
Labels: typing, lexer/parser

#2877 Add compiler warning for inferred tailcalls in TCO'd cycles
  backend/analyze_tailcall_graph.ml
  backend/analyze_tailcall_graph.mli
  backend/asmgen.ml
  backend/printcmm.ml
  backend/printmach.ml
  middle_end/flambda2/terms/original_position.ml
  ocaml/lambda/printlambda.ml
  ocaml/testsuite/tests/typing-tailcalls/dcfg_tailcalls.compilers.reference
  ocaml/testsuite/tests/typing-tailcalls/dcfg_tailcalls.dot
  ocaml/testsuite/tests/typing-tailcalls/dcfg_tailcalls.ml
  ocaml/testsuite/tests/typing-tailcalls/warnings.compilers.reference
  ocaml/testsuite/tests/typing-tailcalls/warnings.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/utils/warnings.ml
  ocaml/utils/warnings.mli
Labels: less-tco

#2801 Parse arrow kinds in the jkind algebra
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/lexer.mll
  ocaml/parsing/parser.mly
  ocaml/parsing/pprintast.ml
  ocaml/testsuite/tests/typing-higher-jkinds/arrow_infix_op_preserved.ml
  ocaml/testsuite/tests/typing-higher-jkinds/parsing_arrows.ml
  ocaml/typing/jkind.ml
  ocaml/typing/printtyp.ml
Labels: typing, lexer/parser

#2802 Extend `Jkind` with higher jkinds
  ocaml/lambda/matching.ml
  ocaml/lambda/translcore.ml
  ocaml/testsuite/tests/typing-higher-jkinds/equalities.ml
  ocaml/testsuite/tests/typing-higher-jkinds/intro.ml
  ocaml/testsuite/tests/typing-higher-jkinds/parsing_arrows.ml
  ocaml/typing/ctype.ml
  ocaml/typing/jkind.ml
  ocaml/typing/jkind.mli
  ocaml/typing/jkind_types.ml
  ocaml/typing/jkind_types.mli
  ocaml/typing/oprint.ml
  ocaml/typing/outcometree.mli
  ocaml/typing/predef.ml
  ocaml/typing/printtyp.ml
  ocaml/typing/subst.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typedecl_separability.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typetexp.ml
Labels: typing

#2804 Type algebra parsing with extended type applications
  ocaml/file_formats/cmt_format.ml
  ocaml/parsing/ast_helper.ml
  ocaml/parsing/ast_helper.mli
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/depend.ml
  ocaml/parsing/parser.mly
  ocaml/parsing/parsetree.mli
  ocaml/parsing/printast.ml
  ocaml/testsuite/tests/typing-higher-jkinds/parsing_tapp.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/typetexp.ml
  ocaml/typing/untypeast.ml
  printer/printast_with_mappings.ml
Labels: typing, lexer/parser

#2903 Infer tailcalls for functions bound by fn arguments
  ocaml/testsuite/tests/typing-tailcalls/dcfg_tailcalls.compilers.reference
  ocaml/testsuite/tests/typing-tailcalls/dcfg_tailcalls.dot
  ocaml/testsuite/tests/typing-tailcalls/dcfg_tailcalls.ml
  ocaml/testsuite/tests/typing-tailcalls/no_warnings.ml
  ocaml/testsuite/tests/typing-tailcalls/nontail.compilers.reference
  ocaml/testsuite/tests/typing-tailcalls/nontail.heap.reference
  ocaml/testsuite/tests/typing-tailcalls/nontail.ml
  ocaml/testsuite/tests/typing-tailcalls/nontail.stack.reference
  ocaml/testsuite/tests/typing-tailcalls/tail.heap.reference
  ocaml/testsuite/tests/typing-tailcalls/tail.ml
  ocaml/testsuite/tests/typing-tailcalls/tail.stack.reference
  ocaml/testsuite/tests/typing-tailcalls/warnings.compilers.reference
  ocaml/testsuite/tests/typing-tailcalls/warnings.ml
  ocaml/typing/env.ml
  ocaml/typing/env.mli
  ocaml/typing/typecore.ml
Labels: less-tco

#2814 Fix conflicts in Unix library stubs
  ocaml/otherlibs/unix/fork.c
  ocaml/otherlibs/unix/signals.c
  ocaml/otherlibs/unix/unixsupport_unix.c
Labels: OCaml 5.2

#2902 Fix conflicts in `typing/typecore.ml`
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typemod.ml
Labels: typing, OCaml 5.2

#2912 Backport upstream #13170
  ocaml/.depend
  ocaml/driver/compile_common.ml
  ocaml/driver/compile_common.mli
  ocaml/parsing/builtin_attributes.ml
  ocaml/parsing/builtin_attributes.mli
  ocaml/testsuite/tests/warnings/w53.ml
  ocaml/testsuite/tests/warnings/w53_across_cmi.compilers.reference
  ocaml/testsuite/tests/warnings/w53_across_cmi.ml
  ocaml/testsuite/tests/warnings/w53_with_cmi.ml
  ocaml/testsuite/tests/warnings/w53_with_cmi.mli
  ocaml/testsuite/tests/warnings/w53_without_cmi.ml
  ocaml/typing/typemod.ml
  ocaml/typing/typemod.mli
Labels: typing, backport from upstream OCaml, OCaml 5.2

#2905 Refactor stringlike indexing primitives
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  ocaml/lambda/translprim.ml
  ocaml/testsuite/tests/prim-bigstring/non_existent_primitives.ml
  ocaml/typing/primitive.ml
  ocaml/utils/misc.ml
  ocaml/utils/misc.mli
Labels: flambda2

#2840 Fix initialisation of type parameter jkinds from annotations
  ocaml/testsuite/tests/typing-layouts-bits32/basics.ml
  ocaml/testsuite/tests/typing-layouts-bits32/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts-bits64/basics.ml
  ocaml/testsuite/tests/typing-layouts-bits64/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/annots.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/value.ml
  ocaml/testsuite/tests/typing-layouts-float32/basics.ml
  ocaml/testsuite/tests/typing-layouts-float64/basics.ml
  ocaml/testsuite/tests/typing-layouts-or-null/reexport.ml
  ocaml/testsuite/tests/typing-layouts-word/basics.ml
  ocaml/testsuite/tests/typing-layouts-word/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts/basics.ml
  ocaml/testsuite/tests/typing-layouts/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts/jkinds.ml
  ocaml/testsuite/tests/typing-layouts/parsing_alpha.compilers.reference
  ocaml/typing/typetexp.ml
Labels: typing

#2794 Resolve conflicts in runtime/
  .vscode/settings.json
  ocaml/runtime/alloc.c
  ocaml/runtime/amd64.S
  ocaml/runtime/amd64nt.asm
  ocaml/runtime/backtrace_byt.c
  ocaml/runtime/backtrace_nat.c
  ocaml/runtime/bigarray.c
  ocaml/runtime/callback.c
  ocaml/runtime/caml/backtrace.h
  ocaml/runtime/caml/custom.h
  ocaml/runtime/caml/domain.h
  ocaml/runtime/caml/domain_state.tbl
  ocaml/runtime/caml/dune
  ocaml/runtime/caml/exec.h.in
  ocaml/runtime/caml/fail.h
  ocaml/runtime/caml/fiber.h
  ocaml/runtime/caml/major_gc.h
  ocaml/runtime/caml/memprof.h
  ocaml/runtime/caml/misc.h
  ocaml/runtime/caml/mlvalues.h
  ocaml/runtime/caml/printexc.h
  ocaml/runtime/caml/shared_heap.h
  ocaml/runtime/caml/signals.h
  ocaml/runtime/caml/stack.h
  ocaml/runtime/caml/sync.h
  ocaml/runtime/custom.c
  ocaml/runtime/domain.c
  ocaml/runtime/dune
  ocaml/runtime/dynlink_nat.c
  ocaml/runtime/extern.c
  ocaml/runtime/fail_byt.c
  ocaml/runtime/fail_nat.c
  ocaml/runtime/float32.c
  ocaml/runtime/gc_ctrl.c
  ocaml/runtime/gen_primitives.sh
  ocaml/runtime/gen_primsc.sh
  ocaml/runtime/globroots.c
  ocaml/runtime/io.c
  ocaml/runtime/major_gc.c
  ocaml/runtime/memory.c
  ocaml/runtime/memprof.c
  ocaml/runtime/meta.c
  ocaml/runtime/minor_gc.c
  ocaml/runtime/misc.c
  ocaml/runtime/platform.c
  ocaml/runtime/power.S
  ocaml/runtime/riscv.S
  ocaml/runtime/runtime_events.c
  ocaml/runtime/s390x.S
  ocaml/runtime/shared_heap.c
  ocaml/runtime/signals.c
  ocaml/runtime/sys.c
  ocaml/runtime/unix.c
  ocaml/runtime/weak.c
  ocaml/runtime/win32.c
Labels: runtime, OCaml 5.2

#2918 Move alert attributes in stdlib mlis to where they aren't ignored
  ocaml/stdlib/arg.mli
  ocaml/stdlib/buffer.mli
  ocaml/stdlib/ephemeron.mli
  ocaml/stdlib/queue.mli
  ocaml/stdlib/scanf.mli
  ocaml/stdlib/stack.mli
Labels: OCaml 5.2

#2911 Fix `tuple_modes` unsoundness
  ocaml/testsuite/tests/typing-modes/tuple_modes.ml
  ocaml/typing/typecore.ml
Labels: bug, typing, modes

#2910 Show sample cycle in nontail cycle warning
  backend/analyze_tailcall_graph.ml
  backend/regalloc/regalloc_gi_utils.ml
  backend/regalloc/regalloc_gi_utils.mli
  ocaml/testsuite/tests/typing-tailcalls/warnings.compilers.reference
  ocaml/testsuite/tests/typing-tailcalls/warnings.ml
  ocaml/typing/typecore.ml
  ocaml/utils/warnings.ml
  ocaml/utils/warnings.mli
Labels: less-tco

#2921 Take `-dlinear` into account on the CFG path
  backend/asmgen.ml
Labels: bug, backend

#2922 Enable split preprocessing by default (CFG-based register allocators)
  backend/regalloc/regalloc_split_utils.ml
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
Labels: cfg, backend

#2892 Coalesce duplicate spills and reloads per CFG block
  backend/asmgen.ml
  backend/regalloc/regalloc_gi.ml
  backend/regalloc/regalloc_irc.ml
  backend/regalloc/regalloc_irc_state.ml
  backend/regalloc/regalloc_irc_state.mli
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_rewrite.mli
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
  utils/doubly_linked_list.ml
  utils/doubly_linked_list.mli
Labels: backend

#2926 Fix CI on macOS (unknown linker option)
  ocaml/testsuite/tests/typing-layouts-caml-modify/basics.ml
Labels: CI

#2906 Unboxed load/store primitives for string-likes
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/translprim.ml
  ocaml/runtime/array.c
  ocaml/runtime/bigarray.c
  ocaml/runtime/float32.c
  ocaml/runtime/str.c
  ocaml/runtime4/array.c
  ocaml/runtime4/bigarray.c
  ocaml/runtime4/float32.c
  ocaml/runtime4/str.c
  ocaml/testsuite/tests/prim-bigstring/non_existent_primitives.ml
  ocaml/testsuite/tests/typing-layouts/generate.ml
  ocaml/testsuite/tests/typing-layouts/generate_stringlike_indexing.ml
  ocaml/testsuite/tests/typing-layouts/unboxed_int_stringlike_indexing.ml
  ocaml/typing/primitive.ml
  tests/simd/arrays.ml
  tests/simd/dune
Labels: flambda2, runtime

#2928 Improve notes about register allocation
  backend/regalloc/NOTES.md
Labels: documentation, backend

#2935 Revert "Remove "scheduling" leftovers"
  backend/asmgen.ml
  driver/optmaindriver.ml
  ocaml/driver/main_args.ml
  ocaml/driver/main_args.mli
  ocaml/driver/maindriver.ml
  ocaml/testsuite/tests/tool-ocamlopt-save-ir/check_for_pack.ml
  ocaml/testsuite/tests/tool-ocamlopt-save-ir/save_ir_after_scheduling.ml
  ocaml/testsuite/tests/tool-ocamlopt-save-ir/save_ir_after_scheduling.sh
  ocaml/testsuite/tests/tool-ocamlopt-save-ir/save_ir_after_typing.compilers.reference
  ocaml/testsuite/tests/tool-ocamlopt-save-ir/start_from_emit.ml
  ocaml/testsuite/tests/tool-ocamlopt-stop-after/stop_after_scheduling.ml
  ocaml/testsuite/tests/tool-ocamlopt-stop-after/stop_after_scheduling.sh
  ocaml/testsuite/tools/codegen_main.ml
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
  testsuite/tools/codegen_main.ml
Labels: backend

#2908 Use-def dependency graph
  backend/cfg/vectorize.ml
Labels: backend

#2805 Resolve conflicts in ocamltest
  ocaml/ocamltest/OCAMLTEST.org
  ocaml/ocamltest/actions.ml
  ocaml/ocamltest/actions.mli
  ocaml/ocamltest/builtin_actions.ml
  ocaml/ocamltest/builtin_actions.mli
  ocaml/ocamltest/builtin_variables.ml
  ocaml/ocamltest/builtin_variables.mli
  ocaml/ocamltest/dune
  ocaml/ocamltest/main.ml
  ocaml/ocamltest/ocaml_actions.ml
  ocaml/ocamltest/ocaml_actions.mli
  ocaml/ocamltest/ocaml_commands.ml
  ocaml/ocamltest/ocaml_commands.mli
  ocaml/ocamltest/ocaml_modifiers.ml
  ocaml/ocamltest/ocaml_modifiers.mli
  ocaml/ocamltest/ocaml_tests.ml
  ocaml/ocamltest/ocaml_tests.mli
  ocaml/ocamltest/ocaml_variables.ml
  ocaml/ocamltest/ocaml_variables.mli
  ocaml/ocamltest/ocamltest_config.ml.in
  ocaml/ocamltest/ocamltest_config.mli
  ocaml/ocamltest/run_stubs.c
  ocaml/ocamltest/strace.ml
  ocaml/ocamltest/strace.mli
  ocaml/ocamltest/tsl_ast.ml
  ocaml/ocamltest/tsl_ast.mli
  ocaml/ocamltest/tsl_semantics.ml
  ocaml/ocamltest/tsl_semantics.mli
Labels: OCaml 5.2

#2945 Changes to the root testsuite directory
  testsuite/tools/dune
  testsuite/tools/expect.ml
Labels: testsuite, OCaml 5.2

#2941 Fix domain.c bad merges
  ocaml/runtime/domain.c
Labels: runtime, OCaml 5.2

#2938 Resolve conflicts etc in systhreads
  ocaml/otherlibs/systhreads/dune
  ocaml/otherlibs/systhreads/st_pthreads.h
  ocaml/otherlibs/systhreads/st_stubs.c
Labels: OCaml 5.2

#2944 Misc fixes for 5.2 post-PR2942
  ocaml/runtime/caml/dune
  ocaml/runtime/caml/platform.h
  ocaml/runtime/gen_primsc.sh
  ocaml/runtime/misc.c
  ocaml/runtime/platform.c
Labels: runtime, OCaml 5.2

#2948 Improve -dump-into-csv and -dump-into-file docs
  ocaml/driver/main_args.ml
Labels: non-material change

#2943 Require let rec pattern variables to have layout value.
  ocaml/testsuite/tests/mixed-blocks/typing_recursive_mixed_blocks.ml
  ocaml/testsuite/tests/typing-layouts-arrays/basics.ml
  ocaml/testsuite/tests/typing-layouts-arrays/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts/basics.ml
  ocaml/testsuite/tests/typing-layouts/void_alpha.ml
  ocaml/typing/jkind.ml
  ocaml/typing/jkind_intf.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
Labels: typing

#2953 Trivial fixes for flambda2
  middle_end/flambda2/flambda2.ml
  middle_end/flambda2/simplify_shared/inlining_report.ml
Labels: OCaml 5.2

#2955 Add CFG counters to all CFG stages
  backend/asmgen.ml
Labels: profiling

#2956 Add block level profiling granularity
  backend/asmgen.ml
  ocaml/driver/main_args.ml
  ocaml/testsuite/tools/codegen_main.ml
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
  testsuite/tools/codegen_main.ml
Labels: profiling

#2958 Fixes for ocaml/utils/ + regenerate configure
  ocaml/build-aux/ocaml_version.m4
  ocaml/configure
  ocaml/utils/config.common.ml.in
  ocaml/utils/config.generated.ml.in
  ocaml/utils/load_path.ml
  ocaml/utils/misc.ml
Labels: OCaml 5.2

#2949 Migrate `include_functor` from `jane_syntax` to `parsetree`
  ocaml/ocamldoc/odoc_ast.ml
  ocaml/ocamldoc/odoc_sig.ml
  ocaml/parsing/ast_helper.ml
  ocaml/parsing/ast_helper.mli
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/depend.ml
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/jane_syntax_parsing.ml
  ocaml/parsing/parser.mly
  ocaml/parsing/parsetree.mli
  ocaml/parsing/pprintast.ml
  ocaml/parsing/printast.ml
  ocaml/testsuite/tests/parsing/attributes.compilers.reference
  ocaml/testsuite/tests/parsing/extensions.compilers.reference
  ocaml/testsuite/tests/parsing/shortcut_ext_attr.compilers.reference
  ocaml/typing/typemod.ml
  ocaml/typing/untypeast.ml
  printer/printast_with_mappings.ml
Labels: lexer/parser

#2952 Fixes for the debugger
  ocaml/debugger/command_line.ml
  ocaml/debugger/eval.ml
  ocaml/debugger/eval.mli
  ocaml/debugger/loadprinter.ml
  ocaml/debugger/parameters.ml
  ocaml/debugger/printval.ml
  ocaml/debugger/program_management.ml
  ocaml/debugger4/eval.ml
  ocaml/debugger4/eval.mli
  ocaml/debugger4/loadprinter.ml
  ocaml/debugger4/printval.ml
  ocaml/debugger4/source.ml
Labels: OCaml 5.2

#2954 Resolve conflicts etc in tools/
  ocaml/driver/compile_common.ml
  tools/flambda_backend_objinfo.ml
Labels: OCaml 5.2

#2950 Make `lib-systhreads/testfork.ml` deterministic
  ocaml/testsuite/tests/lib-systhreads/testfork.ml
Labels: testsuite

#2961 Fix soundness bug allowing semi-arbitrary (non-`Tconstr`) manifests for datatypes
  ocaml/testsuite/tests/typing-misc/datatype_manifests.ml
  ocaml/typing/typedecl.ml
Labels: bug, typing

#2924 Support modalities on `include` in signatures
  ocaml/ocamldoc/odoc_sig.ml
  ocaml/parsing/ast_helper.ml
  ocaml/parsing/ast_helper.mli
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/depend.ml
  ocaml/parsing/jane_syntax_parsing.ml
  ocaml/parsing/parser.mly
  ocaml/parsing/parsetree.mli
  ocaml/parsing/pprintast.ml
  ocaml/parsing/printast.ml
  ocaml/testsuite/tests/language-extensions/pprintast_unconditional.ml
  ocaml/testsuite/tests/language-extensions/pprintast_unconditional.reference
  ocaml/testsuite/tests/typing-modes/val_modalities.ml
  ocaml/typing/mode.ml
  ocaml/typing/mode_intf.mli
  ocaml/typing/printtyped.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/typemod.ml
  ocaml/typing/untypeast.ml
  printer/printast_with_mappings.ml
Labels: typing

#2939 Resolve conflicts in otherlibs/dynlink/
  ocaml/otherlibs/dynlink/byte/dynlink.ml
  ocaml/otherlibs/dynlink/dune
  ocaml/otherlibs/dynlink/dynlink_common.ml
  ocaml/otherlibs/dynlink/native/dynlink.ml
Labels: OCaml 5.2

#2962 Apply `ocamlformat` to `asmgen.ml{,i}`
  backend/.ocamlformat-enable
  backend/asmgen.ml
  backend/asmgen.mli
Labels: non-material change

#2964 Minor fix to ocaml/file_formats/cmt_format.ml
  ocaml/file_formats/cmt_format.ml
Labels: OCaml 5.2

#2963 Fix ocaml/otherlibs/unix/
  ocaml/otherlibs/unix/dune
  ocaml/otherlibs/unix/getnameinfo.c
  ocaml/otherlibs/unix/unix_unix.ml
Labels: OCaml 5.2

#2806 Resolve conflicts in, and fix, ocaml/stdlib/
  ocaml/stdlib/Makefile
  ocaml/stdlib/StdlibModules
  ocaml/stdlib/atomic.mli
  ocaml/stdlib/digest.ml
  ocaml/stdlib/digest.mli
  ocaml/stdlib/domain.ml
  ocaml/stdlib/dune
  ocaml/stdlib/effect.ml
  ocaml/stdlib/effect.mli
  ocaml/stdlib/gc.mli
  ocaml/stdlib/int32.ml
  ocaml/stdlib/int64.ml
  ocaml/stdlib/marshal.mli
  ocaml/stdlib/nativeint.ml
  ocaml/stdlib/obj.mli
  ocaml/stdlib/stdlib.ml
  ocaml/stdlib/stdlib.mli
  ocaml/stdlib/sys.mli
Labels: OCaml 5.2

#2930 Use untagged indices for string-like access in flambda
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
Labels: flambda2

#2791 Fix Asmpackager for 5.2
  backend/asmgen.ml
  backend/asmgen.mli
  backend/asmpackager.ml
  backend/asmpackager.mli
  backend/emitaux.ml
  backend/emitaux.mli
  middle_end/flambda2/flambda2.ml
  middle_end/flambda2/flambda2.mli
Labels: OCaml 5.2

#2979 Do not export "fail.h" from "signals.h" in runtime4
  ocaml/runtime4/caml/signals.h
Labels: runtime

#2984 Format selection-related files
  backend/.ocamlformat-enable
  backend/amd64/selection.ml
  backend/arm64/selection.ml
  backend/selectgen.ml
  backend/selectgen.mli
  backend/selection.mli
Labels: backend, non-material change

#2981 Disable minimizer-upstream
  Makefile
Labels: OCaml 5.2

#2986 Fixes for the toplevel
  ocaml/toplevel/byte/topeval.ml
  ocaml/toplevel/native/topeval.ml
  ocaml/toplevel/topcommon.ml
  ocaml/toplevel/topdirs.ml
Labels: OCaml 5.2

#2972 Merge PR31 from mshinwell/flambda-backend (Resolve frontend conflicts)
  ocaml/parsing/ast_invariants.ml
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/builtin_attributes.ml
  ocaml/parsing/depend.ml
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/parser.mly
  ocaml/parsing/parsetree.mli
  ocaml/parsing/pprintast.ml
  ocaml/parsing/printast.ml
  ocaml/typing/predef.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typemod.ml
  printer/printast_with_mappings.ml
Labels: OCaml 5.2

#2988 Fix yacc build
  ocaml/yacc/defs.h
Labels: OCaml 5.2

#2990 Trivial fix for Compilenv
  middle_end/compilenv.ml
Labels: OCaml 5.2

#2975 Merge mshinwell/flambda-backend#32 (Fix a gadt typing bug introduced in the merge)
  ocaml/typing/ctype.ml
Labels: OCaml 5.2

#2968 Relax modes for `probe`
  ocaml/lambda/translcore.ml
  ocaml/testsuite/tests/typing-modes/probe.ml
  ocaml/typing/typecore.ml
Labels: typing, tracing probes, modes

#2974 Backport PR12991
  ocaml/parsing/location.ml
Labels: OCaml 5.2

#2989 Driver changes
  driver/optcompile.ml
  ocaml/driver/compile_common.ml
  ocaml/driver/makedepend.ml
Labels: OCaml 5.2

#2994 Fixes for dumpobj
  ocaml/tools/dumpobj.ml
Labels: OCaml 5.2

#2995 Fixes to Pprintast
  ocaml/parsing/pprintast.ml
Labels: OCaml 5.2

#3000 Selection: enable warnings and remove `open`s
  backend/amd64/selection.ml
  backend/arm64/selection.ml
  backend/select_utils.ml
  backend/select_utils.mli
  backend/selectgen.ml
  backend/selectgen.mli
Labels: backend, non-material change

#2978 Fix mode zapping extra constraint
  ocaml/testsuite/tests/typing-modes/pr2979.compilers.reference
  ocaml/testsuite/tests/typing-modes/pr2979.ml
  ocaml/testsuite/tests/typing-modes/pr2979.mli
  ocaml/typing/env.ml
  ocaml/typing/solver.ml
  ocaml/typing/typecore.ml
Labels: bug, typing, modes

#2925 Share `transl_modalities` code with `transl_modifiers` and `transl_modes`
  ocaml/dune
  ocaml/otherlibs/dynlink/dune
  ocaml/testsuite/tests/typing-layouts/annots.ml
  ocaml/testsuite/tests/typing-modes/modes.ml
  ocaml/typing/.ocamlformat-enable
  ocaml/typing/jkind.ml
  ocaml/typing/jkind.mli
  ocaml/typing/jkind_axis.ml
  ocaml/typing/jkind_axis.mli
  ocaml/typing/jkind_types.ml
  ocaml/typing/jkind_types.mli
  ocaml/typing/mode.ml
  ocaml/typing/mode_intf.mli
  ocaml/typing/typemode.ml
  ocaml/typing/typemode.mli
  ocaml/typing/typemodifier.ml
  ocaml/typing/typemodifier.mli
Labels: typing
