Repository oxcaml/oxcaml, pull requests merged in 2024-11, with the labels that each got.

#1748 Available-regs analysis for CFG
  asmcomp/asmgen.ml
  backend/cfg/cfg_available_regs.ml
  backend/cfg/cfg_available_regs.mli
  backend/cfg/cfg_dataflow.ml
  backend/cfg/cfg_dataflow.mli
  backend/cfg/eliminate_dead_code.ml
  backend/debug/reg_availability_set.ml
  backend/debug/reg_availability_set.mli
  dune
Labels: cfg, backend, dwarf and debugging

#2724 Fix insertion of poll instruction (CFG)
  backend/cfg/cfg_polling.ml
Labels: bug, cfg, backend

#3213 Eliminate deadcode potentially created by terminator simplification
  backend/cfg_selectgen.ml
  backend/zero_alloc_checker.ml
Labels: bug, cfg

#2726 Tweak polling test
  .github/workflows/build.yml
  backend/cfg/cfg_polling.ml
  backend/polling.ml
  backend/polling.mli
  flambda-backend/testsuite/tests/asmcomp/poll_attr_both.compilers.reference
  flambda-backend/testsuite/tests/asmcomp/poll_attr_inserted.compilers.reference
  flambda-backend/testsuite/tests/asmcomp/poll_attr_prologue.compilers.reference
  flambda-backend/testsuite/tests/asmcomp/poll_attr_prologue.ml
  flambda-backend/testsuite/tests/asmcomp/poll_attr_user.compilers.reference
  ocaml/testsuite/tests/polling/polling.compilers.reference
  ocaml/testsuite/tests/polling/polling.ml
  testsuite/tests/asmcomp/poll_attr_both.compilers.reference
  testsuite/tests/asmcomp/poll_attr_inserted.compilers.reference
  testsuite/tests/asmcomp/poll_attr_prologue.compilers.reference
  testsuite/tests/asmcomp/poll_attr_prologue.ml
  testsuite/tests/asmcomp/poll_attr_user.compilers.reference
  toplevel/native/opttopdirs.ml
  toplevel/native/opttoploop.ml
  toplevel/native/opttoploop.mli
Labels: cfg, backend

#3227 Ensure predecessor sets are correct after teminator simplification
  backend/cfg/simplify_terminator.ml
Labels: bug, cfg, backend

#3231 Disable inlining for effect functions that manipulate stacks
  stdlib/effect.ml
Labels: bug, runtime

#1324 Extensions in variants
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/grammar/more_type_creators.ml
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/types/grammar/type_grammar.mli
  middle_end/flambda2/types/meet_and_join_new.ml
  middle_end/flambda2/types/meet_and_join_old.ml
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/types/reify.ml
Labels: flambda2

#3215 Add `-no-mach-ir` command-line switch
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
Labels: cfg, backend

#3233 Improve hugepage support
  runtime/caml/platform.h
  runtime/domain.c
  runtime/platform.c
  runtime/shared_heap.c
  runtime/unix.c
Labels: runtime, OCaml 5

#3234 Split the `Mach` module
  backend/CSE_utils.ml
  backend/CSE_utils.mli
  backend/amd64/cfg_selection.ml
  backend/amd64/emit.mlp
  backend/amd64/selection.ml
  backend/arm64/emit.mlp
  backend/branch_relaxation.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_comballoc.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/cfgize.ml
  backend/cfg/cfgize.mli
  backend/cfg_selectgen.ml
  backend/cfg_selectgen.mli
  backend/dataflow.ml
  backend/debug/available_regs.ml
  backend/linear.ml
  backend/linear.mli
  backend/mach.ml
  backend/mach.mli
  backend/peephole/peephole_rules.ml
  backend/peephole/peephole_utils.ml
  backend/peephole/peephole_utils.mli
  backend/printmach.ml
  backend/printmach.mli
  backend/reloadgen.mli
  backend/select_utils.ml
  backend/select_utils.mli
  backend/selectgen.ml
  backend/selectgen.mli
  backend/simple_operation.ml
  backend/simple_operation.mli
  backend/spill.ml
  dune
  flambda-backend/tests/backend/regalloc_validator/check_regalloc_validation.ml
Labels: backend

#3235 Format the `Simple_operation` module
  backend/.ocamlformat-enable
  backend/simple_operation.ml
  backend/simple_operation.mli
Labels: backend, non-material change

#2996 Support for or_null in Flambda 2 types
  middle_end/flambda2/lattices/or_unknown_or_bottom.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/grammar/type_descr.ml
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/types/grammar/type_grammar.mli
  middle_end/flambda2/types/meet_and_join_new.ml
  middle_end/flambda2/types/meet_and_join_old.ml
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/types/provers.mli
  middle_end/flambda2/types/reify.ml
  testsuite/tests/flambda/incompatible_arrays.ml
  testsuite/tests/tool-ocamlobjinfo/question.reference
Labels: flambda2, or_null

#3232 Avoid hard errors on joins with no inputs
  middle_end/flambda2/types/env/typing_env.ml
Labels: flambda2

#3226 Fix bug in dataflow with [Invalid] extra_args
  middle_end/flambda2/simplify/flow/flow_acc.ml
  testsuite/tests/flambda/invalid_apply_cont_in_flow_analysis.ml
Labels: bug, flambda2

#3192 Minor refactoring of `Cfg_selectgen`
  backend/cfg_selectgen.ml
Labels: cfg, backend

#3238 Fix & test the string setter primitives
  lambda/translprim.ml
  testsuite/tests/prim-bigstring/string_access.ml
  testsuite/tests/prim-bigstring/string_access.reference
Labels: bug

#3112 Support for or_null in Flambda2
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/transl_array_comprehension.ml
  lambda/transl_list_comprehension.ml
  lambda/translclass.ml
  lambda/translcore.ml
  lambda/translprim.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/common_subexpression_elimination.ml
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/simplify_extcall.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify/unboxing/optimistic_unboxing_decision.ml
  middle_end/flambda2/simplify_shared/slot_offsets.ml
  middle_end/flambda2/terms/exn_continuation.ml
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/types/grammar/more_type_creators.ml
  middle_end/flambda2/types/provers.ml
  testsuite/tests/basic-modules/anonymous.ocamlc.reference
  testsuite/tests/basic-modules/anonymous.ocamlopt.flambda.reference
  testsuite/tests/match-side-effects/partiality.ml
  testsuite/tests/syntactic-arity/max_arity_locals.compilers.reference
  testsuite/tests/tmc/readable_output.ml
  testsuite/tests/tool-ocamlobjinfo/question.reference
  testsuite/tests/translprim/comparison_table.heap.reference
  testsuite/tests/translprim/comparison_table.stack.reference
  testsuite/tests/translprim/ref_spec.heap.reference
  testsuite/tests/translprim/ref_spec.stack.reference
  typing/typeopt.ml
Labels: or_null

#3258 Remove unused kind computations in From_lambda
  middle_end/flambda2/from_lambda/closure_conversion.ml
Labels: flambda2

#3268 Fix Numbers.Int_base.compare
  utils/numbers.ml
Labels: bug, to upstream, flambda2

#3259 Make `Label.t` abstract
  asmcomp/asmgen.ml
  backend/amd64/emit.mlp
  backend/arm64/arch.ml
  backend/arm64/arch.mli
  backend/arm64/emit.mlp
  backend/cfg/cfg.ml
  backend/cfg/cfg_cse.ml
  backend/cfg/cfg_dominators.ml
  backend/cfg/cfg_loop_infos.ml
  backend/cfg/cfg_polling.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfg_with_layout.ml
  backend/cfg/cfg_with_layout.mli
  backend/cfg/cfgize.ml
  backend/cfg/disconnect_block.ml
  backend/cfg/eliminate_dead_blocks.ml
  backend/cfg/eliminate_fallthrough_blocks.ml
  backend/cfg/label.ml
  backend/cfg/label.mli
  backend/cfg/linear_utils.ml
  backend/cfg/simplify_terminator.ml
  backend/cfg/vectorize.ml
  backend/cfg_selectgen.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/debug/compute_ranges.ml
  backend/debug/compute_ranges_intf.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_inlined_frames.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_variables_and_parameters.ml
  backend/emitaux.ml
  backend/emitaux.mli
  backend/peephole/peephole_optimize.ml
  backend/printlinear.ml
  backend/printmach.ml
  backend/regalloc/regalloc_gi.ml
  backend/regalloc/regalloc_gi_utils.ml
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_split.ml
  backend/regalloc/regalloc_split_state.ml
  backend/regalloc/regalloc_split_utils.ml
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_validate.ml
  flambda-backend/tests/backend/regalloc_validator/check_regalloc_validation.ml
Labels: backend

#3270 Add check on code metadata return arity vs. Apply return arity for classic mode
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
Labels: flambda2

#3247 Fix soundness bug of uniqueness analysis on immutable array patterns
  testsuite/tests/typing-unique/unique.ml
  typing/uniqueness_analysis.ml
Labels: uniqueness

#3248 Improve cut_cse_environment error
  middle_end/flambda2/simplify/common_subexpression_elimination.ml
Labels: flambda2

#3236 Extra protection against codegen pessimisation due to unique barriers
  lambda/translmode.ml
Labels: uniqueness

#3273 Fix layouts bug for applications with omitted arguments
  lambda/translcore.ml
  testsuite/tests/typing-layouts/omitted_arguments.ml
  testsuite/tests/typing-layouts/omitted_arguments.reference
  typing/typeclass.ml
  typing/typecore.ml
  typing/typedtree.ml
  typing/typedtree.mli
Labels: bug, unboxed types

#3278 Revert "Ensure consistent variable binding times (#3217)"
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/env/typing_env_level.ml
  middle_end/flambda2/types/env/typing_env_level.mli
Labels: flambda2

#3252 Documentation: Disclaimer for soundness of uniqueness
  jane/doc/extensions/uniqueness/intro.md
Labels: uniqueness

#3139 Front-end support for arrays of unboxed products
  bytecomp/bytegen.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/tmc.ml
  lambda/transl_array_comprehension.ml
  lambda/translcore.ml
  lambda/translcore.mli
  lambda/translprim.ml
  lambda/translprim.mli
  lambda/value_rec_compiler.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/term_basics/empty_array_kind.ml
  testsuite/tests/typing-layouts-products/basics.ml
  testsuite/tests/typing-layouts-products/product_array_marshalling.ml
  testsuite/tests/typing-layouts-products/product_array_marshalling.native.reference
  testsuite/tests/typing-layouts-products/product_arrays.ml
  testsuite/tests/typing-layouts-products/product_iarrays.ml
  testsuite/tests/typing-layouts/layout_poly.ml
  typing/primitive.ml
  typing/typeopt.ml
  typing/typeopt.mli
  typing/value_rec_check.ml
  utils/misc.ml
  utils/misc.mli
Labels: typing, unboxed types, lambda

#3288 Move functions depending on `Mach` from `Select_utils` to `Selectgen`
  backend/select_utils.ml
  backend/select_utils.mli
  backend/selectgen.ml
Labels: backend

#3291 Fix the kind of poison constants generated for unboxed value slots
  middle_end/flambda2/simplify/unboxing/unboxers.ml
  testsuite/tests/flambda/unboxing_poison_value_slot.ml
Labels: bug, flambda2

#3249 Flambda 2 CSE fixes
  middle_end/flambda2/simplify/common_subexpression_elimination.ml
  middle_end/flambda2/terms/flambda_primitive.ml
Labels: flambda2

#3298 Profile time spent joining environments in `-dprofile`
  middle_end/flambda2/simplify/join_points.ml
Labels: flambda2, profiling

#3301 Delete regions_closed_early
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
Labels: flambda2

#3307 Remove primitive-specific code from Lambda_to_flambda
  lambda/lambda.ml
  lambda/lambda.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_lambda_transforms.ml
  middle_end/flambda2/from_lambda/lambda_to_lambda_transforms.mli
Labels: flambda2

#3304 Fix thread stack sizes on runtime5
  otherlibs/systhreads/st_stubs.c
Labels: bug, runtime, OCaml 5

#3068 Flambda 2 support for arrays containing unboxed products
  backend/amd64/emit.mlp
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_primitive.ml
  middle_end/flambda2/simplify/simplify_ternary_primitive.ml
  middle_end/flambda2/simplify/simplify_variadic_primitive.ml
  middle_end/flambda2/term_basics/empty_array_kind.ml
  middle_end/flambda2/term_basics/empty_array_kind.mli
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  middle_end/flambda2/types/grammar/more_type_creators.ml
  middle_end/flambda2/types/grammar/type_grammar.mli
  middle_end/flambda2/types/provers.ml
  testsuite/tests/typing-layouts-products/product_array_marshalling.ml
Labels: flambda2, unboxed types

#3308 macos-12 -> macos-latest in CI config
  .github/workflows/build.yml
Labels: CI

#3296 Cfg_selectgen review 2024-11-21
  backend/amd64/cfg_selection.ml
  backend/arm64/cfg_selection.ml
  backend/cfg_selectgen.ml
  backend/cfg_selectgen.mli
Labels: backend

#3271 Put unique barrier creation behind a flag
  lambda/translmode.ml
  parsing/language_extension.ml
  parsing/language_extension.mli
  testsuite/tests/typing-modal-kinds/basics.ml
  testsuite/tests/typing-modal-kinds/expected_mode.ml
  testsuite/tests/typing-modes/class.ml
  testsuite/tests/typing-modes/currying.ml
  testsuite/tests/typing-modes/lazy.ml
  testsuite/tests/typing-modes/mutable.ml
  testsuite/tests/typing-modes/probe.ml
  testsuite/tests/typing-modes/val_modalities.ml
  testsuite/tests/typing-unique/overwriting_proj_push_down_bug.ml
  testsuite/tests/typing-unique/unique.ml
  testsuite/tests/typing-unique/unique_analysis.ml
  testsuite/tests/typing-unique/unique_documentation.ml
  testsuite/tests/typing-unique/unique_mod_class.ml
  testsuite/tests/typing-unique/unique_typedecl.ml
  typing/typecore.ml
  typing/uniqueness_analysis.ml
  utils/language_extension_kernel.ml
  utils/language_extension_kernel.mli
Labels: uniqueness

#3312 Fix `Cfg_selectgen.emit_expr_aux_trywith`
  backend/cfg_selectgen.ml
Labels: bug, cfg, backend

#3313 `Cfg_selectgen`: remove debugging statement
  backend/cfg_selectgen.ml
Labels: cfg, backend

#3157 Overwriting typing
  ocaml/file_formats/cmt_format.ml
  ocaml/lambda/translcore.ml
  ocaml/parsing/ast_helper.ml
  ocaml/parsing/ast_helper.mli
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/depend.ml
  ocaml/parsing/location.ml
  ocaml/parsing/location.mli
  ocaml/parsing/parser.mly
  ocaml/parsing/parsetree.mli
  ocaml/parsing/pprintast.ml
  ocaml/parsing/printast.ml
  ocaml/testsuite/tests/parsetree/source_jane_street.ml
  ocaml/testsuite/tests/typing-modes/modes.ml
  ocaml/testsuite/tests/typing-modes/mutable.ml
  ocaml/testsuite/tests/typing-modes/portable-contend.ml
  ocaml/testsuite/tests/typing-modes/val_modalities.ml
  ocaml/testsuite/tests/typing-unique/overwriting.ml
  ocaml/testsuite/tests/typing-unique/overwriting_lift_constants.ml
  ocaml/testsuite/tests/typing-unique/overwriting_lift_constants_bug.ml
  ocaml/testsuite/tests/typing-unique/overwriting_map.ml
  ocaml/testsuite/tests/typing-unique/overwriting_proj_push_down_bug.ml
  ocaml/testsuite/tests/typing-unique/overwriting_syntax.ml
  ocaml/testsuite/tests/typing-unique/overwriting_underscore.ml
  ocaml/testsuite/tests/typing-unique/rbtree.ml
  ocaml/testsuite/tests/typing-unique/unique.ml
  ocaml/testsuite/tests/typing-unique/unique_analysis.ml
  ocaml/tools/debug_printers.ml
  ocaml/typing/ident.mli
  ocaml/typing/printtyped.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/typemode.ml
  ocaml/typing/types.ml
  ocaml/typing/types.mli
  ocaml/typing/uniqueness_analysis.ml
  ocaml/typing/uniqueness_analysis.mli
  ocaml/typing/untypeast.ml
  ocaml/typing/value_rec_check.ml
  printer/printast_with_mappings.ml
Labels: uniqueness

#3314 CFG selection: avoid polymorphic compare
  backend/amd64/cfg_selection.ml
  backend/amd64/selection_utils.ml
  backend/arm64/cfg_selection.ml
  backend/arm64/selection_utils.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_polling.ml
  backend/cfg/cfg_polling.mli
  backend/cfg_selectgen.ml
  backend/select_utils.ml
Labels: cfg, backend

#3321 Final Cfg_selection review
  backend/cfg/cfg.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_polling.ml
  backend/cfg/cfg_polling.mli
  backend/cfg_selectgen.ml
Labels: cfg, backend

#3320 Tweak macOS CI
  flambda-backend/tests/backend/regalloc_validator/dune
  flambda-backend/tests/backend/zero_alloc_checker/dune.inc
  flambda-backend/tests/backend/zero_alloc_checker/gen/gen_dune.ml
Labels: CI

#3322 Split out Sub_cfg
  backend/amd64/cfg_selection.ml
  backend/arm64/cfg_selection.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/sub_cfg.ml
  backend/cfg/sub_cfg.mli
  backend/cfg_selectgen.ml
  backend/cfg_selectgen.mli
  dune
Labels: cfg, backend

#3324 Fix Terminator case in emit_tail_apply
  backend/cfg_selectgen.ml
Labels: cfg, backend

#3323 Move the "contains calls" judgement to cfg.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg_selectgen.ml
Labels: cfg, backend
