Repository oxcaml/oxcaml, pull requests merged in 2024-04, with the labels that each got.

#2341 Default function order to source order
  driver/flambda_backend_flags.ml
Labels: flambda2

#2323 Ignore bootstrapping artifacts
  .gitignore
Labels: build system

#2371 Fix topological iterator in control_flow_graph.ml
  middle_end/flambda2/simplify/flow/control_flow_graph.ml
Labels: flambda2

#2381 Delete x86 architecture check
  backend/amd64/arch.ml
  backend/amd64/emit.mlp
  ocaml/Makefile
  ocaml/runtime/caml/dune
  ocaml/runtime/caml/isa.h
  ocaml/runtime/caml/mlvalues.h
  ocaml/runtime/isa.c
  ocaml/runtime/startup_aux.c
  ocaml/runtime/startup_nat.c
  ocaml/runtime4/Makefile
  ocaml/runtime4/caml/dune
  ocaml/runtime4/caml/isa.h
  ocaml/runtime4/caml/mlvalues.h
  ocaml/runtime4/isa.c
  ocaml/runtime4/startup_aux.c
  ocaml/runtime4/startup_nat.c
Labels: backend

#2392 Fix `Mode.zap_to_floor` BUG
  ocaml/lambda/translmode.ml
  ocaml/testsuite/tests/formatting/test_locations.dlocations.ocamlc.reference
  ocaml/testsuite/tests/formatting/test_locations.dno-locations.ocamlc.reference
  ocaml/typing/mode.ml
  ocaml/typing/mode_intf.mli
  ocaml/typing/printtyped.ml
  ocaml/typing/solver.ml
  ocaml/typing/solver_intf.mli
Labels: typing

#2397 Unconditionally reserve the top header byte in runtime 4
  ocaml/configure
  ocaml/configure.ac
Labels: runtime, unboxed types

#2389 Unconditionally reserve the top header byte in runtime 4 and runtime 5
  ocaml/configure
  ocaml/configure.ac
  ocaml/runtime/caml/mlvalues.h
  ocaml/runtime4/caml/mlvalues.h
  ocaml/tools/ci/inria/other-configs/script
  ocaml/utils/config.generated.ml.in
  ocaml/utils/config.mli
Labels: runtime, unboxed types

#2408 Move int<->float casts into scalar cast instruction
  backend/CSEgen.ml
  backend/amd64/CSE.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_comballoc.ml
  backend/cfg/cfg_cse.ml
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/cfgize.ml
  backend/checkmach.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/comballoc.ml
  backend/debug/available_regs.ml
  backend/mach.ml
  backend/mach.mli
  backend/polling.ml
  backend/printcmm.ml
  backend/printmach.ml
  backend/regalloc/regalloc_invariants.ml
  backend/regalloc/regalloc_irc_utils.ml
  backend/selectgen.ml
  testsuite/tools/parsecmm.mly
Labels: backend

#2409 Merge mach/cfg float instructions into floatop
  backend/CSEgen.ml
  backend/amd64/CSE.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/arm64/emit.mlp
  backend/cfg/cfg.ml
  backend/cfg/cfg_comballoc.ml
  backend/cfg/cfg_cse.ml
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/cfgize.ml
  backend/checkmach.ml
  backend/comballoc.ml
  backend/debug/available_regs.ml
  backend/mach.ml
  backend/mach.mli
  backend/polling.ml
  backend/printmach.ml
  backend/printmach.mli
  backend/regalloc/regalloc_invariants.ml
  backend/regalloc/regalloc_irc_utils.ml
  backend/selectgen.ml
Labels: backend

#2410 Set default `space_overhead` to 160 in runtime 5
  ocaml/runtime/caml/config.h
Labels: runtime, OCaml 5

#2396 Refactor arrow modes printing
  ocaml/testsuite/tests/typing-implicit-source-positions/invalid_usages.ml
  ocaml/testsuite/tests/typing-modal-kinds/basics.ml
  ocaml/testsuite/tests/typing-modes/modes.ml
  ocaml/testsuite/tests/typing-unique/unique_typedecl.ml
  ocaml/typing/ctype.ml
  ocaml/typing/ctype.mli
  ocaml/typing/mode.ml
  ocaml/typing/mode_intf.mli
  ocaml/typing/oprint.ml
  ocaml/typing/outcometree.mli
  ocaml/typing/printtyp.ml
  ocaml/typing/typetexp.ml
Labels: typing

#2424 Zero alloc: fix bug interaction between "opt" and top-level "all"
  backend/cfg/cfg.ml
  backend/checkmach.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/printcmm.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/terms/check_attribute.ml
  middle_end/flambda2/terms/check_attribute.mli
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  tests/backend/checkmach/dune
  tests/backend/checkmach/dune.inc
  tests/backend/checkmach/gen/gen_dune.ml
  tests/backend/checkmach/test_all_opt.ml
  tests/backend/checkmach/test_all_opt.output
  tests/backend/checkmach/test_all_opt2.output
  tests/backend/checkmach/test_all_opt3.output
Labels: bug, backend

#2427 Use more instructive type (`label` vs `int`) in `amd64/emit.mlp`
  backend/amd64/emit.mlp
Labels: backend, non-material change

#2419 Fix incorrect use of AC_ARG_ENABLE
  configure.ac
  ocaml/Makefile.config.in
  ocaml/configure
  ocaml/configure.ac
Labels: build system

#2418 Catch and handle Bottom equations in the typing environment
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/env/typing_env.mli
  middle_end/flambda2/types/meet_and_join_new.ml
  middle_end/flambda2/types/meet_and_join_old.ml
Labels: flambda2

#2372 Stack check as a linear/CFG instruction
  backend/.ocamlformat-enable
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/stack_check.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/arm64/stack_check.ml
  backend/asmgen.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_comballoc.ml
  backend/cfg/cfg_cse.ml
  backend/cfg/cfg_deadcode.ml
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_liveness.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/cfgize.ml
  backend/cfg/linear_utils.ml
  backend/debug/available_ranges_vars.ml
  backend/debug/compute_ranges.ml
  backend/dune
  backend/emitaux.ml
  backend/linear.ml
  backend/linear.mli
  backend/printlinear.ml
  backend/regalloc/regalloc_invariants.ml
  backend/regalloc/regalloc_irc_utils.ml
  backend/stack_check.mli
  dune
Labels: backend, OCaml 5

#2373 Move down the stack check if possible
  backend/.ocamlformat-enable
  backend/amd64/emit.mlp
  backend/arm64/stack_check.ml
  backend/asmgen.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_dominators.ml
  backend/cfg/cfg_dominators.mli
  backend/cfg/cfg_stack_checks.ml
  backend/cfg/cfg_stack_checks.mli
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  dune
Labels: cfg, backend, OCaml 5

#2437 Install META files
  dune
  ocaml/otherlibs/dynlink/dune
  ocaml/otherlibs/runtime_events/dune
  ocaml/otherlibs/str/dune
  ocaml/otherlibs/systhreads/dune
  ocaml/otherlibs/systhreads4/dune
  ocaml/otherlibs/unix/dune
  ocaml/stdlib/dune
Labels: build system

#2438 Add new OPAM instructions to HACKING.md
  HACKING.md
Labels: non-material change

#2439 Update table of contents in HACKING.md
  HACKING.md
Labels: non-material change

#2443 Enable SIMD tests only on amd64 architecture
  tests/simd/dune
Labels: backend

#2449 Mode system exposes bounds (with warnings)
  ocaml/testsuite/tests/formatting/test_locations.dlocations.ocamlc.reference
  ocaml/testsuite/tests/formatting/test_locations.dno-locations.ocamlc.reference
  ocaml/typing/mode.ml
  ocaml/typing/mode_intf.mli
  ocaml/typing/printtyped.ml
  ocaml/typing/solver.ml
  ocaml/typing/solver_intf.mli
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
Labels: typing

#2451 Fix Idls_get case in arm64 emitter
  backend/arm64/emit.mlp
Labels: backend

#2452 Fix regalloc validator test case for arm64
  tests/backend/regalloc_validator/check_regalloc_validation.ml
Labels: cfg, backend

#2454 Fixes and re-enables a test
  ocaml/testsuite/tests/hidden_includes/missing_cmi_layout.ocamlc.reference
  ocaml/testsuite/tests/hidden_includes/test.ml
Labels: typing, unboxed types

#2465 Fix typo in `check_const_conservative`
  ocaml/typing/mode_intf.mli
Labels: typing

#2446 Force pthread option on macOS
  ocaml/configure
  ocaml/configure.ac
Labels: build system

#2461 Statmemprof support for runtime5
  external/memtrace/src/memprof_tracer.ml
  ocaml/otherlibs/runtime_events/runtime_events.ml
  ocaml/otherlibs/runtime_events/runtime_events.mli
  ocaml/otherlibs/systhreads/st_stubs.c
  ocaml/runtime/backtrace_byt.c
  ocaml/runtime/backtrace_nat.c
  ocaml/runtime/callback.c
  ocaml/runtime/caml/backtrace.h
  ocaml/runtime/caml/domain_state.tbl
  ocaml/runtime/caml/frame_descriptors.h
  ocaml/runtime/caml/memory.h
  ocaml/runtime/caml/memprof.h
  ocaml/runtime/caml/runtime_events.h
  ocaml/runtime/custom.c
  ocaml/runtime/domain.c
  ocaml/runtime/intern.c
  ocaml/runtime/major_gc.c
  ocaml/runtime/memory.c
  ocaml/runtime/memprof.c
  ocaml/runtime/minor_gc.c
  ocaml/runtime/printexc.c
  ocaml/runtime/shared_heap.c
  ocaml/runtime/signals.c
  ocaml/runtime4/memprof.c
  ocaml/stdlib/gc.ml
  ocaml/stdlib/gc.mli
  ocaml/testsuite/tests/statmemprof/alloc_counts.ml
  ocaml/testsuite/tests/statmemprof/arrays_in_major.ml
  ocaml/testsuite/tests/statmemprof/arrays_in_minor.ml
  ocaml/testsuite/tests/statmemprof/blocking_in_callback.ml
  ocaml/testsuite/tests/statmemprof/callstacks.flat-float-array.bytecode.reference
  ocaml/testsuite/tests/statmemprof/callstacks.flat-float-array.reference
  ocaml/testsuite/tests/statmemprof/callstacks.ml
  ocaml/testsuite/tests/statmemprof/callstacks.no-flat-float-array.reference
  ocaml/testsuite/tests/statmemprof/comballoc.byte.reference
  ocaml/testsuite/tests/statmemprof/comballoc.ml
  ocaml/testsuite/tests/statmemprof/comballoc.opt.reference
  ocaml/testsuite/tests/statmemprof/custom.ml
  ocaml/testsuite/tests/statmemprof/discard_in_callback.ml
  ocaml/testsuite/tests/statmemprof/exception_callback.ml
  ocaml/testsuite/tests/statmemprof/exception_callback.reference
  ocaml/testsuite/tests/statmemprof/exception_callback_minor.ml
  ocaml/testsuite/tests/statmemprof/exception_callback_minor.reference
  ocaml/testsuite/tests/statmemprof/exception_comballoc.ml
  ocaml/testsuite/tests/statmemprof/intern.ml
  ocaml/testsuite/tests/statmemprof/lists_in_minor.ml
  ocaml/testsuite/tests/statmemprof/lists_in_minor.reference
  ocaml/testsuite/tests/statmemprof/minor_heap_edge.ml
  ocaml/testsuite/tests/statmemprof/minor_heap_edge.reference
  ocaml/testsuite/tests/statmemprof/minor_no_postpone.ml
  ocaml/testsuite/tests/statmemprof/moved_while_blocking.ml
  ocaml/testsuite/tests/statmemprof/start_stop.ml
  ocaml/testsuite/tests/statmemprof/start_stop.reference
  ocaml/testsuite/tests/statmemprof/stop_start_in_callback.ml
  ocaml/testsuite/tests/statmemprof/thread_exit_in_callback.ml
Labels: runtime, OCaml 5

#2442 Enable locals for arm64
  backend/arm64/emit.mlp
  ocaml/runtime/arm64.S
  ocaml/runtime4/arm64.S
Labels: backend, runtime

#2466 Improve SIMD constant error messages
  backend/cmm_builtins.ml
  tests/simd/dune
  tests/simd/errors/dune
  tests/simd/errors/f32c1.expected
  tests/simd/errors/f32c1.ml
  tests/simd/errors/f32c4.expected
  tests/simd/errors/f32c4.ml
  tests/simd/errors/f64c1.expected
  tests/simd/errors/f64c1.ml
  tests/simd/errors/f64c2.expected
  tests/simd/errors/f64c2.ml
  tests/simd/errors/i16_range.expected
  tests/simd/errors/i16_range.ml
  tests/simd/errors/i16c1.expected
  tests/simd/errors/i16c1.ml
  tests/simd/errors/i16c8.expected
  tests/simd/errors/i16c8.ml
  tests/simd/errors/i32_range.expected
  tests/simd/errors/i32_range.ml
  tests/simd/errors/i32c1.expected
  tests/simd/errors/i32c1.ml
  tests/simd/errors/i32c4.expected
  tests/simd/errors/i32c4.ml
  tests/simd/errors/i64c1.expected
  tests/simd/errors/i64c1.ml
  tests/simd/errors/i64c2.expected
  tests/simd/errors/i64c2.ml
  tests/simd/errors/i8_range.expected
  tests/simd/errors/i8_range.ml
  tests/simd/errors/i8c1.expected
  tests/simd/errors/i8c1.ml
  tests/simd/errors/i8c16.expected
  tests/simd/errors/i8c16.ml
Labels: backend, simd

#2450 Async exceptions implementation for arm64
  ocaml/runtime/arm64.S
  ocaml/runtime4/arm64.S
Labels: runtime

#2478 Clean up mode error printing
  ocaml/testsuite/tests/typing-local/crossing.ml
  ocaml/testsuite/tests/typing-local/exclave.ml
  ocaml/testsuite/tests/typing-local/local.ml
  ocaml/testsuite/tests/typing-modal-kinds/basics.ml
  ocaml/testsuite/tests/typing-modal-kinds/expected_mode.ml
  ocaml/testsuite/tests/typing-modal-kinds/principal.ml
  ocaml/testsuite/tests/typing-modes/modes.ml
  ocaml/testsuite/tests/typing-unique/unique.ml
  ocaml/testsuite/tests/typing-unique/unique_analysis.ml
  ocaml/testsuite/tests/typing-unique/unique_mod_class.ml
  ocaml/typing/mode.ml
  ocaml/typing/mode_intf.mli
  ocaml/typing/typecore.ml
Labels: typing

#2422 Implement mixed blocks in runtime 4
  backend/cmm_helpers.ml
  ocaml/runtime4/alloc.c
  ocaml/runtime4/array.c
  ocaml/runtime4/caml/alloc.h
  ocaml/runtime4/caml/memory.h
  ocaml/runtime4/caml/mlvalues.h
  ocaml/runtime4/compact.c
  ocaml/runtime4/compare.c
  ocaml/runtime4/extern.c
  ocaml/runtime4/gc_ctrl.c
  ocaml/runtime4/hash.c
  ocaml/runtime4/major_gc.c
  ocaml/runtime4/memory.c
  ocaml/runtime4/minor_gc.c
  ocaml/runtime4/misc.c
  ocaml/runtime4/obj.c
  ocaml/runtime4/roots_nat.c
  ocaml/runtime4/weak.c
  ocaml/testsuite/tests/mixed-blocks/generate_mixed_blocks_code.ml
  ocaml/testsuite/tests/mixed-blocks/generated_byte_test.ml
  ocaml/testsuite/tests/mixed-blocks/generated_native_test.ml
  ocaml/testsuite/tests/mixed-blocks/hash.ml
  ocaml/testsuite/tests/mixed-blocks/recursive_mixed_blocks.ml
  ocaml/testsuite/tests/mixed-blocks/test_mixed_blocks.ml
  ocaml/testsuite/tests/mixed-blocks/test_printing.ml
  ocaml/testsuite/tests/mixed-blocks/test_runtime_4.ml
  ocaml/testsuite/tests/mixed-blocks/typing_recursive_mixed_blocks.ml
  ocaml/testsuite/tests/typing-layouts-float64/unboxed_floats_alpha.ml
  ocaml/testsuite/tests/typing-layouts/mixed_records.ml
  ocaml/testsuite/tests/typing-layouts/mixed_records_alpha.ml
  ocaml/typing/typedecl.ml
Labels: runtime, unboxed types

#2481 Use correct debuginfo values for Ialloc
  backend/selectgen.ml
  backend/selectgen.mli
Labels: backend

#2480 `Non_null_value` layout
  ocaml/lambda/matching.ml
  ocaml/testsuite/tests/typing-layouts-non-null-value/basics.ml
  ocaml/testsuite/tests/typing-layouts-non-null-value/or_null.ml
  ocaml/testsuite/tests/typing-layouts/annots.ml
  ocaml/testsuite/tests/typing-layouts/basics.ml
  ocaml/testsuite/tests/typing-layouts/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts/modules_alpha.ml
  ocaml/testsuite/tests/typing-layouts/parsing_alpha.compilers.reference
  ocaml/testsuite/tests/typing-layouts/parsing_alpha.ml
  ocaml/testsuite/tests/typing-layouts/parsing_beta.compilers.reference
  ocaml/testsuite/tests/typing-layouts/parsing_stable.compilers.reference
  ocaml/testsuite/tests/typing-layouts/parsing_stable_beta.ml
  ocaml/typing/jkind.ml
  ocaml/typing/jkind.mli
  ocaml/typing/subst.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typeopt.ml
Labels: unboxed types

#2483 asm_targets/ changes for DWARF inlined frames
  backend/asm_targets/asm_directives.ml
  backend/asm_targets/asm_directives_intf.ml
  backend/asm_targets/asm_symbol.ml
  backend/asm_targets/asm_symbol.mli
Labels: dwarf and debugging

#2486 Add Compute_ranges.get_singleton
  backend/debug/compute_ranges.ml
  backend/debug/compute_ranges_intf.ml
Labels: dwarf and debugging

#2484 dwarf_low/ and dwarf_high/ changes for DWARF inlined frames
  backend/debug/dwarf/dwarf_high/dwarf_attribute_helpers.ml
  backend/debug/dwarf/dwarf_high/dwarf_attribute_helpers.mli
  backend/debug/dwarf/dwarf_high/proto_die.ml
  backend/debug/dwarf/dwarf_high/proto_die.mli
  backend/debug/dwarf/dwarf_low/dwarf_attribute_values.ml
  backend/debug/dwarf/dwarf_low/dwarf_attribute_values.mli
  backend/debug/dwarf/dwarf_low/dwarf_value.ml
  backend/debug/dwarf/dwarf_low/dwarf_value.mli
Labels: dwarf and debugging

#2494 Fix mixed block macros so users don't get wrong platform's macros
  ocaml/runtime/alloc.c
  ocaml/runtime/caml/mlvalues.h
  ocaml/runtime4/alloc.c
  ocaml/runtime4/caml/mlvalues.h
Labels: runtime, unboxed types

#2485 Asm_directives for arm64; move frame_size etc into Proc for amd64+arm64
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/stack_check.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/arm64/stack_check.ml
  backend/cfg/cfg_stack_checks.ml
  backend/debug/available_ranges_vars.ml
  backend/emitaux.ml
  backend/proc.mli
  backend/stack_check.mli
Labels: backend, dwarf and debugging

#2391 float32 backend plumbing/casts
  backend/CSEgen.ml
  backend/afl_instrument.ml
  backend/amd64/CSE.ml
  backend/amd64/arch.ml
  backend/amd64/arch.mli
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/arm64/selection.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_comballoc.ml
  backend/cfg/cfg_cse.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/cfgize.ml
  backend/checkmach.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/cmm_invariants.ml
  backend/comballoc.ml
  backend/debug/available_regs.ml
  backend/debug/reg_with_debug_info.ml
  backend/mach.ml
  backend/mach.mli
  backend/polling.ml
  backend/printcmm.ml
  backend/printmach.ml
  backend/reg.ml
  backend/regalloc/regalloc_invariants.ml
  backend/regalloc/regalloc_irc_utils.ml
  backend/selectgen.ml
  backend/x86_ast.mli
  backend/x86_binary_emitter.ml
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
  external/float32/float32_stubs.c
  file_formats/cmx_format.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  ocaml/runtime/floats.c
  ocaml/typing/primitive.ml
  ocaml/typing/primitive.mli
  tests/backend/regalloc_validator/check_regalloc_validation.ml
  tests/small_numbers/basic.ml
  testsuite/tools/parsecmm.mly
Labels: backend

#2505 Add check that variables binding result of primitives are the correct kind
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
Labels: flambda2

#2499 DWARF inlined frames: middle end
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
  middle_end/flambda2/simplify/inlining/inlining_transforms.ml
  middle_end/flambda2/simplify/join_points.ml
  middle_end/flambda2/simplify/simplify_nullary_primitive.ml
  middle_end/flambda2/simplify_shared/inlining_helpers.ml
  middle_end/flambda2/simplify_shared/inlining_helpers.mli
  middle_end/flambda2/term_basics/inlined_debuginfo.ml
  middle_end/flambda2/term_basics/inlined_debuginfo.mli
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
  ocaml/lambda/debuginfo.ml
  ocaml/lambda/debuginfo.mli
Labels: flambda2, dwarf and debugging

#1754 DWARF inlined frames support
  backend/debug/dwarf/dwarf_flags/dwarf_flags.ml
  backend/debug/dwarf/dwarf_flags/dwarf_flags.mli
  backend/debug/dwarf/dwarf_ocaml/dwarf.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_abstract_instances.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_abstract_instances.mli
  backend/debug/dwarf/dwarf_ocaml/dwarf_concrete_instances.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_concrete_instances.mli
  backend/debug/dwarf/dwarf_ocaml/dwarf_inlined_frames.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_inlined_frames.mli
  backend/debug/dwarf/dwarf_ocaml/dwarf_state.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_state.mli
  backend/debug/inlined_frame_ranges.ml
  backend/emitaux.ml
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  dune
  ocaml/utils/compilation_unit.ml
  ocaml/utils/misc.ml
  ocaml/utils/misc.mli
Labels: dwarf and debugging

#2477 Refactor otherlibs build
  ocaml/Makefile.common-jst
  ocaml/configure
  ocaml/configure.ac
  ocaml/otherlibs/Makefile
  ocaml/otherlibs/alpha/.depend
  ocaml/otherlibs/alpha/.ocamlformat-enable
  ocaml/otherlibs/alpha/META.in
  ocaml/otherlibs/alpha/Makefile
  ocaml/otherlibs/alpha/dune
  ocaml/otherlibs/beta/.depend
  ocaml/otherlibs/beta/.ocamlformat-enable
  ocaml/otherlibs/beta/META.in
  ocaml/otherlibs/beta/Makefile
  ocaml/otherlibs/beta/dune
  ocaml/otherlibs/stable/.depend
  ocaml/otherlibs/stable/.ocamlformat-enable
  ocaml/otherlibs/stable/META.in
  ocaml/otherlibs/stable/Makefile
  ocaml/otherlibs/stable/dune
  ocaml/otherlibs/upstream_compatible/.depend
  ocaml/otherlibs/upstream_compatible/.ocamlformat-enable
  ocaml/otherlibs/upstream_compatible/META.in
  ocaml/otherlibs/upstream_compatible/Makefile
  ocaml/otherlibs/upstream_compatible/dune
  ocaml/testsuite/tests/lib-extensions/modules.ml
  testsuite/tests/lib-extensions/alpha_exports.ml
  testsuite/tests/lib-extensions/beta_exports.ml
  testsuite/tests/lib-extensions/modules.ml
  testsuite/tests/lib-extensions/stable_exports.ml
  testsuite/tests/lib-extensions/upstream_exports.ml
Labels: build system

#2479 Add partial adjoints of `join_with` and `meet_with`
  ocaml/typing/mode.ml
  ocaml/typing/mode_intf.mli
  ocaml/typing/solver.ml
  ocaml/typing/solver_intf.mli
  ocaml/typing/typecore.ml
Labels: typing

#2511 Move compiler_float32 code into flambda2
  external/float32/dune
  middle_end/flambda2/numbers/dune
  middle_end/flambda2/numbers/float32.ml
  middle_end/flambda2/numbers/float32.mli
  middle_end/flambda2/numbers/float32_stubs.c
  middle_end/flambda2/numbers/numeric_types.ml
  ocaml/Makefile.common-jst
  testsuite/tools/Makefile
Labels: flambda2
