Repository oxcaml/oxcaml, pull requests merged in 2024-12, with the labels that each got.

#3329 Fix cldemote for Cfg_selection
  backend/amd64/cfg_selection.ml
Labels: cfg, backend

#3110 Unboxed products in externals - flambda2
  middle_end/flambda2/from_lambda/closure_conversion.ml
Labels: flambda2, unboxed types

#3333 Request a minor GC if marking has failed to start since the last slice.
  runtime/major_gc.c
Labels: runtime, OCaml 5

#3332 Fix ephemeron-adoption problem in mark-delay
  runtime/major_gc.c
Labels: runtime, OCaml 5

#3331 Fix GC pacing problem exacerbated by mark-delay
  runtime/major_gc.c
Labels: runtime, OCaml 5

#3337 Unboxed pair returns from C externals
  backend/amd64/proc.ml
  backend/arm64/proc.ml
  backend/cmm.ml
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/terms/apply_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  testsuite/tests/typing-layouts-return/stubs.c
  testsuite/tests/typing-layouts-return/unboxed_return.ml
  testsuite/tests/typing-layouts-return/unboxed_return.reference
Labels: flambda2, backend, unboxed types

#3342 macOS CI tweaks
  .github/workflows/build.yml
Labels: CI

#3341 Revert "Fix GC pacing problem exacerbated by mark-delay"
  runtime/major_gc.c
Labels: runtime, OCaml 5

#3326 Add inplace minimisation options for chamelon
  chamelon/chamelon.ml
Labels: chamelon

#3340 Fix for PR2755 (ocamltest fail-if-test-does-nothing)
  ocamltest/main.ml
  ocamltest/tests.ml
  ocamltest/tests.mli
  ocamltest/tsl_semantics.ml
  testsuite/tests/lib-domain/DLS_thread_safety.ml
  testsuite/tests/lib-unix/common/bigarrays.ml
Labels: bug, to upstream, testsuite

#3310 Cherry pick overwriting
  file_formats/cmt_format.ml
  lambda/translcore.ml
  parsing/ast_helper.ml
  parsing/ast_helper.mli
  parsing/ast_iterator.ml
  parsing/ast_mapper.ml
  parsing/depend.ml
  parsing/language_extension.ml
  parsing/language_extension.mli
  parsing/lexer.mll
  parsing/location.ml
  parsing/location.mli
  parsing/parser.mly
  parsing/parsetree.mli
  parsing/pprintast.ml
  parsing/printast.ml
  printer/printast_with_mappings.ml
  testsuite/tests/parsetree/source_jane_street.ml
  testsuite/tests/typing-layouts-unboxed-records/typing_misc_unboxed_records.ml
  testsuite/tests/typing-misc/records.ml
  testsuite/tests/typing-misc/wrong_kind.ml
  testsuite/tests/typing-unique/overwriting.ml
  testsuite/tests/typing-unique/overwriting_lift_constants.ml
  testsuite/tests/typing-unique/overwriting_lift_constants.reference
  testsuite/tests/typing-unique/overwriting_lift_constants_bug.ml
  testsuite/tests/typing-unique/overwriting_lift_constants_bug.reference
  testsuite/tests/typing-unique/overwriting_map.ml
  testsuite/tests/typing-unique/overwriting_map.reference
  testsuite/tests/typing-unique/overwriting_proj_push_down_bug.ml
  testsuite/tests/typing-unique/overwriting_syntax.ml
  testsuite/tests/typing-unique/overwriting_underscore.ml
  testsuite/tests/typing-unique/rbtree.byte.reference
  testsuite/tests/typing-unique/rbtree.ml
  testsuite/tests/typing-unique/unique.ml
  testsuite/tests/typing-unique/unique_analysis.ml
  tools/debug_printers.ml
  typing/ident.mli
  typing/printtyped.ml
  typing/tast_iterator.ml
  typing/tast_mapper.ml
  typing/typecore.ml
  typing/typecore.mli
  typing/typedtree.ml
  typing/typedtree.mli
  typing/types.ml
  typing/types.mli
  typing/uniqueness_analysis.ml
  typing/uniqueness_analysis.mli
  typing/untypeast.ml
  typing/value_rec_check.ml
  utils/language_extension_kernel.ml
  utils/language_extension_kernel.mli
  utils/profile_counters_functions.ml
Labels: lexer/parser, uniqueness

#3335 Consume patterns that do not have a working unique barrier yet
  testsuite/tests/typing-unique/unique.ml
  typing/uniqueness_analysis.ml
Labels: uniqueness

#3348 Use larger runners for CI
  .github/workflows/build.yml
Labels: CI

#3306 fix(flambda2-types): Prevent duplicate equations in add_equation
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/env/typing_env.mli
  middle_end/flambda2/types/meet_and_join_new.ml
  middle_end/flambda2/types/meet_and_join_new.mli
Labels: flambda2

#3197 Improve comments of uniqueness analysis
  typing/typedtree.mli
  typing/uniqueness_analysis.ml
Labels: uniqueness

#3355 Use 16-core boxes for CI runners
  .github/workflows/build.yml
Labels: CI

#3346 Unboxed product array fixes
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/terms/flambda_primitive.mli
Labels: flambda2, unboxed types

#3357 Refactor Cfg_selectgen.select_operation to enable warning 4
  backend/cfg_selectgen.ml
Labels: backend

#3358 Fix CFG selection handling of polling
  .github/workflows/selection.yml
  backend/cfg_selectgen.ml
Labels: bug, cfg, backend

#3361 Revert to standard CI runners
  .github/workflows/build.yml
Labels: CI

#3330 Allow more minor custom blocks in runtime5
  runtime/caml/config.h
  runtime/custom.c
  stdlib/gc.mli
Labels: runtime, OCaml 5

#3354 Revert #11997
  .depend
  bytecomp/emitcode.ml
  bytecomp/symtable.ml
  file_formats/cmo_format.mli
  tools/dumpobj.ml
Labels: build system, or_null

#3356 Ensure that all Bigarray memory managed by the GC is tracked by Memprof
  otherlibs/unix/mmap_ba.c
  runtime4/bigarray.c
  runtime4/caml/bigarray.h
  testsuite/tests/statmemprof/bigarray.ml
  testsuite/tests/statmemprof/bigarray.reference
  testsuite/tests/statmemprof/bigarray_stubs.c
Labels: runtime

#3362 Fix mistake in upstream PR12735 backport and add test case
  backend/cmm_helpers.ml
  testsuite/tests/effects/pr3362.ml
  testsuite/tests/effects/pr3362.reference
Labels: bug, effects

#3327 Supports mode annotation on function body
  jane/doc/extensions/modes/syntax.md
  parsing/ast_helper.mli
  parsing/ast_iterator.ml
  parsing/ast_mapper.ml
  parsing/depend.ml
  parsing/parser.mly
  parsing/parsetree.mli
  parsing/pprintast.ml
  parsing/printast.ml
  printer/printast_with_mappings.ml
  testsuite/tests/parsetree/modes_ast_mapper.reference
  testsuite/tests/parsetree/source_jane_street.ml
  testsuite/tests/typing-modes/modes.ml
  typing/printtyped.ml
  typing/tast_iterator.ml
  typing/tast_mapper.ml
  typing/typeclass.ml
  typing/typecore.ml
  typing/typedtree.ml
  typing/typedtree.mli
  typing/untypeast.ml
Labels: typing, lexer/parser, modes

#3360 Separate variants for boxed and unboxed kinds.
  backend/cmm_builtins.ml
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  bytecomp/bytegen.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/matching.ml
  lambda/printlambda.ml
  lambda/transl_array_comprehension.ml
  lambda/translprim.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/kinds/flambda_arity.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/term_basics/empty_array_kind.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  typing/primitive.ml
  typing/primitive.mli
  typing/typedecl.ml
  typing/typeopt.ml
Labels: lambda

#3368 Add Atomic.compare_exchange
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  bytecomp/bytegen.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/tmc.ml
  lambda/translprim.ml
  lambda/value_rec_compiler.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_ternary_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  runtime/memory.c
  runtime4/misc.c
  stdlib/atomic.ml
  stdlib/atomic.mli
  testsuite/tests/lib-atomic/test_atomic_cmpxchg.ml
Labels: flambda2, runtime, lambda

#3328 Module inclusion check looks at module mode
  driver/compile_common.ml
  testsuite/tests/typing-modes/md_modalities.ml
  testsuite/tests/typing-modes/val_modalities.ml
  toplevel/byte/topeval.ml
  toplevel/native/opttoploop.ml
  typing/includecore.ml
  typing/includecore.mli
  typing/includemod.ml
  typing/includemod.mli
  typing/typemod.ml
Labels: typing, modes

#3266 Use constant sorts in transl
  lambda/matching.ml
  lambda/matching.mli
  lambda/transl_array_comprehension.ml
  lambda/transl_array_comprehension.mli
  lambda/transl_list_comprehension.ml
  lambda/transl_list_comprehension.mli
  lambda/translclass.ml
  lambda/translcore.ml
  lambda/translcore.mli
  lambda/translmod.ml
  lambda/translmod.mli
  lambda/translprim.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  ocamldoc/odoc_sig.ml
  toplevel/genprintval.ml
  typing/datarepr.ml
  typing/jkind_intf.ml
  typing/jkind_types.ml
  typing/predef.ml
  typing/printtyped.ml
  typing/subst.ml
  typing/typecore.ml
  typing/typedecl.ml
  typing/typedtree.ml
  typing/typedtree.mli
  typing/typeopt.ml
  typing/typeopt.mli
  typing/types.ml
  typing/types.mli
  typing/value_rec_check.ml
Labels: unboxed types

#3374 Allow retyping as-patterns that contain existentials
  testsuite/tests/typing-gadts/existential_as_pattern.ml
  typing/typecore.ml
Labels: to upstream, typing

#3378 Update documentation of Stdlib.Gc.control for OCaml 5
  runtime/gc_ctrl.c
  stdlib/gc.mli
Labels: runtime, OCaml 5

#3351 On Linux, use PR_SET_VMA_ANON_NAME to name memory mappings
  runtime/caml/osdeps.h
  runtime/caml/platform.h
  runtime/domain.c
  runtime/fiber.c
  runtime/platform.c
  runtime/shared_heap.c
  runtime/unix.c
Labels: runtime, OCaml 5

#3386 make runtime-stdlib-hacking
  Makefile.common-jst
Labels: build system

#3387 Fix CFG polling (unsafe loops)
  backend/cfg/cfg_polling.ml
Labels: bug, cfg, backend

#3352 Simplify inferred comonadic modality
  testsuite/tests/parsetree/source_jane_street.ml
  testsuite/tests/parsetree/test_ppx.compilers.reference
  testsuite/tests/typing-modes/val_modalities.ml
  testsuite/tests/typing-unique/overwriting.ml
  testsuite/tests/typing-unique/overwriting_lift_constants.ml
  testsuite/tests/typing-unique/overwriting_proj_push_down_bug.ml
  testsuite/tests/typing-unique/overwriting_syntax.ml
  testsuite/tests/typing-unique/rbtree.ml
  typing/mode.ml
  typing/mode_intf.mli
  typing/solver.ml
  typing/solver_intf.mli
Labels: typing

#3365 Vectorizer
  .github/workflows/build.yml
  backend/.ocamlformat-enable
  backend/amd64/arch.ml
  backend/amd64/arch.mli
  backend/amd64/simd_selection.ml
  backend/amd64/vectorize_specific.ml
  backend/arm64/arch.ml
  backend/arm64/arch.mli
  backend/arm64/simd_selection.ml
  backend/arm64/vectorize_specific.ml
  backend/cfg/cfg_with_layout.ml
  backend/cfg/vectorize.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/dune
  backend/operation.mli
  backend/vectorize_utils.ml
  backend/vectorize_utils.mli
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  dune
  flambda-backend/tests/backend/vectorizer/.ocamlformat
  flambda-backend/tests/backend/vectorizer/dune
  flambda-backend/tests/backend/vectorizer/dune.inc
  flambda-backend/tests/backend/vectorizer/examples.ml
  flambda-backend/tests/backend/vectorizer/examples_unrolled.ml
  flambda-backend/tests/backend/vectorizer/filter.sh
  flambda-backend/tests/backend/vectorizer/gen/dune
  flambda-backend/tests/backend/vectorizer/gen/gen_dune.ml
  flambda-backend/tests/backend/vectorizer/grep_vectorizer_cmx.expected
  flambda-backend/tests/backend/vectorizer/test1.expected
  flambda-backend/tests/backend/vectorizer/test1.ml
  flambda-backend/tests/backend/vectorizer/test1.mli
  flambda-backend/tests/backend/vectorizer/test1_simd.ml
  flambda-backend/tests/backend/vectorizer/test1_vectorized.cmx.dump.expected
Labels: backend

#3382 Allow Capsule mutexes in runtime4
  build_ocaml_compiler.sexp
  otherlibs/stdlib_alpha/capsule.c
  otherlibs/stdlib_alpha/capsule.h
  otherlibs/stdlib_alpha/capsule.ml
  otherlibs/stdlib_alpha/capsule.mli
  otherlibs/stdlib_alpha/dune
  otherlibs/stdlib_alpha/rwlock.c
  testsuite/tests/capsule-api/basics.ml
  testsuite/tests/capsule-api/data.ml
  testsuite/tests/capsule-api/poisoning.ml
Labels: runtime

#3379 Reset domain lock in caml_thread_reinitialize
  otherlibs/systhreads/st_stubs.c
Labels: runtime

#3317 Implement %makearray_dynamic{,_uninit}
  .github/workflows/build.yml
  bytecomp/bytegen.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/printlambda.mli
  lambda/translprim.ml
  lambda/translprim.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.mli
  middle_end/flambda2/from_lambda/lambda_to_lambda_transforms.ml
  middle_end/flambda2/from_lambda/lambda_to_lambda_transforms.mli
  runtime/array.c
  runtime/caml/custom.h
  runtime/caml/memory.h
  runtime/custom.c
  runtime/float32.c
  runtime/memory.c
  runtime/simd.c
  runtime4/array.c
  runtime4/caml/custom.h
  runtime4/caml/memory.h
  runtime4/custom.c
  runtime4/float32.c
  runtime4/memory.c
  runtime4/simd.c
  testsuite/tests/typing-layouts-arrays/README.md
  testsuite/tests/typing-layouts-arrays/basics_alpha.ml
  testsuite/tests/typing-layouts-arrays/gen_product_array_helpers.ml
  testsuite/tests/typing-layouts-arrays/gen_product_array_helpers.mli
  testsuite/tests/typing-layouts-arrays/generate_makearray_dynamic_tests.ml
  testsuite/tests/typing-layouts-arrays/generated_test.ml
  testsuite/tests/typing-layouts-arrays/generated_test.reference
  testsuite/tests/typing-layouts-arrays/run_makearray_dynamic_tests.ml
  testsuite/tests/typing-layouts-arrays/test_float_u_array.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_1.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_2.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_with_uninit_1.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_with_uninit_2.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_1.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_2.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_3.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_4.ml
  testsuite/tests/typing-layouts-products/basics.ml
  testsuite/tests/typing-layouts-products/product_arrays.ml
  testsuite/tests/typing-layouts-products/product_iarrays.ml
  testsuite/tests/typing-layouts-unboxed-records/basics_from_unboxed_tuples_tests.ml
  testsuite/tests/typing-layouts/layout_poly.ml
  typing/primitive.ml
  typing/typeopt.ml
Labels: flambda2, runtime, unboxed types

#3371 Convert float32 constants to int32 in first stage compiler
  bytecomp/bytegen.ml
  bytecomp/symtable.ml
  flambda-backend/tests/small_numbers/float32_builtin.ml
  flambda-backend/tests/small_numbers/float32_lib.ml
  flambda-backend/tests/small_numbers/stubs.c
  middle_end/flambda2/numbers/floats/float32_stubs.c
  runtime/float32.c
  runtime4/float32.c
  typing/oprint.ml
Labels: bug, build system, runtime

#3388 Fix IRC and Greedy allocators (arm64)
  .github/workflows/build.yml
  backend/regalloc/regalloc_gi.ml
  backend/regalloc/regalloc_gi_utils.ml
  backend/regalloc/regalloc_gi_utils.mli
  backend/regalloc/regalloc_irc.ml
Labels: bug, backend, CI

#3408 Revert "Implement %makearray_dynamic{,_uninit}"
  .github/workflows/build.yml
  bytecomp/bytegen.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/printlambda.mli
  lambda/translprim.ml
  lambda/translprim.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.mli
  middle_end/flambda2/from_lambda/lambda_to_lambda_transforms.ml
  middle_end/flambda2/from_lambda/lambda_to_lambda_transforms.mli
  runtime/array.c
  runtime/caml/custom.h
  runtime/caml/memory.h
  runtime/custom.c
  runtime/float32.c
  runtime/memory.c
  runtime/simd.c
  runtime4/array.c
  runtime4/caml/custom.h
  runtime4/caml/memory.h
  runtime4/custom.c
  runtime4/float32.c
  runtime4/memory.c
  runtime4/simd.c
  testsuite/tests/typing-layouts-arrays/README.md
  testsuite/tests/typing-layouts-arrays/basics_alpha.ml
  testsuite/tests/typing-layouts-arrays/gen_product_array_helpers.ml
  testsuite/tests/typing-layouts-arrays/gen_product_array_helpers.mli
  testsuite/tests/typing-layouts-arrays/generate_makearray_dynamic_tests.ml
  testsuite/tests/typing-layouts-arrays/generated_test.ml
  testsuite/tests/typing-layouts-arrays/generated_test.reference
  testsuite/tests/typing-layouts-arrays/run_makearray_dynamic_tests.ml
  testsuite/tests/typing-layouts-arrays/test_float_u_array.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_1.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_2.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_with_uninit_1.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_with_uninit_2.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_1.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_2.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_3.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_4.ml
  testsuite/tests/typing-layouts-products/basics.ml
  testsuite/tests/typing-layouts-products/product_arrays.ml
  testsuite/tests/typing-layouts-products/product_iarrays.ml
  testsuite/tests/typing-layouts-unboxed-records/basics_from_unboxed_tuples_tests.ml
  testsuite/tests/typing-layouts/layout_poly.ml
  typing/primitive.ml
  typing/typeopt.ml
Labels: unboxed types

#2870 Add `Variant_with_null` and `Null` variant constructors
  lambda/matching.ml
  lambda/translcore.ml
  lambda/value_rec_compiler.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  testsuite/tests/typing-layouts-or-null/reexport.ml
  toplevel/genprintval.ml
  toplevel/topdirs.ml
  typing/datarepr.ml
  typing/includecore.ml
  typing/includecore.mli
  typing/oprint.ml
  typing/outcometree.mli
  typing/parmatch.ml
  typing/predef.ml
  typing/printtyp.ml
  typing/printtyped.ml
  typing/typecore.ml
  typing/typedecl.ml
  typing/typedtree.ml
  typing/typeopt.ml
  typing/types.ml
  typing/types.mli
  typing/value_rec_check.ml
Labels: or_null

#3262 Fix case where parser drops attributes in packed module types.
  parsing/parse.ml
  parsing/parser.mly
  parsing/syntaxerr.ml
  parsing/syntaxerr.mli
  testsuite/tests/parsing/dropped_attribute_ptyp_package.compilers.reference
  testsuite/tests/parsing/dropped_attribute_ptyp_package.ml
Labels: lexer/parser

#3413 ASR 64-bit lane not available in sse instruction
  backend/amd64/simd_selection.ml
Labels: bug, vectorizer

#3389 CI: simplify the regalloc jobs
  .github/workflows/build.yml
Labels: CI

#3414 Separate test for vectorizer in the CI
  .github/workflows/build.yml
Labels: CI, vectorizer

#3412 Vectorizer: check register compatibility
  backend/cfg/vectorize.ml
Labels: bug, backend, vectorizer
