Repository oxcaml/oxcaml, pull requests merged in 2024-09, with the labels that each got.

#3005 Backport upstream #13370
  ocaml/runtime/gc_ctrl.c
Labels: backport from upstream OCaml

#2931 Make OCaml Platform the default OCaml formatter for vscode workspace
  .vscode/extensions.json
  .vscode/settings.json
Labels: non-material change

#2991 Add language extensions counters
  ocaml/compilerlibs/Makefile.compilerlibs
  ocaml/driver/compile_common.ml
  ocaml/dune
  ocaml/otherlibs/dynlink/Makefile
  ocaml/otherlibs/dynlink/dune
  ocaml/testsuite/tests/profile/counters/language_extensions/comprehensions/ml_counters.ml
  ocaml/testsuite/tests/profile/counters/language_extensions/comprehensions/ml_counters.ocamlc.reference
  ocaml/testsuite/tests/profile/counters/language_extensions/comprehensions/mli_counters.mli
  ocaml/testsuite/tests/profile/counters/language_extensions/comprehensions/mli_counters.ocamlc.reference
  ocaml/testsuite/tests/profile/counters/language_extensions/immutable_array_comprehensions/ml_counters.ml
  ocaml/testsuite/tests/profile/counters/language_extensions/immutable_array_comprehensions/ml_counters.ocamlc.reference
  ocaml/testsuite/tests/profile/counters/language_extensions/immutable_arrays/ml_counters.ml
  ocaml/testsuite/tests/profile/counters/language_extensions/immutable_arrays/ml_counters.ocamlc.reference
  ocaml/testsuite/tests/profile/counters/language_extensions/immutable_arrays/mli_counters.mli
  ocaml/testsuite/tests/profile/counters/language_extensions/immutable_arrays/mli_counters.ocamlc.reference
  ocaml/testsuite/tests/profile/counters/language_extensions/include_functor/ml_counters.ml
  ocaml/testsuite/tests/profile/counters/language_extensions/include_functor/ml_counters.ocamlc.reference
  ocaml/testsuite/tests/profile/counters/language_extensions/include_functor/mli_counters.mli
  ocaml/testsuite/tests/profile/counters/language_extensions/include_functor/mli_counters.ocamlc.reference
  ocaml/testsuite/tests/profile/counters/language_extensions/labeled_tuples/ml_counters.ml
  ocaml/testsuite/tests/profile/counters/language_extensions/labeled_tuples/ml_counters.ocamlc.reference
  ocaml/testsuite/tests/profile/counters/language_extensions/labeled_tuples/mli_counters.mli
  ocaml/testsuite/tests/profile/counters/language_extensions/labeled_tuples/mli_counters.ocamlc.reference
  ocaml/testsuite/tests/profile/counters/language_extensions/module_strengthening/ml_counters.ml
  ocaml/testsuite/tests/profile/counters/language_extensions/module_strengthening/ml_counters.ocamlc.reference
  ocaml/testsuite/tests/profile/counters/language_extensions/module_strengthening/mli_counters.mli
  ocaml/testsuite/tests/profile/counters/language_extensions/module_strengthening/mli_counters.ocamlc.reference
  ocaml/testsuite/tests/profile/counters/language_extensions/nested/ml_counters.ml
  ocaml/testsuite/tests/profile/counters/language_extensions/nested/ml_counters.ocamlc.reference
  ocaml/testsuite/tests/profile/counters/language_extensions/nested/mli_counters.mli
  ocaml/testsuite/tests/profile/counters/language_extensions/nested/mli_counters.ocamlc.reference
  ocaml/testsuite/tests/profile/counters/language_extensions/test.ml
  ocaml/tools/Makefile
  ocaml/utils/.ocamlformat-enable
  ocaml/utils/profile.ml
  ocaml/utils/profile.mli
  ocaml/utils/profile_counters_functions.ml
  ocaml/utils/profile_counters_functions.mli
Labels: profiling

#3007 Make `OCaml Platform` default formatter for OCaml interface files in vscode
  .vscode/settings.json
Labels: non-material change

#2946 Run compiler build for profiling in temporary directory
  scripts/profile-compiler-build.sh
Labels: profiling

#3008 Split the `Selectgen` class
  backend/selectgen.ml
  backend/selectgen.mli
Labels: backend

#3009 Selection: Move parent class to "utils" module
  backend/select_utils.ml
  backend/select_utils.mli
  backend/selectgen.ml
  backend/selectgen.mli
Labels: backend

#3016 Change profile output to simplify parsing for dynamic counters
  backend/asmgen.ml
  ocaml/utils/profile.ml
  ocaml/utils/profile.mli
Labels: profiling

#3017 Fix assertion failure: some reinterpret cast are not pure
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/zero_alloc_checker.ml
Labels: bug, zero alloc

#2997 Fix for allocation of closures containing unboxed values
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/simplify_shared/slot_offsets.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.mli
Labels: bug, flambda2, unboxed types

#3028 Fix bug with update_field and mixed blocks
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  ocaml/testsuite/tests/mixed-blocks/structural_constants.ml
Labels: bug, flambda2, unboxed types

#3043 mode crossing in inclusion check
  ocaml/testsuite/tests/typing-modes/crossing.ml
  ocaml/testsuite/tests/typing-modules/pr7726.ml
  ocaml/typing/ctype.ml
Labels: typing

#3044 %identity-related changes
  ocaml/runtime/misc.c
  ocaml/runtime4/misc.c
  ocaml/stdlib/obj.ml
  ocaml/stdlib/obj.mli
  ocaml/testsuite/tests/lib-obj/with_tag.ml
Labels: flambda2

#3045 Add summary comments on recursive value compilation
  ocaml/lambda/value_rec_compiler.mli
  ocaml/typing/value_rec_types.mli
Labels: documentation

#3047 Renamed shared to aliased
  chamelon/compat.jst.ml
  ocaml/testsuite/tests/formatting/test_locations.dlocations.ocamlc.reference
  ocaml/testsuite/tests/formatting/test_locations.dno-locations.ocamlc.reference
  ocaml/testsuite/tests/typing-layouts/annots.ml
  ocaml/testsuite/tests/typing-layouts/jkinds.ml
  ocaml/testsuite/tests/typing-modal-kinds/basics.ml
  ocaml/testsuite/tests/typing-modal-kinds/expected_mode.ml
  ocaml/testsuite/tests/typing-modes/class.ml
  ocaml/testsuite/tests/typing-modes/modes.ml
  ocaml/testsuite/tests/typing-modes/mutable.ml
  ocaml/testsuite/tests/typing-modes/val_modalities.ml
  ocaml/testsuite/tests/typing-unique/unique.ml
  ocaml/testsuite/tests/typing-unique/unique_analysis.ml
  ocaml/testsuite/tests/typing-unique/unique_mod_class.ml
  ocaml/testsuite/tests/typing-unique/unique_typedecl.ml
  ocaml/typing/ctype.ml
  ocaml/typing/env.ml
  ocaml/typing/mode.ml
  ocaml/typing/mode_intf.mli
  ocaml/typing/typeclass.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/typemode.ml
  ocaml/typing/uniqueness_analysis.ml
Labels: typing

#3010 Selection: refactor `emit_expr_aux` and `emit_tail`
  backend/selectgen.ml
Labels: backend

#3014 Selection: enable warnings in architecture-dependent modules
  backend/amd64/selection.ml
  backend/amd64/selection_utils.ml
  backend/arm64/selection.ml
  backend/arm64/selection_utils.ml
Labels: backend

#3026 Selection: CFG modules
  backend/.ocamlformat-enable
  backend/amd64/cfg_selection.ml
  backend/arm64/cfg_selection.ml
  backend/asmgen.ml
  backend/cfg_selectgen.ml
  backend/cfg_selectgen.mli
  backend/cfg_selection.mli
  backend/dune
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  dune
Labels: cfg, backend

#3030 Selection: CFG basics
  backend/amd64/cfg_selection.ml
  backend/arm64/cfg_selection.ml
  backend/cfg_selectgen.ml
  backend/cfg_selectgen.mli
Labels: cfg, backend

#3046 Selection: architecture-dependent elements (CFG pipeline)
  backend/amd64/cfg_selection.ml
  backend/amd64/selection.ml
  backend/amd64/selection_utils.ml
  backend/amd64/simd_selection.ml
  backend/arm64/cfg_selection.ml
  backend/cfg_selectgen.ml
  backend/cfg_selectgen.mli
Labels: cfg, backend

#3051 Fix caml_floatarray_create_local
  ocaml/runtime/array.c
  ocaml/runtime4/array.c
  ocaml/testsuite/tests/typing-local/local_floatarray_test.ml
Labels: runtime

#3053 Fix issues from a merge between `merge-5.2-staging` and `main`
  ocaml/otherlibs/dynlink/dune
  ocaml/parsing/parser.mly
  ocaml/testsuite/tests/typing-layouts-products/basics.ml
  ocaml/typing/oprint.ml
  ocaml/typing/outcometree.mli
  ocaml/typing/printtyp.ml
  ocaml/typing/typecore.ml
Labels: OCaml 5.2

#3055 Update docs post-5.2 merge
  HACKING.md
  README.md
Labels: documentation

#3039 Improves the modes of mixed recursive definitions
  ocaml/testsuite/tests/typing-modes/rec.ml
  ocaml/typing/typecore.ml
Labels: typing

#3037 Refactor constrain_type_jkind
  Makefile
  ocaml/testsuite/tests/typing-layouts-arrays/basics.ml
  ocaml/testsuite/tests/typing-layouts-arrays/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts-arrays/exp_and_pat_failing.ml
  ocaml/testsuite/tests/typing-layouts-bits32/basics.ml
  ocaml/testsuite/tests/typing-layouts-bits32/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts-bits64/basics.ml
  ocaml/testsuite/tests/typing-layouts-bits64/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/annots.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/test.ml
  ocaml/testsuite/tests/typing-layouts-float32/basics.ml
  ocaml/testsuite/tests/typing-layouts-float64/basics.ml
  ocaml/testsuite/tests/typing-layouts-gadt-sort-var/test.compilers.reference
  ocaml/testsuite/tests/typing-layouts-gadt-sort-var/test_extensible.compilers.reference
  ocaml/testsuite/tests/typing-layouts-missing-cmi/c.ml
  ocaml/testsuite/tests/typing-layouts-products/basics.ml
  ocaml/testsuite/tests/typing-layouts-word/basics.ml
  ocaml/testsuite/tests/typing-layouts-word/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts/allow_illegal_crossing.ml
  ocaml/testsuite/tests/typing-layouts/basics.ml
  ocaml/testsuite/tests/typing-layouts/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts/error_message_attr.ml
  ocaml/testsuite/tests/typing-layouts/void_alpha.ml
  ocaml/testsuite/tests/typing-missing-cmi/test.compilers.reference
  ocaml/testsuite/tests/typing-modes/rec.ml
  ocaml/typing/ctype.ml
  ocaml/typing/ctype.mli
  ocaml/typing/jkind.ml
  ocaml/typing/jkind.mli
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typeopt.ml
  ocaml/utils/misc.ml
  ocaml/utils/misc.mli
Labels: typing

#3058 Monads are hard
  ocaml/testsuite/tests/typing-layouts-products/basics.ml
  ocaml/utils/misc.ml
Labels: typing

#3032 Bound the maximum GC work caused by custom blocks
  ocaml/runtime/caml/gc_ctrl.h
  ocaml/runtime/caml/startup_aux.h
  ocaml/runtime/gc_ctrl.c
  ocaml/runtime/major_gc.c
  ocaml/runtime/startup_aux.c
  ocaml/runtime4/gc_ctrl.c
  ocaml/stdlib/gc.ml
  ocaml/stdlib/gc.mli
  ocaml/testsuite/tests/misc/gctweaks.ml
  ocaml/testsuite/tests/misc/gctweaks.reference
Labels: runtime

#2967 Improve the modes of legacy `lazy`.
  chamelon/compat.jst.ml
  ocaml/testsuite/tests/tool-toplevel/pr6468.compilers.reference
  ocaml/testsuite/tests/typing-local/local.ml
  ocaml/testsuite/tests/typing-modes/currying.ml
  ocaml/testsuite/tests/typing-modes/lazy.ml
  ocaml/testsuite/tests/typing-modes/portable-contend.ml
  ocaml/testsuite/tests/typing-modes/rec.ml
  ocaml/testsuite/tests/typing-modes/val_modalities.ml
  ocaml/typing/env.ml
  ocaml/typing/env.mli
  ocaml/typing/typecore.ml
  ocaml/typing/typecore.mli
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
Labels: typing, multicore, modes

#3061 Finish porting upstream PR 12754
  ocaml/runtime/bigarray.c
  ocaml/runtime4/caml/bigarray.h
Labels: runtime

#3062 Register separate code fragments
  ocaml/runtime/gc_ctrl.c
  ocaml/runtime/startup_aux.c
  ocaml/runtime/startup_nat.c
  ocaml/runtime4/startup_aux.c
  ocaml/runtime4/startup_nat.c
Labels: runtime, prelink

#3050 Add shared mode
  ocaml/testsuite/tests/typing-modes/portable-contend.ml
  ocaml/typing/mode.ml
  ocaml/typing/mode_intf.mli
  ocaml/typing/printtyp.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typemode.ml
Labels: typing

#3040 Migrate labeled tuples from Jane Syntax to the parsetree
  ocaml/parsing/ast_helper.ml
  ocaml/parsing/ast_helper.mli
  ocaml/parsing/ast_invariants.ml
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/depend.ml
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/parser.mly
  ocaml/parsing/parsetree.mli
  ocaml/parsing/pprintast.ml
  ocaml/parsing/printast.ml
  ocaml/testsuite/tests/parsetree/locations_test.compilers.reference
  ocaml/testsuite/tests/parsing/broken_invariants.compilers.reference
  ocaml/testsuite/tests/parsing/illegal_ppx.ml
  ocaml/testsuite/tools/expect.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typetexp.ml
  ocaml/typing/untypeast.ml
  printer/printast_with_mappings.ml
  testsuite/tools/expect.ml
Labels: lexer/parser

#3071 Add Sequence and Unboxed_product to primitive helper IR
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.mli
Labels: flambda2

#3056 Remove Lambda.alloc_mode from backend/
  backend/amd64/emit.mlp
  backend/arm64/emit.mlp
  backend/cfg/cfg.ml
  backend/cfg/cfg_comballoc.ml
  backend/cfg/cfg_intf.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/comballoc.ml
  backend/generic_fns.ml
  backend/generic_fns.mli
  backend/mach.ml
  backend/mach.mli
  backend/printcmm.ml
  backend/printmach.ml
  backend/select_utils.ml
  backend/zero_alloc_checker.ml
  file_formats/cmx_format.mli
  middle_end/compilenv.mli
  middle_end/flambda2/term_basics/alloc_mode.ml
  middle_end/flambda2/term_basics/alloc_mode.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.mli
  testsuite/tools/parsecmm.mly
  tools/flambda_backend_objinfo.ml
Labels: backend

#3074 Comment out unused max3 function
  ocaml/runtime/major_gc.c
Labels: runtime

#3078 Fix issue with section attributes produced for `.debug_str`
  backend/asm_targets/asm_section.ml
Labels: dwarf and debugging

#3063 Have `jane-street-merlin-setup.sh` put files in the current directory
  jane-street-merlin-setup.sh
Labels: merlin

#3069 Refactor multi-word array bounds check code
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
Labels: flambda2

#3076 Make bind `&` tighter than `mod` in jkind parsing
  ocaml/parsing/parser.mly
  ocaml/parsing/pprintast.ml
  ocaml/testsuite/tests/language-extensions/pprintast_unconditional.ml
  ocaml/testsuite/tests/language-extensions/pprintast_unconditional.reference
  ocaml/testsuite/tests/typing-layouts-products/basics_alpha.ml
  ocaml/typing/oprint.ml
  ocaml/utils/misc.mli
Labels: lexer/parser

#3048 Zero alloc: remove "assume" annotation when a call is inlined
  middle_end/flambda2/term_basics/inlined_debuginfo.ml
  ocaml/lambda/debuginfo.ml
  ocaml/lambda/debuginfo.mli
  ocaml/lambda/translcore.ml
  ocaml/parsing/builtin_attributes.ml
  ocaml/parsing/builtin_attributes.mli
  ocaml/utils/zero_alloc_utils.ml
  ocaml/utils/zero_alloc_utils.mli
  tests/backend/zero_alloc_checker/dune.inc
  tests/backend/zero_alloc_checker/gen/gen_dune.ml
  tests/backend/zero_alloc_checker/test_remove_inferred_assume.ml
  tests/backend/zero_alloc_checker/test_remove_inferred_assume.output
  tests/backend/zero_alloc_checker/test_remove_inferred_assume_workaround.ml
Labels: bug, zero alloc

#3080 Simplify immutable array loads when contents are known
  middle_end/flambda2/numbers/targetint_31_63.mli
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/types/provers.mli
Labels: flambda2

#1872 Use `Global_module.Name.t` to stand for a global module identifier
  middle_end/compilenv.ml
  ocaml/driver/compile_common.ml
  ocaml/file_formats/cmi_format.ml
  ocaml/file_formats/cmi_format.mli
  ocaml/middle_end/compilenv.ml
  ocaml/otherlibs/dynlink/dune
  ocaml/testsuite/tests/tool-toplevel/pr6468.compilers.reference
  ocaml/tools/Makefile
  ocaml/typing/env.ml
  ocaml/typing/env.mli
  ocaml/typing/global_module.ml
  ocaml/typing/global_module.mli
  ocaml/typing/ident.ml
  ocaml/typing/ident.mli
  ocaml/typing/persistent_env.ml
  ocaml/typing/persistent_env.mli
  ocaml/typing/typemod.ml
  ocaml/typing/typemod.mli
  ocaml/utils/compilation_unit.ml
  ocaml/utils/compilation_unit.mli
  ocaml/utils/import_info.ml
  ocaml/utils/misc.ml
  ocaml/utils/misc.mli
  tests/typing/global_module_test.ml
  tools/flambda_backend_objinfo.ml
Labels: parameterized-libs

#3093 Fix misindex in finalisation
  ocaml/runtime/finalise.c
Labels: bug, to upstream, runtime, OCaml 5.2

#3099 Fix signature inclusion bug for all-float mixed blocks
  ocaml/testsuite/tests/typing-layouts/mixed_records.ml
  ocaml/typing/includecore.ml
  ocaml/typing/includecore.mli
Labels: bug, unboxed types

#3100 Stop counting immediates as part of the non-scannable suffix (to stop misleading the optimizer)
  ocaml/testsuite/tests/mixed-blocks/test_mixed_blocks.ml
  ocaml/testsuite/tests/mixed-blocks/test_mixed_blocks.reference
  ocaml/testsuite/tests/typing-layouts/mixed_constructor_arguments.ml
  ocaml/testsuite/tests/typing-layouts/mixed_records.ml
  ocaml/typing/includecore.ml
  ocaml/typing/typedecl.ml
Labels: bug, flambda2, unboxed types

#3082 Specialize array_get primitives for iarrays
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/matching.ml
  ocaml/lambda/printlambda.ml
  ocaml/lambda/transl_array_comprehension.ml
  ocaml/lambda/translprim.ml
  ocaml/testsuite/tests/lib-array/test_iarray_typeopt.ml
  ocaml/typing/typeopt.ml
  ocaml/typing/typeopt.mli
Labels: flambda2, lambda
