Repository oxcaml/oxcaml, pull requests merged in 2024-05, with the labels that each got.

#2357 Classic mode: partially lift the restrictions on inlining functions containing closures
  middle_end/flambda2/from_lambda/closure_conversion.ml
Labels: flambda2

#2316 Document assumptions about FDO in the backend
  backend/amd64/emit.mlp
  backend/arm64/emit.mlp
  backend/asmgen.mli
Labels: documentation, backend

#2506 Add support for using zero_alloc information from a signature
  ocaml/typing/typecore.ml
  tests/backend/checkmach/dune.inc
  tests/backend/checkmach/gen/gen_dune.ml
  tests/backend/checkmach/test_signatures_first_class_modules.ml
  tests/backend/checkmach/test_signatures_first_class_modules.output
  tests/backend/checkmach/test_signatures_functors.ml
  tests/backend/checkmach/test_signatures_functors.output
  tests/backend/checkmach/test_signatures_separate.opt.output
  tests/backend/checkmach/test_signatures_separate.output
  tests/backend/checkmach/test_signatures_separate_a.ml
  tests/backend/checkmach/test_signatures_separate_b.ml
Labels: zero alloc

#2529 Backport 13099
  ocaml/testsuite/tests/typing-modules/pr13099/lib1/lib.ml
  ocaml/testsuite/tests/typing-modules/pr13099/lib1_client.ml
  ocaml/testsuite/tests/typing-modules/pr13099/lib2/lib.ml
  ocaml/testsuite/tests/typing-modules/pr13099/lib2_client.ml
  ocaml/testsuite/tests/typing-modules/pr13099/test.compilers.reference
  ocaml/testsuite/tests/typing-modules/pr13099/test.ml
  ocaml/typing/printtyp.ml
  ocaml/typing/printtyp.mli
  ocaml/typing/typecore.ml
  ocaml/typing/typemod.ml
Labels: typing, backport from upstream OCaml

#2531 Ban void in mixed products
  ocaml/testsuite/tests/typing-layouts/mixed_constructor_arguments.ml
  ocaml/testsuite/tests/typing-layouts/mixed_constructor_arguments_alpha.ml
  ocaml/testsuite/tests/typing-layouts/mixed_records.ml
  ocaml/testsuite/tests/typing-layouts/mixed_records_alpha.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typedecl.mli
Labels: typing, unboxed types

#2515 Support unboxed ints in mixed blocks
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/matching.ml
  ocaml/lambda/printlambda.ml
  ocaml/lambda/translcore.ml
  ocaml/lambda/translcore.mli
  ocaml/middle_end/clambda_primitives.ml
  ocaml/middle_end/semantics_of_primitives.ml
  ocaml/testsuite/tests/mixed-blocks/constructor_args.ml
  ocaml/testsuite/tests/mixed-blocks/constructor_args.reference
  ocaml/testsuite/tests/mixed-blocks/generate_mixed_blocks_code.ml
  ocaml/testsuite/tests/mixed-blocks/generated_byte_test.ml
  ocaml/testsuite/tests/mixed-blocks/generated_native_test.ml
  ocaml/testsuite/tests/mixed-blocks/test_mixed_blocks.ml
  ocaml/testsuite/tests/mixed-blocks/test_mixed_blocks.reference
  ocaml/testsuite/tests/typing-layouts-bits32/basics.ml
  ocaml/testsuite/tests/typing-layouts-bits32/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts-bits32/basics_beta.ml
  ocaml/testsuite/tests/typing-layouts-bits32/parsing.ml
  ocaml/testsuite/tests/typing-layouts-bits32/unboxed_bits32s_alpha.ml
  ocaml/testsuite/tests/typing-layouts-bits32/unboxed_bits32s_alpha.reference
  ocaml/testsuite/tests/typing-layouts-bits64/basics.ml
  ocaml/testsuite/tests/typing-layouts-bits64/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts-bits64/basics_beta.ml
  ocaml/testsuite/tests/typing-layouts-bits64/parsing.ml
  ocaml/testsuite/tests/typing-layouts-bits64/unboxed_bits64s_alpha.ml
  ocaml/testsuite/tests/typing-layouts-bits64/unboxed_bits64s_alpha.reference
  ocaml/testsuite/tests/typing-layouts-float64/unboxed_floats_alpha.ml
  ocaml/testsuite/tests/typing-layouts-float64/unboxed_floats_alpha.reference
  ocaml/testsuite/tests/typing-layouts-word/basics.ml
  ocaml/testsuite/tests/typing-layouts-word/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts-word/basics_beta.ml
  ocaml/testsuite/tests/typing-layouts-word/parsing.ml
  ocaml/testsuite/tests/typing-layouts-word/unboxed_nativeints_alpha.ml
  ocaml/testsuite/tests/typing-layouts-word/unboxed_nativeints_alpha.reference
  ocaml/testsuite/tests/typing-layouts/mixed_constructor_arguments.ml
  ocaml/testsuite/tests/typing-layouts/mixed_constructor_arguments_alpha.ml
  ocaml/testsuite/tests/typing-layouts/mixed_records.ml
  ocaml/testsuite/tests/typing-layouts/mixed_records_alpha.ml
  ocaml/toplevel/genprintval.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typedecl.mli
  ocaml/typing/types.ml
  ocaml/typing/types.mli
Labels: typing, middle end, unboxed types

#2536 Enable stack checks on arm64
  backend/amd64/stack_check.ml
  backend/arm64/stack_check.ml
  backend/emitaux.ml
  backend/emitaux.mli
Labels: backend, OCaml 5

#2526 Disable upstream CI builds
  .github/workflows/build.yml
Labels: build system

#2523 Remove leftover non-applicable comments
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
Labels: backend, non-material change

#2512 Zero alloc: assume error means never raises
  backend/checkmach.ml
  backend/cmm.ml
  backend/cmm.mli
  middle_end/flambda2/terms/check_attribute.ml
  middle_end/flambda2/terms/check_attribute.mli
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/parsing/builtin_attributes.ml
  ocaml/parsing/builtin_attributes.mli
  ocaml/typing/includecore.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typemod.ml
  ocaml/utils/zero_alloc_utils.ml
  ocaml/utils/zero_alloc_utils.mli
  tests/backend/checkmach/dune.inc
  tests/backend/checkmach/gen/gen_dune.ml
  tests/backend/checkmach/test_assume_error.ml
  tests/backend/checkmach/test_assume_error.output
Labels: zero alloc

#2459 Zero alloc: propagate assume on applications of externals
  ocaml/lambda/translcore.ml
  tests/backend/checkmach/dune
  tests/backend/checkmach/dune.inc
  tests/backend/checkmach/gen/gen_dune.ml
  tests/backend/checkmach/test_assume_stub.heap_allocation.output
  tests/backend/checkmach/test_assume_stub.ml
  tests/backend/checkmach/test_assume_stub.stack_allocation.output
Labels: zero alloc

#2528 Fix initialization of unboxed numbers in static blocks
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
Labels: bug, flambda2

#2548 Produce Invalid upon mode mismatch in partial application
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  ocaml/testsuite/tests/typing-local/partial_app_dead_gadt_case.ml
Labels: bug, flambda2

#2549 Fix CI warning
  .github/workflows/build.yml
Labels: CI

#2551 Force .cmx loading for zero alloc in classic mode
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_result.ml
  middle_end/flambda2/to_cmm/to_cmm_result.mli
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
Labels: flambda2, zero alloc

#2544 Tweak `lib-threads/sockets.ml` (flaky test)
  ocaml/testsuite/tests/lib-threads/sockets.ml
Labels: to upstream, testsuite

#2384 float32 flambda2 operations
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_extcall.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
Labels: flambda2, middle end

#2385 float32 backend operations
  backend/amd64/arch.ml
  backend/amd64/arch.mli
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/arm64/selection.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/cfgize.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/linear.ml
  backend/mach.ml
  backend/mach.mli
  backend/printcmm.ml
  backend/printmach.ml
  backend/regalloc/regalloc_validate.ml
  backend/selectgen.ml
  backend/x86_ast.mli
  backend/x86_binary_emitter.ml
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  ocaml/Makefile
  ocaml/runtime/caml/custom.h
  ocaml/runtime/caml/dune
  ocaml/runtime/caml/float32.h
  ocaml/runtime/custom.c
  ocaml/runtime/dune
  ocaml/runtime/float32.c
  ocaml/runtime/floats.c
  ocaml/runtime/gen_primitives.sh
  ocaml/runtime4/Makefile
  ocaml/runtime4/caml/custom.h
  ocaml/runtime4/caml/dune
  ocaml/runtime4/caml/float32.h
  ocaml/runtime4/custom.c
  ocaml/runtime4/dune
  ocaml/runtime4/float32.c
  ocaml/runtime4/gen_primitives.sh
  tests/small_numbers/basic.ml
  tests/small_numbers/dune
  tests/small_numbers/float32.ml
  tests/small_numbers/stubs.c
  testsuite/tests/unboxed-primitive-args/common.ml
  testsuite/tests/unboxed-primitive-args/common.mli
  testsuite/tests/unboxed-primitive-args/gen_test.ml
  testsuite/tests/unboxed-primitive-args/test.ml
  testsuite/tests/unboxed-primitive-args/test_common.h
  testsuite/tools/parsecmm.mly
Labels: backend

#2524 zero alloc: symbolic values (all changes in one PR)
  backend/checkmach.ml
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  ocaml/utils/zero_alloc_utils.ml
  ocaml/utils/zero_alloc_utils.mli
  tests/backend/checkmach/dune
  tests/backend/checkmach/dune.inc
  tests/backend/checkmach/fail20.ml
  tests/backend/checkmach/fail20.output
  tests/backend/checkmach/filter_fatal_error.sh
  tests/backend/checkmach/gen/gen_dune.ml
  tests/backend/checkmach/test_bounded_join.ml
  tests/backend/checkmach/test_bounded_join.output
  tests/backend/checkmach/test_bounded_join2.output
  tests/backend/checkmach/test_bounded_join3.output
  tests/backend/checkmach/test_bounded_join4.output
Labels: backend, zero alloc

#2404 Disable stack checks by default
  backend/amd64/emit.mlp
  backend/cfg/cfg_stack_checks.ml
  backend/emitaux.ml
  ocaml/configure
  ocaml/configure.ac
  ocaml/otherlibs/systhreads/st_stubs.c
  ocaml/runtime/amd64.S
  ocaml/runtime/backtrace_nat.c
  ocaml/runtime/caml/fiber.h
  ocaml/runtime/caml/m.h.in
  ocaml/runtime/caml/signals.h
  ocaml/runtime/caml/startup_aux.h
  ocaml/runtime/domain.c
  ocaml/runtime/fiber.c
  ocaml/runtime/signals_nat.c
  ocaml/runtime/startup_aux.c
  ocaml/runtime/startup_nat.c
  ocaml/utils/config.common.ml
  ocaml/utils/config.fixed.ml
  ocaml/utils/config.generated.ml.in
  ocaml/utils/config.mli
Labels: runtime, OCaml 5

#2519 Unify float sqrt/bit-cast intrinsics
  backend/amd64/CSE.ml
  backend/amd64/arch.ml
  backend/amd64/arch.mli
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/amd64/simd.ml
  backend/amd64/simd_proc.ml
  backend/amd64/simd_selection.ml
  backend/selectgen.ml
  ocaml/otherlibs/alpha/float32.ml
  ocaml/otherlibs/alpha/float32.mli
  tests/small_numbers/float32_lib.ml
Labels: backend

#2553 Disable dominator invariants
  backend/cfg/cfg_dominators.ml
Labels: cfg, backend

#2387 Use extension node for encoding labeled tuples
  ocaml/parsing/jane_syntax.ml
Labels: lexer/parser

#2520 unboxed float32
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  ocaml/asmcomp/cmmgen.ml
  ocaml/bytecomp/symtable.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/matching.ml
  ocaml/lambda/printlambda.ml
  ocaml/lambda/translcore.ml
  ocaml/lambda/translprim.ml
  ocaml/middle_end/closure/closure.ml
  ocaml/middle_end/flambda/closure_conversion.ml
  ocaml/otherlibs/alpha/alpha.ml
  ocaml/otherlibs/alpha/alpha.mli
  ocaml/otherlibs/alpha/dune
  ocaml/otherlibs/alpha/float32_u.ml
  ocaml/otherlibs/alpha/float32_u.mli
  ocaml/testsuite/tests/ppx-empty-cases/test.compilers.reference
  ocaml/testsuite/tests/typing-layouts-float32/alloc.ml
  ocaml/testsuite/tests/typing-layouts-float32/alloc.reference
  ocaml/testsuite/tests/typing-layouts-float32/basics.ml
  ocaml/testsuite/tests/typing-layouts-float32/c_api.ml
  ocaml/testsuite/tests/typing-layouts-float32/c_api.reference
  ocaml/testsuite/tests/typing-layouts-float32/parsing.ml
  ocaml/testsuite/tests/typing-layouts-float32/stubs.c
  ocaml/testsuite/tests/typing-small-numbers/test_disabled.ml
  ocaml/testsuite/tests/typing-small-numbers/test_enabled.ml
  ocaml/toplevel/genprintval.ml
  ocaml/typing/jkind.ml
  ocaml/typing/jkind.mli
  ocaml/typing/parmatch.ml
  ocaml/typing/predef.ml
  ocaml/typing/predef.mli
  ocaml/typing/primitive.ml
  ocaml/typing/printpat.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/subst.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/typeopt.ml
  ocaml/typing/untypeast.ml
  tests/small_numbers/dune
  tests/small_numbers/float32_u_lib.ml
  testsuite/tests/lib-extensions/alpha_exports.ml
  testsuite/tests/lib-extensions/modules.ml
Labels: unboxed types

#2545 Fix for missing stub inlining in classic mode
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
Labels: bug, flambda2

#2114 Fix the build system when using dune 3.11 and above
  HACKING.md
  ocaml/HACKING.jst.adoc
  ocaml/Makefile.common-jst
Labels: build system

#2558 Fix `include` in expect tests
  ocaml/ocamltest/ocaml_actions.ml
  ocaml/testsuite/tests/tool-expect-test/include.ml
  ocaml/testsuite/tools/expect_test.ml
  testsuite/tools/expect_test.ml
Labels: to upstream, testsuite

#2565 Optimized version of dominator forest
  backend/cfg/cfg_dominators.ml
Labels: cfg, backend

#2566 Delete naive version of dominator forest
  backend/cfg/cfg_dominators.ml
Labels: cfg, backend

#2360 Fix case where local functions optimisation breaks tail calls
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_env.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_env.mli
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/matching.ml
  ocaml/lambda/printlambda.ml
  ocaml/lambda/simplif.ml
  ocaml/lambda/tmc.ml
  ocaml/lambda/translclass.ml
  ocaml/lambda/translcore.ml
  ocaml/lambda/value_rec_compiler.ml
  ocaml/testsuite/tests/typing-local/tailcalls.ml
Labels: lambda

#2574 Enhancements to Lambda printing for unboxed products
  ocaml/lambda/printlambda.ml
Labels: middle end

#1753 Use `CU.Name.t` for name of .cmi; support import info for parameters
  backend/asmlink.ml
  ocaml/asmcomp/asmlink.ml
  ocaml/bytecomp/bytelink.ml
  ocaml/driver/compile_common.ml
  ocaml/file_formats/cmi_format.ml
  ocaml/file_formats/cmi_format.mli
  ocaml/testsuite/tests/templates/basic/bad_param_impl.ml
  ocaml/testsuite/tests/templates/basic/test.ml
  ocaml/tools/objinfo.ml
  ocaml/tools/ocamlcmt.ml
  ocaml/typing/env.ml
  ocaml/typing/env.mli
  ocaml/typing/persistent_env.ml
  ocaml/typing/persistent_env.mli
  ocaml/typing/typemod.ml
  ocaml/utils/import_info.ml
  ocaml/utils/import_info.mli
  tools/flambda_backend_objinfo.ml
Labels: parameterized-libs

#1764 Refactor `Persistent_env` to separate imports from bound names
  ocaml/.depend
  ocaml/testsuite/tests/templates/basic/bad_param_impl.ml
  ocaml/testsuite/tests/templates/basic/test.ml
  ocaml/typing/env.ml
  ocaml/typing/persistent_env.ml
  ocaml/typing/persistent_env.mli
Labels: parameterized-libs

#2583 Add a threshold to control the cfg-stack-check optmization
  backend/cfg/cfg_stack_checks.ml
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
Labels: cfg, backend

#2582 Disable otherlibs/beta/ on arm64 for now
  ocaml/otherlibs/beta/dune
Labels: build system

#2587 Skip closure non-scannable environment in oldify_mopup
  ocaml/runtime/minor_gc.c
  ocaml/runtime4/minor_gc.c
Labels: bug, runtime

#2361 Try to share code to pop regions in local functions optimisation
  ocaml/lambda/simplif.ml
Labels: lambda

#2584 Simplify otherlibs install stanza
  ocaml/otherlibs/alpha/dune
  ocaml/otherlibs/beta/dune
  ocaml/otherlibs/stable/dune
  ocaml/otherlibs/to_install.sh
  ocaml/otherlibs/upstream_compatible/dune
Labels: build system

#2568 Zero alloc: rename `Checks` to `Zero_alloc_info`
  backend/.ocamlformat-enable
  backend/asmpackager.ml
  backend/checks.ml
  backend/checks.mli
  backend/zero_alloc_checker.ml
  backend/zero_alloc_info.ml
  backend/zero_alloc_info.mli
  dune
  file_formats/cmx_format.mli
  middle_end/compilenv.ml
  middle_end/compilenv.mli
  tools/flambda_backend_objinfo.ml
Labels: zero alloc

#2573 Make IRC coalescing respect registers with multiple names
  .github/workflows/build.yml
  backend/amd64/emit.mlp
  backend/interf.ml
  backend/printmach.ml
  backend/reg.ml
  backend/reg.mli
  backend/regalloc/regalloc_irc.ml
  backend/regalloc/regalloc_irc_state.ml
  backend/regalloc/regalloc_irc_state.mli
Labels: bug, cfg

#2590 Rename `Float` to `Float_boxed` in flat suffix variant
  backend/cmm_helpers.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/matching.ml
  ocaml/lambda/printlambda.ml
  ocaml/lambda/translcore.ml
  ocaml/toplevel/genprintval.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/types.ml
  ocaml/typing/types.mli
Labels: unboxed types

#2554 Arrays of unboxed float32s
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/amd64/simd.ml
  backend/amd64/simd_proc.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/cfg/cfg.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/printcmm.ml
  backend/printmach.ml
  backend/selectgen.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/simplify/lifting/reification.ml
  middle_end/flambda2/simplify/rebuilt_static_const.ml
  middle_end/flambda2/simplify/rebuilt_static_const.mli
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_static_const.ml
  middle_end/flambda2/simplify/simplify_ternary_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/terms/static_const.ml
  middle_end/flambda2/terms/static_const.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  middle_end/flambda2/types/grammar/more_type_creators.ml
  middle_end/flambda2/types/provers.ml
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/transl_array_comprehension.ml
  ocaml/lambda/transl_comprehension_utils.ml
  ocaml/lambda/transl_comprehension_utils.mli
  ocaml/runtime/array.c
  ocaml/runtime/float32.c
  ocaml/runtime4/array.c
  ocaml/runtime4/float32.c
  ocaml/testsuite/tests/typing-layouts-arrays/basics.ml
  ocaml/testsuite/tests/typing-layouts-arrays/test_float32_u_array.ml
Labels: flambda2, backend, unboxed types

#2599 Improve diagnostics in Value_rec_compiler and add -dletreclambda
  ocaml/driver/main_args.ml
  ocaml/driver/main_args.mli
  ocaml/lambda/printlambda.mli
  ocaml/lambda/value_rec_compiler.ml
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
Labels: lambda

#2575 Unboxed product fixes for Lambda_to_flambda
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
Labels: bug, flambda2, unboxed types

#2605 Fix mixed-block-related segfault in runtime4's `redarken_chunk`
  ocaml/runtime4/caml/major_gc.h
  ocaml/runtime4/caml/mlvalues.h
  ocaml/runtime4/major_gc.c
  ocaml/runtime4/memory.c
  ocaml/runtime4/minor_gc.c
  ocaml/runtime4/obj.c
Labels: runtime, unboxed types

#2603 Fix for stack checks / frame pointers
  .github/workflows/build.yml
  ocaml/runtime/amd64.S
  ocaml/runtime/fiber.c
  ocaml/testsuite/tests/frame-pointers/c_call.ml
  ocaml/testsuite/tests/frame-pointers/c_call.reference
  ocaml/testsuite/tests/frame-pointers/exception_handler.ml
  ocaml/testsuite/tests/frame-pointers/exception_handler.reference
Labels: bug, runtime, OCaml 5

#2596 Refactor backend casts
  backend/CSEgen.ml
  backend/amd64/CSE.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/amd64/simd.ml
  backend/amd64/simd_proc.ml
  backend/amd64/simd_selection.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_comballoc.ml
  backend/cfg/cfg_cse.ml
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/cfgize.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_builtins.ml
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/comballoc.ml
  backend/debug/available_regs.ml
  backend/mach.ml
  backend/mach.mli
  backend/polling.ml
  backend/printcmm.ml
  backend/printcmm.mli
  backend/printmach.ml
  backend/regalloc/regalloc_invariants.ml
  backend/regalloc/regalloc_irc_utils.ml
  backend/reloadgen.ml
  backend/selectgen.ml
  backend/zero_alloc_checker.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  testsuite/tools/parsecmm.mly
Labels: backend

#2616 Fix interaction between probes and ocamldep
  ocaml/parsing/builtin_attributes.ml
  ocaml/parsing/builtin_attributes.mli
  ocaml/parsing/depend.ml
  ocaml/typing/typecore.ml
  tests/backend/probes/dune
  tests/backend/probes/for_test_ocamldep1.ml
  tests/backend/probes/for_test_ocamldep2.ml
  tests/backend/probes/test_ocamldep.expected
  tests/backend/probes/test_ocamldep.ml
Labels: tracing probes

#2620 Fix debug + no stack check mode
  ocaml/runtime/fiber.c
Labels: bug, OCaml 5

#2618 Fix issue with gadts and layouts
  ocaml/testsuite/tests/typing-layouts/basics.ml
  ocaml/typing/ctype.ml
Labels: typing, unboxed types

#2629 Fix call kinds in apply
  middle_end/flambda2/simplify/simplify_apply_expr.ml
Labels: bug, flambda2

#2630 Revert "Revert "Revert "Classic mode: partially lift the restrictions on inlining functions containing closures"""
  middle_end/flambda2/from_lambda/closure_conversion.ml
Labels: flambda2

#2631 Revert "Fix for missing stub inlining in classic mode"
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
Labels: flambda2

#2557 Zero alloc on cfg (backward dataflow)
  backend/asmgen.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_dataflow.ml
  backend/cfg/cfg_dataflow.mli
  backend/cfg/cfg_liveness.ml
  backend/cfg/cfg_liveness.mli
  backend/cfg/cfg_with_infos.ml
  backend/cfg/eliminate_dead_code.ml
  backend/regalloc/regalloc_validate.ml
  backend/zero_alloc_checker.ml
  backend/zero_alloc_checker.mli
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
Labels: cfg, backend, zero alloc

#1676 Allow unboxing to detect and delete dead code
  middle_end/flambda2/simplify/apply_cont_rewrite.ml
  middle_end/flambda2/simplify/apply_cont_rewrite.mli
  middle_end/flambda2/simplify/common_subexpression_elimination.ml
  middle_end/flambda2/simplify/continuation_extra_params_and_args.ml
  middle_end/flambda2/simplify/continuation_extra_params_and_args.mli
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/expr_builder.mli
  middle_end/flambda2/simplify/flow/flow_acc.ml
  middle_end/flambda2/simplify/flow/mutable_unboxing.ml
  middle_end/flambda2/simplify/join_points.ml
  middle_end/flambda2/simplify/simplify_apply_cont_expr.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/simplify/unboxing/unbox_continuation_params.ml
  middle_end/flambda2/simplify/unboxing/unboxers.ml
  middle_end/flambda2/simplify/unboxing/unboxers.mli
  middle_end/flambda2/simplify/unboxing/unboxing_epa.ml
  middle_end/flambda2/simplify/unboxing/unboxing_epa.mli
  middle_end/flambda2/simplify/unboxing/unboxing_types.ml
  middle_end/flambda2/simplify/unboxing/unboxing_types.mli
Labels: flambda2

#1186 New library for computing instance names after substitution
  ocaml/dune
  ocaml/typing/global_module.ml
  ocaml/typing/global_module.mli
  ocaml/utils/misc.ml
  ocaml/utils/misc.mli
  tests/typing/.ocamlformat
  tests/typing/dune
  tests/typing/global_module_test.expected
  tests/typing/global_module_test.ml
Labels: parameterized-libs

#2639 Add a dev-mode CI
  .github/workflows/build.yml
Labels: CI
