Repository oxcaml/oxcaml, pull requests merged in 2024-10, with the labels that each got.

#1873 Syntactic support for instance names as identifiers
  ocaml/driver/compile_common.ml
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_iterator.mli
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/ast_mapper.mli
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/jane_syntax_parsing.ml
  ocaml/parsing/jane_syntax_parsing.mli
  ocaml/parsing/pprintast.ml
  ocaml/testsuite/tests/language-extensions/pprintast_unconditional.ml
  ocaml/testsuite/tests/language-extensions/pprintast_unconditional.reference
  ocaml/testsuite/tests/templates/basic/bad_instance_repeated_arg_name.ml
  ocaml/testsuite/tests/templates/basic/bad_instance_repeated_arg_name.reference
  ocaml/testsuite/tests/templates/basic/test.ml
  ocaml/testsuite/tests/tool-toplevel/pr6468.compilers.reference
  ocaml/typing/env.ml
  ocaml/typing/global_module.ml
  ocaml/typing/global_module.mli
  ocaml/typing/ident.ml
  ocaml/typing/typemod.ml
  ocaml/typing/typemod.mli
  ocaml/utils/compilation_unit.ml
  ocaml/utils/language_extension.ml
  ocaml/utils/language_extension.mli
  ocaml/utils/language_extension_kernel.ml
  ocaml/utils/language_extension_kernel.mli
  ocaml/utils/profile_counters_functions.ml
  tests/typing/global_module_test.ml
Labels: parameterized-libs

#3064 Distinguish between l- and r-kinds
  ocaml/dune
  ocaml/otherlibs/dynlink/dune
  ocaml/testsuite/tests/typing-layouts-err-msg/annots.ml
  ocaml/typing/.ocamlformat-enable
  ocaml/typing/allowance.ml
  ocaml/typing/allowance.mli
  ocaml/typing/btype.mli
  ocaml/typing/ctype.ml
  ocaml/typing/ctype.mli
  ocaml/typing/env.mli
  ocaml/typing/errortrace.ml
  ocaml/typing/errortrace.mli
  ocaml/typing/jkind.ml
  ocaml/typing/jkind.mli
  ocaml/typing/jkind_types.ml
  ocaml/typing/jkind_types.mli
  ocaml/typing/mode.ml
  ocaml/typing/mode_intf.mli
  ocaml/typing/predef.mli
  ocaml/typing/solver.ml
  ocaml/typing/solver_intf.mli
  ocaml/typing/subst.ml
  ocaml/typing/typeclass.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typedecl.mli
  ocaml/typing/typemod.ml
  ocaml/typing/types.ml
  ocaml/typing/types.mli
  ocaml/typing/typetexp.ml
  ocaml/typing/typetexp.mli
Labels: typing

#3094 Reduce the need for the `pprintast_unconditional` test
  .github/workflows/document-syntax.yml
  ocaml/testsuite/tests/language-extensions/pprintast_unconditional.ml
  ocaml/testsuite/tests/language-extensions/pprintast_unconditional.reference
  ocaml/testsuite/tests/parsetree/source_jane_street.ml
  ocaml/testsuite/tests/parsetree/test.ml
  ocaml/testsuite/tests/parsetree/test_ppx.compilers.reference
Labels: lexer/parser

#3070 Clean up Cmm_helpers.arraylength
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
Labels: backend

#3103 Peephole: delete overwritten moves
  backend/peephole/peephole_rules.ml
Labels: backend

#3092 Allow unboxed products in externals
  middle_end/flambda2/from_lambda/closure_conversion.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/translcore.ml
  ocaml/lambda/translprim.ml
  ocaml/lambda/translprim.mli
  ocaml/testsuite/tests/typing-layouts-products/basics.ml
  ocaml/testsuite/tests/typing-layouts-products/externals_alpha.ml
  ocaml/testsuite/tests/typing-layouts-products/externals_beta.ml
  ocaml/testsuite/tests/typing-layouts/erasable_annot.ml
  ocaml/testsuite/tests/typing-layouts/layout_poly.ml
  ocaml/testsuite/tests/typing-layouts/layout_poly_native_beta.ml
  ocaml/testsuite/tests/typing-layouts/layout_poly_native_beta.reference
  ocaml/testsuite/tests/typing-unboxed/test.ml
  ocaml/typing/jkind.mli
  ocaml/typing/jkind_intf.ml
  ocaml/typing/jkind_types.ml
  ocaml/typing/oprint.ml
  ocaml/typing/primitive.ml
  ocaml/typing/primitive.mli
  ocaml/typing/typedecl.ml
  ocaml/typing/typedecl.mli
  ocaml/typing/typeopt.ml
  ocaml/typing/typeopt.mli
Labels: typing, unboxed types

#3108 Rename Lambda.alloc_mode to Lambda.locality_mode (no semantic change)
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/term_basics/alloc_mode.ml
  middle_end/flambda2/term_basics/alloc_mode.mli
  middle_end/flambda2/terms/code_metadata.ml
  middle_end/flambda2/terms/code_metadata.mli
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/matching.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/printlambda.mli
  ocaml/lambda/simplif.mli
  ocaml/lambda/transl_comprehension_utils.mli
  ocaml/lambda/translcore.ml
  ocaml/lambda/translcore.mli
  ocaml/lambda/translmode.mli
  ocaml/lambda/translprim.ml
Labels: lambda, uniqueness

#2965 Add Vec128 sort
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/printcmm.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/kinds/flambda_arity.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/numbers/vector_types.ml
  middle_end/flambda2/numbers/vector_types.mli
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/matching.ml
  ocaml/lambda/printlambda.ml
  ocaml/lambda/tmc.ml
  ocaml/lambda/translcore.ml
  ocaml/lambda/translprim.ml
  ocaml/lambda/value_rec_compiler.ml
  ocaml/testsuite/tests/ppx-empty-cases/test.compilers.reference
  ocaml/testsuite/tests/typing-layouts-vec128/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts-vec128/basics_beta.ml
  ocaml/testsuite/tests/typing-layouts-vec128/parsing.ml
  ocaml/toplevel/genprintval.ml
  ocaml/typing/env.ml
  ocaml/typing/jkind.ml
  ocaml/typing/jkind.mli
  ocaml/typing/jkind_intf.ml
  ocaml/typing/jkind_types.ml
  ocaml/typing/jkind_types.mli
  ocaml/typing/predef.ml
  ocaml/typing/predef.mli
  ocaml/typing/primitive.ml
  ocaml/typing/primitive.mli
  ocaml/typing/typedecl.ml
  ocaml/typing/typemod.ml
  ocaml/typing/typeopt.ml
  ocaml/utils/language_extension.ml
  ocaml/utils/language_extension.mli
  ocaml/utils/language_extension_kernel.ml
  ocaml/utils/language_extension_kernel.mli
  tests/simd/basic_u.ml
  tests/simd/consts_u.ml
  tests/simd/dune
  tests/simd/ops_u.ml
Labels: typing, unboxed types, lambda, simd

#2966 Unboxed vec128 string/bytes/bigstring/array load/store
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/translprim.ml
  ocaml/typing/primitive.ml
  tests/simd/arrays_u.ml
  tests/simd/dune
Labels: unboxed types, lambda, simd

#3077 Unboxed vec128 mixed block fields
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/matching.ml
  ocaml/testsuite/tests/mixed-blocks/generate_mixed_blocks_code.ml
  ocaml/testsuite/tests/mixed-blocks/generated_byte_test.ml
  ocaml/testsuite/tests/mixed-blocks/generated_native_test.ml
  ocaml/testsuite/tests/mixed-blocks/stubs.c
  ocaml/testsuite/tests/typing-layouts-vec128/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts-vec128/basics_beta.ml
  ocaml/testsuite/tests/typing-layouts-vec128/parsing.ml
  ocaml/toplevel/genprintval.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/types.ml
  ocaml/typing/types.mli
  ocaml/utils/misc.ml
  ocaml/utils/misc.mli
  tests/simd/basic_u.ml
Labels: flambda2, unboxed types, simd

#3101 Zero alloc: better error widen witness
  backend/zero_alloc_checker.ml
  backend/zero_alloc_checker.mli
  tests/backend/zero_alloc_checker/test_bounded_join2.output
Labels: zero alloc

#3090 Move unboxed vec128 to stable
  ocaml/jane/doc/extensions/unboxed-types/index.md
  ocaml/testsuite/tests/typing-layouts-arrays/test_vec128_u_array.ml
  ocaml/testsuite/tests/typing-layouts-vec128/basics.ml
  ocaml/testsuite/tests/typing-layouts-vec128/basics_alpha.ml
  ocaml/testsuite/tests/typing-layouts-vec128/parsing.ml
  ocaml/testsuite/tests/typing-small-numbers/test_disabled.ml
  ocaml/typing/env.ml
  ocaml/typing/jkind.ml
  ocaml/typing/predef.ml
  ocaml/typing/predef.mli
  ocaml/typing/typeopt.ml
  tests/simd/dune
Labels: unboxed types, simd

#3089 Basic overwriting syntax
  ocaml/parsing/ast_helper.ml
  ocaml/parsing/ast_helper.mli
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/depend.ml
  ocaml/parsing/lexer.mll
  ocaml/parsing/location.ml
  ocaml/parsing/location.mli
  ocaml/parsing/parser.mly
  ocaml/parsing/parsetree.mli
  ocaml/parsing/pprintast.ml
  ocaml/parsing/printast.ml
  ocaml/testsuite/tests/parsetree/source_jane_street.ml
  ocaml/testsuite/tests/typing-unique/overwriting_syntax.ml
  ocaml/testsuite/tests/typing-unique/overwriting_underscore.ml
  ocaml/typing/typecore.ml
  ocaml/utils/language_extension.ml
  ocaml/utils/language_extension.mli
  ocaml/utils/language_extension_kernel.ml
  ocaml/utils/language_extension_kernel.mli
  ocaml/utils/profile_counters_functions.ml
  printer/printast_with_mappings.ml
Labels: lexer/parser, uniqueness

#3066 Map unique_barrier information to Reads_vary
  chamelon/compat.jst.ml
  chamelon/compat.mli
  chamelon/compat.upstream.ml
  chamelon/minimizer/dummy.ml
  chamelon/minimizer/removeunusedargs.ml
  native_toplevel/opttoploop.ml
  ocaml/file_formats/cmt_format.ml
  ocaml/lambda/lambda.ml
  ocaml/lambda/lambda.mli
  ocaml/lambda/matching.ml
  ocaml/lambda/translcore.ml
  ocaml/lambda/translmode.ml
  ocaml/lambda/translmode.mli
  ocaml/testsuite/tests/basic/patmatch_split_no_or.ml
  ocaml/testsuite/tests/typing-unique/overwriting_proj_push_down_bug.ml
  ocaml/typing/mode_intf.mli
  ocaml/typing/parmatch.ml
  ocaml/typing/patterns.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/uniqueness_analysis.ml
  ocaml/typing/untypeast.ml
  ocaml/typing/value_rec_check.ml
Labels: uniqueness

#2894 Contravariance in kinds
  ocaml/testsuite/tests/typing-extensions/extensions.ml
  ocaml/testsuite/tests/typing-layouts-err-msg/test.ml
  ocaml/testsuite/tests/typing-layouts-or-null/variables.ml
  ocaml/testsuite/tests/typing-layouts/basics.ml
  ocaml/testsuite/tests/typing-layouts/modules.ml
  ocaml/testsuite/tests/typing-layouts/modules_alpha.ml
  ocaml/testsuite/tests/typing-misc/enrich_typedecl.ml
  ocaml/testsuite/tests/typing-misc/polyvars.ml
  ocaml/testsuite/tests/typing-modules/inclusion_errors.ml
  ocaml/testsuite/tests/typing-modules/merge_constraint.ml
  ocaml/testsuite/tests/typing-modules/variants_errors_test.ml
  ocaml/typing/ctype.ml
  ocaml/typing/ctype.mli
  ocaml/typing/errortrace.ml
  ocaml/typing/errortrace.mli
  ocaml/typing/includecore.ml
  ocaml/typing/includecore.mli
  ocaml/typing/includemod_errorprinter.ml
  ocaml/typing/printtyp.ml
  ocaml/typing/printtyp.mli
  ocaml/typing/typedecl.ml
Labels: typing

#3042 Reorder fields in block header
  backend/cmm_helpers.ml
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/asmcomp/cmm_helpers.mli
  ocaml/debugger/debugcom.ml
  ocaml/debugger4/debugcom.ml
  ocaml/runtime/alloc.c
  ocaml/runtime/caml/mlvalues.h
  ocaml/runtime/extern.c
  ocaml/runtime/hash.c
  ocaml/runtime/intern.c
  ocaml/runtime4/alloc.c
  ocaml/runtime4/caml/gc.h
  ocaml/runtime4/caml/mlvalues.h
  ocaml/runtime4/extern.c
  ocaml/runtime4/hash.c
  ocaml/runtime4/intern.c
  ocaml/testsuite/tests/lib-obj/get_header.ml
Labels: runtime, unboxed types

#2904 Apply improvements to the kind polymorphism design
  ocaml/jane/doc/proposals/kind-inference.md
Labels: typing

#3126 Bump magic numbers for 5.2.0minus-1
  ocaml/build-aux/ocaml_version.m4
  ocaml/configure
Labels: build system

#3127 Remove script `bump_magic_numbers.sh`
  tools/bump_magic_numbers.sh
Labels: build system

#3132 `Regalloc_ls`: stop early in `allocate_free_register`
  backend/regalloc/regalloc_ls.ml
Labels: backend

#3138 Unboxed vector types should mode cross
  ocaml/testsuite/tests/typing-layouts/jkinds.ml
  ocaml/typing/predef.ml
Labels: typing, unboxed types

#3145 Revert "Reorder fields in block header (#3042)"
  backend/cmm_helpers.ml
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/asmcomp/cmm_helpers.mli
  ocaml/debugger/debugcom.ml
  ocaml/debugger4/debugcom.ml
  ocaml/runtime/alloc.c
  ocaml/runtime/caml/mlvalues.h
  ocaml/runtime/extern.c
  ocaml/runtime/hash.c
  ocaml/runtime/intern.c
  ocaml/runtime4/alloc.c
  ocaml/runtime4/caml/gc.h
  ocaml/runtime4/caml/mlvalues.h
  ocaml/runtime4/extern.c
  ocaml/runtime4/hash.c
  ocaml/runtime4/intern.c
  ocaml/testsuite/tests/lib-obj/get_header.ml
Labels: runtime

#3067 Use shifts instead of masking to strip header reserved bits
  backend/cmm_helpers.ml
Labels: backend

#3136 No more Jane Syntax for layouts
  chamelon/minimizer/dummy.ml
  ocaml/ocamldoc/odoc_ast.ml
  ocaml/ocamldoc/odoc_sig.ml
  ocaml/parsing/ast_helper.ml
  ocaml/parsing/ast_helper.mli
  ocaml/parsing/ast_invariants.ml
  ocaml/parsing/ast_iterator.ml
  ocaml/parsing/ast_iterator.mli
  ocaml/parsing/ast_mapper.ml
  ocaml/parsing/ast_mapper.mli
  ocaml/parsing/depend.ml
  ocaml/parsing/jane_syntax.ml
  ocaml/parsing/jane_syntax.mli
  ocaml/parsing/jane_syntax_parsing.ml
  ocaml/parsing/jane_syntax_parsing.mli
  ocaml/parsing/parser.mly
  ocaml/parsing/parser_types.ml
  ocaml/parsing/parser_types.mli
  ocaml/parsing/parsetree.mli
  ocaml/parsing/pprintast.ml
  ocaml/parsing/pprintast.mli
  ocaml/parsing/printast.ml
  ocaml/testsuite/tests/language-extensions/pprintast_unconditional.ml
  ocaml/testsuite/tests/parsetree/locations_test.compilers.reference
  ocaml/testsuite/tests/parsing/attributes.compilers.reference
  ocaml/testsuite/tests/parsing/broken_invariants.compilers.reference
  ocaml/testsuite/tests/parsing/broken_invariants.ml
  ocaml/testsuite/tests/parsing/illegal_ppx.ml
  ocaml/testsuite/tests/parsing/shortcut_ext_attr.compilers.reference
  ocaml/testsuite/tests/typing-layouts-float64/unboxed_floats_disabled.compilers.reference
  ocaml/testsuite/tests/typing-layouts/immediates_disabled.compilers.reference
  ocaml/typing/jkind.ml
  ocaml/typing/jkind.mli
  ocaml/typing/jkind_types.ml
  ocaml/typing/jkind_types.mli
  ocaml/typing/predef.ml
  ocaml/typing/printtyp.ml
  ocaml/typing/printtyped.ml
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_mapper.ml
  ocaml/typing/typeclass.ml
  ocaml/typing/typecore.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/typemod.ml
  ocaml/typing/typetexp.ml
  ocaml/typing/typetexp.mli
  ocaml/typing/untypeast.ml
  ocaml/typing/untypeast.mli
  printer/printast_with_mappings.ml
Labels: lexer/parser

#3072 Refactoring for unboxed products in arrays
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_lex.ml
  middle_end/flambda2/parser/flambda_lex.mll
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mli
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/simplify/simplify_ternary_primitive.ml
  middle_end/flambda2/simplify/simplify_variadic_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/tests/mlexamples/tests3.flt
  middle_end/flambda2/tests/mlexamples/tests3_in.fl
  middle_end/flambda2/tests/mlexamples/tests3_out.fl
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
Labels: flambda2, unboxed types

#3123 Overwriting tests
  ocaml/testsuite/tests/typing-unique/overwriting.ml
  ocaml/testsuite/tests/typing-unique/overwriting_lift_constants.ml
  ocaml/testsuite/tests/typing-unique/overwriting_lift_constants.reference
  ocaml/testsuite/tests/typing-unique/overwriting_lift_constants_bug.ml
  ocaml/testsuite/tests/typing-unique/overwriting_lift_constants_bug.reference
  ocaml/testsuite/tests/typing-unique/overwriting_map.ml
  ocaml/testsuite/tests/typing-unique/overwriting_map.reference
  ocaml/testsuite/tests/typing-unique/overwriting_proj_push_down_bug.ml
  ocaml/testsuite/tests/typing-unique/overwriting_syntax.ml
  ocaml/testsuite/tests/typing-unique/rbtree.byte.reference
  ocaml/testsuite/tests/typing-unique/rbtree.ml
  ocaml/testsuite/tests/typing-unique/unique.ml
  ocaml/testsuite/tests/typing-unique/unique_analysis.ml
Labels: uniqueness

#3149 Move `backend/asm*` into `asmcomp/`
  asmcomp/.ocamlformat
  asmcomp/.ocamlformat-enable
  asmcomp/asmgen.ml
  asmcomp/asmgen.mli
  asmcomp/asmlibrarian.ml
  asmcomp/asmlibrarian.mli
  asmcomp/asmlink.ml
  asmcomp/asmlink.mli
  asmcomp/asmpackager.ml
  asmcomp/asmpackager.mli
  backend/.ocamlformat-enable
  dune
Labels: backend

#3152 Refactor Array_ref_kind and Array_set_kind in Lambda_to_flambda
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
Labels: flambda2

#2295 Continuation lifting
  .github/workflows/build.yml
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  middle_end/flambda2/bound_identifiers/bound_parameters.ml
  middle_end/flambda2/bound_identifiers/bound_parameters.mli
  middle_end/flambda2/bound_identifiers/bound_pattern.mli
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/simplify/are_lifting_conts.ml
  middle_end/flambda2/simplify/are_lifting_conts.mli
  middle_end/flambda2/simplify/continuation_extra_params_and_args.ml
  middle_end/flambda2/simplify/continuation_extra_params_and_args.mli
  middle_end/flambda2/simplify/env/downwards_acc.ml
  middle_end/flambda2/simplify/env/downwards_acc.mli
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
  middle_end/flambda2/simplify/env/one_continuation_use.ml
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/join_points.ml
  middle_end/flambda2/simplify/join_points.mli
  middle_end/flambda2/simplify/lifted_cont_params.ml
  middle_end/flambda2/simplify/lifted_cont_params.mli
  middle_end/flambda2/simplify/non_recursive_handler.ml
  middle_end/flambda2/simplify/non_recursive_handler.mli
  middle_end/flambda2/simplify/one_recursive_handler.ml
  middle_end/flambda2/simplify/one_recursive_handler.mli
  middle_end/flambda2/simplify/original_handlers.ml
  middle_end/flambda2/simplify/original_handlers.mli
  middle_end/flambda2/simplify/simplify_expr.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/types/env/aliases.ml
  middle_end/flambda2/types/env/aliases.mli
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/env/typing_env.mli
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/join_levels.ml
  middle_end/flambda2/ui/flambda_features.ml
  middle_end/flambda2/ui/flambda_features.mli
  ocaml/testsuite/tests/lib-runtime-events/test_instrumented.ml
Labels: flambda2

#3155 Improved error messages from Emit
  backend/amd64/emit.mlp
  backend/arm64/emit.mlp
Labels: backend

#3120 Refactor uses of `-directory` flag
  ocaml/lambda/translcore.ml
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
  ocaml/utils/profile.ml
Labels: bug

#3151 Fix unsoundness that locks beyond `open` are ignored
  ocaml/lambda/matching.ml
  ocaml/testsuite/tests/messages/precise_locations.ml
  ocaml/testsuite/tests/tool-toplevel/pr6468.compilers.reference
  ocaml/testsuite/tests/typing-modes/val_modalities.ml
  ocaml/testsuite/tests/typing-modules-bugs/pr9695_bad.compilers.reference
  ocaml/testsuite/tests/typing-modules/applicative_functor_type.ml
  ocaml/testsuite/tests/typing-modules/pr9695.ml
  ocaml/typing/env.ml
  ocaml/typing/env.mli
  ocaml/typing/envaux.ml
  ocaml/typing/typemod.ml
Labels: typing

#3117 Refactor string of scope
  backend/debug/dwarf/dwarf_ocaml/dwarf_abstract_instances.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_concrete_instances.ml
  backend/emitaux.ml
  backend/zero_alloc_checker.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  ocaml/bytecomp/bytegen.ml
  ocaml/lambda/debuginfo.ml
  ocaml/lambda/debuginfo.mli
  ocaml/lambda/printlambda.ml
  ocaml/lambda/translprim.ml
Labels: bug, zero alloc

#3165 Add caml_no_bytecode_impl
  ocaml/runtime/dune
  ocaml/runtime/misc.c
  ocaml/runtime4/misc.c
  ocaml/testsuite/tests/external/no_bytecode_impl.ml
Labels: runtime

#3169 Linscan (CFG): use `DLL.t` instead of `List.t` for ranges
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_ls_state.ml
  backend/regalloc/regalloc_ls_utils.ml
  backend/regalloc/regalloc_ls_utils.mli
  utils/doubly_linked_list.ml
  utils/doubly_linked_list.mli
Labels: backend

#3168 Pivot root tidyups
  HACKING.md
  jane/pull-backend-patches
Labels: documentation

#3173 Remove .github/workflows/stale.yml
  .github/workflows/stale.yml
Labels: CI

#3073 Selection: CFG pipeline
  .github/workflows/build.yml
  backend/amd64/cfg_selection.ml
  backend/arm64/cfg_selection.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfgize.ml
  backend/cfg/cfgize.mli
  backend/cfg_selectgen.ml
  backend/cfg_selectgen.mli
Labels: cfg, backend

#3177 Temporary fix for compaction / hugepage interaction - don't free pools
  runtime/gc_ctrl.c
  runtime/shared_heap.c
Labels: runtime, OCaml 5

#3153 Fix problems with allocation of stacks
  runtime/caml/fiber.h
  runtime/fiber.c
Labels: bug, runtime, OCaml 5

#3049 Support default modalities for signatures
  ocamldoc/odoc_sig.ml
  parsing/ast_helper.ml
  parsing/ast_helper.mli
  parsing/ast_iterator.ml
  parsing/ast_mapper.ml
  parsing/ast_mapper.mli
  parsing/builtin_attributes.ml
  parsing/depend.ml
  parsing/parser.mly
  parsing/parsetree.mli
  parsing/pprintast.ml
  parsing/pprintast.mli
  parsing/printast.ml
  parsing/printast.mli
  printer/printast_with_mappings.ml
  printer/printast_with_mappings.mli
  testsuite/tests/language-extensions/pprintast_unconditional.ml
  testsuite/tests/language-extensions/pprintast_unconditional.reference
  testsuite/tests/parsetree/source_jane_street.ml
  testsuite/tests/typing-modes/portable_interface.mli
  testsuite/tests/typing-modes/use_portable_interface.ml
  testsuite/tests/typing-modes/val_modalities.ml
  typing/typedecl.ml
  typing/typedecl.mli
  typing/typedtree.ml
  typing/typedtree.mli
  typing/typemod.ml
  typing/untypeast.ml
Labels: typing

#3186 Fix assert in the debug runtime from #3177
  runtime/shared_heap.c
Labels: bug, runtime

#3191 Add simd.c to gen_primitives
  runtime/dune
  runtime4/dune
  runtime4/gen_primitives.sh
Labels: runtime, simd

#3194 Remove unnecessary fields in Upwards_acc.t
  middle_end/flambda2/simplify/env/upwards_acc.ml
Labels: flambda2

#3178 Fix test for float32_cvt_i32
  flambda-backend/tests/simd/dune
  flambda-backend/tests/simd/ops.ml
  flambda-backend/tests/simd/ops_u.ml
  flambda-backend/tests/simd/stubs.c
Labels: simd

#3180 Documentation for Uniqueness
  jane/doc/extensions/uniqueness/intro.md
  jane/doc/extensions/uniqueness/pitfalls.md
  jane/doc/extensions/uniqueness/reference.md
  testsuite/tests/typing-unique/unique_documentation.ml
Labels: uniqueness

#3196 Remove unique_ and once_ keywords from printer
  testsuite/tests/parsetree/source_jane_street.ml
  testsuite/tests/typing-modal-kinds/basics.ml
  testsuite/tests/typing-modal-kinds/expected_mode.ml
  testsuite/tests/typing-modes/class.ml
  testsuite/tests/typing-modes/currying.ml
  testsuite/tests/typing-modes/lazy.ml
  testsuite/tests/typing-modes/modes.ml
  testsuite/tests/typing-modes/probe.ml
  testsuite/tests/typing-unique/unique.ml
  testsuite/tests/typing-unique/unique_analysis.ml
  testsuite/tests/typing-unique/unique_mod_class.ml
  testsuite/tests/typing-unique/unique_typedecl.ml
  typing/oprint.ml
  typing/outcometree.mli
  typing/printtyp.ml
Labels: modes

#3189 chamelon: QoL improvements
  Makefile
  chamelon/README.md
  chamelon/chamelon.ml
Labels: chamelon

#1810 Simplify terminator integer condition (contd)
  backend/cfg/simplify_terminator.ml
Labels: cfg, backend

#3206 Fix reification of mixed blocks and float blocks
  middle_end/flambda2/types/reify.ml
  testsuite/tests/mixed-blocks/reified_constants.ml
Labels: flambda2

#3208 Fix SIMD build on arm64
  runtime/simd.c
  runtime4/simd.c
Labels: build system, simd

#3205 Distinguish between "light" and "heavy" flambda2 invariants
  .github/workflows/build.yml
  driver/compenv.ml
  driver/main_args.ml
  driver/main_args.mli
  middle_end/flambda2/types/env/aliases.ml
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/ui/flambda_features.ml
  middle_end/flambda2/ui/flambda_features.mli
  utils/clflags.ml
  utils/clflags.mli
Labels: flambda2, CI

#3209 Port upstream 13584 (fixing issue 11865)
  runtime/caml/skiplist.h
  runtime/globroots.c
  runtime/skiplist.c
  testsuite/tests/regression/pr11865/mkroot.ml
  testsuite/tests/regression/pr11865/mkroot.reference
  testsuite/tests/regression/pr11865/mkroot_stubs.c
Labels: bug, runtime

#3195 Enforce arity check on return continuation in to_cmm
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  middle_end/flambda2/to_cmm/to_cmm_static.mli
Labels: flambda2

#3188 Add amd64 instrinsic for `CLDEMOTE`
  backend/amd64/CSE.ml
  backend/amd64/arch.ml
  backend/amd64/arch.mli
  backend/amd64/cfg_selection.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/x86_ast.mli
  backend/x86_binary_emitter.ml
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
Labels: backend

#3217 Ensure consistent variable binding times
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/env/typing_env_level.ml
  middle_end/flambda2/types/env/typing_env_level.mli
Labels: flambda2

#3193 Delete new caml_string_set* primitives
  lambda/translprim.ml
  testsuite/tests/prim-bigstring/non_existent_primitives.ml
  testsuite/tests/typing-layouts/generate_stringlike_indexing.ml
  testsuite/tests/typing-layouts/unboxed_int_stringlike_indexing.ml
Labels: lambda

#1256 Improvements for closure types
  middle_end/flambda2/classic_mode_types/value_approximation.ml
  middle_end/flambda2/classic_mode_types/value_approximation.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/grammar/more_type_creators.ml
  middle_end/flambda2/types/grammar/more_type_creators.mli
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/types/grammar/type_grammar.mli
  middle_end/flambda2/types/provers.ml
Labels: flambda2
