Repository oxcaml/oxcaml, pull requests merged in 2025-04, with the labels that each got.

#3776 Avoid uncaught `Not_found` arising from free vars in probes
  lambda/translcore.ml
  lambda/translcore.mli
  testsuite/tests/templates/basic/probe.ml
  typing/env.ml
  typing/env.mli
  typing/persistent_env.ml
  typing/persistent_env.mli
Labels: parameterized-libs, tracing probes

#657 Add cfg invariants pass
  .github/workflows/build.yml
  asmcomp/asmgen.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_invariants.ml
  backend/cfg/cfg_invariants.mli
  dune
Labels: cfg, backend

#3532 `local` implies `yielding`
  otherlibs/stdlib_alpha/capsule.ml
  testsuite/tests/typing-jkind-bounds/basics.ml
  testsuite/tests/typing-jkind-bounds/subsumption/modalities.ml
  testsuite/tests/typing-layouts-products/basics_alpha.ml
  testsuite/tests/typing-layouts/allow_any.ml
  testsuite/tests/typing-layouts/hash_types.ml
  testsuite/tests/typing-modes/lazy.ml
  testsuite/tests/typing-modes/yielding.ml
  typing/ctype.ml
  typing/ctype.mli
  typing/includecore.ml
  typing/jkind.ml
  typing/mode.ml
  typing/mode_intf.mli
  typing/printtyp.ml
  typing/typecore.ml
  typing/typemode.ml
Labels: modes

#3783 Remove Select_utils.common_selector
  backend/cfg_selectgen.ml
  backend/select_utils.ml
  backend/select_utils.mli
Labels: backend

#3781 Revert "Merge atomic counter inc/dec functions and use them consistently"
  runtime/bigarray.c
  runtime/caml/atomic_refcount.h
  runtime/caml/camlatomic.h
  runtime/caml/dune
  runtime/caml/misc.h
  runtime/caml/mlvalues.h
  runtime/caml/platform.h
  runtime/domain.c
  runtime/major_gc.c
  runtime/runtime_events.c
  runtime/shared_heap.c
Labels: runtime, OCaml 5

#3788 Rename sub_cfg instance variable -> current_sub_cfg
  backend/cfg_selectgen.ml
Labels: backend, non-material change

#3786 Remove backend/dune
  backend/dune
  dune
Labels: build system, non-material change

#3790 Revert "Avoid checking pending actions in Condition.wait (#3741)"
  runtime/sync.c
Labels: runtime, OCaml 5

#3792 Pass around "sub_cfg" in Cfg_selectgen
  backend/amd64/cfg_selection.ml
  backend/arm64/cfg_selection.ml
  backend/cfg_selectgen.ml
  backend/cfg_selectgen.mli
Labels: backend

#3784 Refactor stack classes
  asmcomp/asmgen.ml
  backend/.ocamlformat-enable
  backend/amd64/emit.ml
  backend/amd64/proc.ml
  backend/amd64/stack_class.ml
  backend/arm64/emit.ml
  backend/arm64/proc.ml
  backend/arm64/stack_class.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_available_regs.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg_selectgen.ml
  backend/debug/available_ranges_vars.ml
  backend/debug/available_ranges_vars.mli
  backend/debug/compute_ranges_intf.ml
  backend/debug/reg_with_debug_info.ml
  backend/debug/reg_with_debug_info.mli
  backend/linear.ml
  backend/linear.mli
  backend/printreg.ml
  backend/proc.mli
  backend/regalloc/regalloc_invariants.ml
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_stack_slots.ml
  backend/regalloc/regalloc_stack_slots.mli
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_validate.ml
  backend/stack_class.mli
  backend/stack_class_utils.ml
  backend/stack_class_utils.mli
  dune
  flambda-backend/tests/backend/regalloc_validator/check_regalloc_validation.ml
Labels: backend

#3793 Delete uses of `Reg.anonymous`
  backend/cfg_selectgen.ml
  backend/printreg.ml
  backend/reg.mli
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_utils.ml
  backend/select_utils.ml
  backend/select_utils.mli
  flambda-backend/tests/backend/regalloc_validator/check_regalloc_validation.ml
  flambda-backend/tests/backend/vectorizer/test1_vectorized.cmx.dump.expected
  flambda-backend/tests/backend/vectorizer/test_int32_unboxed_vectorized.cmx.dump.expected
  flambda-backend/tests/backend/vectorizer/test_spill_valx2_vectorized.cmx.dump.expected
Labels: backend

#3795 Remove the current_sub_cfg instance variable
  backend/cfg/sub_cfg.ml
  backend/cfg/sub_cfg.mli
  backend/cfg_selectgen.ml
  backend/cfg_selectgen.mli
  backend/select_utils.ml
  backend/select_utils.mli
Labels: backend

#3787 Clean up regalloc jobs (CI)
  .github/workflows/build.yml
Labels: backend, CI

#3778 Reset logging at the start of register allocation
  backend/regalloc/regalloc_gi.ml
  backend/regalloc/regalloc_gi_utils.ml
  backend/regalloc/regalloc_gi_utils.mli
  backend/regalloc/regalloc_irc.ml
  backend/regalloc/regalloc_irc_utils.ml
  backend/regalloc/regalloc_irc_utils.mli
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_ls_utils.ml
  backend/regalloc/regalloc_ls_utils.mli
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
Labels: backend

#3760 Use caml_array_blit for %arrayblit on Pgenarray and Paddrarray
  middle_end/flambda2/from_lambda/lambda_to_lambda_transforms.ml
Labels: unboxed types

#3798 Introduce Or_never_returns in Cfg_selectgen
  backend/arm64/cfg_selection.ml
  backend/cfg_selectgen.ml
  backend/cfg_selectgen.mli
  backend/select_utils.ml
  backend/select_utils.mli
Labels: backend

#3800 Add new interface for target-specific selection code
  backend/.ocamlformat-enable
  backend/amd64/cfg_selection.ml
  backend/arm64/cfg_selection.ml
  backend/cfg/cfg_intf.ml
  backend/cfg_selectgen.ml
  backend/cfg_selectgen.mli
  backend/cfg_selectgen_target_intf.ml
  dune
Labels: backend

#3799 Cfg_selectgen emit_expr tidyups etc
  backend/cfg_selectgen.ml
  backend/cfg_selectgen.mli
Labels: backend

#3801 Move code from Cfg_selectgen to Select_utils etc
  backend/cfg_selectgen.ml
  backend/cfg_selectgen.mli
  backend/select_utils.ml
  backend/select_utils.mli
Labels: backend

#3802 Cfg_selectgen: move code around
  backend/cfg_selectgen.ml
  backend/select_utils.ml
  backend/select_utils.mli
Labels: backend

#3803 New version of Cfg_selectgen.emit_stores
  backend/amd64/cfg_selection.ml
  backend/arm64/arch.ml
  backend/arm64/cfg_selection.ml
  backend/cfg_selectgen.ml
  backend/cfg_selectgen.mli
Labels: backend

#3782 Remove objects from instruction selection code
  asmcomp/asmgen.ml
  backend/amd64/cfg_selection.ml
  backend/arm64/cfg_selection.ml
  backend/cfg_selectgen.ml
  backend/cfg_selectgen.mli
  backend/cfg_selectgen_target_intf.ml
  backend/cfg_selection.mli
  backend/select_utils.ml
  backend/select_utils.mli
Labels: backend

#3811 Specific instructions cannot raise
  backend/amd64/arch.ml
  backend/amd64/arch.mli
  backend/amd64/cfg_selection.ml
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/arm64/arch.ml
  backend/arm64/arch.mli
  backend/arm64/cfg_selection.ml
  backend/arm64/proc.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_available_regs.ml
  backend/cfg/cfg_cse.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_invariants.ml
  backend/cfg/cfg_liveness.ml
  backend/cfg/cfg_polling.ml
  backend/cfg/cfg_stack_checks.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/simplify_terminator.ml
  backend/cfg_selectgen_target_intf.ml
  backend/operation.ml
  backend/regalloc/regalloc_invariants.ml
  backend/regalloc/regalloc_split.ml
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_validate.ml
  backend/select_utils.ml
  backend/zero_alloc_checker.ml
Labels: backend

#3769 Use the same verbose parameter for all register allocators
  backend/regalloc/NOTES.md
  backend/regalloc/regalloc_gi_utils.ml
  backend/regalloc/regalloc_gi_utils.mli
  backend/regalloc/regalloc_irc_utils.ml
  backend/regalloc/regalloc_irc_utils.mli
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_ls_utils.ml
  backend/regalloc/regalloc_ls_utils.mli
  backend/regalloc/regalloc_split_utils.ml
  backend/regalloc/regalloc_split_utils.mli
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
Labels: backend

#3815 Tidying up in Cfg_selectgen
  backend/cfg_selectgen.ml
Labels: backend, non-material change

#3818 Improve compiler comparison script
  tools/diff_compiler_versions.sh
Labels: backend

#3821 Remove all objects from ocamltest
  ocamltest/ocaml_actions.ml
  ocamltest/ocaml_compilers.ml
  ocamltest/ocaml_compilers.mli
  ocamltest/ocaml_tools.ml
  ocamltest/ocaml_tools.mli
  ocamltest/ocaml_toplevels.ml
  ocamltest/ocaml_toplevels.mli
Labels: testsuite

#3817 Remove Cmm.kind_for_unboxing
  backend/afl_instrument.ml
  backend/amd64/cfg_selection.ml
  backend/cfg_selectgen.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/cmm_invariants.ml
  backend/printcmm.ml
  flambda-backend/testsuite/tools/parsecmm.mly
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
Labels: cmm

#3822 Tweak logging code of register allocators
  backend/cfg/sub_cfg.ml
  backend/regalloc/regalloc_gi.ml
  backend/regalloc/regalloc_gi_utils.ml
  backend/regalloc/regalloc_gi_utils.mli
  backend/regalloc/regalloc_irc.ml
  backend/regalloc/regalloc_irc_state.ml
  backend/regalloc/regalloc_irc_utils.ml
  backend/regalloc/regalloc_irc_utils.mli
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_ls_state.ml
  backend/regalloc/regalloc_ls_utils.ml
  backend/regalloc/regalloc_ls_utils.mli
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_rewrite.mli
  backend/regalloc/regalloc_split.ml
  backend/regalloc/regalloc_split_state.ml
  backend/regalloc/regalloc_split_state.mli
  backend/regalloc/regalloc_split_utils.ml
  backend/regalloc/regalloc_split_utils.mli
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
Labels: backend

#3777 Simplify the logging logic (register allocators)
  backend/regalloc/regalloc_gi.ml
  backend/regalloc/regalloc_gi_utils.ml
  backend/regalloc/regalloc_gi_utils.mli
  backend/regalloc/regalloc_irc.ml
  backend/regalloc/regalloc_irc_state.ml
  backend/regalloc/regalloc_irc_utils.ml
  backend/regalloc/regalloc_irc_utils.mli
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_ls_state.ml
  backend/regalloc/regalloc_ls_utils.ml
  backend/regalloc/regalloc_ls_utils.mli
  backend/regalloc/regalloc_split.ml
  backend/regalloc/regalloc_split_state.ml
  backend/regalloc/regalloc_split_utils.ml
  backend/regalloc/regalloc_split_utils.mli
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
Labels: backend

#3805 Merge `Simple_operation` into `Operation`
  backend/amd64/cfg_selection.ml
  backend/amd64/emit.ml
  backend/amd64/simd_selection.ml
  backend/arm64/cfg_selection.ml
  backend/arm64/emit.ml
  backend/branch_relaxation.ml
  backend/cfg/cfg_comballoc.ml
  backend/cfg/cfg_cse_target_intf.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/vectorize.ml
  backend/cfg_selectgen.ml
  backend/cfg_selectgen_target_intf.ml
  backend/linear.ml
  backend/linear.mli
  backend/operation.ml
  backend/operation.mli
  backend/peephole/peephole_rules.ml
  backend/peephole/peephole_utils.ml
  backend/peephole/peephole_utils.mli
  backend/printlinear.ml
  backend/printoperation.ml
  backend/select_utils.ml
  backend/select_utils.mli
  backend/simple_operation.ml
  backend/simple_operation.mli
  dune
  flambda-backend/tests/backend/regalloc_validator/check_regalloc_validation.ml
Labels: backend

#3825 Remove references to `simple_operation.ml*` in `.ocamlformat-enable`
  backend/.ocamlformat-enable
Labels: backend, non-material change

#3700 Move `Substitution` to a dedicated top-level module
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_split.ml
  backend/regalloc/regalloc_split_utils.ml
  backend/regalloc/regalloc_split_utils.mli
  backend/regalloc/regalloc_substitution.ml
  backend/regalloc/regalloc_substitution.mli
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
  dune
Labels: backend, non-material change

#3827 Small cleanup changes in emit.ml
  backend/arm64/emit.ml
  backend/arm64_ast.ml
  backend/arm64_ast.mli
Labels: backend, arm64

#3737 Linscan: use doubly-linked lists for intervals
  backend/reg.mli
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_ls_state.ml
  backend/regalloc/regalloc_ls_utils.ml
  backend/regalloc/regalloc_ls_utils.mli
  utils/.ocamlformat-enable
  utils/doubly_linked_list.ml
  utils/doubly_linked_list.mli
Labels: backend

#3797 Refactor peephole pass
  backend/cfg_selectgen.ml
  backend/cfg_selectgen.mli
  backend/peephole/peephole_rules.ml
  backend/peephole/peephole_utils.ml
  backend/peephole/peephole_utils.mli
Labels: backend

#3649 Avoid polymorphic comparison in `backend`
  backend/afl_instrument.ml
  backend/amd64/emit.ml
  backend/branch_relaxation.ml
  backend/cmm.ml
  backend/cmm_builtins.ml
  backend/cmm_helpers.ml
  backend/cmm_invariants.ml
  backend/cmmgen_state.ml
  backend/emitaux.ml
  backend/fdo_info.ml
  backend/generic_fns.ml
  backend/linear.ml
  backend/operation.ml
  backend/printcmm.ml
  backend/printlinear.ml
  backend/printoperation.ml
  backend/printreg.ml
  backend/reg.ml
  backend/vectorize_utils.ml
  backend/x86_binary_emitter.ml
  backend/x86_dsl.ml
  backend/x86_gas.ml
  backend/x86_masm.ml
  backend/x86_proc.ml
  backend/x86_proc.mli
  backend/zero_alloc_checker.ml
  backend/zero_alloc_info.ml
Labels: cfg, backend, non-material change

#3831 Format emit.ml
  backend/.ocamlformat-enable
  backend/amd64/emit.ml
  backend/arm64/emit.ml
Labels: backend

#3830 runtime events: disable flaky test
  testsuite/tests/lib-runtime-events/test_dropped_events.ml
Labels: runtime

#3768 Cfg_simplify pass
  .github/workflows/build.yml
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/arm64/proc.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_available_regs.ml
  backend/cfg/cfg_comballoc.ml
  backend/cfg/cfg_cse.ml
  backend/cfg/cfg_deadcode.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_liveness.ml
  backend/cfg/cfg_polling.ml
  backend/cfg/cfg_simplify.ml
  backend/cfg/cfg_simplify.mli
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/cfg_with_layout.ml
  backend/cfg/cfg_with_layout.mli
  backend/cfg/disconnect_block.ml
  backend/cfg/disconnect_block.mli
  backend/cfg/eliminate_dead_blocks.ml
  backend/cfg/eliminate_dead_blocks.mli
  backend/cfg/eliminate_dead_code.ml
  backend/cfg/eliminate_dead_code.mli
  backend/cfg/eliminate_fallthrough_blocks.ml
  backend/cfg/eliminate_fallthrough_blocks.mli
  backend/cfg/merge_straightline_blocks.ml
  backend/cfg/merge_straightline_blocks.mli
  backend/cfg/vectorize.ml
  backend/cfg_selectgen.ml
  backend/regalloc/regalloc_invariants.ml
  backend/regalloc/regalloc_irc_utils.ml
  backend/regalloc/regalloc_utils.ml
  backend/select_utils.ml
  backend/zero_alloc_checker.ml
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  dune
  flambda-backend/tests/backend/regalloc_validator/check_regalloc_validation.ml
  flambda-backend/testsuite/tests/asmgen/catch-try-float.cmm
  flambda-backend/testsuite/tests/asmgen/catch-try.cmm
Labels: cfg, backend

#3522 Refactor new mode syntax
  jane/doc/extensions/modes/syntax.md
  otherlibs/stdlib_alpha/capsule.ml
  otherlibs/stdlib_alpha/effect.ml
  parsing/parser.mly
  parsing/pprintast.ml
  stdlib/gc.mli
  stdlib/random.ml
  stdlib/scanf.mli
  testsuite/tests/capsule-api/basics.ml
  testsuite/tests/capsule-api/data.ml
  testsuite/tests/capsule-api/key.ml
  testsuite/tests/capsule-api/rwlock_capsule.ml
  testsuite/tests/capsule-api/shared.ml
  testsuite/tests/compiler-libs/test_untypeast.ml
  testsuite/tests/parsetree/source_jane_street.ml
  testsuite/tests/typing-jkind-bounds/basics.ml
  testsuite/tests/typing-jkind-bounds/composite.ml
  testsuite/tests/typing-jkind-bounds/gadt.ml
  testsuite/tests/typing-jkind-bounds/modalities.ml
  testsuite/tests/typing-jkind-bounds/no_infer_with_bounds.ml
  testsuite/tests/typing-jkind-bounds/predef.ml
  testsuite/tests/typing-jkind-bounds/records.ml
  testsuite/tests/typing-jkind-bounds/subsumption/quality.ml
  testsuite/tests/typing-jkind-bounds/variants.ml
  testsuite/tests/typing-jkind-bounds/with_basics.ml
  testsuite/tests/typing-layouts/allow_any.ml
  testsuite/tests/typing-layouts/hash_types.ml
  testsuite/tests/typing-local/local.ml
  testsuite/tests/typing-modal-kinds/unboxed.ml
  testsuite/tests/typing-modes/class.ml
  testsuite/tests/typing-modes/crossing.ml
  testsuite/tests/typing-modes/currying.ml
  testsuite/tests/typing-modes/modes.ml
  testsuite/tests/typing-modes/module.ml
  testsuite/tests/typing-modes/mutable.ml
  testsuite/tests/typing-modes/portable-contend.ml
  testsuite/tests/typing-modes/probe.ml
  testsuite/tests/typing-modes/rec.ml
  testsuite/tests/typing-modes/stack.ml
  testsuite/tests/typing-modes/syntax-error.compilers.reference
  testsuite/tests/typing-modes/syntax-error.ml
  testsuite/tests/typing-modes/val_modalities.ml
  testsuite/tests/typing-modes/yielding.ml
  testsuite/tests/typing-unique/overwriting.ml
  testsuite/tests/typing-unique/unique.ml
  testsuite/tests/typing-unique/unique_typedecl.ml
  typing/printtyp.ml
  typing/typemode.ml
  typing/typemode.mli
  typing/untypeast.ml
Labels: modes

#3834 Reintroduce support for OCAMLRUNPARAM=H=1 (force hugepages)
  runtime/caml/osdeps.h
  runtime/caml/platform.h
  runtime/caml/startup_aux.h
  runtime/domain.c
  runtime/fiber.c
  runtime/gc_ctrl.c
  runtime/platform.c
  runtime/startup_aux.c
  runtime/unix.c
Labels: runtime, OCaml 5

#3835 Remove IRC-related fields from `Reg.t`
  backend/reg.ml
  backend/reg.mli
  backend/regalloc/regalloc_gi.ml
  backend/regalloc/regalloc_invariants.ml
  backend/regalloc/regalloc_irc.ml
  backend/regalloc/regalloc_irc_state.ml
  backend/regalloc/regalloc_irc_state.mli
  backend/regalloc/regalloc_irc_utils.ml
  backend/regalloc/regalloc_irc_utils.mli
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_rewrite.mli
Labels: backend

#3836 Simplify the `Utils` module (register allocation)
  backend/regalloc/regalloc_gi.ml
  backend/regalloc/regalloc_irc.ml
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_rewrite.mli
Labels: backend

#3838 Remove more fields from `Reg.t`
  backend/reg.ml
  backend/reg.mli
  backend/regalloc/regalloc_gi.ml
  backend/regalloc/regalloc_gi_utils.ml
  backend/regalloc/regalloc_gi_utils.mli
  backend/regalloc/regalloc_irc.ml
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
  backend/regalloc/regalloc_validate.ml
  utils/misc.ml
  utils/misc.mli
Labels: backend

#3774 Statefulness and visibility axes
  testsuite/tests/formatting/test_locations.dlocations.ocamlc.reference
  testsuite/tests/formatting/test_locations.dno-locations.ocamlc.reference
  testsuite/tests/templates/basic/bad_arg_impl.reference
  testsuite/tests/typing-jkind-bounds/basics.ml
  testsuite/tests/typing-jkind-bounds/composite.ml
  testsuite/tests/typing-jkind-bounds/predef.ml
  testsuite/tests/typing-jkind-bounds/printing.ml
  testsuite/tests/typing-jkind-bounds/records.ml
  testsuite/tests/typing-jkind-bounds/subsumption/constraint.ml
  testsuite/tests/typing-jkind-bounds/subsumption/functors.ml
  testsuite/tests/typing-jkind-bounds/subsumption/modalities.ml
  testsuite/tests/typing-jkind-bounds/variants.ml
  testsuite/tests/typing-layouts-or-null/test_or_null.ml
  testsuite/tests/typing-layouts-products/basics_unboxed_records.ml
  testsuite/tests/typing-layouts/allow_any.ml
  testsuite/tests/typing-layouts/basics.ml
  testsuite/tests/typing-layouts/basics_alpha.ml
  testsuite/tests/typing-modes/portable-contend.ml
  testsuite/tests/typing-modes/statefulness-visibility.ml
  typing/env.ml
  typing/jkind.ml
  typing/jkind.mli
  typing/jkind_axis.ml
  typing/mode.ml
  typing/mode_intf.mli
  typing/printtyp.ml
  typing/typecore.ml
  typing/typecore.mli
  typing/typemode.ml
  typing/typemode.mli
  typing/types.ml
  typing/types.mli
Labels: modes

#3848 Fix unused variable warning.
  runtime/unix.c
Labels: runtime, OCaml 5

#3839 flambda2-types: Do not lose array information if a field is unknown
  middle_end/flambda2/types/meet_and_join.ml
  middle_end/flambda2/types/meet_and_n_way_join.ml
Labels: flambda2

#3840 Generate and propagate never returns from emit_tuple
  backend/cfg_selectgen.ml
  backend/select_utils.ml
  backend/select_utils.mli
Labels: match-in-match, cmm

#3842 Avoid polymorphic comparisons (backend)
  backend/amd64/stack_class.ml
  backend/arm64/emit.ml
  backend/arm64/stack_class.ml
  backend/asm_targets/asm_directives_intf.ml
  backend/cfg/cfg_cse_target_intf.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_simplify.ml
  backend/cfg_selectgen_target_intf.ml
  backend/debug/compute_ranges_intf.ml
  backend/debug/dwarf/dwarf_low/dwarf_4/debug_loc_table.ml
  backend/debug/dwarf/dwarf_low/dwarf_4/debug_ranges_table.ml
  backend/debug/dwarf/dwarf_low/dwarf_4/dwarf_4_location_list.ml
  backend/debug/dwarf/dwarf_low/dwarf_4/dwarf_4_location_list_entry.ml
  backend/debug/dwarf/dwarf_low/dwarf_4/dwarf_4_range_list.ml
  backend/debug/dwarf/dwarf_low/dwarf_4/dwarf_4_range_list_entry.ml
  backend/internal_assembler/section_table.ml
  backend/stack_class_utils.ml
Labels: backend

#3823 Fix incorrect comment
  stdlib/gc.mli
Labels: runtime, OCaml 5

#3847 Cleanup of the Arm directives code
  backend/arm64/emit.ml
  backend/emitaux.ml
Labels: backend, arm64

#3852 Move "id" field first
  backend/cfg/cfg_intf.ml
Labels: backend, non-material change

#3856 chore: Remove Meet_env
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/env/typing_env.mli
Labels: flambda2

#3858 Enable warning 32 on Proc
  backend/amd64/proc.ml
Labels: backend, non-material change

#3861 Enable warnings in amd64/emit
  backend/amd64/emit.ml
  backend/arm64/emit.ml
Labels: backend, non-material change

#3849 Move block insertion to `Cfg_layout`
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_polling.ml
  backend/cfg/cfg_with_layout.ml
  backend/cfg/cfg_with_layout.mli
  backend/regalloc/regalloc_gi_utils.ml
  backend/regalloc/regalloc_gi_utils.mli
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_ls_utils.ml
  backend/regalloc/regalloc_ls_utils.mli
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_split.ml
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
Labels: backend, non-material change

#3743 Merge Cmm Ctrywith with Ccatch
  backend/afl_instrument.ml
  backend/amd64/cfg_selection.ml
  backend/cfg/sub_cfg.ml
  backend/cfg/sub_cfg.mli
  backend/cfg_selectgen.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_invariants.ml
  backend/printcmm.ml
  backend/printcmm.mli
  backend/select_utils.ml
  backend/select_utils.mli
  flambda-backend/testsuite/tools/dune
  flambda-backend/testsuite/tools/parsecmm.mly
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  testsuite/tools/parsecmm.mly
Labels: backend, cmm

#3869 Remove Ctrywith in simd_selection.ml
  backend/amd64/simd_selection.ml
Labels: backend

#3826 Import original Asm_directives module
  backend/asm_targets/asm_directives_new.ml
  backend/asm_targets/asm_directives_new.mli
  backend/asm_targets/asm_label.ml
  backend/asm_targets/asm_section.ml
  backend/asm_targets/asm_section.mli
  backend/asm_targets/asm_symbol.ml
  backend/asm_targets/asm_symbol.mli
  utils/target_system.ml
  utils/target_system.mli
Labels: backend

#3870 Linear.has_fallthrough is not always true
  backend/linear.ml
Labels: bug, backend

#3871 Format more backend files
  backend/.ocamlformat-enable
  backend/branch_relaxation.ml
  backend/branch_relaxation.mli
  backend/cmm.ml
  backend/cmm.mli
  backend/cmmgen_state.ml
  backend/cmmgen_state.mli
  backend/linear.ml
  backend/linear.mli
  backend/printcmm.ml
  backend/printcmm.mli
  backend/printlinear.ml
  backend/printlinear.mli
  backend/proc.mli
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_gas.mli
  backend/x86_masm.ml
  backend/x86_masm.mli
  backend/x86_proc.ml
  backend/x86_proc.mli
Labels: backend, non-material change

#3866 Use Typing_env_extension for CSE join result
  middle_end/flambda2/simplify/common_subexpression_elimination.ml
  middle_end/flambda2/simplify/common_subexpression_elimination.mli
  middle_end/flambda2/simplify/join_points.ml
  middle_end/flambda2/types/env/typing_env_extension.ml
  middle_end/flambda2/types/env/typing_env_extension.mli
  middle_end/flambda2/types/flambda2_types.mli
Labels: flambda2, match-in-match

#3875 Move ArraySet to utils/
  backend/regalloc/regalloc_irc_state.ml
  backend/regalloc/regalloc_irc_utils.ml
  backend/regalloc/regalloc_irc_utils.mli
  dune
  utils/.ocamlformat-enable
  utils/arrayset.ml
  utils/arrayset.mli
Labels: backend, non-material change

#3857 Emit fixed-size directives instead of instruction set specific ones
  backend/arm64/emit.ml
  backend/x86_ast.mli
  backend/x86_dsl.mli
  backend/x86_gas.ml
Labels: backend

#3876 Enable even more warnings in backend
  backend/afl_instrument.ml
  backend/afl_instrument.mli
  backend/arm64/stack_check.ml
  backend/arm64/stack_class.ml
  backend/branch_relaxation.ml
  backend/branch_relaxation.mli
  backend/branch_relaxation_intf.mli
  backend/cfg_selectgen.mli
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_builtins.ml
  backend/cmm_builtins.mli
  backend/cmm_helpers.mli
  backend/cmm_invariants.ml
  backend/cmm_invariants.mli
  backend/cmmgen_state.ml
  backend/cmmgen_state.mli
  backend/emit.mli
  backend/emitaux.ml
  backend/emitaux.mli
  backend/fdo_info.ml
  backend/fdo_info.mli
  backend/generic_fns.ml
  backend/generic_fns.mli
  backend/linear.ml
  backend/linear.mli
  backend/operation.ml
  backend/operation.mli
  backend/printcmm.ml
  backend/printcmm.mli
  backend/printlinear.ml
  backend/printlinear.mli
  backend/printoperation.ml
  backend/printoperation.mli
  backend/printreg.ml
  backend/printreg.mli
  backend/proc.mli
  backend/select_utils.ml
  backend/select_utils.mli
  backend/stack_check.mli
  backend/stack_class.mli
  backend/stack_class_utils.ml
  backend/stack_class_utils.mli
  backend/vectorize_utils.mli
  backend/x86_ast.mli
  backend/x86_ast_utils.ml
  backend/x86_ast_utils.mli
  backend/x86_binary_emitter.mli
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_gas.mli
  backend/x86_proc.ml
  backend/x86_proc.mli
  backend/zero_alloc_checker.ml
  backend/zero_alloc_checker.mli
  backend/zero_alloc_info.ml
  backend/zero_alloc_info.mli
Labels: backend, non-material change

#3878 Cleanup of the new asm directives
  backend/asm_targets/asm_directives_new.ml
  backend/asm_targets/asm_directives_new.mli
  utils/target_system.ml
  utils/target_system.mli
Labels: backend

#3867 flambda2: Do not expose relations as types
  middle_end/flambda2/simplify/common_subexpression_elimination.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/simplify/unboxing/build_unboxing_denv.ml
  middle_end/flambda2/tests/meet_test.ml
  middle_end/flambda2/types/flambda2_types.ml
  middle_end/flambda2/types/flambda2_types.mli
Labels: flambda2, match-in-match

#3880 Replace implementation of the first-class module (Arm)
  backend/arm64/emit.ml
Labels: backend, arm64

#3881 Replace implementation of the first class module (x86)
  backend/amd64/emit.ml
  backend/x86_ast.mli
  backend/x86_binary_emitter.ml
  backend/x86_gas.ml
  backend/x86_masm.ml
Labels: backend

#3772 Refactor `Reg` names & creation
  asmcomp/asmgen.ml
  backend/amd64/emit.ml
  backend/amd64/proc.ml
  backend/arm64/emit.ml
  backend/arm64/proc.ml
  backend/cfg/cfg_cse.ml
  backend/cfg_selectgen.ml
  backend/printreg.ml
  backend/reg.ml
  backend/reg.mli
  backend/regalloc/regalloc_gi.ml
  backend/regalloc/regalloc_irc_state.ml
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_ls_state.ml
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_split.ml
  backend/regalloc/regalloc_stack_slots.ml
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
  backend/regalloc/regalloc_validate.ml
  backend/select_utils.ml
  backend/select_utils.mli
  flambda-backend/tests/backend/regalloc_validator/check_regalloc_validation.ml
Labels: backend

#3780 Refactor Reg stamps & machine regs
  backend/amd64/proc.ml
  backend/arm64/proc.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/debug/reg_with_debug_info.ml
  backend/reg.ml
  backend/reg.mli
  backend/regalloc/regalloc_irc.ml
  backend/regalloc/regalloc_irc_state.ml
  backend/regalloc/regalloc_irc_state.mli
  backend/regalloc/regalloc_ls_state.ml
  backend/select_utils.ml
  flambda-backend/tests/backend/regalloc_validator/check_regalloc_validation.ml
Labels: backend

#3882 Fix for data_flow: correctly handle continuations that are never called
  middle_end/flambda2/simplify/flow/control_flow_graph.ml
Labels: flambda2, match-in-match

#3873 flambda2(types): Refactor `add_equation`
  middle_end/flambda2/types/env/aliases.ml
  middle_end/flambda2/types/env/aliases.mli
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/env/typing_env.mli
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/types/grammar/type_grammar.mli
Labels: flambda2, match-in-match

#3891 Critical edges (CFG)
  backend/cfg/cfg.ml
  backend/cfg/cfg_comballoc.ml
  backend/cfg/cfg_cse.ml
  backend/cfg/cfg_edge.ml
  backend/cfg/cfg_edge.mli
  backend/cfg/cfg_loop_infos.ml
  backend/cfg/cfg_loop_infos.mli
  backend/cfg/cfg_polling.ml
  backend/cfg/cfg_stack_checks.ml
  backend/cfg/cfg_with_layout.ml
  backend/cfg/instructionId.ml
  backend/cfg/instructionId.mli
  backend/cfg/vectorize.ml
  backend/regalloc/regalloc_gi_state.ml
  backend/regalloc/regalloc_irc_state.ml
  backend/regalloc/regalloc_ls_state.ml
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_split.ml
  backend/regalloc/regalloc_split_state.ml
  dune
  flambda-backend/tests/backend/regalloc_validator/check_regalloc_validation.ml
Labels: cfg, backend

#3898 Register classes
  asmcomp/asmgen.ml
  backend/.ocamlformat-enable
  backend/amd64/emit.ml
  backend/amd64/proc.ml
  backend/amd64/reg_class.ml
  backend/amd64/reg_class.mli
  backend/arm64/emit.ml
  backend/arm64/proc.ml
  backend/arm64/reg_class.ml
  backend/arm64/reg_class.mli
  backend/cfg/cfg.ml
  backend/cfg/cfg_available_regs.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_reg_locations.ml
  backend/debug/reg_with_debug_info.ml
  backend/debug/reg_with_debug_info.mli
  backend/printreg.ml
  backend/proc.mli
  backend/reg_class_utils.ml
  backend/reg_class_utils.mli
  backend/regalloc/regalloc_gi_utils.ml
  backend/regalloc/regalloc_gi_utils.mli
  backend/regalloc/regalloc_irc.ml
  backend/regalloc/regalloc_irc_utils.ml
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_ls_state.ml
  backend/regalloc/regalloc_ls_state.mli
  backend/regalloc/regalloc_ls_utils.ml
  backend/regalloc/regalloc_utils.ml
  dune
  flambda-backend/tests/backend/regalloc_validator/check_regalloc_validation.ml
Labels: backend

#3899 Ensure register location equality is correct
  backend/cfg/cfg.ml
  backend/debug/reg_with_debug_info.ml
  backend/reg.ml
  backend/reg.mli
Labels: backend

#3905 Fix use of -eliminate-dead-trap-handlers
  backend/cfg/cfg_simplify.ml
Labels: bug, backend

#3902 Revert order for frametable expression
  backend/arm64/emit.ml
Labels: backend, arm64

#3906 Remove direct assignment of the form x = e
  backend/amd64/emit.ml
  backend/x86_ast.mli
  backend/x86_binary_emitter.ml
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
Labels: backend

#3904 Disable macOS on x86
  configure.ac
Labels: backend

#3559 Initial stab at documenting the kind system
  jane/doc/extensions/kinds/index.md
  jane/doc/extensions/kinds/non-modal.md
  jane/doc/extensions/kinds/syntax.md
  jane/doc/extensions/kinds/types.md
  jane/doc/extensions/unboxed-types/index.md
  jane/doc/proposals/unboxed-types/kinds.md
Labels: documentation, typing

#3912 Fix register allocator selection
  asmcomp/asmgen.ml
Labels: backend

#3913 Tweak condition forcing linscan (register allocation)
  asmcomp/asmgen.ml
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
Labels: backend

#3917 Change unreachable `assert` to `Misc.fatal_errorf` (debugging arm issue)
  driver/compenv.ml
  utils/warnings.ml
  utils/warnings.mli
Labels: bug, arm64

#3918 #3917 for upstream
  .github/workflows/build.yml
  arm64-issue-debug-upstream.patch
Labels: bug, arm64

#3921 `DLS.access` allows once
  stdlib/domain.ml
  stdlib/domain.mli
Labels: domains, stdlib

#3909 Fix stack offsets
  backend/amd64/emit.ml
  backend/arm64/emit.ml
  backend/branch_relaxation.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/linear_utils.ml
  backend/debug/available_ranges_vars.ml
  backend/debug/compute_ranges.ml
  backend/emitaux.ml
  backend/linear.ml
  backend/linear.mli
  backend/printlinear.ml
  backend/select_utils.ml
  backend/select_utils.mli
Labels: bug, backend

#3887 Stable ordering for bound continuations
  middle_end/flambda2/algorithms/lmap.ml
  middle_end/flambda2/algorithms/lmap.mli
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/identifiers/continuation.ml
  middle_end/flambda2/identifiers/continuation.mli
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/reaper/rebuild.ml
  middle_end/flambda2/reaper/rebuilt_expr.ml
  middle_end/flambda2/reaper/rebuilt_expr.mli
  middle_end/flambda2/reaper/rev_expr.ml
  middle_end/flambda2/reaper/rev_expr.mli
  middle_end/flambda2/reaper/traverse.ml
  middle_end/flambda2/simplify/original_handlers.ml
  middle_end/flambda2/simplify/original_handlers.mli
  middle_end/flambda2/simplify/rebuilt_expr.mli
  middle_end/flambda2/simplify/simplify_expr.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.mli
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
Labels: flambda2, match-in-match

#3303 Index lifted cont params by variables instead of custom indexes
  middle_end/flambda2/simplify/lifted_cont_params.ml
  middle_end/flambda2/simplify/lifted_cont_params.mli
Labels: flambda2, match-in-match

#3927 Cfg invariant allow Stack_check
  backend/cfg/cfg_invariants.ml
Labels: bug, backend

#3572 removed unary negation from flambda
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/tests/mlexamples/tests15.flt
  middle_end/flambda2/tests/mlexamples/tests15_in.fl
  middle_end/flambda2/tests/mlexamples/tests15_out.fl
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
Labels: flambda2

#3708 Avoid needless dependency on parameter .cmi by introducing `Parameter_name.t`
  driver/compile.ml
  driver/compile.mli
  driver/compile_common.ml
  driver/compmisc.ml
  driver/instantiator.ml
  driver/instantiator.mli
  driver/optcompile.ml
  file_formats/cmi_format.ml
  file_formats/cmi_format.mli
  flambda-backend/tests/typing/global_module_test.expected
  flambda-backend/tests/typing/global_module_test.ml
  lambda/lambda.ml
  lambda/lambda.mli
  middle_end/compilenv.ml
  testsuite/tests/templates/basic/main-ocamlobjinfo.reference
  testsuite/tests/templates/dunelike/test_byte.ml
  testsuite/tests/templates/dunelike/test_native.ml
  tools/objinfo.ml
  typing/env.ml
  typing/env.mli
  typing/global_module.ml
  typing/global_module.mli
  typing/persistent_env.ml
  typing/persistent_env.mli
  typing/printtyp.ml
  typing/signature_with_global_bindings.ml
  typing/signature_with_global_bindings.mli
  typing/typemod.ml
  typing/typemod.mli
  utils/compilation_unit.ml
  utils/compilation_unit.mli
Labels: parameterized-libs

#3924 Reverse Poptrap instructions before Return
  backend/select_utils.ml
Labels: bug, backend

#3302 Add replay history to match names between two downwards traversals
  middle_end/flambda2/bound_identifiers/bound_continuations.ml
  middle_end/flambda2/bound_identifiers/bound_for_function.ml
  middle_end/flambda2/bound_identifiers/bound_parameter.ml
  middle_end/flambda2/bound_identifiers/bound_parameter.mli
  middle_end/flambda2/bound_identifiers/bound_parameters.ml
  middle_end/flambda2/bound_identifiers/bound_pattern.ml
  middle_end/flambda2/bound_identifiers/bound_var.ml
  middle_end/flambda2/identifiers/continuation.ml
  middle_end/flambda2/identifiers/continuation.mli
  middle_end/flambda2/identifiers/variable.ml
  middle_end/flambda2/identifiers/variable.mli
  middle_end/flambda2/nominal/bindable.ml
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
  middle_end/flambda2/simplify/env/replay_history.ml
  middle_end/flambda2/simplify/env/replay_history.mli
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/join_points.ml
  middle_end/flambda2/simplify/join_points.mli
  middle_end/flambda2/simplify/lifted_cont_params.ml
  middle_end/flambda2/simplify/lifted_cont_params.mli
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify_shared/call_site_inlining_decision_type.ml
  middle_end/flambda2/simplify_shared/call_site_inlining_decision_type.mli
  middle_end/flambda2/terms/result_types.ml
Labels: flambda2, match-in-match

#3936 Add doc pages for SIMD/small-numbers
  jane/doc/extensions/_08-miscellaneous-extensions/simd.md
  jane/doc/extensions/_08-miscellaneous-extensions/small-numbers.md
Labels: documentation, simd
