Repository oxcaml/oxcaml, pull requests merged in 2025-03, with the labels that each got.

#3461 Alternative effects API
  otherlibs/stdlib_alpha/effect.ml
  otherlibs/stdlib_alpha/effect.mli
  otherlibs/stdlib_alpha/stdlib_alpha.ml
  otherlibs/stdlib_alpha/stdlib_alpha.mli
  testsuite/tests/effects-api/cmphash.ml
  testsuite/tests/effects-api/cmphash.reference
  testsuite/tests/effects-api/effects.ml
  testsuite/tests/effects-api/effects.reference
  testsuite/tests/effects-api/evenodd.ml
  testsuite/tests/effects-api/evenodd.reference
  testsuite/tests/effects-api/manylive.ml
  testsuite/tests/effects-api/manylive.reference
  testsuite/tests/effects-api/overflow.ml
  testsuite/tests/effects-api/overflow.reference
  testsuite/tests/effects-api/partial.ml
  testsuite/tests/effects-api/partial.reference
  testsuite/tests/effects-api/reperform.ml
  testsuite/tests/effects-api/reperform.reference
  testsuite/tests/effects-api/sched.ml
  testsuite/tests/effects-api/sched.reference
  testsuite/tests/effects-api/shallow_state.ml
  testsuite/tests/effects-api/shallow_state.reference
  testsuite/tests/effects-api/shallow_state_io.ml
  testsuite/tests/effects-api/shallow_state_io.reference
  testsuite/tests/effects-api/shallow_state_io_local.ml
  testsuite/tests/effects-api/shallow_state_io_local.reference
  testsuite/tests/effects-api/test1.ml
  testsuite/tests/effects-api/test1.reference
  testsuite/tests/effects-api/test10.ml
  testsuite/tests/effects-api/test10.reference
  testsuite/tests/effects-api/test11.ml
  testsuite/tests/effects-api/test11.reference
  testsuite/tests/effects-api/test2.ml
  testsuite/tests/effects-api/test2.reference
  testsuite/tests/effects-api/test3.ml
  testsuite/tests/effects-api/test3.reference
  testsuite/tests/effects-api/test4.ml
  testsuite/tests/effects-api/test4.reference
  testsuite/tests/effects-api/test5.ml
  testsuite/tests/effects-api/test5.reference
  testsuite/tests/effects-api/used_cont.ml
  testsuite/tests/effects-api/used_cont.reference
Labels: effects

#3642 Avoid polymorphic comparison in `backend/{cfg,peephole,regalloc}`
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_available_regs.ml
  backend/cfg/cfg_comballoc.ml
  backend/cfg/cfg_cse.ml
  backend/cfg/cfg_deadcode.ml
  backend/cfg/cfg_dominators.ml
  backend/cfg/cfg_liveness.ml
  backend/cfg/cfg_loop_infos.ml
  backend/cfg/cfg_polling.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/cfg_with_infos.ml
  backend/cfg/cfg_with_layout.ml
  backend/cfg/disconnect_block.ml
  backend/cfg/eliminate_dead_blocks.ml
  backend/cfg/eliminate_dead_code.ml
  backend/cfg/eliminate_fallthrough_blocks.ml
  backend/cfg/extra_debug.ml
  backend/cfg/instructionId.ml
  backend/cfg/label.ml
  backend/cfg/linear_utils.ml
  backend/cfg/merge_straightline_blocks.ml
  backend/cfg/simplify_terminator.ml
  backend/cfg/sub_cfg.ml
  backend/cfg/vectorize.ml
  backend/peephole/peephole_optimize.ml
  backend/peephole/peephole_rules.ml
  backend/peephole/peephole_utils.ml
  backend/reg.ml
  backend/reg.mli
  backend/regalloc/regalloc_gi.ml
  backend/regalloc/regalloc_gi_state.ml
  backend/regalloc/regalloc_gi_utils.ml
  backend/regalloc/regalloc_invariants.ml
  backend/regalloc/regalloc_irc.ml
  backend/regalloc/regalloc_irc_state.ml
  backend/regalloc/regalloc_irc_utils.ml
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_ls_state.ml
  backend/regalloc/regalloc_ls_utils.ml
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_split.ml
  backend/regalloc/regalloc_split_state.ml
  backend/regalloc/regalloc_split_utils.ml
  backend/regalloc/regalloc_split_utils.mli
  backend/regalloc/regalloc_stack_slots.ml
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
  backend/regalloc/regalloc_validate.ml
  backend/simple_operation.ml
  backend/simple_operation.mli
  utils/misc.ml
  utils/misc.mli
Labels: cfg, backend, non-material change

#3643 Avoid polymorphic comparison in `backend/amd64`
  backend/amd64/CSE.ml
  backend/amd64/arch.ml
  backend/amd64/emit.ml
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/amd64/simd.ml
  backend/amd64/simd_proc.ml
  backend/amd64/simd_reload.ml
  backend/amd64/simd_selection.ml
  backend/amd64/stack_check.ml
  backend/amd64/vectorize_specific.ml
  backend/x86_ast_utils.ml
  backend/x86_ast_utils.mli
  dune
Labels: cfg, backend, non-material change

#3656 Ensure root safety in caml_register_named_value.
  runtime/callback.c
  runtime/signals.c
Labels: bug, runtime, OCaml 5

#3404 Refactor cmm functions to be more generic over operand width
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/z3/sign_extension.py
Labels: cmm

#3658 Enable more warnings under `backend/regalloc`
  backend/regalloc/regalloc_gi.ml
  backend/regalloc/regalloc_gi.mli
  backend/regalloc/regalloc_gi_state.ml
  backend/regalloc/regalloc_gi_state.mli
  backend/regalloc/regalloc_gi_utils.ml
  backend/regalloc/regalloc_gi_utils.mli
  backend/regalloc/regalloc_invariants.ml
  backend/regalloc/regalloc_invariants.mli
  backend/regalloc/regalloc_irc.ml
  backend/regalloc/regalloc_irc.mli
  backend/regalloc/regalloc_irc_state.ml
  backend/regalloc/regalloc_irc_state.mli
  backend/regalloc/regalloc_irc_utils.ml
  backend/regalloc/regalloc_irc_utils.mli
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_ls.mli
  backend/regalloc/regalloc_ls_state.ml
  backend/regalloc/regalloc_ls_state.mli
  backend/regalloc/regalloc_ls_utils.ml
  backend/regalloc/regalloc_ls_utils.mli
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_rewrite.mli
  backend/regalloc/regalloc_split.ml
  backend/regalloc/regalloc_split.mli
  backend/regalloc/regalloc_split_state.ml
  backend/regalloc/regalloc_split_state.mli
  backend/regalloc/regalloc_split_utils.ml
  backend/regalloc/regalloc_split_utils.mli
  backend/regalloc/regalloc_stack_operands.mli
  backend/regalloc/regalloc_stack_slots.ml
  backend/regalloc/regalloc_stack_slots.mli
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
  backend/regalloc/regalloc_validate.ml
  backend/regalloc/regalloc_validate.mli
Labels: cfg, backend

#3665 Move unboxed product arrays to stable
  lambda/translprim.ml
  testsuite/tests/flambda/incompatible_arrays.ml
  testsuite/tests/lib-obj/uniform_or_mixed.ml
  testsuite/tests/mixed-blocks/constructor_args.ml
  testsuite/tests/mixed-blocks/generate_mixed_blocks_code.ml
  testsuite/tests/mixed-blocks/generated_byte_test.ml
  testsuite/tests/mixed-blocks/generated_native_test.ml
  testsuite/tests/mixed-blocks/hash.ml
  testsuite/tests/mixed-blocks/recursive_mixed_blocks.ml
  testsuite/tests/mixed-blocks/reified_constants.ml
  testsuite/tests/mixed-blocks/structural_constants.ml
  testsuite/tests/mixed-blocks/test_mixed_blocks.ml
  testsuite/tests/mixed-blocks/test_printing.ml
  testsuite/tests/mixed-blocks/typing_recursive_mixed_blocks.ml
  testsuite/tests/mixed-blocks/variant_unboxing.ml
  testsuite/tests/shape-index/index_unboxed_labels.ml
  testsuite/tests/shapes/unboxed_records.ml
  testsuite/tests/typing-layouts-arrays/array_element_size_in_bytes.ml
  testsuite/tests/typing-layouts-arrays/generate_makearray_dynamic_tests.ml
  testsuite/tests/typing-layouts-arrays/generated_test.ml
  testsuite/tests/typing-layouts-arrays/test_float_u_array.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_1.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_2.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_with_uninit_1.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_with_uninit_2.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_1.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_2.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_3.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_4.ml
  testsuite/tests/typing-layouts-products/product_arrays.ml
  testsuite/tests/typing-layouts-products/product_iarrays.ml
  testsuite/tests/typing-layouts/layout_poly.ml
  testsuite/tests/typing-local/local-layouts.ml
  testsuite/tests/typing-modes/tuple_modes.ml
  testsuite/tests/typing-unique/unique_analysis.ml
  typing/typeopt.ml
Labels: unboxed types

#3655 `Immediate_or_null` and with-bounds for `or_null`
  otherlibs/stdlib_beta/or_null.ml
  otherlibs/stdlib_beta/or_null.mli
  testsuite/tests/typing-layouts-or-null/containers.ml
  testsuite/tests/typing-layouts-or-null/immediate.ml
  testsuite/tests/typing-layouts-or-null/reexport.ml
  testsuite/tests/typing-layouts-or-null/test_or_null.ml
  typing/jkind.ml
  typing/jkind.mli
  typing/jkind_intf.ml
  typing/predef.ml
  typing/predef.mli
  typing/typedecl.ml
Labels: or_null

#3653 Specialize comparisons in presence of `immediate_or_null` correctly.
  lambda/matching.ml
  lambda/translclass.ml
  lambda/translcore.ml
  lambda/translprim.ml
  otherlibs/stdlib_beta/or_null.ml
  otherlibs/stdlib_beta/or_null.mli
  testsuite/tests/typing-layouts-or-null/containers.ml
  testsuite/tests/typing-layouts-or-null/immediate.ml
  testsuite/tests/typing-layouts-or-null/immediate_comparison.ml
  testsuite/tests/typing-layouts-or-null/reexport.ml
  testsuite/tests/typing-layouts-or-null/stubs.c
  testsuite/tests/typing-layouts-or-null/test_or_null.ml
  testsuite/tests/typing-layouts-or-null/untagged.compilers.reference
  testsuite/tests/typing-layouts-or-null/untagged.ml
  typing/ctype.ml
  typing/ctype.mli
  typing/jkind.ml
  typing/jkind.mli
  typing/jkind_intf.ml
  typing/predef.ml
  typing/predef.mli
  typing/typedecl.ml
  typing/typeopt.ml
  typing/typeopt.mli
Labels: or_null

#3645 Avoid polymorphic comparison in `backend/arm64`
  backend/arm64/CSE.ml
  backend/arm64/arch.ml
  backend/arm64/proc.ml
  backend/arm64/regalloc_stack_operands.ml
  backend/arm64/reload.ml
  backend/arm64/selection.ml
  backend/arm64/simd.ml
  backend/arm64/simd_proc.ml
  backend/arm64/simd_reload.ml
  backend/arm64/simd_selection.ml
  backend/arm64/stack_check.ml
  backend/arm64/vectorize_specific.ml
Labels: cfg, backend, non-material change

#3668 Shape UIDs for parameter modules
  typing/persistent_env.ml
  typing/shape.ml
  typing/shape.mli
Labels: parameterized-libs

#3571 Easy compare script
  Makefile.common-jst
  tools/compare.sh
Labels: build system

#3660 Add some CRs for with-bounds (layouts v2.8) things we want to do later
  typing/ctype.ml
  typing/datarepr.ml
  typing/types.ml
Labels: typing, modes

#3664 Infer with-bounds for tuples
  testsuite/tests/parsetree/source_jane_street.ml
  testsuite/tests/typing-jkind-bounds/basics.ml
  testsuite/tests/typing-jkind-bounds/subsumption/constraint.ml
  testsuite/tests/typing-jkind-bounds/subsumption/quality.ml
  testsuite/tests/typing-jkind-bounds/subsumption/recursive.ml
  testsuite/tests/typing-jkind-bounds/with_basics.ml
  testsuite/tests/typing-layouts/basics.ml
  testsuite/tests/typing-layouts/basics_alpha.ml
  testsuite/tests/typing-poly/pr9603.ml
  typing/ctype.ml
  typing/jkind.ml
  typing/jkind.mli
Labels: typing, modes

#3659 Drop `jkind_of_first_type`
  testsuite/tests/typing-local/local.ml
  typing/ctype.ml
  typing/jkind.ml
  typing/jkind.mli
  typing/typedecl.ml
Labels: typing, modes

#3670 Keep track of relevant axes when descending in normalize
  testsuite/tests/typing-jkind-bounds/modalities.ml
  typing/jkind.ml
Labels: typing, modes

#3674 Fix: compare peek and poke kinds
  middle_end/flambda2/terms/flambda_primitive.ml
Labels: flambda2

#3676 Remove incorrect debug-only accounting code (and rename a function)
  runtime/minor_gc.c
Labels: runtime, OCaml 5

#3680 optimized bounds-checks to eliminate some shifts
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
Labels: flambda2

#3671 Fix mode crossing inference for `[@@unboxed]` types
  testsuite/tests/typing-jkind-bounds/basics.ml
  testsuite/tests/typing-jkind-bounds/modalities.ml
  testsuite/tests/typing-modal-kinds/unboxed.ml
  testsuite/tests/typing-modes/crossing.ml
  typing/ctype.ml
  typing/ctype.mli
  typing/jkind.ml
  typing/jkind.mli
  typing/typedecl.ml
  typing/typedecl_separability.ml
  typing/types.ml
  typing/types.mli
Labels: typing, modes

#3667 Improve formatting in Asmgen
  asmcomp/asmgen.ml
  backend/printmach.ml
Labels: backend, non-material change

#3647 Fix bug in lazy pattern matching
  bytecomp/bytegen.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/tmc.ml
  lambda/translcore.ml
  lambda/translprim.ml
  lambda/value_rec_compiler.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  testsuite/tests/lazy/lazy9.ml
  testsuite/tests/lazy/lazy9.reference
Labels: bug, to upstream, flambda2

#3663 Fix untypeast/pprintast bug (backport upstream 13845)
  testsuite/tests/compiler-libs/test_untypeast.ml
  typing/untypeast.ml
Labels: typing, lexer/parser

#3692 datalog: Always set table in Cursor.bind_table
  middle_end/flambda2/datalog/cursor.ml
Labels: flambda2

#3696 Indent Invalid properly in -dflambda
  middle_end/flambda2/terms/flambda.ml
Labels: flambda2

#3695 Allow (most) kind checks to be turned off
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  middle_end/flambda2/bound_identifiers/bound_parameter.ml
  middle_end/flambda2/bound_identifiers/bound_parameter.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/simplify/env/continuation_uses.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_primitive.ml
  middle_end/flambda2/simplify/simplify_static_const.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/types/grammar/type_grammar.mli
  middle_end/flambda2/types/meet_and_join_new.ml
  middle_end/flambda2/types/meet_and_join_old.ml
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/ui/flambda_features.ml
  middle_end/flambda2/ui/flambda_features.mli
Labels: flambda2, unboxed types

#3701 arm64: allow unaligned accesses
  backend/arm64/arch.ml
Labels: backend, arm64

#3715 Remove unused fields from `Reg.t`
  backend/reg.ml
  backend/reg.mli
Labels: backend, non-material change

#3714 Delete `backend/amd64/selection.ml`
  backend/amd64/selection.ml
Labels: backend, non-material change

#3678 Remove obsolete uses of dom_st->allocated_words_direct.
  runtime/major_gc.c
Labels: runtime, OCaml 5

#3672 Resurrect GC parameter caml_major_heap_increment
  runtime/caml/startup_aux.h
  runtime/gc_ctrl.c
  runtime/shared_heap.c
  runtime/startup_aux.c
  stdlib/gc.mli
Labels: runtime, OCaml 5

#3717 Cfg: Treat noalloc extcalls as not raising
  backend/cfg/cfg.ml
Labels: cfg

#3706 Arm64 SIMD DSL
  backend/.ocamlformat-enable
  backend/amd64/simd_reload.ml
  backend/arm64/CSE.ml
  backend/arm64/arch.ml
  backend/arm64/arch.mli
  backend/arm64/cfg_selection.ml
  backend/arm64/emit.mlp
  backend/arm64/simd.ml
  backend/arm64/simd_proc.ml
  backend/arm64/simd_reload.ml
  backend/arm64/simd_selection.ml
  backend/arm64/vectorize_specific.ml
  backend/arm64_ast.ml
  backend/arm64_ast.mli
  backend/reg.ml
  backend/x86_ast.mli
  dune
Labels: backend, arm64

#3705 Arm64: runtime simd intrinsics
  runtime/caml/simd.h
  runtime/simd.c
  runtime4/caml/simd.h
  runtime4/simd.c
Labels: runtime, arm64

#3587 Generally better runtime logging
  man/ocamlrun.1
  manual/src/cmds/runtime.etex
  runtime/caml/misc.h
  runtime/compare.c
  runtime/domain.c
  runtime/extern.c
  runtime/fiber.c
  runtime/gc_ctrl.c
  runtime/intern.c
  runtime/major_gc.c
  runtime/memory.c
  runtime/meta.c
  runtime/minor_gc.c
  runtime/misc.c
  runtime/shared_heap.c
  stdlib/gc.mli
Labels: runtime, OCaml 5

#3543 Reduce default space overhead from 160 to 80
  runtime/caml/config.h
  stdlib/gc.mli
Labels: runtime, OCaml 5

#3681 Extend the Xgc_pacing_policy tweak to allow a "full 2025" option.
  runtime/major_gc.c
Labels: runtime, OCaml 5

#3723 Remove unused trivial_data variable
  runtime/major_gc.c
Labels: runtime, non-material change, OCaml 5

#3633 More `or_null` tests
  testsuite/tests/typing-layouts-or-null/optimized.ml
  testsuite/tests/typing-layouts-or-null/optimized.reference
Labels: or_null

#3688 Remove Cassign and Cmut_let
  backend/afl_instrument.ml
  backend/amd64/cfg_selection.ml
  backend/cfg_selectgen.ml
  backend/cfg_selectgen.mli
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/cmm_invariants.ml
  backend/printcmm.ml
  backend/select_utils.ml
  backend/select_utils.mli
  exn.ml
  flambda-backend/testsuite/tests/asmgen/arith.cmm
  flambda-backend/testsuite/tests/asmgen/immediates.cmm
  flambda-backend/testsuite/tests/asmgen/integr.cmm
  flambda-backend/testsuite/tests/asmgen/quicksort.cmm
  flambda-backend/testsuite/tests/asmgen/quicksort2.cmm
  flambda-backend/testsuite/tests/asmgen/soli.cmm
  flambda-backend/testsuite/tests/asmgen/tagged-integr.cmm
  flambda-backend/testsuite/tests/asmgen/tagged-quicksort.cmm
  flambda-backend/testsuite/tools/parsecmm.mly
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  testsuite/tests/async-exns/async_exns_1.ml
  testsuite/tests/exception-extra-args/exception_extra_args.ml
  testsuite/tests/exception-extra-args/exception_extra_args.reference
  testsuite/tools/parsecmm.mly
Labels: cmm

#3727 Rename Meet_and_join_new to Meet_and_join
  middle_end/flambda2/types/flambda2_types.ml
  middle_end/flambda2/types/join_levels.ml
  middle_end/flambda2/types/meet_and_join.ml
  middle_end/flambda2/types/meet_and_join.mli
Labels: flambda2

#3729 Remove allocation near unsafe effect primitive
  otherlibs/stdlib_alpha/effect.ml
Labels: bug, OCaml 5

#3725 arm64.S changes for locals x effects
  runtime/arm64.S
  testsuite/tests/typing-local/effects.ml
Labels: runtime, OCaml 5, effects, arm64

#3710 Arm64: emit casts with float32 and vec128
  backend/arm64/emit.mlp
Labels: backend, arm64

#3636 Some `value_or_null` support in Stdlib
  flambda-backend/tests/backend/zero_alloc_checker/test_custom_error_msg.opt.output
  flambda-backend/tests/backend/zero_alloc_checker/test_custom_error_msg.output
  stdlib/bytes.mli
  stdlib/bytesLabels.mli
  stdlib/either.ml
  stdlib/either.mli
  stdlib/fun.ml
  stdlib/fun.mli
  stdlib/list.ml
  stdlib/list.mli
  stdlib/listLabels.mli
  stdlib/marshal.ml
  stdlib/marshal.mli
  stdlib/option.ml
  stdlib/option.mli
  stdlib/printexc.ml
  stdlib/printexc.mli
  stdlib/queue.ml
  stdlib/queue.mli
  stdlib/result.ml
  stdlib/result.mli
  stdlib/seq.ml
  stdlib/seq.mli
  stdlib/stack.ml
  stdlib/stack.mli
  stdlib/stdlib.ml
  stdlib/stdlib.mli
  stdlib/string.mli
  stdlib/stringLabels.mli
  stdlib/type.ml
  stdlib/type.mli
  testsuite/tests/backtrace/pr2195-locs.byte.reference
  testsuite/tests/backtrace/pr2195.opt.reference
  testsuite/tests/statmemprof/callstacks.flat-float-array.byte.reference
  testsuite/tests/statmemprof/callstacks.flat-float-array.opt.reference
  testsuite/tests/typing-layouts-bits32/basics.ml
  testsuite/tests/typing-layouts-bits32/basics_alpha.ml
  testsuite/tests/typing-layouts-bits64/basics.ml
  testsuite/tests/typing-layouts-bits64/basics_alpha.ml
  testsuite/tests/typing-layouts-float32/basics.ml
  testsuite/tests/typing-layouts-float64/basics.ml
  testsuite/tests/typing-layouts-or-null/optimized.ml
  testsuite/tests/typing-layouts-or-null/runtime.ml
  testsuite/tests/typing-layouts-vec128/basics.ml
  testsuite/tests/typing-layouts-vec128/basics_alpha.ml
  testsuite/tests/typing-layouts-word/basics.ml
  testsuite/tests/typing-layouts-word/basics_alpha.ml
  testsuite/tests/typing-missing-cmi/test.compilers.reference
Labels: or_null

#3720 Remove `part` field from `Reg.t`
  backend/debug/dwarf/dwarf_ocaml/dwarf_reg_locations.ml
  backend/reg.ml
  backend/reg.mli
  backend/select_utils.ml
Labels: backend, non-material change

#3704 arm64 float32 intrinsics in Stdlib_stable
  backend/amd64/simd_selection.ml
  otherlibs/stdlib_stable/.ocamlformat-enable
  otherlibs/stdlib_stable/dune
  otherlibs/stdlib_stable/float32.ml
  otherlibs/stdlib_stable/float32.mli
  otherlibs/stdlib_stable/float32_u.ml
  otherlibs/stdlib_stable/float32_u.mli
  otherlibs/stdlib_stable/generic/stdlib_stable.ml
  otherlibs/stdlib_stable/generic/stdlib_stable.mli
  otherlibs/stdlib_stable/stdlib_stable.ml
  otherlibs/stdlib_stable/stdlib_stable.mli
  runtime/float32.c
  runtime4/float32.c
Labels: arm64

#3739 Only set the young limit if we are actually (un)suspending.
  runtime/memprof.c
Labels: runtime, OCaml 5

#3741 Avoid checking pending actions in Condition.wait
  runtime/sync.c
Labels: runtime, OCaml 5

#3740 Improved pending actions handling in caml_enter_blocking_section (r5 only)
  runtime/signals.c
Labels: runtime, OCaml 5

#3742 Avoid setting action_pending unless an action is pending
  runtime/domain.c
Labels: runtime, OCaml 5

#3731 Specialise Atomic_compare_and_set and Atomic_compare_exchange
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/simplify/simplify_primitive_result.mli
  middle_end/flambda2/simplify/simplify_ternary_primitive.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
Labels: flambda2

#3738 Don't forget about the yielding axis in modality
  testsuite/tests/typing-jkind-bounds/basics.ml
  testsuite/tests/typing-jkind-bounds/composite.ml
  testsuite/tests/typing-jkind-bounds/predef.ml
  testsuite/tests/typing-jkind-bounds/printing.ml
  testsuite/tests/typing-jkind-bounds/records.ml
  testsuite/tests/typing-jkind-bounds/subsumption/basics.ml
  testsuite/tests/typing-jkind-bounds/subsumption/constraint.ml
  testsuite/tests/typing-jkind-bounds/subsumption/functors.ml
  testsuite/tests/typing-jkind-bounds/variants.ml
  testsuite/tests/typing-modal-kinds/basics.ml
  testsuite/tests/typing-modes/crossing.ml
  typing/mode.ml
Labels: modes

#3548 Fix ocamltest line numbers after multiline comments, strings
  ocamltest/tsl_lexer.mll
Labels: backport from upstream OCaml, testsuite

#3510 Load code when printing it in objinfo
  middle_end/flambda2/cmx/exported_code.ml
  middle_end/flambda2/cmx/exported_code.mli
  middle_end/flambda2/cmx/flambda_cmx_format.ml
  middle_end/flambda2/terms/code_or_metadata.ml
  middle_end/flambda2/terms/code_or_metadata.mli
Labels: flambda2

#3732 Allow adding with_bounds via `[@@unsafe_allow_any_mode_crossing]`
  testsuite/tests/typing-layouts/allow_any.ml
  typing/ctype.ml
  typing/includecore.ml
  typing/includecore.mli
  typing/jkind.ml
  typing/jkind.mli
  typing/typedecl.ml
  typing/typedecl.mli
  typing/types.ml
  typing/types.mli
Labels: modes

#3728 No allocation between stack creation and usage
  otherlibs/stdlib_alpha/effect.ml
  stdlib/effect.ml
  testsuite/tests/backtrace/backtrace_effects.reference
  testsuite/tests/backtrace/backtrace_effects_nested.flambda.reference
  testsuite/tests/effects/backtrace.byte.reference
  testsuite/tests/effects/backtrace.reference
  testsuite/tests/frame-pointers/effects.reference
  testsuite/tests/frame-pointers/reperform.reference
  testsuite/tests/frame-pointers/stack_realloc.reference
  testsuite/tests/frame-pointers/stack_realloc2.reference
Labels: effects

#2455 Async exns x effects
  runtime/caml/fail.h
  runtime/debugger.c
  runtime/fail_byt.c
  runtime/fail_nat.c
  runtime/interp.c
  testsuite/tests/async-exns/async_exns_2.ml
  testsuite/tests/async-exns/async_exns_2.reference
Labels: effects

#3694 Annotate `Unix` and `Thread` as (mostly) portable
  otherlibs/systhreads/thread.ml
  otherlibs/systhreads/thread.mli
  otherlibs/systhreads4/thread.ml
  otherlibs/systhreads4/thread.mli
  otherlibs/unix/unix.mli
  otherlibs/unix/unixLabels.mli
  otherlibs/unix/unix_unix.ml
  testsuite/tests/lib-threads/uncaught_exception_handler.ml
  testsuite/tests/lib-threads/uncaught_exception_handler.reference
Labels: drf

#3683 Eliminate some memory allocations in the register allocator
  backend/regalloc/regalloc_ls_utils.ml
  utils/doubly_linked_list.ml
  utils/doubly_linked_list.mli
Labels: backend

#3748 Default to new GC pacing policy
  runtime/major_gc.c
Labels: runtime, OCaml 5

#3752 Ensure that caml_check_pending_signals does not report blocked signals
  otherlibs/systhreads/st_posix.h
  runtime/signals.c
Labels: bug, runtime, OCaml 5

#3733 Miscellaneous mode-related improvements to stdlib
  flambda-backend/tests/backend/zero_alloc_checker/test_custom_error_msg.opt.output
  flambda-backend/tests/backend/zero_alloc_checker/test_custom_error_msg.output
  stdlib/bigarray.ml
  stdlib/bigarray.mli
  stdlib/buffer.mli
  stdlib/dynarray.mli
  stdlib/hashtbl.mli
  stdlib/modes.ml
  stdlib/modes.mli
  stdlib/printexc.ml
  stdlib/printexc.mli
  stdlib/queue.mli
  stdlib/random.mli
  stdlib/stack.mli
  stdlib/stdlib.ml
  stdlib/stdlib.mli
  stdlib/type.ml
  stdlib/type.mli
  testsuite/tests/backtrace/backtrace_c_exn.opt4.reference
  testsuite/tests/backtrace/backtrace_systhreads.reference
  testsuite/tests/backtrace/pr2195-locs.byte.reference
  testsuite/tests/backtrace/pr2195.opt.reference
  testsuite/tests/effects/backtrace.byte.reference
  testsuite/tests/effects/backtrace.reference
  testsuite/tests/lib-dynlink-initializers/test10_main.byte.reference
  testsuite/tests/tool-toplevel/pr9701.compilers.reference
Labels: modes, stdlib

#3423 Added Cmm_helpers.Scalar_type
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
Labels: cmm, needs testing

#3755 Remove example file from #3688
  exn.ml
Labels: non-material change

#3756 Fix bug with Invalid and exception extra args etc.
  backend/cfg/cfg.ml
  backend/cfg/cfg_intf.ml
  backend/cfg_selectgen.ml
  testsuite/tests/exception-extra-args/pr3688_bug.ml
Labels: bug, cfg, backend

#3749 Arm64: refactor simd tests
  flambda-backend/tests/simd/dune
  flambda-backend/tests/simd/ops.ml
  flambda-backend/tests/simd/ops_u.ml
  flambda-backend/tests/simd/unbox_types.ml
Labels: arm64

#3750 Arm64: enable some float32 and simd tests
  flambda-backend/tests/backend/caml_apply_split_max_arity/dune
  flambda-backend/tests/small_numbers/dune
  testsuite/tests/flambda/incompatible_arrays.ml
  testsuite/tests/lib-array/test_iarray_typeopt.ml
  testsuite/tests/mixed-blocks/closure_padding_float32.ml
  testsuite/tests/mixed-blocks/constructor_args.ml
  testsuite/tests/mixed-blocks/generate_mixed_blocks_code.ml
  testsuite/tests/mixed-blocks/generated_byte_test.ml
  testsuite/tests/mixed-blocks/generated_native_test.ml
  testsuite/tests/mixed-blocks/old_generated_native_test.ml
  testsuite/tests/mixed-blocks/stubs.c
  testsuite/tests/typing-layouts-arrays/array_element_size_in_bytes.ml
  testsuite/tests/typing-layouts-arrays/generate_makearray_dynamic_tests.ml
  testsuite/tests/typing-layouts-arrays/generated_test.ml
  testsuite/tests/typing-layouts-arrays/stubs.c
  testsuite/tests/typing-layouts-arrays/test_float32_u_array.ml
  testsuite/tests/typing-layouts-arrays/test_float_u_array.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_1.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_2.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_with_uninit_1.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_with_uninit_2.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_1.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_2.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_3.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_4.ml
  testsuite/tests/typing-layouts-arrays/test_vec128_u_array.ml
  testsuite/tests/typing-layouts-float32/alloc.ml
  testsuite/tests/typing-layouts-float32/c_api.ml
  testsuite/tests/typing-layouts-float32/unboxed_float32s.ml
  testsuite/tests/typing-layouts/generate_stringlike_indexing.ml
  testsuite/tests/typing-layouts/unboxed_int_stringlike_indexing.ml
Labels: arm64

#3747 Arm64: more simd intrinsics and instructions
  backend/arm64/cfg_selection.ml
  backend/arm64/emit.mlp
  backend/arm64/simd.ml
  backend/arm64/simd_proc.ml
  backend/arm64/simd_reload.ml
  backend/arm64/simd_selection.ml
  backend/arm64_ast.ml
  backend/arm64_ast.mli
Labels: backend, arm64

#3761 Use caml_modify_local on runtime4 for atomics
  runtime4/misc.c
Labels: bug, runtime

#3762 Actually call relax_poll in Branch_relaxation
  backend/arm64/CSE.ml
  backend/arm64/arch.ml
  backend/arm64/arch.mli
  backend/arm64/emit.mlp
  backend/arm64/vectorize_specific.ml
  backend/branch_relaxation.ml
  backend/branch_relaxation_intf.mli
Labels: backend, arm64

#3542 Unique continuations
  otherlibs/stdlib_alpha/effect.ml
  otherlibs/stdlib_alpha/effect.mli
  stdlib/domain.ml
  stdlib/domain.mli
  stdlib/obj.ml
  stdlib/obj.mli
  testsuite/tests/effects-api/effects.ml
  testsuite/tests/effects-api/portable.ml
  testsuite/tests/effects-api/sched.ml
  testsuite/tests/effects-api/test10.ml
  testsuite/tests/effects-api/used_cont.ml
Labels: effects

#3541 Portable continuations
  otherlibs/stdlib_alpha/effect.ml
  otherlibs/stdlib_alpha/effect.mli
  stdlib/domain.ml
  stdlib/domain.mli
  stdlib/obj.ml
  stdlib/obj.mli
  testsuite/tests/effects-api/cross_capsule.ml
  testsuite/tests/effects-api/cross_capsule.reference
  testsuite/tests/effects-api/effects.ml
  testsuite/tests/effects-api/portable.ml
  testsuite/tests/effects-api/portable.reference
  testsuite/tests/effects-api/sched.ml
  testsuite/tests/effects-api/test10.ml
  testsuite/tests/effects-api/used_cont.ml
Labels: effects

#3765 Propagate effects info to Cfg.external_call_operation
  backend/amd64/proc.ml
  backend/arm64/proc.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_polling.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg_selectgen.ml
Labels: cfg

#3766 Mark Obj_dup as not having effects and handle in Cfg
  backend/cfg/cfg.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  runtime/obj.c
  runtime4/obj.c
  testsuite/tests/exception-extra-args/obj_dup.ml
Labels: bug, flambda2, cfg

#3758 Fix modality over zapping
  typing/mode.ml
  typing/mode_intf.mli
Labels: typing, modes

#3767 Merge `_utils` module (backend)
  backend/CSE_utils.ml
  backend/CSE_utils.mli
  backend/amd64/CSE.ml
  backend/amd64/cfg_selection.ml
  backend/amd64/selection.ml
  backend/amd64/selection_utils.ml
  backend/arm64/CSE.ml
  backend/arm64/cfg_selection.ml
  backend/arm64/selection_utils.ml
  backend/cfg/cfg_cse.ml
  backend/cfg/cfg_cse.mli
  backend/cfg/cfg_polling.ml
  backend/cfg/cfgize_utils.ml
  backend/cfg/cfgize_utils.mli
  backend/cfg_selectgen.ml
  backend/polling_utils.ml
  backend/polling_utils.mli
  dune
Labels: backend

#3190 Comprehensions layouts bug
  testsuite/tests/typing-layouts/comprehensions.ml
  typing/jkind.ml
  typing/jkind_intf.ml
  typing/typecore.ml
Labels: typing
