Repository oxcaml/oxcaml, pull requests merged in 2025-09, with the labels that each got.

#4593 Cleaning Script
  tools/clean-compiler-repo.sh
Labels: 100% vibe

#4525 Support multi-file compilation for JSIR
  lambda/matching.ml
  middle_end/flambda2/to_jsir/to_jsir.ml
  middle_end/flambda2/to_jsir/to_jsir_env.ml
  middle_end/flambda2/to_jsir/to_jsir_env.mli
  middle_end/flambda2/to_jsir/to_jsir_primitive.ml
  middle_end/flambda2/to_jsir/to_jsir_primitive.mli
  middle_end/flambda2/to_jsir/to_jsir_set_of_closures.ml
  middle_end/flambda2/to_jsir/to_jsir_shared.ml
  middle_end/flambda2/to_jsir/to_jsir_static_const.ml
Labels: jsir

#4540 Add debugging events in JSIR
  middle_end/flambda2/to_jsir/jsoo_imports/import.ml
  middle_end/flambda2/to_jsir/jsoo_imports/parse_info.ml
  middle_end/flambda2/to_jsir/jsoo_imports/parse_info.mli
  middle_end/flambda2/to_jsir/to_jsir.ml
  middle_end/flambda2/to_jsir/to_jsir_primitive.ml
  middle_end/flambda2/to_jsir/to_jsir_primitive.mli
  middle_end/flambda2/to_jsir/to_jsir_result.ml
  middle_end/flambda2/to_jsir/to_jsir_result.mli
  middle_end/flambda2/to_jsir/to_jsir_set_of_closures.ml
  middle_end/flambda2/to_jsir/to_jsir_static_const.ml
Labels: jsir

#4559 Fix method calls in JSIR
  middle_end/flambda2/to_jsir/to_jsir.ml
  middle_end/flambda2/to_jsir/to_jsir_result.ml
  middle_end/flambda2/to_jsir/to_jsir_result.mli
Labels: jsir

#4566 Use runtime functions for Sys consts in JSIR
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/from_lambda/lambda_to_lambda_transforms.ml
Labels: jsir

#4570 Also check for Flambda2 when we check for native code
  lambda/matching.ml
  lambda/simplif.ml
  lambda/translobj.ml
Labels: flambda2, jsir

#4573 Address misc JSIR CRs
  driver/jscompile.ml
  lambda/lambda.ml
  middle_end/flambda2/to_jsir/to_jsir.ml
  middle_end/flambda2/to_jsir/to_jsir_env.mli
  middle_end/flambda2/to_jsir/to_jsir_result.mli
  middle_end/flambda2/to_jsir/to_jsir_shared.ml
Labels: jsir

#4598 Produce .cmjx instead of .cmx for JSIR compilation
  driver/jscompile.ml
  middle_end/compilenv.ml
  parsing/unit_info.ml
  parsing/unit_info.mli
  utils/warnings.ml
  utils/warnings.mli
Labels: jsir

#4609 Fix race when restoring parent fiber from continuation after callback
  runtime/callback.c
  testsuite/tests/callback/callback_effects_domains_gc.ml
Labels: bug, runtime, effects

#4620 Misc JSIR bug fixes
  middle_end/flambda2/to_jsir/to_jsir.ml
  otherlibs/dynlink/dune
Labels: jsir

#4637 Provide linking information to Js_of_ocaml in .cmj and .cmja
  driver/jscompile.ml
  driver/jscompile.mli
  driver/jslibrarian.ml
  file_formats/cmj_format.mli
  middle_end/flambda2/identifiers/int_ids.ml
  middle_end/flambda2/identifiers/int_ids.mli
  middle_end/flambda2/to_jsir/jsoo_imports/code.ml
  middle_end/flambda2/to_jsir/jsoo_imports/code.mli
  middle_end/flambda2/to_jsir/to_jsir.ml
  middle_end/flambda2/to_jsir/to_jsir.mli
  middle_end/flambda2/to_jsir/to_jsir_env.ml
  middle_end/flambda2/to_jsir/to_jsir_result.ml
  middle_end/flambda2/to_jsir/to_jsir_result.mli
Labels: jsir

#4646 Add -inline* flags to ocamlj
  driver/main_args.ml
  driver/main_args.mli
Labels: jsir

#4641 Annotate most `Queue` operations taking the queue and any fn local
  stdlib/queue.mli
Labels: modes

#4653 Support Naked_int32, Naked_int64 and Naked_nativeint arrays
  middle_end/flambda2/to_jsir/to_jsir_primitive.ml
Labels: jsir

#4531 Metrics for Emitting Debugging Information
  backend/debug/dwarf/dwarf_flags/dwarf_flags.ml
  backend/debug/dwarf/dwarf_flags/dwarf_flags.mli
  backend/debug/dwarf/dwarf_ocaml/dwarf.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_state.ml
  backend/debug/dwarf/dwarf_ocaml/dwarf_state.mli
  backend/debug/dwarf/dwarf_ocaml/dwarf_type.ml
  driver/oxcaml_args.ml
  driver/oxcaml_args.mli
  testsuite/tests/utils/test_json.ml
  testsuite/tests/utils/test_json.reference
  tools/analyze_debug_stats.py
  typing/shape_reduce.ml
  typing/shape_reduce.mli
  typing/type_shape.ml
  typing/type_shape.mli
  utils/misc.ml
  utils/misc.mli
Labels: backend, dwarf and debugging, needs new merlin

#4684 flambda2: Improve performance of free_names_transitive
  middle_end/flambda2/types/env/typing_env.ml
Labels: flambda2, compilation speed

#4688 Apply heisenbug patch to system compiler
  .github/workflows/build.yml
Labels: CI

#4718 Free dynamic bindings on domain terminate.
  runtime/domain.c
Labels: runtime, OCaml 5

#4727 Fix unbound variable bug in JSIR
  middle_end/flambda2/to_jsir/to_jsir_set_of_closures.ml
Labels: jsir

#4740 Reformat after #4633
  lambda/printlambda.ml
  lambda/translattribute.ml
  utils/warnings.ml
Labels: non-material change

#4539 Get rid of struct interruptor
  runtime/domain.c
Labels: runtime, OCaml 5

#4757 (LLVM Backend) Recover RBP earlier for exception handling
  backend/llvm/llvm_ir.ml
  backend/llvm/llvm_ir.mli
  backend/llvm/llvmize.ml
  oxcaml/tests/backend/llvmize/alloc_ir.output
  oxcaml/tests/backend/llvmize/array_rev_ir.output
  oxcaml/tests/backend/llvmize/const_val_ir.output
  oxcaml/tests/backend/llvmize/csel_ir.output
  oxcaml/tests/backend/llvmize/data_decl_ir.output
  oxcaml/tests/backend/llvmize/exn_part2_ir.output
  oxcaml/tests/backend/llvmize/extcalls_ir.output
  oxcaml/tests/backend/llvmize/float_ops_ir.output
  oxcaml/tests/backend/llvmize/gcd_ir.output
  oxcaml/tests/backend/llvmize/id_fn.output
  oxcaml/tests/backend/llvmize/indirect_call_ir.output
  oxcaml/tests/backend/llvmize/int_ops_ir.output
  oxcaml/tests/backend/llvmize/many_args_ir.output
  oxcaml/tests/backend/llvmize/multi_ret_ir.output
  oxcaml/tests/backend/llvmize/switch_ir.output
  oxcaml/tests/backend/llvmize/tailcall_ir.output
Labels: llvm-backend

#4762 Add automated metrics collection to CI workflow
  .github/workflows/build.yml
Labels: CI, 100% vibe

#4759 (LLVM Backend) Fix wrap try result
  backend/llvm/llvmize.ml
  oxcaml/tests/backend/llvmize/exn_part2_ir.output
  oxcaml/tests/backend/llvmize/switch_ir.output
Labels: llvm-backend

#4771 Add dedicated metrics_collection matrix entry
  .github/workflows/build.yml
  scripts/collect-size-metrics.sh
Labels: CI, 100% vibe

#4778 Make SIMD constants/casts use int8#/int16#
  backend/amd64/emit.ml
  backend/cmm_builtins.ml
  oxcaml/tests/.ocamlformat-ignore
  oxcaml/tests/simd/consts.ml
  oxcaml/tests/simd/consts256.ml
  oxcaml/tests/simd/consts256_u.ml
  oxcaml/tests/simd/consts_u.ml
  oxcaml/tests/simd/errors/dune
  oxcaml/tests/simd/errors/i16_range.expected
  oxcaml/tests/simd/errors/i16_range.ml
  oxcaml/tests/simd/errors/i32_range.expected
  oxcaml/tests/simd/errors/i32_range.ml
  oxcaml/tests/simd/errors/i8_range.expected
  oxcaml/tests/simd/errors/i8_range.ml
Labels: backend, simd

#4719 Two sides of mode error are printed separately for easier integration into the caller's error
  testsuite/tests/typing-local/local.ml
  testsuite/tests/typing-modes/class.ml
  testsuite/tests/typing-modes/hint.ml
  testsuite/tests/typing-modes/lazy.ml
  testsuite/tests/typing-modes/module.ml
  testsuite/tests/typing-modes/stack.ml
  typing/env.ml
  typing/env.mli
  typing/mode.ml
  typing/mode_hint.mli
  typing/mode_intf.mli
  typing/solver.ml
  typing/solver_intf.mli
  typing/typecore.ml
  typing/typecore.mli
Labels: modes

#4802 Exclude external/ directory from 80 character check
  scripts/80ch.sh
Labels: 100% vibe
