Repository oxcaml/oxcaml, pull requests merged in 2025-08, with the labels that each got.

#4426 Convert flambda2 API tests to diff tests
  middle_end/flambda2/tests/api_tests/datalog.expected
  middle_end/flambda2/tests/api_tests/dune
  middle_end/flambda2/tests/api_tests/extension_meet.expected
  middle_end/flambda2/tests/dune
  middle_end/flambda2/tests/meet_test.expected
Labels: flambda2

#4429 Update SIMD docs
  jane/doc/extensions/_09-simd/intro.md
Labels: documentation, simd

#4383 Add DWARF debugging information compression support
  aclocal.m4
  backend/arm64/proc.ml
  backend/debug/dwarf/dwarf_flags/dwarf_flags.ml
  backend/debug/dwarf/dwarf_flags/dwarf_flags.mli
  backend/x86_proc.ml
  configure.ac
  driver/optmaindriver.ml
  driver/oxcaml_args.ml
  driver/oxcaml_args.mli
  utils/ccomp.ml
  utils/clflags.ml
  utils/clflags.mli
  utils/config.fixed.ml
  utils/config.generated.ml.in
  utils/config.mli
Labels: dwarf and debugging, 100% vibe

#4433 Bump dune version
  .github/workflows/build.yml
  README.md
Labels: documentation, CI

#4239 First cut of runtime dynamic bindings
  otherlibs/systhreads/st_stubs.c
  runtime/amd64.S
  runtime/arm64.S
  runtime/caml/config.h
  runtime/caml/domain_state.tbl
  runtime/caml/fiber.h
  runtime/caml/roots.h
  runtime/domain.c
  runtime/fiber.c
  runtime/interp.c
  runtime/minor_gc.c
  runtime/roots.c
  stdlib/effect.ml
  stdlib/effect.mli
  testsuite/tests/backtrace/backtrace_effects.reference
  testsuite/tests/backtrace/backtrace_effects_nested.flambda.reference
  testsuite/tests/effects/backtrace.byte.reference
  testsuite/tests/effects/backtrace.reference
  testsuite/tests/effects/dynamic.ml
  testsuite/tests/effects/dynamic.reference
Labels: runtime, OCaml 5

#4446 Disallow OxCaml DWARF on the compiler without disabling function sections
  configure.ac
Labels: dwarf and debugging, 100% vibe

#4419 Llvmize extcalls
  backend/cfg/llvmize.ml
  oxcaml/tests/backend/llvmize/array_rev_ir.output
  oxcaml/tests/backend/llvmize/const_val_ir.output
  oxcaml/tests/backend/llvmize/dune.inc
  oxcaml/tests/backend/llvmize/extcalls.ml
  oxcaml/tests/backend/llvmize/extcalls.output
  oxcaml/tests/backend/llvmize/extcalls_defn.c
  oxcaml/tests/backend/llvmize/extcalls_ir.output
  oxcaml/tests/backend/llvmize/extcalls_main.ml
  oxcaml/tests/backend/llvmize/float_ops_ir.output
  oxcaml/tests/backend/llvmize/gcd_ir.output
  oxcaml/tests/backend/llvmize/gen/gen_dune.ml
  oxcaml/tests/backend/llvmize/id_fn.output
  oxcaml/tests/backend/llvmize/indirect_call_ir.output
  oxcaml/tests/backend/llvmize/int_ops_ir.output
  oxcaml/tests/backend/llvmize/many_args_ir.output
  oxcaml/tests/backend/llvmize/multi_ret_ir.output
  runtime/amd64.S
Labels: llvm-backend

#4200 New design for portable exceptions
  jane/doc/extensions/_05-modes/reference.md
  stdlib/effect.ml
  testsuite/tests/backtrace/backtrace_effects.reference
  testsuite/tests/backtrace/backtrace_effects_nested.flambda.reference
  testsuite/tests/effects/backtrace.byte.reference
  testsuite/tests/effects/backtrace.reference
  testsuite/tests/typing-modes/exn.ml
  toplevel/topdirs.ml
  typing/ctype.ml
  typing/ctype.mli
  typing/datarepr.ml
  typing/datarepr.mli
  typing/env.ml
  typing/env.mli
  typing/jkind.ml
  typing/jkind.mli
  typing/mode.ml
  typing/mode_intf.mli
  typing/predef.ml
  typing/typecore.ml
  typing/typecore.mli
  typing/typedecl.ml
  typing/typedecl.mli
Labels: typing, modes, drf

#4455 Fix backtrace in disabled simd test
  oxcaml/tests/simd/disabled/dune
Labels: simd

#4451 Defer prologue addition until after regalloc
  asmcomp/asmgen.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_prologue.ml
  backend/cfg/cfg_prologue.mli
  backend/cfg_selectgen.ml
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
  backend/regalloc/regalloc_validate.ml
  dune
Labels: backend

#4465 Add .cmja file format
  build-aux/ocaml_version.m4
  configure.ac
  driver/.ocamlformat-enable
  driver/jslibrarian.ml
  driver/jslibrarian.mli
  driver/jsmaindriver.ml
  dune
  file_formats/cmj_format.mli
  utils/config.common.ml.in
  utils/config.mli
Labels: jsir, 100% vibe

#4464 Change data declarations for Llvmize
  backend/cfg/llvmize.ml
  oxcaml/tests/backend/llvmize/array_rev_ir.output
  oxcaml/tests/backend/llvmize/const_val_ir.output
  oxcaml/tests/backend/llvmize/data_decl.ml
  oxcaml/tests/backend/llvmize/data_decl.output
  oxcaml/tests/backend/llvmize/data_decl_ir.output
  oxcaml/tests/backend/llvmize/dune.inc
  oxcaml/tests/backend/llvmize/extcalls.output
  oxcaml/tests/backend/llvmize/extcalls_ir.output
  oxcaml/tests/backend/llvmize/float_ops_ir.output
  oxcaml/tests/backend/llvmize/gcd_ir.output
  oxcaml/tests/backend/llvmize/gen/gen_dune.ml
  oxcaml/tests/backend/llvmize/id_fn.output
  oxcaml/tests/backend/llvmize/indirect_call_ir.output
  oxcaml/tests/backend/llvmize/int_ops_ir.output
  oxcaml/tests/backend/llvmize/many_args_ir.output
  oxcaml/tests/backend/llvmize/multi_ret_ir.output
Labels: llvm-backend

#4460 Conditionally emit the "unreachable switch case" symbol
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
Labels: flambda2

#4462 Script to diff the sizes of .cms files
  tools/analyze_cms_sizes.py
Labels: 100% vibe

#4391 Change Emission Strategy for DWARF Type Names
  backend/debug/dwarf/dwarf_flags/dwarf_flags.ml
  backend/debug/dwarf/dwarf_flags/dwarf_flags.mli
  backend/debug/dwarf/dwarf_ocaml/dwarf_type.ml
  driver/oxcaml_args.ml
  driver/oxcaml_args.mli
  lambda/translcore.ml
  middle_end/flambda2/identifiers/flambda_debug_uid.ml
  oxcaml/tests/backend/oxcaml_dwarf/test_basic_dwarf.output
  oxcaml/tests/backend/oxcaml_dwarf/test_datatypes_dwarf.output
  oxcaml/tests/backend/oxcaml_dwarf/test_simd_dwarf.output
  oxcaml/tests/backend/oxcaml_dwarf/test_unboxed_dwarf.output
  typing/type_shape.ml
  typing/type_shape.mli
Labels: backend, dwarf and debugging

#4490 Fix: Make `[@@unboxed]` void variants not `cstr_constant`
  lambda/translcore.ml
  testsuite/tests/typing-layouts-void/voids.ml
  testsuite/tests/typing-layouts-void/voids.reference
  typing/datarepr.ml
  typing/types.ml
Labels: bug, typing

#4493 Disable -gdwarf-may-alter-codegen
  backend/cfg/cfg_available_regs.ml
Labels: dwarf and debugging

#4491 Integrate 80-character line length checking into `make fmt`
  .github/workflows/80ch.sh
  .github/workflows/80ch.yml
  .github/workflows/ocamlformat.yml
  Makefile
  scripts/80ch.sh
Labels: build system, CI, 100% vibe

#3796 Merge atomic counter inc/dec functions and use them consistently
  runtime/bigarray.c
  runtime/caml/atomic_refcount.h
  runtime/caml/camlatomic.h
  runtime/caml/dune
  runtime/caml/misc.h
  runtime/caml/mlvalues.h
  runtime/caml/platform.h
  runtime/domain.c
  runtime/major_gc.c
  runtime/runtime_events.c
  runtime/shared_heap.c
Labels: runtime, OCaml 5

#4453 Configure flag for emitting assembly on compiler
  Makefile.common-ox
  Makefile.config.in
  configure.ac
  tools/diff_compiler_versions.sh
Labels: 100% vibe

#4382 Translate switch expressions to JSIR
  middle_end/flambda2/to_jsir/to_jsir.ml
  middle_end/flambda2/to_jsir/to_jsir_result.ml
  middle_end/flambda2/to_jsir/to_jsir_result.mli
Labels: jsir

#4428 Fix codegen for unboxed int64 -> int conversion
  backend/cmm_helpers.ml
Labels: cmm

#4413 Implement exceptions in JSIR
  middle_end/flambda2/to_jsir/to_jsir.ml
  middle_end/flambda2/to_jsir/to_jsir_env.ml
  middle_end/flambda2/to_jsir/to_jsir_env.mli
  middle_end/flambda2/to_jsir/to_jsir_primitive.ml
  middle_end/flambda2/to_jsir/to_jsir_shared.ml
  middle_end/flambda2/to_jsir/to_jsir_shared.mli
  middle_end/flambda2/to_jsir/to_jsir_static_const.ml
Labels: jsir

#4475 refactor epilogue into cfg and linear instructions
  backend/amd64/emit.ml
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/arm64/emit.ml
  backend/arm64/proc.ml
  backend/arm64/regalloc_stack_operands.ml
  backend/branch_relaxation.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg_available_regs.ml
  backend/cfg/cfg_comballoc.ml
  backend/cfg/cfg_cse.ml
  backend/cfg/cfg_deadcode.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_invariants.ml
  backend/cfg/cfg_liveness.ml
  backend/cfg/cfg_polling.ml
  backend/cfg/cfg_prologue.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfg_to_linear_desc.ml
  backend/cfg/linear_utils.ml
  backend/cfg/llvmize.ml
  backend/cfg/simplify_terminator.ml
  backend/cfg/vectorize.ml
  backend/debug/available_ranges_vars.ml
  backend/debug/compute_ranges.ml
  backend/emitaux.ml
  backend/linear.ml
  backend/linear.mli
  backend/printlinear.ml
  backend/regalloc/regalloc_invariants.ml
  backend/regalloc/regalloc_irc_utils.ml
  backend/regalloc/regalloc_rewrite.ml
  backend/select_utils.ml
  backend/zero_alloc_checker.ml
Labels: backend

#4479 Check that no prologues/epilogues are added before the Cfg_prologue pass
  backend/cfg/cfg_prologue.ml
Labels: backend

#4513 Fix peephole rule about overwritten moves
  backend/peephole/peephole_rules.ml
Labels: backend

#4430 Change JSIR translation order for Let_cont
  middle_end/flambda2/to_jsir/to_jsir.ml
Labels: jsir

#4526 update default.nix and include patch to upstream for arm64
  arm64-issue-debug-upstream.patch
  default.nix
Labels: build system

#4442 Translate even more flambda2 primitives to JSIR
  middle_end/flambda2/to_jsir/to_jsir.ml
  middle_end/flambda2/to_jsir/to_jsir_primitive.ml
  middle_end/flambda2/to_jsir/to_jsir_primitive.mli
  middle_end/flambda2/to_jsir/to_jsir_result.ml
  middle_end/flambda2/to_jsir/to_jsir_shared.ml
  middle_end/flambda2/to_jsir/to_jsir_shared.mli
  middle_end/flambda2/to_jsir/to_jsir_static_const.ml
Labels: jsir

#4517 Fix the subsumption check for separability
  testsuite/tests/typing-layouts-or-null/immediate.ml
  testsuite/tests/typing-layouts-or-null/separability.ml
  typing/ctype.ml
  typing/jkind.ml
  typing/jkind.mli
Labels: or_null

#4456 Support more flambda static consts in JSIR
  middle_end/flambda2/term_basics/or_variable.ml
  middle_end/flambda2/term_basics/or_variable.mli
  middle_end/flambda2/to_jsir/to_jsir.ml
  middle_end/flambda2/to_jsir/to_jsir_env.ml
  middle_end/flambda2/to_jsir/to_jsir_env.mli
  middle_end/flambda2/to_jsir/to_jsir_static_const.ml
Labels: jsir

#4501 Allow definitions in the same static let to reference each other in JSIR
  middle_end/flambda2/to_jsir/to_jsir.ml
  middle_end/flambda2/to_jsir/to_jsir_env.ml
  middle_end/flambda2/to_jsir/to_jsir_env.mli
  middle_end/flambda2/to_jsir/to_jsir_shared.ml
  middle_end/flambda2/to_jsir/to_jsir_shared.mli
  middle_end/flambda2/to_jsir/to_jsir_static_const.ml
  middle_end/flambda2/to_jsir/to_jsir_static_const.mli
Labels: jsir

#4167 Use consistent control flow throughout domain_create
  runtime/domain.c
Labels: runtime, OCaml 5

#4527 Remove transl_store compilation pipeline
  asmcomp/asmpackager.ml
  bytecomp/blambda_of_lambda.ml
  bytecomp/blambda_of_lambda.mli
  bytecomp/bytepackager.ml
  driver/compile.ml
  driver/optcompile.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/tmc.ml
  lambda/translmod.ml
  lambda/translmod.mli
  lambda/translprim.ml
  lambda/value_rec_compiler.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  testsuite/tests/basic-modules/anonymous.ocamlc.reference
  testsuite/tests/formatting/test_locations.dlocations.ocamlc.reference
  testsuite/tests/formatting/test_locations.dno-locations.ocamlc.reference
  testsuite/tests/functors/functors.compilers.reference
  testsuite/tests/ppx-empty-cases/test.compilers.reference
  testsuite/tests/tool-ocamlc-stop-after/stop_after_lambda.compilers.reference
  testsuite/tests/translprim/array_spec.stack.flat.reference
  testsuite/tests/translprim/comparison_table.stack.reference
  testsuite/tests/translprim/module_coercion.compilers.flat.reference
  testsuite/tests/translprim/ref_spec.stack.reference
  toplevel/byte/topeval.ml
  toplevel/native/opttoploop.ml
  toplevel/native/topeval.ml
Labels: lambda, 100% vibe

#4554 Bugfix: prevent arguments of indirect_unknown_arity calls to be unboxed
  middle_end/flambda2/reaper/dep_solver.ml
Labels: bug, flambda2

#4561 reaper: Add failing test fixed by #4554
  testsuite/tests/reaper/pr4554.ml
Labels: flambda2

#4546 Fix loop computation for back edge
  backend/cfg/cfg_loop_infos.ml
Labels: bug, backend

#4544 Basic shrink wrapping implementation
  backend/cfg/cfg_loop_infos.ml
  backend/cfg/cfg_loop_infos.mli
  backend/cfg/cfg_prologue.ml
  backend/regalloc/regalloc_split_state.ml
  driver/oxcaml_args.ml
  driver/oxcaml_args.mli
  driver/oxcaml_flags.ml
  driver/oxcaml_flags.mli
Labels: backend

#4553 Eliminate some unnecessary `caml_modify`s for nested unboxed product record updates.
  backend/debug/dwarf/dwarf_ocaml/dwarf_type.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/matching.ml
  lambda/translcore.ml
  lambda/value_rec_compiler.ml
  testsuite/tests/typing-layouts-caml-modify/basics.ml
  testsuite/tests/typing-layouts-caml-modify/replace_caml_modify.c
  typing/typeopt.ml
  typing/typeopt.mli
Labels: unboxed types

#4537 Trigger minor GCs less enthusiastically when making arrays
  runtime/array.c
  runtime/caml/minor_gc.h
  runtime/minor_gc.c
Labels: runtime, OCaml 5

#4571 flambda2: Recognize affine switches
  middle_end/flambda2/simplify/simplify_switch_expr.ml
Labels: flambda2

#4470 Refine `Bigarray` mode annotations
  oxcaml/tests/backend/zero_alloc_checker/fail24.output
  stdlib/bigarray.ml
  stdlib/bigarray.mli
  testsuite/tests/parsing/multi_indices.ml
Labels: modes

#4587 `CLAUDE.md`: minor tweaks to build instructions
  CLAUDE.md
Labels: non-material change

#4601 Push initial prologue validation behind flag
  backend/cfg/cfg_prologue.ml
Labels: backend

#4607 Make Lambda.static_label abstract with end-to-end type safety
  Makefile.upstream
  backend/cfg_selectgen.ml
  backend/cmm.ml
  backend/cmm_helpers.ml
  backend/cmm_invariants.ml
  backend/cmm_peephole_engine.ml
  backend/operation.ml
  backend/printcmm.ml
  backend/select_utils.ml
  backend/select_utils.mli
  bytecomp/bytegen.ml
  bytecomp/printblambda.ml
  dune
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/matching.ml
  lambda/printlambda.ml
  lambda/static_label.ml
  lambda/static_label.mli
  lambda/switch.ml
  lambda/switch.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_env.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_env.mli
  otherlibs/dynlink/Makefile
  otherlibs/dynlink/dune
  oxcaml/testsuite/tools/parsecmm.mly
  oxcaml/testsuite/tools/parsecmmaux.ml
  oxcaml/testsuite/tools/parsecmmaux.mli
Labels: skip 80ch, 100% vibe
