Repository oxcaml/oxcaml, pull requests merged in 2025-10, with the labels that each got.

#4815 datalog: Get rid of weird `with_parameters` API
  middle_end/flambda2/datalog/datalog.ml
  middle_end/flambda2/datalog/datalog.mli
  middle_end/flambda2/datalog/flambda2_datalog.ml
  middle_end/flambda2/datalog/flambda2_datalog.mli
  middle_end/flambda2/reaper/dep_solver.ml
Labels: flambda2

#4817 datalog: Store representation of high-level variables
  middle_end/flambda2/datalog/column.ml
  middle_end/flambda2/datalog/column.mli
  middle_end/flambda2/datalog/cursor.ml
  middle_end/flambda2/datalog/cursor.mli
  middle_end/flambda2/datalog/datalog.ml
  middle_end/flambda2/datalog/datalog.mli
  middle_end/flambda2/datalog/flambda2_datalog.ml
  middle_end/flambda2/datalog/table.ml
  middle_end/flambda2/datalog/table.mli
  middle_end/flambda2/datalog/value.ml
  middle_end/flambda2/datalog/value.mli
Labels: flambda2

#4818 datalog: Add provenance information for debugging
  middle_end/flambda2/datalog/column.ml
  middle_end/flambda2/datalog/column.mli
  middle_end/flambda2/datalog/datalog.ml
  middle_end/flambda2/datalog/datalog.mli
  middle_end/flambda2/datalog/dune
  middle_end/flambda2/datalog/flambda2_datalog.ml
  middle_end/flambda2/datalog/flambda2_datalog.mli
  middle_end/flambda2/datalog/schedule.ml
  middle_end/flambda2/datalog/schedule.mli
  middle_end/flambda2/datalog/table.ml
  middle_end/flambda2/datalog/table.mli
  middle_end/flambda2/datalog/value.ml
  middle_end/flambda2/datalog/value.mli
  middle_end/flambda2/reaper/dep_solver.ml
Labels: flambda2

#4822 Add PR number column to metrics CSV
  .github/workflows/build.yml
  scripts/collect-size-metrics.sh
Labels: CI, 100% vibe

#4824 Disallow block indices to [@atomic] fields
  testsuite/tests/typing-layouts-block-indices/basics_block_indices.ml
  typing/typecore.ml
  typing/typecore.mli
Labels: typing, unboxed types

#4819 Zero_alloc: fix the scope of warning 199
  oxcaml/tests/backend/zero_alloc_checker/dune.inc
  oxcaml/tests/backend/zero_alloc_checker/gen/gen_dune.ml
  oxcaml/tests/backend/zero_alloc_checker/test_warning199_disabled.ml
  oxcaml/tests/backend/zero_alloc_checker/test_warning199_disabled.mli
  oxcaml/tests/backend/zero_alloc_checker/test_warning199_disabled.output
  parsing/builtin_attributes.ml
  parsing/builtin_attributes.mli
Labels: bug, zero alloc

#4823 flambda: Slightly better printer for nullable kinds
  middle_end/flambda2/kinds/flambda_kind.ml
Labels: flambda2

#4846 update dune version in default.nix
  default.nix
Labels: build system, nix
