Repository oxcaml/oxcaml, pull requests merged in 2025-06, with the labels that each got.

#4072 chore: Move leapfrog algorithm into algorithms/ directory
  middle_end/flambda2/algorithms/leapfrog.ml
  middle_end/flambda2/algorithms/leapfrog.mli
  middle_end/flambda2/datalog/cursor.ml
  middle_end/flambda2/datalog/trie.ml
  middle_end/flambda2/datalog/trie.mli
  middle_end/flambda2/datalog/virtual_machine.ml
  middle_end/flambda2/datalog/virtual_machine.mli
Labels: flambda2

#4023 Emit `LLVM-MCA` markers
  backend/amd64/emit.ml
Labels: backend

#4060 fix bad subtraction cmm generation
  backend/cmm_helpers.ml
Labels: cmm

#4090 Delete Flambda_kind.to_lambda
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
Labels: flambda2, non-material change

#4093 Optimize a couple of equal/compare functions
  backend/cmm.ml
  backend/regalloc/regalloc_irc_utils.ml
Labels: backend

#3868 Param libs errors as cmi warnings
  testsuite/tests/templates/basic/bad_instance_arg_name_not_found.no-alias-deps.reference
  testsuite/tests/templates/basic/bad_instance_arg_value_not_arg.no-alias-deps.reference
  testsuite/tests/templates/basic/bad_instance_arg_value_not_found.no-alias-deps.reference
  testsuite/tests/templates/basic/bad_instance_arg_value_wrong_type.no-alias-deps.reference
  testsuite/tests/templates/basic/test.ml
  typing/persistent_env.ml
Labels: parameterized-libs

#4069 Fix binary emitter VEX encoding bug
  backend/x86_binary_emitter.ml
Labels: bug, backend

#4052 Don't save a .cmx if stopping after Lambda
  driver/optcompile.ml
Labels: driver

#4021 Add `parameterised_modules: true` to `-config`
  utils/config.common.ml.in
  utils/config.fixed.ml
  utils/config.mli
Labels: parameterized-libs

#4076 Add the ability to emit module entry functions into a separate section
  backend/amd64/emit.ml
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
Labels: backend

#4078 Restore gc_regs_buckets after stack overflow
  flambda-backend/tests/simd/callback.ml
  runtime/amd64.S
Labels: bug, runtime

#4079 Shortcut in overlap computation (linscan & greedy allocators)
  backend/regalloc/regalloc_gi_utils.ml
  backend/regalloc/regalloc_gi_utils.mli
  backend/regalloc/regalloc_ls_utils.ml
Labels: bug, backend

#3829 Annotate `'a Domain.t` as `mod portable contended with 'a`
  stdlib/domain.ml
  stdlib/domain.mli
Labels: stdlib

#4091 fix: genprintval should not call `is_null` on a `value` layout
  toplevel/genprintval.ml
Labels: or_null

#4105 More informative error for mixed product arrays
  testsuite/tests/typing-layouts-products/product_arrays.ml
  testsuite/tests/typing-layouts-products/product_iarrays.ml
  typing/typeopt.ml
Labels: unboxed types

#4111 Add documentation of zero alloc and probe
  jane/doc/extensions/_08-miscellaneous-extensions/probes.md
  jane/doc/extensions/_08-miscellaneous-extensions/zero_alloc_check.md
Labels: documentation

#4114 Remove leftover from debug session
  arm64-issue-debug-upstream.patch
Labels: non-material change, CI

#4119 flambda2: Document (rare) loss of precision in row-like meet
  middle_end/flambda2/types/meet_and_join.ml
  middle_end/flambda2/types/meet_and_n_way_join.ml
Labels: flambda2

#3886 Parallelism tutorial
  jane/doc/extensions/_01-tutorials/01-intro-to-parallelism-part-1.md
Labels: documentation, drf

#4130 Accept `caml_simd` names for f64 min/max on amd64
  backend/amd64/simd_selection.ml
Labels: backend, simd

#4129 datalog: Document read/write intent using types
  middle_end/flambda2/algorithms/channel.ml
  middle_end/flambda2/algorithms/channel.mli
  middle_end/flambda2/algorithms/leapfrog.ml
  middle_end/flambda2/algorithms/leapfrog.mli
  middle_end/flambda2/datalog/cursor.ml
  middle_end/flambda2/datalog/cursor.mli
  middle_end/flambda2/datalog/datalog.ml
  middle_end/flambda2/datalog/datalog_imports.ml
  middle_end/flambda2/datalog/table.ml
  middle_end/flambda2/datalog/table.mli
  middle_end/flambda2/datalog/trie.ml
  middle_end/flambda2/datalog/trie.mli
  middle_end/flambda2/datalog/virtual_machine.ml
  middle_end/flambda2/datalog/virtual_machine.mli
Labels: flambda2

#4147 Remove patch application from CI job
  .github/workflows/build.yml
Labels: CI

#4139 Arm64 neon: fix saved registers
  backend/arm64/proc.ml
  runtime/arm64.S
  runtime/caml/stack.h
  runtime4/arm64.S
Labels: backend, runtime, arm64

#4151 Take specialization into account in shortcuts
  middle_end/flambda2/simplify/expr_builder.ml
Labels: bug, flambda2

#4144 Optimize if-then-else when condition uses boolean operations
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_lambda_transforms.ml
  middle_end/flambda2/from_lambda/lambda_to_lambda_transforms.mli
Labels: flambda2

#4088 Void function arguments and returns
  bytecomp/blambda_of_lambda.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/tmc.ml
  lambda/translprim.ml
  lambda/value_rec_compiler.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives_helpers.ml
  testsuite/tests/typing-layouts-err-msg/value.ml
  testsuite/tests/typing-layouts-void/void.ml
  testsuite/tests/typing-layouts-void/void.reference
  testsuite/tests/typing-layouts-void/void_disabled.compilers.reference
  testsuite/tests/typing-layouts-void/void_stubs.ml
  testsuite/tests/typing-layouts/basics_alpha.ml
  testsuite/tests/typing-layouts/modules_alpha.ml
  testsuite/tests/typing-layouts/void.ml
  testsuite/tests/typing-layouts/void_alpha.ml
  typing/primitive.ml
  typing/typeopt.ml
Labels: unboxed types

#4164 Update docs with new local syntax
  jane/doc/extensions/_02-stack-allocation/intro.md
  jane/doc/extensions/_02-stack-allocation/pitfalls.md
  jane/doc/extensions/_02-stack-allocation/reference.md
  jane/doc/extensions/_08-comprehensions/02-details.md
  jane/doc/extensions/_11-miscellaneous-extensions/zero_alloc_check.md
  jane/doc/proposals/unboxed-types/kinds.md
Labels: documentation

#4140 (Arm64) implement simd intrinsics and enable simd tests
  backend/amd64/simd_selection.ml
  backend/arm64/cfg_selection.ml
  backend/arm64/emit.ml
  backend/arm64/proc.ml
  backend/arm64/simd.ml
  backend/arm64/simd_proc.ml
  backend/arm64/simd_selection.ml
  backend/arm64_ast.ml
  backend/arm64_ast.mli
  backend/asm_targets/asm_directives.ml
  backend/asm_targets/asm_directives.mli
  oxcaml/tests/simd/amd64/builtins.ml
  oxcaml/tests/simd/amd64/sse42_string_ops.ml
  oxcaml/tests/simd/amd64/sse_other_ops.ml
  oxcaml/tests/simd/amd64/stub_builtins.c
  oxcaml/tests/simd/arm64/builtins.ml
  oxcaml/tests/simd/arm64/stub_builtins.c
  oxcaml/tests/simd/arrays_u.ml
  oxcaml/tests/simd/callback.ml
  oxcaml/tests/simd/dune
  oxcaml/tests/simd/dune.inc
  oxcaml/tests/simd/float32_reference.ml
  oxcaml/tests/simd/float64_reference.ml
  oxcaml/tests/simd/gen/dune
  oxcaml/tests/simd/gen/gen_dune.ml
  oxcaml/tests/simd/ops.ml
  oxcaml/tests/simd/ops_float32x4.ml
  oxcaml/tests/simd/ops_float64x2.ml
  oxcaml/tests/simd/ops_int16x8.ml
  oxcaml/tests/simd/ops_int32x4.ml
  oxcaml/tests/simd/ops_int64x2.ml
  oxcaml/tests/simd/ops_int8x16.ml
  oxcaml/tests/simd/scalar_ops.ml
  oxcaml/tests/simd/stubs.c
  oxcaml/tests/simd/stubs256.c
  oxcaml/tests/simd/test_callee_save_neon_regs.ml
  oxcaml/tests/simd/unbox_types.ml
  oxcaml/tests/simd/utils.ml
Labels: backend, arm64

#4169 fix finaliser handling bug
  runtime/major_gc.c
Labels: runtime, OCaml 5

#4101 Don't specialize `%obj_field`, `%obj_setfield`, and `%obj_size`
  lambda/translprim.ml
Labels: lambda

#4176 Don't fatal error on SIMD prims in bytecode
  bytecomp/blambda_of_lambda.ml
  oxcaml/tests/simd/bytecode.expected
  oxcaml/tests/simd/bytecode.ml
  oxcaml/tests/simd/dune
  runtime/simd.c
  runtime4/simd.c
Labels: simd

#4185 Update configure.ac
  configure.ac
Labels: bug, build system

#4182 Arm64: fix and re-enable one more SIMD test
  backend/arm64/emit.ml
  backend/arm64/simd.ml
  backend/arm64/simd_proc.ml
  backend/arm64/simd_selection.ml
  oxcaml/tests/simd/amd64/sse_other_ops.ml
  oxcaml/tests/simd/arm64/builtins.ml
  oxcaml/tests/simd/arm64/stub_builtins.c
  oxcaml/tests/simd/ops_float64x2.ml
Labels: simd, arm64

#4104 arm64 - switch to C stack before raising stack overflow
  runtime/arm64.S
Labels: bug, runtime, arm64

#4098 `Typeopt.array_type_kind`: when element is non-value or unknown, error instead of defaulting to `Pgenvalue`
  lambda/transl_array_comprehension.ml
  lambda/translprim.ml
  testsuite/tests/typing-layouts-arrays/array_type_kind_errors.ml
  testsuite/tests/typing-layouts/layout_poly.ml
  typing/jkind.ml
  typing/jkind_intf.ml
  typing/typeopt.ml
  typing/typeopt.mli
Labels: bug, typing

#4191 Aliases_of_canonical_element.invariant is a light invariant check
  middle_end/flambda2/types/env/aliases.ml
Labels: flambda2

#4181 Add missing inlining annotations to Name.pattern_match
  middle_end/flambda2/identifiers/code_id_or_name.ml
  middle_end/flambda2/identifiers/int_ids.ml
  middle_end/flambda2/term_basics/simple.ml
  middle_end/flambda2/types/env/join_env.ml
Labels: flambda2

#4202 Remove overzealous kind check in Continuation_uses
  middle_end/flambda2/simplify/env/continuation_uses.ml
Labels: flambda2

#4205 Fix bug with Lstaticcatch void parameters
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
Labels: flambda2, lambda

#4204 Fix option to disable Flambda2 result types
  driver/oxcaml_args.ml
Labels: flambda2

#4218 fix(flambda2): Only check for unbound names in invariant
  middle_end/flambda2/nominal/name_occurrences.ml
  middle_end/flambda2/nominal/name_occurrences.mli
  middle_end/flambda2/types/env/typing_env.ml
Labels: flambda2

#4197 Fix round-trip printing bug with hash types
  parsing/pprintast.ml
  testsuite/tests/parsetree/source_jane_street.ml
Labels: bug

#4214 fix(flambda2): Deterministic order for lifted symbols
  middle_end/flambda2/bound_identifiers/bound_static.ml
  middle_end/flambda2/bound_identifiers/bound_static.mli
  middle_end/flambda2/simplify/lifting/lifted_constant_state.ml
  middle_end/flambda2/tests/mlexamples/inlined_rec.flt
  middle_end/flambda2/tests/mlexamples/local.flt
  middle_end/flambda2/tests/mlexamples/tests5.flt
  middle_end/flambda2/tests/mlexamples/unroll3.flt
  middle_end/flambda2/tests/mlexamples/unroll4.flt
  middle_end/flambda2/tests/mlexamples/unroll5.flt
  utils/strongly_connected_components.ml
  utils/strongly_connected_components.mli
Labels: flambda2

#4233 chore: Use `kind_checks` for fallible kind-related invariant
  middle_end/flambda2/from_lambda/closure_conversion.ml
Labels: flambda2

#4227 Allow `float32` kind without the `small_numbers` extension.
  typing/typeopt.ml
Labels: unboxed types

#4196 Allow `or_null` in `[@@unboxed]` types
  testsuite/tests/typing-layouts-or-null/separability.ml
  testsuite/tests/typing-layouts-or-null/test_or_null.ml
  testsuite/tests/typing-layouts-products/separability.ml
  testsuite/tests/typing-layouts-products/separability_implicit_unboxed_records.ml
  typing/jkind.ml
  typing/jkind_intf.ml
  typing/typedecl.ml
Labels: typing, unboxed types, or_null
