Repository oxcaml/oxcaml, pull requests merged in 2025-05, with the labels that each got.

#3950 Remove unused function
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfg_to_linear.mli
Labels: backend, non-material change

#3958 Refactor test for simd arrays
  flambda-backend/tests/simd/arrays.ml
  flambda-backend/tests/simd/arrays_u.ml
  flambda-backend/tests/simd/stubs.c
Labels: non-material change

#3963 Remove duplicate VEX prefix
  backend/x86_binary_emitter.ml
  tools/simdgen/simdgen.ml
Labels: backend, simd

#3773 Configurable fiber stack sizes
  otherlibs/systhreads/st_stubs.c
  runtime/amd64.S
  runtime/backtrace_nat.c
  runtime/caml/config.h
  runtime/caml/fiber.h
  runtime/domain.c
  runtime/fiber.c
  runtime/gc_ctrl.c
  runtime/signals_nat.c
  runtime/startup_aux.c
  runtime/startup_byt.c
  runtime/startup_nat.c
Labels: runtime, effects

#3968 Fix "regalloc" profile category
  asmcomp/asmgen.ml
Labels: cfg

#3931 Use new directives on x86
  backend/amd64/emit.ml
  backend/arm64/emit.ml
  backend/asm_targets/asm_directives_new.ml
  backend/asm_targets/asm_directives_new.mli
  backend/asm_targets/asm_label.ml
  backend/asm_targets/asm_label.mli
  backend/asm_targets/asm_section.ml
  backend/asm_targets/asm_section.mli
  backend/asm_targets/asm_symbol.ml
  backend/asm_targets/asm_symbol.mli
  utils/target_system.ml
Labels: backend

#3746 arm64: popcnt/ctz without CSSC
  backend/arm64/arch.ml
  backend/arm64/arch.mli
  backend/arm64/emit.ml
  backend/arm64/proc.ml
  backend/arm64_ast.ml
  backend/arm64_ast.mli
Labels: backend, arm64

#3978 Fix tsan save/restore xmm
  runtime/amd64.S
Labels: runtime

#3985 Revert "Use new directives on x86"
  backend/amd64/emit.ml
  backend/arm64/emit.ml
  backend/asm_targets/asm_directives_new.ml
  backend/asm_targets/asm_directives_new.mli
  backend/asm_targets/asm_label.ml
  backend/asm_targets/asm_label.mli
  backend/asm_targets/asm_section.ml
  backend/asm_targets/asm_section.mli
  backend/asm_targets/asm_symbol.ml
  backend/asm_targets/asm_symbol.mli
  utils/target_system.ml
Labels: backend

#3986 New computation for signal stack sizes
  otherlibs/systhreads/st_stubs.c
  runtime/caml/signals.h
  runtime/domain.c
  runtime/signals.c
Labels: bug, runtime, OCaml 5

#3992 Fix emit_stores
  backend/cfg_selectgen.ml
  testsuite/tests/typing-layouts-arrays/test_vec128_u_array.ml
Labels: backend, arm64

#3979 (arm64) fix save/restore for vec128
  runtime/arm64.S
  runtime/caml/stack.h
  runtime4/arm64.S
Labels: runtime, arm64

#3994 (arm64) Disable a failing test
  testsuite/tests/typing-layouts-arrays/test_vec128_u_array.ml
Labels: bug

#3693 datalog: Clear binders after rule evaluation
  middle_end/flambda2/datalog/cursor.ml
Labels: flambda2

#3864 Introduce a new flavor of type, `Tof_kind`, for representing existentials that end up in with-bounds
  extract_externals/traverse_typed_tree.ml
  file_formats/cmt_format.ml
  ocamldoc/odoc_misc.ml
  ocamldoc/odoc_str.ml
  ocamldoc/odoc_value.ml
  parsing/ast_helper.ml
  parsing/ast_helper.mli
  parsing/ast_iterator.ml
  parsing/ast_mapper.ml
  parsing/depend.ml
  parsing/parser.mly
  parsing/parsetree.mli
  parsing/pprintast.ml
  parsing/printast.ml
  printer/printast_with_mappings.ml
  testsuite/tests/parsetree/source_jane_street.ml
  toplevel/genprintval.ml
  typing/btype.ml
  typing/ctype.ml
  typing/errortrace.ml
  typing/errortrace.mli
  typing/jkind.ml
  typing/jkind_intf.ml
  typing/oprint.ml
  typing/outcometree.mli
  typing/printtyp.ml
  typing/printtyped.ml
  typing/tast_iterator.ml
  typing/tast_mapper.ml
  typing/typedecl.ml
  typing/typedecl_separability.ml
  typing/typedecl_variance.ml
  typing/typedtree.ml
  typing/typedtree.mli
  typing/typemode.ml
  typing/typemode.mli
  typing/typeopt.ml
  typing/types.ml
  typing/types.mli
  typing/typetexp.ml
  typing/untypeast.ml
Labels: typing

#3982 Fix to_cmm with complex arities
  backend/cmm_helpers.ml
Labels: flambda2

#3981 Remove subkinds from value slots
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/identifiers/slot.ml
  middle_end/flambda2/identifiers/slot.mli
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/simplify/unboxing/build_unboxing_denv.ml
  middle_end/flambda2/simplify/unboxing/unboxers.ml
  middle_end/flambda2/simplify_shared/slot_offsets.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/grammar/more_type_creators.ml
  middle_end/flambda2/types/grammar/more_type_creators.mli
  middle_end/flambda2/types/provers.ml
  testsuite/tests/tool-ocamlobjinfo/question.reference
Labels: flambda2

#3999 Set a default for major_heap_increment
  runtime/caml/config.h
  runtime/startup_aux.c
Labels: runtime, OCaml 5

#3987 Add bounds checks to the frame table emission code
  backend/amd64/emit.ml
  backend/arm64/emit.ml
  backend/emitaux.ml
  backend/emitaux.mli
  runtime4/caml/stack.h
Labels: backend

#4025 Add option to enable validation in standalone `regalloc` tool
  asmcomp/asmgen.ml
  file_formats/cfg_format.ml
  file_formats/cfg_format.mli
  tools/regalloc/regalloc.ml
Labels: bug, backend

#3942 Propagate Debugging Identifiers through Lambda
  bytecomp/blambda_of_lambda.ml
  chamelon/compat.jst.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/matching.ml
  lambda/printlambda.ml
  lambda/simplif.ml
  lambda/simplif.mli
  lambda/tmc.ml
  lambda/transl_array_comprehension.ml
  lambda/transl_comprehension_utils.ml
  lambda/transl_comprehension_utils.mli
  lambda/transl_list_comprehension.ml
  lambda/translclass.ml
  lambda/translcore.ml
  lambda/translmod.ml
  lambda/translobj.ml
  lambda/translprim.ml
  lambda/value_rec_compiler.ml
  lambda/value_rec_compiler.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_lambda_transforms.ml
  middle_end/flambda2/from_lambda/lambda_to_lambda_transforms.mli
  toplevel/native/opttoploop.ml
  typing/printtyped.ml
  typing/tast_iterator.ml
  typing/tast_mapper.ml
  typing/typecore.ml
  typing/typecore.mli
  typing/typedtree.ml
  typing/typedtree.mli
Labels: typing, lambda

#4030 arm64: fix mov register encoding
  backend/arm64/emit.ml
  backend/arm64_ast.ml
  backend/arm64_ast.mli
  testsuite/tests/typing-layouts-arrays/test_vec128_u_array.ml
Labels: backend, arm64

#3928 stack checks in github ci
  .github/workflows/build.yml
Labels: CI

#3807 `value_or_null` atomics with correct result kind inference
  lambda/lambda.ml
  middle_end/flambda2/simplify/simplify_ternary_primitive.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/grammar/more_type_creators.ml
  middle_end/flambda2/types/grammar/more_type_creators.mli
  middle_end/flambda2/types/provers.ml
  middle_end/flambda2/types/provers.mli
  stdlib/atomic.ml
  stdlib/atomic.mli
  testsuite/tests/typing-layouts-or-null/atomics.ml
Labels: middle end, or_null

#4034 Function sections for cached generic functions
  tools/generate_cached_generic_functions.ml
Labels: backend

#3687 Unboxed records inside boxed records
  bytecomp/blambda_of_lambda.ml
  jane/doc/extensions/_02-unboxed-types/intro.md
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/matching.ml
  lambda/mixed_block_shape.ml
  lambda/mixed_block_shape.mli
  lambda/printlambda.ml
  lambda/translcore.ml
  lambda/value_rec_compiler.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  runtime/caml/mlvalues.h
  runtime4/caml/mlvalues.h
  testsuite/tests/nested-mixed-records/bug.ml
  testsuite/tests/nested-mixed-records/example.ml
  testsuite/tests/nested-mixed-records/example.reference
  testsuite/tests/nested-mixed-records/tests.ml
  testsuite/tests/nested-mixed-records/tests.reference
  testsuite/tests/records-and-block-indices/generated_record_access_bytecode_test.ml
  testsuite/tests/records-and-block-indices/generated_record_access_bytecode_test.reference
  testsuite/tests/records-and-block-indices/generated_record_access_local_bytecode_test.ml
  testsuite/tests/records-and-block-indices/generated_record_access_local_bytecode_test.reference
  testsuite/tests/records-and-block-indices/generated_record_access_local_native_test.ml
  testsuite/tests/records-and-block-indices/generated_record_access_local_native_test.reference
  testsuite/tests/records-and-block-indices/generated_record_access_native_test.ml
  testsuite/tests/records-and-block-indices/generated_record_access_native_test.reference
  testsuite/tests/records-and-block-indices/generated_record_size_bytecode_test.ml
  testsuite/tests/records-and-block-indices/generated_record_size_bytecode_test.reference
  testsuite/tests/records-and-block-indices/generated_record_size_native_test.ml
  testsuite/tests/records-and-block-indices/generated_record_size_native_test.reference
  testsuite/tests/records-and-block-indices/stubs.c
  testsuite/tests/typing-layouts-products/basics.ml
  testsuite/tests/typing-layouts-products/basics_implicit_unboxed_records.ml
  testsuite/tests/typing-layouts-products/basics_unboxed_records.ml
  testsuite/tests/typing-layouts/hash_types.ml
  toplevel/genprintval.ml
  typing/typecore.ml
  typing/typedecl.ml
  typing/typeopt.ml
  typing/types.ml
  typing/types.mli
  typing/value_rec_check.ml
  utils/misc.ml
  utils/misc.mli
Labels: unboxed types

#3998 New directives in x86 v2
  backend/amd64/emit.ml
  backend/arm64/emit.ml
  backend/asm_targets/asm_directives_new.ml
  backend/asm_targets/asm_directives_new.mli
  backend/asm_targets/asm_label.ml
  backend/asm_targets/asm_label.mli
  backend/asm_targets/asm_section.ml
  backend/asm_targets/asm_section.mli
  backend/asm_targets/asm_symbol.ml
  backend/asm_targets/asm_symbol.mli
  utils/target_system.ml
Labels: backend

#3948 Remove old x86 Directives
  backend/amd64/emit.ml
  backend/arm64/emit.ml
  backend/asm_targets/asm_directives.ml
  backend/asm_targets/asm_directives_new.ml
  backend/asm_targets/asm_directives_new.mli
  backend/asm_targets/asm_section.ml
  backend/asm_targets/asm_section.mli
  backend/internal_assembler/internal_assembler.ml
  backend/internal_assembler/symbol_entry.ml
  backend/x86_ast.mli
  backend/x86_binary_emitter.ml
  backend/x86_binary_emitter.mli
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
  backend/x86_proc.ml
Labels: backend

#3501 Continuation specialization, aka match-in-match
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  driver/flambda_backend_flags.ml
  driver/flambda_backend_flags.mli
  flambda-backend/tests/backend/zero_alloc_checker/dune.inc
  flambda-backend/tests/backend/zero_alloc_checker/gen/gen_dune.ml
  middle_end/flambda2/identifiers/continuation_callsite_map.ml
  middle_end/flambda2/identifiers/continuation_callsite_map.mli
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/simplify/apply_cont_rewrite.ml
  middle_end/flambda2/simplify/are_lifting_conts.ml
  middle_end/flambda2/simplify/are_lifting_conts.mli
  middle_end/flambda2/simplify/continuation_extra_params_and_args.ml
  middle_end/flambda2/simplify/env/continuation_uses.ml
  middle_end/flambda2/simplify/env/continuation_uses.mli
  middle_end/flambda2/simplify/env/continuation_uses_env.ml
  middle_end/flambda2/simplify/env/continuation_uses_env.mli
  middle_end/flambda2/simplify/env/downwards_acc.ml
  middle_end/flambda2/simplify/env/downwards_acc.mli
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
  middle_end/flambda2/simplify/env/upwards_acc.ml
  middle_end/flambda2/simplify/env/upwards_acc.mli
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/simplify/flow/flow.mli
  middle_end/flambda2/simplify/flow/flow_acc.ml
  middle_end/flambda2/simplify/flow/flow_acc.mli
  middle_end/flambda2/simplify/flow/flow_analysis.ml
  middle_end/flambda2/simplify/flow/flow_analysis.mli
  middle_end/flambda2/simplify/flow/flow_types.ml
  middle_end/flambda2/simplify/flow/flow_types.mli
  middle_end/flambda2/simplify/flow/mutable_unboxing.ml
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/non_recursive_handler.ml
  middle_end/flambda2/simplify/non_recursive_handler.mli
  middle_end/flambda2/simplify/one_recursive_handler.ml
  middle_end/flambda2/simplify/one_recursive_handler.mli
  middle_end/flambda2/simplify/simplify_apply_cont_expr.ml
  middle_end/flambda2/simplify/simplify_expr.ml
  middle_end/flambda2/simplify/simplify_let_cont_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/simplify/specialization_cost.ml
  middle_end/flambda2/simplify/specialization_cost.mli
  middle_end/flambda2/simplify/unboxing/build_unboxing_denv.ml
  middle_end/flambda2/simplify_shared/call_site_inlining_decision_type.ml
  middle_end/flambda2/tests/mlexamples/dune
  middle_end/flambda2/tests/mlexamples/lift_rec_cont.flt
  middle_end/flambda2/ui/flambda_features.ml
  middle_end/flambda2/ui/flambda_features.mli
Labels: flambda2, match-in-match

#4042 Don't update memprof too early at the end of minor GC
  runtime/minor_gc.c
Labels: to upstream, runtime, OCaml 5

#4046 Fix yet another Infix_tag bug, this one in oldify_one.
  runtime/minor_gc.c
Labels: runtime, OCaml 5

#3814 Infer with-kinds for GADTs, using `Tof_kind` for existentials
  jane/doc/proposals/kind-inference.md
  testsuite/tests/parsetree/source_jane_street.ml
  testsuite/tests/typing-jkind-bounds/gadt.ml
  testsuite/tests/typing-jkind-bounds/subsumption/quality.ml
  tools/debug_printers.ml
  typing/btype.ml
  typing/btype.mli
  typing/ctype.ml
  typing/ctype.mli
  typing/datarepr.ml
  typing/jkind.ml
  typing/jkind.mli
  typing/printtyp.ml
  typing/printtyp.mli
  typing/subst.ml
  typing/typedecl.ml
  typing/types.ml
  typing/types.mli
Labels: typing

#4065 Record that we have switched locking schemes
  otherlibs/systhreads/st_stubs.c
  testsuite/tests/lib-systhreads/swapgil_then_domains.ml
  testsuite/tests/lib-systhreads/swapgil_then_domains.reference
Labels: runtime, OCaml 5
