Repository oxcaml/oxcaml, pull requests merged in 2025-02, with the labels that each got.

#3534 flambda2-types: Recover aliases after meet
  middle_end/flambda2/term_basics/simple.ml
  middle_end/flambda2/term_basics/simple.mli
  middle_end/flambda2/tests/meet_test.ml
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/grammar/type_grammar.ml
  middle_end/flambda2/types/grammar/type_grammar.mli
Labels: flambda2

#3106 `stack_ fun` doesn't need parens
  parsing/parser.mly
  testsuite/tests/parsetree/source_jane_street.ml
  testsuite/tests/typing-modes/stack.ml
Labels: lexer/parser, stack allocation

#3531 Tweak unboxed products documentation
  jane/doc/extensions/unboxed-types/index.md
Labels: documentation

#3125 Zero alloc: add -zero-alloc-assert flag and [@@@zero_alloc all_opt] attribute
  driver/flambda_backend_args.ml
  driver/flambda_backend_args.mli
  flambda-backend/tests/backend/zero_alloc_checker/dune
  flambda-backend/tests/backend/zero_alloc_checker/dune.inc
  flambda-backend/tests/backend/zero_alloc_checker/fail27.ml
  flambda-backend/tests/backend/zero_alloc_checker/fail27.output
  flambda-backend/tests/backend/zero_alloc_checker/fail27_default.output
  flambda-backend/tests/backend/zero_alloc_checker/fail27_opt.output
  flambda-backend/tests/backend/zero_alloc_checker/fail28.ml
  flambda-backend/tests/backend/zero_alloc_checker/fail28.output
  flambda-backend/tests/backend/zero_alloc_checker/fail28_opt.output
  flambda-backend/tests/backend/zero_alloc_checker/gen/gen_dune.ml
  lambda/translcore.ml
  middle_end/flambda2/reaper/traverse.ml
  parsing/builtin_attributes.ml
  typing/typedtree.ml
  utils/.ocamlformat-enable
  utils/clflags.ml
  utils/clflags.mli
  utils/zero_alloc_annotations.ml
  utils/zero_alloc_annotations.mli
Labels: zero alloc

#3537 flambda2-types: Make meet return a new typing env
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
  middle_end/flambda2/simplify/join_points.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_switch_expr.ml
  middle_end/flambda2/simplify/simplify_variadic_primitive.ml
  middle_end/flambda2/simplify/unboxing/build_unboxing_denv.ml
  middle_end/flambda2/simplify/unboxing/optimistic_unboxing_decision.ml
  middle_end/flambda2/tests/api_tests/extension_meet.ml
  middle_end/flambda2/tests/meet_test.ml
  middle_end/flambda2/types/flambda2_types.ml
  middle_end/flambda2/types/flambda2_types.mli
  middle_end/flambda2/types/meet_and_join.ml
  middle_end/flambda2/types/meet_and_join.mli
  middle_end/flambda2/types/meet_and_join_new.ml
  middle_end/flambda2/types/meet_and_join_new.mli
  middle_end/flambda2/types/meet_and_join_old.ml
  middle_end/flambda2/types/meet_and_join_old.mli
Labels: flambda2

#3528 #2857 again
  asmcomp/asmgen.ml
  driver/main_args.ml
  driver/main_args.mli
  driver/maindriver.ml
  driver/optmaindriver.ml
  flambda-backend/testsuite/tools/codegen_main.ml
  testsuite/tests/tool-ocamlc-stop-after/stop_after_linearization.compilers.reference
  testsuite/tests/tool-ocamlc-stop-after/stop_after_linearization.ml
  testsuite/tests/tool-ocamlc-stop-after/stop_after_linearization.sh
  testsuite/tests/tool-ocamlc-stop-after/stop_after_scheduling.compilers.reference
  testsuite/tests/tool-ocamlc-stop-after/stop_after_scheduling.sh
  testsuite/tests/tool-ocamlopt-save-ir/check_for_pack.ml
  testsuite/tests/tool-ocamlopt-save-ir/save_ir_after_linearization.ml
  testsuite/tests/tool-ocamlopt-save-ir/save_ir_after_linearization.sh
  testsuite/tests/tool-ocamlopt-save-ir/save_ir_after_typing.compilers.reference
  testsuite/tests/tool-ocamlopt-save-ir/start_from_emit.ml
  testsuite/tests/tool-ocamlopt-stop-after/stop_after_linearization.ml
  testsuite/tests/tool-ocamlopt-stop-after/stop_after_linearization.sh
  testsuite/tools/codegen_main.ml
  utils/clflags.ml
  utils/clflags.mli
Labels: backend

#3539 flambda2-types: It is OK to add an alias between constants
  middle_end/flambda2/types/env/aliases.ml
Labels: flambda2

#3415 updated cmm_helpers interface to be more amenable to adding other int sizes
  backend/cmm_builtins.ml
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  middle_end/flambda2/to_cmm/to_cmm_expr.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  testsuite/tests/basic/division_by_constant.ml
  utils/misc.ml
  utils/misc.mli
Labels: cmm

#3523 Shifts with unboxed count
  backend/cmm_builtins.ml
Labels: backend

#3134 Support `@@@zero_alloc all` and `@@@zero_alloc all_opt` on ".mli" files
  flambda-backend/tests/backend/zero_alloc_checker/dune
  flambda-backend/tests/backend/zero_alloc_checker/dune.inc
  flambda-backend/tests/backend/zero_alloc_checker/fail29.ml
  flambda-backend/tests/backend/zero_alloc_checker/fail29.mli
  flambda-backend/tests/backend/zero_alloc_checker/fail29.output
  flambda-backend/tests/backend/zero_alloc_checker/fail29_opt.ml
  flambda-backend/tests/backend/zero_alloc_checker/fail29_opt.mli
  flambda-backend/tests/backend/zero_alloc_checker/fail29_opt.output
  flambda-backend/tests/backend/zero_alloc_checker/fail29_opt2.output
  flambda-backend/tests/backend/zero_alloc_checker/gen/gen_dune.ml
  parsing/builtin_attributes.ml
  testsuite/tests/typing-zero-alloc/signatures.ml
  typing/typedecl.ml
  typing/zero_alloc.ml
  typing/zero_alloc.mli
  utils/warnings.ml
  utils/warnings.mli
Labels: zero alloc

#3140 Zero alloc: new payload "assume_unless_opt"
  flambda-backend/tests/backend/zero_alloc_checker/dune
  flambda-backend/tests/backend/zero_alloc_checker/dune.inc
  flambda-backend/tests/backend/zero_alloc_checker/gen/gen_dune.ml
  flambda-backend/tests/backend/zero_alloc_checker/test_assume_on_call.output
  flambda-backend/tests/backend/zero_alloc_checker/test_assume_unless_opt.ml
  flambda-backend/tests/backend/zero_alloc_checker/test_assume_unless_opt.output
  flambda-backend/tests/backend/zero_alloc_checker/test_assume_unless_opt_on_call.ml
  flambda-backend/tests/backend/zero_alloc_checker/test_assume_unless_opt_on_call.output
  flambda-backend/tests/backend/zero_alloc_checker/test_assume_unless_opt_on_call2.output
  flambda-backend/tests/backend/zero_alloc_checker/test_assume_unless_opt_sig.ml
  flambda-backend/tests/backend/zero_alloc_checker/test_assume_unless_opt_sig.output
  flambda-backend/tests/backend/zero_alloc_checker/test_assume_unless_opt_sig2.output
  flambda-backend/tests/backend/zero_alloc_checker/test_attribute_error_duplicate.output
  parsing/builtin_attributes.ml
  parsing/builtin_attributes.mli
  testsuite/tests/typing-zero-alloc/signatures.ml
  typing/typecore.ml
  typing/typedecl.ml
Labels: zero alloc

#3228 Zero alloc: better error messages for allocations
  backend/arm64/arch.ml
  backend/arm64/arch.mli
  backend/branch_relaxation_intf.mli
  backend/cfg/cfg_comballoc.ml
  backend/cfg_selectgen.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/comballoc.ml
  backend/emitaux.ml
  backend/emitaux.mli
  backend/mach.ml
  backend/mach.mli
  backend/operation.ml
  backend/operation.mli
  backend/printcmm.ml
  backend/select_utils.ml
  backend/selectgen.ml
  backend/zero_alloc_checker.ml
  backend/zero_alloc_checker.mli
  flambda-backend/tests/backend/zero_alloc_checker/fail24.output
  flambda-backend/tests/backend/zero_alloc_checker/test_bounded_join3.output
  flambda-backend/tests/backend/zero_alloc_checker/test_bounded_join4.output
  flambda-backend/tests/backend/zero_alloc_checker/test_inference.opt.output
  flambda-backend/tests/backend/zero_alloc_checker/test_inference.output
  flambda-backend/tests/backend/zero_alloc_checker/test_remove_inferred_assume.output
  flambda-backend/testsuite/tools/parsecmm.mly
  lambda/debuginfo.ml
  lambda/debuginfo.mli
  testsuite/tools/parsecmm.mly
Labels: zero alloc

#3390 Avoid recomputing the same info (CFG polling)
  backend/cfg/cfg_polling.ml
Labels: cfg, backend

#3550 Ensure that field_set always returns unit
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
Labels: flambda2, backend, cmm

#3558 Allow non-values in `[@@unboxed]` types
  testsuite/tests/typing-layouts-bits32/basics.ml
  testsuite/tests/typing-layouts-bits32/basics_alpha.ml
  testsuite/tests/typing-layouts-bits64/basics.ml
  testsuite/tests/typing-layouts-bits64/basics_alpha.ml
  testsuite/tests/typing-layouts-float32/basics.ml
  testsuite/tests/typing-layouts-float64/basics.ml
  testsuite/tests/typing-layouts-products/basics.ml
  testsuite/tests/typing-layouts-products/separability.ml
  testsuite/tests/typing-layouts-vec128/basics.ml
  testsuite/tests/typing-layouts-vec128/basics_alpha.ml
  testsuite/tests/typing-layouts-word/basics.ml
  testsuite/tests/typing-layouts-word/basics_alpha.ml
  testsuite/tests/typing-unboxed-types/atat_unboxed_gadts.ml
  testsuite/tests/typing-unboxed-types/atat_unboxed_gadts.reference
  testsuite/tests/typing-unboxed-types/atat_unboxed_gadts_disabled.compilers.reference
  testsuite/tests/typing-unboxed-types/test.ml
  typing/typedecl.ml
Labels: typing, unboxed types

#3544 Log all different kinds of work in a major GC slice.
  runtime/major_gc.c
Labels: runtime

#3556 Vectorizer disabled in classic mode
  asmcomp/asmgen.ml
  flambda-backend/tests/backend/vectorizer/dune.inc
  flambda-backend/tests/backend/vectorizer/gen/gen_dune.ml
Labels: vectorizer

#3551 Turn lib-runtime-events tests back on (with some alert tweaks)
  testsuite/tests/lib-runtime-events/test.ml
  testsuite/tests/lib-runtime-events/test_caml.ml
  testsuite/tests/lib-runtime-events/test_caml_parallel.ml
  testsuite/tests/lib-runtime-events/test_caml_slot_reuse.ml
  testsuite/tests/lib-runtime-events/test_dropped_events.ml
Labels: runtime

#3553 Only run `memset` when stack checks are enabled
  runtime/fiber.c
  testsuite/tests/effects/test1.ml
Labels: runtime

#3401 Consider modalities when adding baggage to with-kinds
  parsing/ast_helper.ml
  parsing/ast_iterator.ml
  parsing/ast_mapper.ml
  parsing/depend.ml
  parsing/parser.mly
  parsing/parsetree.mli
  parsing/pprintast.ml
  parsing/printast.ml
  printer/printast_with_mappings.ml
  testsuite/tests/language-extensions/pprintast_unconditional.ml
  testsuite/tests/language-extensions/pprintast_unconditional.reference
  testsuite/tests/parsetree/source_jane_street.ml
  testsuite/tests/typing-jkind-bounds/basics.ml
  testsuite/tests/typing-jkind-bounds/modalities.ml
  testsuite/tests/typing-jkind-bounds/predef.ml
  testsuite/tests/typing-jkind-bounds/with_basics.ml
  testsuite/tests/typing-modes/portable-contend.ml
  typing/ctype.ml
  typing/jkind.ml
  typing/jkind.mli
  typing/jkind_axis.ml
  typing/jkind_axis.mli
  typing/mode.ml
  typing/mode_intf.mli
  typing/predef.ml
  typing/typemode.ml
Labels: modes

#3410 Faithfully print with-kinds by reconstructing modalities for types
  testsuite/tests/parsetree/source_jane_street.ml
  testsuite/tests/typing-jkind-bounds/modalities.ml
  typing/btype.ml
  typing/btype.mli
  typing/jkind.ml
  typing/jkind.mli
  typing/jkind_axis.ml
  typing/jkind_axis.mli
  typing/mode_intf.mli
  typing/oprint.ml
  typing/outcometree.mli
  typing/printtyp.ml
Labels: modes

#3457 Restructure modal and with-bounds (fka baggage) in jkind
  testsuite/tests/parsetree/source_jane_street.ml
  testsuite/tests/typing-jkind-bounds/modalities.ml
  testsuite/tests/typing-layouts/allow_any.ml
  typing/ctype.ml
  typing/jkind.ml
  typing/jkind.mli
  typing/jkind_axis.ml
  typing/jkind_axis.mli
  typing/jkind_types.ml
  typing/jkind_types.mli
  typing/mode.ml
  typing/mode_intf.mli
  typing/predef.ml
  typing/subst.ml
  typing/typedecl.ml
  typing/typedecl.mli
  typing/typemode.ml
  typing/typemode.mli
Labels: modes

#3503 Move (most of) the type definitions for jkind into Types
  typing/jkind.ml
  typing/jkind.mli
  typing/jkind_types.ml
  typing/jkind_types.mli
  typing/typedecl.ml
  typing/types.ml
  typing/types.mli
  utils/misc.ml
  utils/misc.mli
Labels: typing, modes

#3505 Track quality of jkinds
  typing/jkind.ml
  typing/jkind.mli
  typing/predef.ml
  typing/predef.mli
  typing/subst.ml
  typing/typedecl.ml
  typing/types.ml
  typing/types.mli
Labels: typing, modes

#3509 Normalize and deduplicate with-bounds in jkinds
  testsuite/tests/parsetree/source_jane_street.ml
  testsuite/tests/shape-index/index_constrs_records.reference
  testsuite/tests/shapes/nested_types.ml
  testsuite/tests/typing-jkind-bounds/basics.ml
  testsuite/tests/typing-jkind-bounds/composite.ml
  testsuite/tests/typing-jkind-bounds/modalities.ml
  testsuite/tests/typing-jkind-bounds/no-infer-across-modules/test.ml
  testsuite/tests/typing-jkind-bounds/predef.ml
  testsuite/tests/typing-jkind-bounds/records.ml
  testsuite/tests/typing-jkind-bounds/variants.ml
  testsuite/tests/typing-jkind-bounds/with_basics.ml
  testsuite/tests/typing-layouts-or-null/reexport.ml
  testsuite/tests/typing-layouts-products/unboxed_records_alpha.ml
  testsuite/tests/typing-layouts/allow_any.ml
  testsuite/tests/typing-unique/unique_analysis.ml
  typing/ctype.ml
  typing/includecore.ml
  typing/jkind.ml
  typing/jkind.mli
  typing/jkind_axis.ml
  typing/jkind_axis.mli
  typing/mode.ml
  typing/mode_intf.mli
  typing/predef.ml
  typing/typecore.ml
  typing/typedecl.ml
  typing/typedecl_separability.ml
  typing/typeopt.ml
  typing/types.ml
  typing/types.mli
  utils/misc.ml
  utils/misc.mli
Labels: typing, modes

#3554 Finer typing for closing over module coercion
  driver/compile_common.ml
  testsuite/tests/typing-modes/module.ml
  testsuite/tests/typing-modes/val_modalities.ml
  toplevel/byte/topeval.ml
  toplevel/native/opttoploop.ml
  typing/env.ml
  typing/env.mli
  typing/includecore.ml
  typing/includecore.mli
  typing/includemod.ml
  typing/mode.ml
  typing/mode_intf.mli
  typing/mtype.ml
  typing/mtype.mli
  typing/typecore.ml
  typing/typemod.ml
Labels: typing

#3305 arm64: add support for clz and ctz intrinsics
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
Labels: backend

#3511 Support parameterised aliases with `-no-alias-deps`
  file_formats/cmi_format.ml
  file_formats/cmi_format.mli
  testsuite/tests/templates/dunelike/bad_access_submodule_directly.ml
  testsuite/tests/templates/dunelike/bad_access_submodule_directly.reference
  testsuite/tests/templates/dunelike/bad_use_util_wrongly.ml
  testsuite/tests/templates/dunelike/bad_use_util_wrongly.reference
  testsuite/tests/templates/dunelike/basic.ml
  testsuite/tests/templates/dunelike/basic.mli
  testsuite/tests/templates/dunelike/basic__.ml
  testsuite/tests/templates/dunelike/export_fancy_q_impl.ml
  testsuite/tests/templates/dunelike/export_fancy_q_impl.mli
  testsuite/tests/templates/dunelike/export_fancy_q_impl__.ml
  testsuite/tests/templates/dunelike/fancy.ml
  testsuite/tests/templates/dunelike/fancy.mli
  testsuite/tests/templates/dunelike/fancy__.ml
  testsuite/tests/templates/dunelike/flourish.ml
  testsuite/tests/templates/dunelike/flourish.mli
  testsuite/tests/templates/dunelike/gen-native.sh
  testsuite/tests/templates/dunelike/main.ml
  testsuite/tests/templates/dunelike/main.mli
  testsuite/tests/templates/dunelike/main__.ml
  testsuite/tests/templates/dunelike/main_basic.ml
  testsuite/tests/templates/dunelike/main_basic.mli
  testsuite/tests/templates/dunelike/main_basic__.ml
  testsuite/tests/templates/dunelike/ornament.ml
  testsuite/tests/templates/dunelike/ornament.mli
  testsuite/tests/templates/dunelike/p.mli
  testsuite/tests/templates/dunelike/p__.ml
  testsuite/tests/templates/dunelike/p_int.ml
  testsuite/tests/templates/dunelike/p_int.mli
  testsuite/tests/templates/dunelike/p_int__.ml
  testsuite/tests/templates/dunelike/p_string.ml
  testsuite/tests/templates/dunelike/p_string.mli
  testsuite/tests/templates/dunelike/p_string__.ml
  testsuite/tests/templates/dunelike/q.mli
  testsuite/tests/templates/dunelike/q__.ml
  testsuite/tests/templates/dunelike/q_impl.ml
  testsuite/tests/templates/dunelike/q_impl__.ml
  testsuite/tests/templates/dunelike/test.reference
  testsuite/tests/templates/dunelike/test_byte.ml
  testsuite/tests/templates/dunelike/test_native.ml
  testsuite/tests/templates/dunelike/use_fancy_q_impl.ml
  testsuite/tests/templates/dunelike/use_fancy_q_impl__.ml
  testsuite/tests/templates/dunelike/util.ml
  testsuite/tests/templates/dunelike/util.mli
  testsuite/tests/templates/dunelike/util__.ml
  tools/objinfo.ml
  typing/env.ml
  typing/env.mli
  typing/global_module.ml
  typing/global_module.mli
  typing/mtype.ml
  typing/persistent_env.ml
  typing/persistent_env.mli
  typing/signature_with_global_bindings.ml
  typing/signature_with_global_bindings.mli
  typing/typemod.ml
  utils/misc.mli
Labels: parameterized-libs

#3471 Support `stack_` for primitives that allocate
  lambda/translcore.ml
  lambda/translprim.ml
  lambda/translprim.mli
  testsuite/tests/parsetree/source_jane_street.ml
  testsuite/tests/typing-modes/stack.ml
  typing/typecore.ml
Labels: locals

#3549 Update documentation for `or_null`
  jane/doc/extensions/unboxed-types/index.md
  jane/doc/extensions/unboxed-types/null.md
  jane/doc/proposals/unboxed-types/extensions.md
  jane/doc/proposals/unboxed-types/index.md
  jane/doc/proposals/unboxed-types/inference.md
  jane/doc/proposals/unboxed-types/null.md
Labels: or_null

#3562 Extend `remove_overwritten_mov` peephole optimization
  backend/peephole/peephole_rules.ml
Labels: backend

#3560 AddressSanitizer support
  Makefile.common-jst
  Makefile.config.in
  Makefile.upstream
  backend/amd64/arch.ml
  backend/amd64/arch.mli
  backend/amd64/emit.ml
  backend/amd64/proc.ml
  backend/arm64/arch.ml
  backend/arm64/arch.mli
  backend/arm64/emit.mlp
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  configure.ac
  flambda-backend/tests/backend/address_sanitizer/address_sanitizer.expected
  flambda-backend/tests/backend/address_sanitizer/address_sanitizer.ml
  flambda-backend/tests/backend/address_sanitizer/address_sanitizer.mli
  flambda-backend/tests/backend/address_sanitizer/dune
  flambda-backend/tests/backend/address_sanitizer/stubs.c
  flambda-backend/testsuite/tests/asmgen/arith.cmm
  flambda-backend/testsuite/tests/asmgen/asan_report_wrappers.c
  flambda-backend/testsuite/tests/asmgen/immediates.cmm
  flambda-backend/testsuite/tests/asmgen/quicksort.cmm
  flambda-backend/testsuite/tests/asmgen/quicksort2.cmm
  flambda-backend/testsuite/tests/asmgen/soli.cmm
  flambda-backend/testsuite/tests/asmgen/tagged-integr.cmm
  flambda-backend/testsuite/tests/asmgen/tagged-quicksort.cmm
  flambda-backend/testsuite/tests/unboxed-primitive-args/test.ml
  runtime/caml/m.h.in
  runtime/gen_primsc.sh
  runtime/memory.c
  runtime/unix.c
  runtime4/Makefile
  runtime4/caml/m.h.in
  runtime4/memory.c
  testsuite/tests/asmgen/arith.cmm
  testsuite/tests/asmgen/asan_report_wrappers.c
  testsuite/tests/asmgen/immediates.cmm
  testsuite/tests/asmgen/quicksort.cmm
  testsuite/tests/asmgen/quicksort2.cmm
  testsuite/tests/asmgen/soli.cmm
  testsuite/tests/asmgen/tagged-integr.cmm
  testsuite/tests/asmgen/tagged-quicksort.cmm
  testsuite/tests/unboxed-primitive-args/test.ml
  utils/config.common.ml.in
  utils/config.fixed.ml
  utils/config.generated.ml.in
  utils/config.mli
  yacc/closure.c
  yacc/main.c
Labels: backend, runtime

#2985 Clean up `ret_mode` and `region` in `Lambda.lfunction`
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/simplif.ml
  lambda/simplif.mli
  lambda/tmc.ml
  lambda/transl_list_comprehension.ml
  lambda/translattribute.ml
  lambda/translclass.ml
  lambda/translcore.ml
  lambda/translmod.ml
  lambda/translprim.ml
  lambda/value_rec_compiler.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/terms/code_metadata.ml
  middle_end/flambda2/terms/code_metadata.mli
Labels: flambda2, lambda

#3417 Refactor CMM unboxed field getters/setters
  backend/cmm_helpers.ml
Labels: cmm

#3485 Basic Key API
  otherlibs/stdlib_alpha/capsule.ml
  otherlibs/stdlib_alpha/capsule.mli
  testsuite/tests/capsule-api/basics.ml
  testsuite/tests/capsule-api/condition.ml
  testsuite/tests/capsule-api/data.ml
  testsuite/tests/capsule-api/key.ml
  testsuite/tests/capsule-api/poisoning.ml
  testsuite/tests/capsule-api/rwlock_capsule.ml
  testsuite/tests/capsule-api/shared.ml
Labels: drf

#3594 build: Only set OCAMLPARAM if BUILD_OCAMLPARAM is defined
  Makefile.common-jst
Labels: build system

#3591 Avoid free of uninitialized pointer in st_stubs.c
  otherlibs/systhreads/st_stubs.c
Labels: runtime

#3592 Fix debug runtime assertion location in domain.c
  runtime/domain.c
Labels: runtime, OCaml 5

#3593 Do not write runtime events after going out of stw participant set
  runtime/major_gc.c
Labels: runtime, OCaml 5, domains

#3599 Hold lock around ephemeron debugging code.
  runtime/major_gc.c
Labels: runtime, OCaml 5

#3502 Track parent regions in Flambda2
  middle_end/flambda2/bound_identifiers/bound_for_function.ml
  middle_end/flambda2/bound_identifiers/bound_for_function.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion.mli
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_env.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_env.mli
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.mli
  middle_end/flambda2/nominal/name_occurrences.ml
  middle_end/flambda2/nominal/name_occurrences.mli
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/reaper/rev_expr.ml
  middle_end/flambda2/reaper/rev_expr.mli
  middle_end/flambda2/reaper/traverse.ml
  middle_end/flambda2/simplify/rebuilt_expr.mli
  middle_end/flambda2/simplify/rebuilt_static_const.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_common.ml
  middle_end/flambda2/simplify/simplify_nullary_primitive.ml
  middle_end/flambda2/simplify/simplify_primitive.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/simplify/simplify_variadic_primitive.ml
  middle_end/flambda2/simplify_shared/inlining_helpers.ml
  middle_end/flambda2/simplify_shared/inlining_helpers.mli
  middle_end/flambda2/term_basics/alloc_mode.ml
  middle_end/flambda2/term_basics/alloc_mode.mli
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/terms/removed_operations.ml
  middle_end/flambda2/tests/mlexamples/dune
  middle_end/flambda2/tests/mlexamples/generated-rules.inc
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
  middle_end/flambda2/to_cmm/to_cmm_shared.mli
Labels: bug, flambda2

#3600 Fatal error if allocations fail inside [lf_]skiplist.c
  runtime/caml/lf_skiplist.h
  runtime/lf_skiplist.c
  runtime/skiplist.c
Labels: runtime

#3596 A series of runtime-events fixes ported from upstream
  otherlibs/runtime_events/runtime_events.ml
  otherlibs/runtime_events/runtime_events.mli
  otherlibs/runtime_events/runtime_events_consumer.c
  runtime/caml/memory.h
  runtime/caml/misc.h
  runtime/caml/osdeps.h
  runtime/caml/runtime_events.h
  runtime/memory.c
  runtime/runtime_events.c
  runtime4/win32.c
  testsuite/tests/lib-runtime-events/test_corrupted.ml
  testsuite/tests/lib-runtime-events/test_create_cursor_failures.ml
  testsuite/tests/lib-runtime-events/test_create_cursor_failures.reference
Labels: runtime, OCaml 5

#3606 Smaller functorized test in `test_gen_u_array.ml`
  testsuite/tests/typing-layouts-arrays/test_gen_u_array.ml
Labels: testsuite

#3603 Fix runtime deadlocks with judicious use of caml_plat_non_blocking
  runtime/callback.c
  runtime/caml/io.h
  runtime/caml/platform.h
  runtime/codefrag.c
  runtime/gc_stats.c
  runtime/globroots.c
  runtime/io.c
  runtime/runtime_events.c
  runtime/signals.c
Labels: runtime

#3376 Avoid traversing C parts of frame pointer chain when reallocating stack
  runtime/amd64.S
  runtime/arm64.S
  runtime/fiber.c
  testsuite/tests/frame-pointers/c_call.reference
  testsuite/tests/frame-pointers/qsort.ml
  testsuite/tests/frame-pointers/qsort.reference
  testsuite/tests/frame-pointers/qsort_.c
Labels: runtime

#3597 Separate the mechanisms and APIs for dependent memory and custom blocks
  otherlibs/runtime_events/runtime_events.ml
  otherlibs/runtime_events/runtime_events.mli
  runtime/caml/bigarray.h
  runtime/caml/custom.h
  runtime/caml/domain_state.tbl
  runtime/caml/gc_stats.h
  runtime/caml/minor_gc.h
  runtime/caml/runtime_events.h
  runtime/caml/shared_heap.h
  runtime/custom.c
  runtime/domain.c
  runtime/gc_stats.c
  runtime/intern.c
  runtime/major_gc.c
  runtime/memory.c
  runtime/minor_gc.c
  runtime/shared_heap.c
Labels: runtime

#3512 Maintain stack alignment in OCaml callbacks
  flambda-backend/tests/simd/callback.ml
  flambda-backend/tests/simd/dune
  flambda-backend/tests/simd/stubs.c
  runtime/amd64.S
  runtime/caml/config.h
  runtime/caml/fiber.h
  runtime/caml/stack.h
  runtime/fiber.c
Labels: bug, runtime, simd

#3635 Make instruction identifiers abstract
  backend/amd64/cfg_selection.ml
  backend/amd64/emit.ml
  backend/arm64/cfg_selection.ml
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_comballoc.ml
  backend/cfg/cfg_cse.ml
  backend/cfg/cfg_dataflow.ml
  backend/cfg/cfg_dataflow.mli
  backend/cfg/cfg_deadcode.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_polling.ml
  backend/cfg/cfg_polling.mli
  backend/cfg/cfg_stack_checks.ml
  backend/cfg/cfg_with_infos.ml
  backend/cfg/cfg_with_infos.mli
  backend/cfg/cfg_with_layout.ml
  backend/cfg/cfgize.ml
  backend/cfg/cfgize_utils.ml
  backend/cfg/extra_debug.ml
  backend/cfg/instructionId.ml
  backend/cfg/instructionId.mli
  backend/cfg/sub_cfg.ml
  backend/cfg/vectorize.ml
  backend/cfg_selectgen.ml
  backend/regalloc/regalloc_gi.ml
  backend/regalloc/regalloc_gi_state.ml
  backend/regalloc/regalloc_gi_state.mli
  backend/regalloc/regalloc_gi_utils.ml
  backend/regalloc/regalloc_invariants.ml
  backend/regalloc/regalloc_irc.ml
  backend/regalloc/regalloc_irc_state.ml
  backend/regalloc/regalloc_irc_state.mli
  backend/regalloc/regalloc_irc_utils.ml
  backend/regalloc/regalloc_ls.ml
  backend/regalloc/regalloc_ls_state.ml
  backend/regalloc/regalloc_ls_state.mli
  backend/regalloc/regalloc_ls_utils.ml
  backend/regalloc/regalloc_rewrite.ml
  backend/regalloc/regalloc_rewrite.mli
  backend/regalloc/regalloc_split.ml
  backend/regalloc/regalloc_split_state.ml
  backend/regalloc/regalloc_split_state.mli
  backend/regalloc/regalloc_split_utils.ml
  backend/regalloc/regalloc_stack_slots.ml
  backend/regalloc/regalloc_utils.ml
  backend/regalloc/regalloc_utils.mli
  backend/regalloc/regalloc_validate.ml
  backend/zero_alloc_checker.ml
  dune
  flambda-backend/tests/backend/regalloc_validator/check_regalloc_validation.ml
Labels: backend
