Repository oxcaml/oxcaml, pull requests merged in 2025-01, with the labels that each got.

#3418 vectorizer: new test
  flambda-backend/tests/backend/vectorizer/dune.inc
  flambda-backend/tests/backend/vectorizer/gen/gen_dune.ml
  flambda-backend/tests/backend/vectorizer/test_register_compatible.expected
  flambda-backend/tests/backend/vectorizer/test_register_compatible.ml
  flambda-backend/tests/backend/vectorizer/test_register_compatible.mli
  test_register_compatible_vectorized.cmx.dump.expected
Labels: vectorizer

#3422 Changed make fmt to run in parallel
  Makefile
Labels: build system

#3419 Move unboxed records to stable
  jane/doc/extensions/unboxed-types/index.md
  testsuite/tests/typing-layouts-products/basics.ml
  testsuite/tests/typing-layouts-products/basics_unboxed_records.ml
  testsuite/tests/typing-layouts-products/exhaustiveness.ml
  testsuite/tests/typing-layouts-products/letrec.ml
  testsuite/tests/typing-layouts-products/parsing_inline_unboxed_record.compilers.reference
  testsuite/tests/typing-layouts-products/parsing_inline_unboxed_record.ml
  testsuite/tests/typing-layouts-products/parsing_module_dot_unboxed_record.compilers.reference
  testsuite/tests/typing-layouts-products/parsing_module_dot_unboxed_record.ml
  testsuite/tests/typing-layouts-products/recursive.ml
  testsuite/tests/typing-layouts-products/separability.ml
  testsuite/tests/typing-layouts-products/typing_misc_unboxed_records.ml
  testsuite/tests/typing-layouts-products/typing_warnings_unboxed_records.ml
  testsuite/tests/typing-layouts-products/unboxed_records.ml
  testsuite/tests/typing-layouts-products/unboxed_records.reference
  testsuite/tests/typing-layouts-products/unboxed_records_alpha.ml
  testsuite/tests/typing-layouts-products/unboxed_records_disabled.compilers.reference
  testsuite/tests/typing-layouts-products/unboxed_records_stable.compilers.reference
  testsuite/tests/typing-layouts-products/unique.ml
  testsuite/tests/typing-layouts-products/unused_unboxed_records.ml
  testsuite/tests/typing-layouts-unboxed-records/basics_from_typing_atat_unboxed.ml
  testsuite/tests/typing-layouts-unboxed-records/basics_from_unboxed_tuples_tests.ml
  testsuite/tests/typing-layouts-unboxed-records/disabled.ml
  testsuite/tests/typing-layouts-unboxed-records/exhaustiveness.ml
  testsuite/tests/typing-layouts-unboxed-records/modality.ml
  testsuite/tests/typing-layouts-unboxed-records/parsing_inline_unboxed_record.compilers.reference
  testsuite/tests/typing-layouts-unboxed-records/parsing_module_dot_unboxed_record.compilers.reference
  testsuite/tests/typing-layouts-unboxed-records/unboxed_records_stable.compilers.reference
  testsuite/tests/typing-local/local.ml
  testsuite/tests/typing-unboxed-types/test.ml
  typing/typecore.ml
  typing/typedecl.ml
Labels: unboxed types

#3433 Unbox_float32 should check custom ops name
  backend/cmm_helpers.ml
Labels: bug, backend

#3283 `Yielding` mode axis
  testsuite/tests/formatting/test_locations.dlocations.ocamlc.reference
  testsuite/tests/formatting/test_locations.dno-locations.ocamlc.reference
  testsuite/tests/typing-layouts/jkinds.ml
  testsuite/tests/typing-modes/yielding.ml
  typing/env.ml
  typing/jkind.ml
  typing/jkind_axis.ml
  typing/jkind_axis.mli
  typing/mode.ml
  typing/mode_intf.mli
  typing/printtyp.ml
  typing/typecore.ml
  typing/typemode.ml
Labels: effects

#3444 Add [Printreg.reglist] for debugging
  backend/printreg.ml
  backend/printreg.mli
Labels: backend

#3447 Vectorizer bug fix: 128-bit vectorized constant
  backend/amd64/simd_selection.ml
Labels: bug, vectorizer

#3441 Cleanup machtype_component size
  backend/amd64/emit.mlp
  backend/reg.ml
  backend/reg.mli
  backend/select_utils.ml
Labels: backend, vectorizer

#3442 Add function [DLL.for_all_i]
  utils/doubly_linked_list.ml
  utils/doubly_linked_list.mli
Labels: backend

#3454 Vectorizer: rename New
  backend/amd64/simd_selection.ml
  backend/cfg/vectorize.ml
  backend/vectorize_utils.ml
  backend/vectorize_utils.mli
Labels: non-material change, vectorizer

#3407 Check for type recursion without boxing
  testsuite/tests/letrec-check/unboxed.ml
  testsuite/tests/typing-layouts-products/letrec.ml
  testsuite/tests/typing-layouts-products/recursive.ml
  testsuite/tests/typing-layouts-products/unboxed_records_alpha.ml
  testsuite/tests/typing-unboxed-types/test.ml
  testsuite/tests/typing-unboxed/test.ml
  typing/ctype.ml
  typing/ctype.mli
  typing/typedecl.ml
  typing/typedecl.mli
Labels: typing, unboxed types

#3460 Reinstate %makearray_dynamic
  bytecomp/bytegen.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/printlambda.mli
  lambda/translprim.ml
  lambda/translprim.mli
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.mli
  middle_end/flambda2/from_lambda/lambda_to_lambda_transforms.ml
  middle_end/flambda2/from_lambda/lambda_to_lambda_transforms.mli
  runtime/array.c
  runtime/caml/custom.h
  runtime/caml/memory.h
  runtime/custom.c
  runtime/float32.c
  runtime/memory.c
  runtime/simd.c
  runtime4/array.c
  runtime4/caml/custom.h
  runtime4/caml/memory.h
  runtime4/custom.c
  runtime4/float32.c
  runtime4/memory.c
  runtime4/simd.c
  testsuite/tests/typing-layouts-arrays/README.md
  testsuite/tests/typing-layouts-arrays/basics_alpha.ml
  testsuite/tests/typing-layouts-arrays/gen_product_array_helpers.ml
  testsuite/tests/typing-layouts-arrays/gen_product_array_helpers.mli
  testsuite/tests/typing-layouts-arrays/generate_makearray_dynamic_tests.ml
  testsuite/tests/typing-layouts-arrays/generated_test.ml
  testsuite/tests/typing-layouts-arrays/generated_test.reference
  testsuite/tests/typing-layouts-arrays/run_makearray_dynamic_tests.ml
  testsuite/tests/typing-layouts-arrays/test_float_u_array.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_1.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_2.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_with_uninit_1.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_with_uninit_2.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_1.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_2.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_3.ml
  testsuite/tests/typing-layouts-arrays/test_scannable_product_array_4.ml
  testsuite/tests/typing-layouts-products/basics.ml
  testsuite/tests/typing-layouts-products/product_arrays.ml
  testsuite/tests/typing-layouts-products/product_iarrays.ml
  testsuite/tests/typing-layouts/layout_poly.ml
  typing/primitive.ml
  typing/typeopt.ml
Labels: unboxed types

#3453 Runtime: make types explicit when reading [gc_regs]
  runtime4/roots_nat.c
Labels: runtime, vectorizer

#3367 Implement %array_element_size_in_bytes
  bytecomp/bytegen.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/tmc.ml
  lambda/translprim.ml
  lambda/value_rec_compiler.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  testsuite/tests/typing-layouts-arrays/array_element_size_in_bytes.ml
  testsuite/tests/typing-layouts-products/product_arrays.ml
  typing/primitive.ml
Labels: flambda2, unboxed types, lambda

#3429 caml_update_dummy: fail on closure blocks
  runtime/alloc.c
  runtime4/alloc.c
Labels: runtime

#3446 Vectorizer bug fix: address argument of memory operations
  backend/cfg/vectorize.ml
Labels: bug, vectorizer

#3437 Stub implementation of new custom memory API
  runtime/bigarray.c
  runtime/caml/custom.h
  runtime/caml/memory.h
  runtime/caml/mlvalues.h
  runtime/custom.c
  runtime/memory.c
  runtime4/caml/custom.h
  runtime4/caml/memory.h
  runtime4/custom.c
  runtime4/memory.c
Labels: runtime

#3467 Backend dune copy and directive
  backend/amd64/CSE.ml
  backend/amd64/arch.ml
  backend/amd64/arch.mli
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/reload.ml
  backend/arm64/CSE.ml
  backend/arm64/arch.mli
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/arm64/reload.ml
  backend/dune
Labels: build system

#3384 Better hugepage alignment of stacks and heap
  runtime/fiber.c
  runtime/gc_ctrl.c
  runtime/shared_heap.c
Labels: runtime

#3451 Vectorizer: propagate alignment of memory accesses
  backend/amd64/simd_selection.ml
  backend/amd64/vectorize_specific.ml
  backend/arm64/simd_selection.ml
  backend/arm64/vectorize_specific.ml
  backend/cfg/vectorize.ml
  backend/vectorize_utils.ml
  backend/vectorize_utils.mli
Labels: vectorizer

#3466 Fix mistake in conditional for makearray_dynamic array initialization
  middle_end/flambda2/from_lambda/lambda_to_lambda_transforms.ml
Labels: bug, flambda2, unboxed types

#3449 Vectorizer refactor heuristic for select_and_join
  backend/cfg/vectorize.ml
Labels: vectorizer

#3448 Do not allow naked pointers (remove configure option)
  configure.ac
  ocamltest/ocamltest_config.ml.in
  runtime4/caml/m.h.in
  utils/config.common.ml.in
  utils/config.generated.ml.in
Labels: build system

#3450 Vectorize [Specific.Istore_int]
  backend/amd64/simd_selection.ml
  backend/amd64/vectorize_specific.ml
  backend/arm64/vectorize_specific.ml
  backend/cfg/vectorize.ml
Labels: vectorizer

#3473 Fix CI failure
  backend/amd64/simd_selection.ml
Labels: build system

#3452 Vectorize [Ifloatarithmem]
  backend/amd64/CSE.ml
  backend/amd64/arch.ml
  backend/amd64/arch.mli
  backend/amd64/cfg_selection.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/amd64/simd.ml
  backend/amd64/simd_proc.ml
  backend/amd64/simd_reload.ml
  backend/amd64/simd_selection.ml
  backend/amd64/vectorize_specific.ml
Labels: simd, vectorizer

#3470 Enable all makearray_dynamic tests on runtime4
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_2.ml
  testsuite/tests/typing-layouts-arrays/test_ignorable_product_array_with_uninit_2.ml
Labels: unboxed types

#3431 Port upstream PRs 11542 and 12505 to runtime4
  backend/cmm_helpers.ml
  runtime4/alloc.c
  runtime4/caml/alloc.h
Labels: bug, runtime

#3469 Remove remnants of caml_obj_truncate
  runtime/caml/misc.h
  runtime/caml/mlvalues.h
  runtime4/caml/misc.h
  runtime4/caml/mlvalues.h
  runtime4/obj.c
Labels: runtime

#3465 Fix caml_obj_with_tag
  runtime/obj.c
  runtime4/obj.c
  testsuite/tests/lib-obj/obj_dup_closures.ml
Labels: bug, runtime, unboxed types

#3462 Improve coherence of modality zapping
  testsuite/tests/typing-modes/val_modalities.ml
  typing/mode.ml
  typing/mode_intf.mli
  typing/typemod.ml
Labels: modes

#3455 Vectorizer: xmm register can hold ocaml values
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/cfg/cfg_available_regs.ml
  backend/cfg/vectorize.ml
  backend/cfg_selectgen.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/debug/available_regs.ml
  backend/debug/reg_with_debug_info.ml
  backend/emitaux.ml
  backend/interf.ml
  backend/printcmm.ml
  backend/printreg.ml
  backend/proc.mli
  backend/reg.ml
  backend/reg.mli
  backend/regalloc/regalloc_irc_state.ml
  backend/select_utils.ml
  backend/vectorize_utils.ml
  backend/vectorize_utils.mli
  file_formats/cmx_format.mli
Labels: bug, vectorizer

#3309 Peek and poke
  bytecomp/bytegen.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/tmc.ml
  lambda/translprim.ml
  lambda/translprim.mli
  lambda/value_rec_compiler.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/kinds/flambda_kind.ml
  middle_end/flambda2/kinds/flambda_kind.mli
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_unary_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  testsuite/tests/peek_and_poke/peek_and_poke.ml
  testsuite/tests/peek_and_poke/peek_and_poke_forbidden_for_value.ml
  typing/jkind.ml
  typing/jkind_intf.ml
  typing/primitive.ml
Labels: flambda2, unboxed types, lambda

#3265 Runtime changes for `or_null`
  runtime/caml/address_class.h
  runtime/caml/intext.h
  runtime/caml/mlvalues.h
  runtime/compare.c
  runtime/extern.c
  runtime/instrtrace.c
  runtime/intern.c
  runtime/obj.c
  runtime4/caml/address_class.h
  runtime4/caml/intext.h
  runtime4/caml/mlvalues.h
  runtime4/compare.c
  runtime4/extern.c
  runtime4/instrtrace.c
  runtime4/intern.c
  runtime4/major_gc.c
  runtime4/obj.c
  stdlib/obj.ml
  utils/runtimetags.ml
  utils/runtimetags.mli
Labels: runtime, or_null

#3481 Fix error in caml_get_init_stack_wsize
  runtime/fiber.c
Labels: bug, runtime

#3482 Move two macOS CI controllers to runtime5
  .github/workflows/build.yml
Labels: CI

#3474 Bump the version of `actions/upload-artifact`
  .github/workflows/build.yml
  .github/workflows/coverage.yml
Labels: CI

#3483 Add "-ocamlrunparam" linker flag
  asmcomp/asmlink.ml
  driver/main_args.ml
  driver/main_args.mli
  runtime/startup_aux.c
  runtime4/startup_aux.c
  utils/clflags.ml
  utils/clflags.mli
Labels: driver, runtime

#3477 Generate specific instructions for atomics on immediates
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/select_utils.ml
  bytecomp/bytegen.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/tmc.ml
  lambda/translprim.ml
  lambda/value_rec_compiler.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/simplify/simplify_ternary_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  testsuite/tests/lib-atomic/test_atomic.ml
  testsuite/tests/lib-atomic/test_atomic_cmpxchg.ml
Labels: flambda2

#3438 Make patricia trees big-endian
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  middle_end/flambda2/algorithms/builtin_stubs.c
  middle_end/flambda2/algorithms/dune
  middle_end/flambda2/algorithms/patricia_tree.ml
  middle_end/flambda2/tests/algorithms/patricia_tree_tests.ml
Labels: flambda2

#3486 Emit atomic compare and exchange
  backend/amd64/cfg_selection.ml
  backend/amd64/emit.mlp
  backend/amd64/selection.ml
  backend/cfg/vectorize.ml
  backend/cfg_selectgen.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/operation.ml
  backend/printcmm.ml
  backend/printcmm.mli
  backend/printmach.ml
  backend/printoperation.ml
  backend/select_utils.ml
  backend/selectgen.ml
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
Labels: backend

#3468 Add caml_runtime_parameters back
  runtime/gc_ctrl.c
Labels: runtime, OCaml 5

#3488 Rename [emit.mlp] to [emit.ml] on amd64
  backend/amd64/emit.ml
  backend/dune
Labels: build system

#3489 Support `-open Foo` where `Foo` is parameterised
  driver/compile_common.ml
  driver/compmisc.ml
  driver/compmisc.mli
  testsuite/tests/templates/basic/main-ocamlobjinfo.reference
  testsuite/tests/templates/basic/main.mli
  testsuite/tests/templates/basic/test.ml
  typing/typemod.ml
Labels: typing, driver, parameterized-libs

#3491 Rename `atomic_cas`/`Compare_and_swap`
  backend/amd64/cfg_selection.ml
  backend/amd64/emit.ml
  backend/amd64/selection.ml
  backend/cfg/vectorize.ml
  backend/cfg_selectgen.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_builtins.ml
  backend/cmm_helpers.ml
  backend/printcmm.ml
  backend/printmach.ml
  backend/printoperation.ml
  backend/select_utils.ml
  backend/selectgen.ml
  bytecomp/bytegen.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/tmc.ml
  lambda/translprim.ml
  lambda/value_rec_compiler.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  runtime/memory.c
  runtime4/misc.c
Labels: backend, runtime, lambda

#3497 Builtin for [Atomic.set]
  bytecomp/bytegen.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/tmc.ml
  lambda/translprim.ml
  lambda/value_rec_compiler.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/simplify_binary_primitive.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  stdlib/atomic.ml
Labels: backend

#3498 Expose externals in the interface of Atomic
  stdlib/atomic.mli
Labels: OCaml 5

#3518 Revert `caml_atomic_cas` primitive name
  backend/cmm_helpers.ml
  bytecomp/bytegen.ml
  runtime/memory.c
  runtime4/misc.c
Labels: runtime

#3179 New compaction algorithm (switchable)
  runtime/caml/sizeclasses.h
  runtime/gc_ctrl.c
  runtime/shared_heap.c
  testsuite/tests/compaction/test_compact.ml
  testsuite/tests/compaction/test_compact_multi.ml
  testsuite/tests/lib-runtime-events/test_compact.ml
  tools/gen_sizeclasses.ml
Labels: runtime, OCaml 5

#3519 Compute presence of calls after possibly removing poll instruction (CFG selection)
  backend/cfg_selectgen.ml
Labels: bug, cfg

#3514 Implicit source position: allow caller to explicitly pass an argument as `[%call_pos]`
  jane/doc/implicit_source_code_positions/readme.md
  testsuite/tests/parsetree/source_jane_street.ml
  testsuite/tests/typing-implicit-source-positions/expressions.ml
  typing/typecore.ml
  typing/typetexp.ml
  typing/typetexp.mli
Labels: implicit-source-positions

#3529 Disable `upload-artifact` actions (CI)
  .github/workflows/build.yml
Labels: CI
