Repository oxcaml/oxcaml, pull requests merged in 2025-07, with the labels that each got.

#3493 Always use a macro when checking for a promoted header
  runtime/caml/minor_gc.h
  runtime/finalise.c
  runtime/memprof.c
  runtime/minor_gc.c
Labels: runtime, OCaml 5

#4249 arm64: fix reinterpret cast for Float/Float32
  backend/arm64/emit.ml
Labels: bug, arm64

#4234 Deterministic order for CSE parameters based on binding times
  middle_end/flambda2/simplify/common_subexpression_elimination.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/types/env/typing_env.ml
  middle_end/flambda2/types/env/typing_env.mli
  middle_end/flambda2/types/flambda2_types.mli
Labels: flambda2

#4263 Zero alloc: improve error message for arch-specific
  backend/amd64/arch.ml
  backend/amd64/arch.mli
  backend/arm64/arch.ml
  backend/arm64/arch.mli
  backend/zero_alloc_checker.ml
  backend/zero_alloc_checker.mli
  oxcaml/tests/.ocamlformat-ignore
  oxcaml/tests/backend/zero_alloc_checker/dune.inc
  oxcaml/tests/backend/zero_alloc_checker/gen/gen_dune.ml
  oxcaml/tests/backend/zero_alloc_checker/test_arch_specific_witness.ml
  oxcaml/tests/backend/zero_alloc_checker/test_arch_specific_witness.output
Labels: zero alloc

#4092 fix: Restore arity check for continuation aliases
  middle_end/flambda2/simplify/env/upwards_env.ml
Labels: flambda2

#4158 `('a : value mod non_float) or_null` is `non_float`
  otherlibs/stdlib_stable/or_null.ml
  otherlibs/stdlib_stable/or_null.mli
  testsuite/tests/typing-layouts-or-null/containers.ml
  testsuite/tests/typing-layouts-or-null/immediate.ml
  testsuite/tests/typing-layouts-or-null/reexport.ml
  testsuite/tests/typing-layouts-or-null/separability.ml
  testsuite/tests/typing-layouts-or-null/test_or_null.ml
  testsuite/tests/typing-modal-kinds/everything.ml
  typing/ctype.ml
  typing/includecore.ml
  typing/jkind.ml
  typing/jkind.mli
  typing/predef.ml
Labels: typing, unboxed types, or_null

#4109 Add externals information to .cms files
  dune
  extract_externals/dune
  extract_externals/extract_externals.ml
  file_formats/cms_format.ml
  file_formats/cms_format.mli
  typing/.ocamlformat-enable
  typing/vicuna_traverse_typed_tree.ml
  typing/vicuna_traverse_typed_tree.mli
  typing/vicuna_value_shapes.ml
  typing/vicuna_value_shapes.mli
Labels: typing, needs new merlin, vicuna

#4238 Move symbol initialization up in `to_cmm`
  middle_end/flambda2/to_cmm/to_cmm_env.ml
  middle_end/flambda2/to_cmm/to_cmm_env.mli
  middle_end/flambda2/to_cmm/to_cmm_shared.ml
Labels: flambda2, flambda2 classic mode

#4288 Revert "`('a : value mod non_float) or_null` is `non_float`"
  otherlibs/stdlib_stable/or_null.ml
  otherlibs/stdlib_stable/or_null.mli
  testsuite/tests/typing-layouts-or-null/containers.ml
  testsuite/tests/typing-layouts-or-null/immediate.ml
  testsuite/tests/typing-layouts-or-null/reexport.ml
  testsuite/tests/typing-layouts-or-null/separability.ml
  testsuite/tests/typing-layouts-or-null/test_or_null.ml
  testsuite/tests/typing-modal-kinds/everything.ml
  typing/ctype.ml
  typing/includecore.ml
  typing/jkind.ml
  typing/jkind.mli
  typing/predef.ml
Labels: skip 80ch

#4258 Unboxed indexing for array vector load/store
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/translprim.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  oxcaml/tests/simd/arrays.ml
  oxcaml/tests/simd/arrays_u.ml
  typing/primitive.ml
Labels: flambda2, lambda, simd

#4247 Vec256 array load/store prims
  bytecomp/blambda_of_lambda.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/tmc.ml
  lambda/translprim.ml
  lambda/value_rec_compiler.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/lambda_to_flambda_primitives.ml
  middle_end/flambda2/parser/fexpr.ml
  middle_end/flambda2/parser/flambda_parser.ml
  middle_end/flambda2/parser/flambda_parser.mly
  middle_end/flambda2/parser/print_fexpr.ml
  middle_end/flambda2/terms/code_size.ml
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  oxcaml/tests/.ocamlformat-ignore
  oxcaml/tests/simd/arrays256.ml
  oxcaml/tests/simd/arrays256_u.ml
  oxcaml/tests/simd/dune.inc
  oxcaml/tests/simd/gen/gen_dune.ml
  typing/primitive.ml
Labels: flambda2, lambda, simd

#4293 Add a field for function return type to Cmm and Cfg
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/llvmize.ml
  backend/cfg_selectgen.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/printcmm.ml
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_set_of_closures.ml
  oxcaml/tests/backend/regalloc_validator/check_regalloc_validation.ml
  oxcaml/testsuite/tools/parsecmm.mly
Labels: backend

#4286 Remove specific operation [Ipause] from amd64 backend
  backend/amd64/CSE.ml
  backend/amd64/arch.ml
  backend/amd64/arch.mli
  backend/amd64/cfg_selection.ml
  backend/amd64/emit.ml
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/simd_selection.ml
  backend/amd64/vectorize_specific.ml
  backend/cmm_builtins.ml
Labels: backend

#4301 Use the installed compiler to build `regalloc.exe`
  Makefile.common-ox
Labels: build system

#4253 Type Shapes and Type Declaration Shapes for Debugger
  dune
  lambda/translcore.ml
  otherlibs/dynlink/Makefile
  otherlibs/dynlink/dune
  typing/.ocamlformat-enable
  typing/env.ml
  typing/env.mli
  typing/type_shape.ml
  typing/type_shape.mli
  typing/typedecl.ml
Labels: typing, dwarf and debugging

#4300 Use 3-operand float ops
  backend/amd64/cfg_selection.ml
  backend/amd64/emit.ml
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/simd.ml
  backend/amd64/simd_selection.ml
  backend/arm64/proc.ml
  backend/proc.mli
  backend/x86_ast.mli
  backend/x86_binary_emitter.ml
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
  oxcaml/tests/backend/vectorizer/test_float_unboxed_vectorized.cmx.dump.expected
  oxcaml/tests/backend/vectorizer/test_float_vectorized.cmx.dump.expected
Labels: backend, simd, vectorizer

#4311 Set default arch flags via configure
  backend/amd64/arch.ml
  configure.ac
  runtime/caml/m.h.in
  runtime4/caml/m.h.in
  utils/config.generated.ml.in
  utils/config.mli
Labels: build system, backend

#4333 Fix external in SIMD doc page
  jane/doc/extensions/_09-simd/intro.md
Labels: bug, documentation, simd

#4324 Add missing SSE intrinsics
  backend/amd64/emit.ml
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/simd.ml
  backend/amd64/simd_selection.ml
  backend/arm64/emit.ml
  backend/arm64/simd.ml
  backend/arm64/simd_proc.ml
  backend/arm64/simd_selection.ml
  oxcaml/tests/simd/amd64/builtins.ml
  oxcaml/tests/simd/amd64/sse41_test_ops.ml
  oxcaml/tests/simd/amd64/sse_other_ops.ml
  oxcaml/tests/simd/amd64/stub_builtins.c
  oxcaml/tests/simd/arm64/builtins.ml
  oxcaml/tests/simd/arm64/stub_builtins.c
  oxcaml/tests/simd/dune.inc
  oxcaml/tests/simd/float32_reference.ml
  oxcaml/tests/simd/float64_reference.ml
  oxcaml/tests/simd/gen/gen_dune.ml
  oxcaml/tests/simd/ops_float32x4.ml
  oxcaml/tests/simd/ops_float64x2.ml
  oxcaml/tests/simd/stubs.c
  oxcaml/tests/simd/utils.ml
  tools/simdgen/amd64/amd64.csv
  tools/simdgen/amd64_simd_instrs.ml
Labels: backend, simd

#4330 use float bitwise ops
  backend/amd64/simd_selection.ml
  oxcaml/tests/simd/amd64/builtins.ml
  oxcaml/tests/simd/amd64/stub_builtins.c
  oxcaml/tests/simd/arm64/builtins.ml
  oxcaml/tests/simd/ops.ml
Labels: backend, simd

#4341 Do not expose the target typing env from the join env
  middle_end/flambda2/types/env/join_env.ml
  middle_end/flambda2/types/env/join_env.mli
  middle_end/flambda2/types/meet_and_n_way_join.ml
Labels: flambda2

#4262 Rewrite patricia tree merge functions with `pattern_match_pair`
  middle_end/flambda2/algorithms/container_types.ml
  middle_end/flambda2/algorithms/container_types_intf.ml
  middle_end/flambda2/algorithms/patricia_tree.ml
  middle_end/flambda2/tests/algorithms/patricia_tree_tests.ml
Labels: flambda2

#4259 Additional Types for DWARF Emission Backend
  backend/debug/dwarf/dwarf_ocaml/dwarf_type.ml
  lambda/mixed_block_shape.ml
  lambda/mixed_block_shape.mli
Labels: dwarf and debugging

#4337 Llvmize simple operations
  backend/amd64/arch.ml
  backend/amd64/arch.mli
  backend/amd64/cfg_selection.ml
  backend/arm64/arch.ml
  backend/arm64/arch.mli
  backend/arm64/cfg_selection.ml
  backend/cfg/llvmize.ml
  oxcaml/tests/.ocamlformat-ignore
  oxcaml/tests/backend/llvmize/array_rev.ml
  oxcaml/tests/backend/llvmize/array_rev.output
  oxcaml/tests/backend/llvmize/array_rev_data.ml
  oxcaml/tests/backend/llvmize/array_rev_ir.output
  oxcaml/tests/backend/llvmize/array_rev_main.ml
  oxcaml/tests/backend/llvmize/const_val.ml
  oxcaml/tests/backend/llvmize/const_val_ir.output
  oxcaml/tests/backend/llvmize/const_val_main.ml
  oxcaml/tests/backend/llvmize/dune.inc
  oxcaml/tests/backend/llvmize/float_ops.ml
  oxcaml/tests/backend/llvmize/float_ops.output
  oxcaml/tests/backend/llvmize/float_ops_ir.output
  oxcaml/tests/backend/llvmize/float_ops_main.ml
  oxcaml/tests/backend/llvmize/gcd.ml
  oxcaml/tests/backend/llvmize/gcd.output
  oxcaml/tests/backend/llvmize/gcd_data.ml
  oxcaml/tests/backend/llvmize/gcd_ir.output
  oxcaml/tests/backend/llvmize/gcd_main.ml
  oxcaml/tests/backend/llvmize/gen/gen_dune.ml
  oxcaml/tests/backend/llvmize/id_fn.ml
  oxcaml/tests/backend/llvmize/id_fn.output
  oxcaml/tests/backend/llvmize/int_ops.ml
  oxcaml/tests/backend/llvmize/int_ops.output
  oxcaml/tests/backend/llvmize/int_ops_data.ml
  oxcaml/tests/backend/llvmize/int_ops_ir.output
  oxcaml/tests/backend/llvmize/int_ops_main.ml
Labels: llvm-backend

#4357 chore: Remove debug prints from #4144
  middle_end/flambda2/from_lambda/lambda_to_lambda_transforms.ml
Labels: flambda2, non-material change

#4211 Void in blocks; move void to stable
  lambda/lambda.ml
  lambda/matching.ml
  lambda/translcore.ml
  lambda/translmod.ml
  testsuite/tests/records-and-block-indices/do_test_generation.ml
  testsuite/tests/records-and-block-indices/generated_record_access_bytecode_test.ml
  testsuite/tests/records-and-block-indices/generated_record_access_local_bytecode_test.ml
  testsuite/tests/records-and-block-indices/generated_record_access_local_native_test.ml
  testsuite/tests/records-and-block-indices/generated_record_access_native_test.ml
  testsuite/tests/records-and-block-indices/generated_record_access_with_void_bytecode_test.ml
  testsuite/tests/records-and-block-indices/generated_record_access_with_void_bytecode_test.reference
  testsuite/tests/records-and-block-indices/generated_record_access_with_void_local_bytecode_test.ml
  testsuite/tests/records-and-block-indices/generated_record_access_with_void_local_bytecode_test.reference
  testsuite/tests/records-and-block-indices/generated_record_access_with_void_local_native_test.ml
  testsuite/tests/records-and-block-indices/generated_record_access_with_void_local_native_test.reference
  testsuite/tests/records-and-block-indices/generated_record_access_with_void_native_test.ml
  testsuite/tests/records-and-block-indices/generated_record_access_with_void_native_test.reference
  testsuite/tests/records-and-block-indices/generated_record_size_bytecode_test.ml
  testsuite/tests/records-and-block-indices/generated_record_size_native_test.ml
  testsuite/tests/records-and-block-indices/metaprogramming.ml
  testsuite/tests/records-and-block-indices/metaprogramming.mli
  testsuite/tests/records-and-block-indices/test_generation.ml
  testsuite/tests/typing-jkind-bounds/annots.ml
  testsuite/tests/typing-jkind-bounds/basics.ml
  testsuite/tests/typing-layouts-err-msg/value.ml
  testsuite/tests/typing-layouts-products/nested_maturity.ml
  testsuite/tests/typing-layouts-void/basics_void.ml
  testsuite/tests/typing-layouts-void/behavior_test_based_on_old_basics_void.ml
  testsuite/tests/typing-layouts-void/behavior_test_based_on_old_basics_void.reference
  testsuite/tests/typing-layouts-void/old_basics_void.ml
  testsuite/tests/typing-layouts-void/upstream_compat_warning.ml
  testsuite/tests/typing-layouts-void/void_disabled.compilers.reference
  testsuite/tests/typing-layouts-void/void_extended_tests.ml
  testsuite/tests/typing-layouts-void/void_extended_tests.reference
  testsuite/tests/typing-layouts-void/voids.ml
  testsuite/tests/typing-layouts-void/voids.reference
  testsuite/tests/typing-layouts/basics.ml
  testsuite/tests/typing-layouts/basics_alpha.ml
  testsuite/tests/typing-layouts/datatypes.ml
  testsuite/tests/typing-layouts/datatypes_alpha.ml
  testsuite/tests/typing-layouts/mixed_constructor_arguments_alpha.ml
  testsuite/tests/typing-layouts/mixed_records_alpha.ml
  testsuite/tests/typing-layouts/modules.ml
  testsuite/tests/typing-layouts/parsing_stable_beta.compilers.reference
  testsuite/tests/typing-layouts/void_alpha.ml
  toplevel/genprintval.ml
  typing/datarepr.ml
  typing/jkind.ml
  typing/jkind.mli
  typing/jkind_intf.ml
  typing/jkind_types.ml
  typing/type_shape.ml
  typing/typecore.ml
  typing/typedecl.ml
  typing/typeopt.ml
  typing/types.ml
  typing/types.mli
  typing/value_rec_check.ml
  utils/warnings.ml
  utils/warnings.mli
Labels: typing, unboxed types

#4282 Greedy allocator: remove unused code
  backend/regalloc/regalloc_gi_utils.ml
  backend/regalloc/regalloc_gi_utils.mli
Labels: backend

#4367 CI: fix path to `regalloc.exe`
  .github/workflows/build.yml
Labels: CI

#4360 Regalloc tool: record spill/reload costs
  tools/regalloc/regalloc.ml
Labels: backend

#4189 Remove caml_get_header_val, as not needed.
  runtime/caml/minor_gc.h
  runtime/finalise.c
  runtime/minor_gc.c
Labels: runtime, OCaml 5

#4380 fix: Keep inlining disabled when entering a non-stub set of closures
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
  middle_end/flambda2/simplify/simplify_set_of_closures_context.ml
Labels: flambda2

#4343 Moving Type Shapes into Shapes
  backend/debug/dwarf/dwarf_ocaml/dwarf_type.ml
  typing/shape.ml
  typing/shape.mli
  typing/type_shape.ml
  typing/type_shape.mli
Labels: typing, dwarf and debugging

#4344 Reinterpret vector widths
  backend/amd64/emit.ml
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/arm64/emit.ml
  backend/arm64/proc.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_builtins.ml
  backend/operation.ml
  backend/printcmm.ml
  backend/select_utils.ml
  backend/zero_alloc_checker.ml
  oxcaml/tests/simd/stubs256.c
  oxcaml/tests/simd/utils256.ml
Labels: backend, simd

#4335 AVX/AVX2 intrinsics
  backend/amd64/emit.ml
  backend/amd64/proc.ml
  backend/amd64/regalloc_stack_operands.ml
  backend/amd64/simd.ml
  backend/amd64/simd_selection.ml
  oxcaml/tests/simd/amd64/avx_test_ops.ml
  oxcaml/tests/simd/amd64/builtins.ml
  oxcaml/tests/simd/amd64/sse41_test_ops.ml
  oxcaml/tests/simd/amd64/sse_other_ops.ml
  oxcaml/tests/simd/amd64/stub_builtins.c
  oxcaml/tests/simd/amd64/utils256.ml
  oxcaml/tests/simd/arrays256.ml
  oxcaml/tests/simd/arrays256_u.ml
  oxcaml/tests/simd/consts.ml
  oxcaml/tests/simd/consts256.ml
  oxcaml/tests/simd/consts256_u.ml
  oxcaml/tests/simd/dune
  oxcaml/tests/simd/dune.inc
  oxcaml/tests/simd/gen/gen_dune.ml
  oxcaml/tests/simd/ops.ml
  oxcaml/tests/simd/ops256.ml
  oxcaml/tests/simd/ops_float32x4.ml
  oxcaml/tests/simd/ops_float32x8.ml
  oxcaml/tests/simd/ops_float64x2.ml
  oxcaml/tests/simd/ops_float64x4.ml
  oxcaml/tests/simd/ops_int16x16.ml
  oxcaml/tests/simd/ops_int16x8.ml
  oxcaml/tests/simd/ops_int32x4.ml
  oxcaml/tests/simd/ops_int32x8.ml
  oxcaml/tests/simd/ops_int64x4.ml
  oxcaml/tests/simd/ops_int8x16.ml
  oxcaml/tests/simd/ops_int8x32.ml
  oxcaml/tests/simd/stubs256.c
  oxcaml/tests/simd/utils.ml
  typing/predef.ml
Labels: backend, simd

#4388 Fix caml_enable_tick_thread
  otherlibs/systhreads/st_stubs.c
Labels: bug, runtime

#4385 Ignore alloc mode when comparing types
  middle_end/flambda2/types/equal_types_for_debug.ml
  middle_end/flambda2/types/equal_types_for_debug.mli
  middle_end/flambda2/types/join_levels.ml
Labels: flambda2

#4389 Use correct C compilation flags for otherlibs and external
  Makefile
  Makefile.common-ox
  external/gc-timings/dune
  external/gc-timings/gc_timings_stubs.c
  external/owee/dune
  external/owee/owee_stubs.c
  middle_end/flambda2/algorithms/dune
  middle_end/flambda2/numbers/floats/dune
  ocamltest/dune
  otherlibs/unix/mmap_ba.c
  otherlibs/unix/signals.c
Labels: build system

#4401 Fix warning (undefined macro)
  external/gc-timings/gc_timings_stubs.c
Labels: build system

#4404 Slightly better printer for nullable values
  middle_end/flambda2/lattices/or_unknown_or_bottom.ml
  middle_end/flambda2/types/grammar/type_grammar.ml
  testsuite/tests/tool-ocamlobjinfo/question.reference
Labels: flambda2

#4403 Slightly better printer for Variant types
  middle_end/flambda2/types/grammar/type_grammar.ml
  testsuite/tests/tool-ocamlobjinfo/question.reference
Labels: flambda2

#4359 Convert unboxed arrays from custom blocks to normal blocks
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  jane/doc/extensions/_03-unboxed-types/intro.md
  middle_end/flambda2/terms/flambda_primitive.ml
  middle_end/flambda2/terms/flambda_primitive.mli
  middle_end/flambda2/to_cmm/to_cmm_primitive.ml
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  otherlibs/stdlib_upstream_compatible/stdlib_upstream_compatible.ml
  otherlibs/stdlib_upstream_compatible/stdlib_upstream_compatible.mli
  runtime/array.c
  runtime/caml/mlvalues.h
  runtime/float32.c
  runtime/simd.c
  runtime4/array.c
  runtime4/caml/mlvalues.h
  runtime4/float32.c
  runtime4/simd.c
  stdlib/obj.ml
  stdlib/obj.mli
  stdlib/sys.ml.in
  testsuite/tests/typing-layouts-arrays/array_element_size_in_bytes.ml
  testsuite/tests/typing-layouts-arrays/block_checks.ml
  testsuite/tests/typing-layouts-arrays/static_unboxed_arrays.ml
  testsuite/tests/typing-layouts-arrays/static_unboxed_arrays.reference
  toplevel/genprintval.ml
Labels: runtime, unboxed types, cmm, 100% vibe

#4411 Allow aliasing exn parameters to a constant in data flow
  middle_end/flambda2/simplify/flow/control_flow_graph.ml
Labels: bug, flambda2

#4410 Fixes in the DWARF Emission Code
  backend/debug/dwarf/dwarf_ocaml/dwarf_type.ml
  typing/shape.ml
  typing/shape.mli
  typing/type_shape.ml
  typing/type_shape.mli
Labels: backend, dwarf and debugging

#4336 Sanitize simd load/store
  backend/amd64/emit.ml
  oxcaml/tests/backend/address_sanitizer/address_sanitizer.ml
  oxcaml/tests/backend/address_sanitizer/dune
  oxcaml/tests/backend/address_sanitizer/stubs.c
  runtime/memory.c
  runtime4/memory.c
Labels: backend, simd

#4345 Stabilize vec256
  backend/amd64/arch.ml
  backend/amd64/arch.mli
  backend/amd64/emit.ml
  backend/amd64/proc.ml
  oxcaml/tests/.ocamlformat-ignore
  oxcaml/tests/simd/disabled/disabled256.expected
  oxcaml/tests/simd/disabled/disabled256.ml
  oxcaml/tests/simd/disabled/dune
  testsuite/tests/typing-small-numbers/test_disabled.ml
  tools/simdgen/amd64_simd_defs.ml
  typing/predef.ml
  typing/typeopt.ml
Labels: typing, simd

#4418 Configuration flag to enable OxCaml DWARF
  backend/debug/dwarf/dwarf_flags/dwarf_flags.ml
  configure.ac
  utils/config.common.ml.in
  utils/config.generated.ml.in
  utils/config.mli
Labels: dwarf and debugging, 100% vibe
